.acc_heading
	cursor pointer
	padding-left 16px
	position relative

	&:before
		content ''
		position absolute
		top 4px
		left 0
		sprite($icon-open)

.acc_open:before
	sprite($icon-close)

.acc_heading + div
	> *
		margin-left 300px

		+mobile()
			margin-left 0
	img
		margin-left 0
