.acc_heading
	cursor pointer
	background url('../images/accordion/icon-open.gif') no-repeat scroll 0 4px
	padding-left 16px

.acc_open
	background url('../images/accordion/icon-close.gif') no-repeat scroll 0 4px
	padding-left 16px
