.breadcrumb
	position relative
	width 75%
	float left

.breadcrumb__link
	color $default_block_text
	font-size 12px
	line-height 18px
	text-decoration underline
	display inline
	padding-right 6px
	padding-left 12px
	position relative

	&:before
		content ''
		margin-right 12px
		display inline-block
		sprite($arrow_right_small)

	&:first-child
		padding-left 0

		&:before
			display none

	&:last-child
		text-decoration none
