.breadcrumb
	position relative
	width 75%
	float left

.breadcrumb__link
	color $default_block_text
	font-size 12px
	line-height 18px
	text-decoration underline
	display inline
	padding-right 6px
	padding-left 12px
	background url('../images/arrow_right_small.png') no-repeat scroll left center

	&:first-child
		background-image none
		padding-left 0
	&:last-child
		text-decoration none
