#content
	width 700px
	float right
	position relative
	z-index 10

	+mobile()
		width 90%
		margin 0 5%

	h1
		color $blue
		font-size 38px
		margin-bottom 30px

	h3
		color $blue
		font-size 16px
		line-height 18px
		margin-bottom 8px
		font-weight 700


	h4
		color $orange
		font-size 16px
		line-height 18px
		margin-bottom 8px
		font-weight 700

	p
		font-size 16px
		line-height 21px
		color #000
		margin-bottom 20px
	ul
		list-style none
		padding 0
		margin 0
		margin-bottom 30px
	li
		padding-left 1em
		text-indent -0.8em
		&:before
			content '•'
			color $orange
			font-size 1.5em
			margin-right 5px
			position relative
			top 1px

	.excerpt
		color $blue
		font-size 20px
		line-height 26px
		margin-bottom 30px

	.inner_cover
		margin-top 35px
		margin-bottom 50px

	.full
		width 100%
		overflow hidden
		padding 30px 0
		border-bottom 1px solid #000
