.footer
	font-size 14px
	line-height 18px
	height 58px
	background-color $orange
	box-shadow inset 0 12px 12px -12px #7B3701
	color #fff

	& a
		color #fff

	& > .content
		padding 20px 0

		& > *
			display inline-block

.footer__copyright
	margin-right 30px

.footer_email
	float right
