/*.sl-overlay
	background-color rgba(0,0,0, .8) !important
*/
.lightbox
	position relative
	display block !important

.lightbox__zoom
	text-align center
	text-decoration underline
	color $orange
	display block

	&:hover
		text-decoration none

.sl-image
	background-color #FFF !important

	img
		margin 30px !important

/*.sl-close
	color #FFF !important
*/
.sl-caption
	position relative !important
	background-color transparent !important
	color #000 !important
	text-align center
	opacity 1 !important
	margin-top 20px


/*fancybox*/
#fancybox-loading,
.fancybox-close,
.fancybox-prev span,
.fancybox-next span
	background-image url('../scripts/libs/fancybox/source/fancybox_sprite.png') !important
