.lightbox
	position relative
	display block !important

.lightbox__zoom
	text-align center
	text-decoration underline
	color $orange
	display block

	&:hover
		text-decoration none

/*fancybox*/
#fancybox-loading,
.fancybox-close,
.fancybox-prev span,
.fancybox-next span
	background-image url('../scripts/libs/fancybox/source/fancybox_sprite.png') !important

.fancybox-overlay
	background-image url('../scripts/libs/fancybox/source/fancybox_overlay.png') !important
