/*.sl-overlay
	background-color rgba(0,0,0, .8) !important
*/
.lightbox
	color $orange

.lightbox__zoom
	text-align center
	text-decoration underline

	&:hover
		text-decoration none

.sl-image
	background-color #FFF !important

	img
		margin 30px !important

/*.sl-close
	color #FFF !important
*/
.sl-caption
	position relative !important
	background-color transparent !important
	color #000 !important
	text-align center
	opacity 1 !important
	margin-top 20px

