.menu__wrap
	text-align right
.menu
	width 830px
	height 70px
	position relative
	margin-bottom 25px
	font-size 14px
	display inline-block

.menu__item
	text-align left
	position absolute

.menu__item:nth-child(1)
	left 0
	bottom 0
.menu__item:nth-child(2)
	left 179px
	bottom 0
.menu__item:nth-child(3)
	top 0
	left 407px
.menu__item:nth-child(4)
	top 0
	right 0
.menu__item:nth-child(5)
	top 0
	left 0
.menu__item:nth-child(6)
	top 0
	left 180px
.menu__item:nth-child(7)
	right 221px
	bottom 0
.menu__item:nth-child(8)
	top 0
	right 114px
.menu__item:nth-child(9)
	right 0
	bottom 0

html[lang='en']
	.menu
		width 773px

	.menu__item:nth-child(8)
		top 0
		right 222px


.menu__item_active > .menu__link,
.menu__link_active
	background-color $orange
	text-decoration none
	color: #fff
	font-weight 700
	display block

.menu__link
	font-size 14px
	color $default_block_text
	padding 10px 7px
	display inline-block

/*SUBMENU*/
.submenu
	display none

	.menu__item
		display block
