.menu__wrap
	text-align right
.menu
	width 780px
	font-size 14px
	padding-bottom 25px
	display inline-flex
	flex-wrap wrap
	flex-flow row wrap
	align-content flex-end
	justify-content flex-end

.menu__item
	text-align left
	/*border 1px solid #000*/

.menu__item:nth-child(1)
	width 21.333%
	order 6
.menu__item:nth-child(2)
	width 25.15%
	order 7
.menu__item:nth-child(3)
	width 28%
	order 3
.menu__item:nth-child(4)
	padding-right 10px
	order 5

	.menu__item_active
		padding-right 8px
.menu__item:nth-child(5)
	width 21.333%
	order 1
.menu__item:nth-child(6)
	order 2
.menu__item:nth-child(7)
	width 27.95%
	order 8
.menu__item:nth-child(8)
	width 9.8%
	order 4
.menu__item:nth-child(9)
	width 22.8%
	order 9

.menu__item_active > .menu__link,
.menu__link_active
	background-color $orange
	text-decoration none
	color: #fff
	font-weight 700
	display block

.menu__link
	font-size 14px
	color $default_block_text
	padding 10px 7px
	display inline-block

/*SUBMENU*/
.submenu
	display none

	.menu__item
		display block
