.menu__wrap
	text-align right

.menu__button
	position relative
	z-index 101

.menu
	width 830px
	height 70px
	position relative
	margin-bottom 25px
	font-size 14px
	display inline-block

	+mobile()
		display none
		width 100%
		height auto
		position absolute
		top 0
		z-index 100
		background-color #FFF
		box-shadow 0px 6px 10px #ddd
		background-color rgba(255,255,255,0.95)

.menu__item
	text-align left
	position absolute

	+mobile()
		position static

.menu__item:nth-child(1)
	top 0
	left 0
.menu__item:nth-child(2)
	top 0
	left 179px
.menu__item:nth-child(3)
	top 0
	left 407px
.menu__item:nth-child(4)
	top 0
	right 75px
.menu__item:nth-child(5)
	left 0
	bottom 0
.menu__item:nth-child(6)
	left 180px
	bottom 0
.menu__item:nth-child(7)
	right 221px
	bottom 0
.menu__item:nth-child(8)
	top 0
	right 0
.menu__item:nth-child(9)
	right 0
	bottom 0

html[lang='en']
	.menu
		width 773px

	.menu__item:nth-child(3)
		left 397px
	.menu__item:nth-child(4)
		right 82px
	.menu__item:nth-child(7)
		right 231px
	.menu__item:nth-child(8)
		top inherit
		right 160px
		bottom 0


.menu__item_active > .menu__link,
.menu__link_active
	background-color $orange
	text-decoration none
	color: #fff
	font-weight 700
	display block

.menu__link
	font-size 14px
	color $default_block_text
	padding 10px 7px
	display inline-block

	+mobile()
		padding 20px 20px

/*SUBMENU*/
.submenu
	display none

	.menu__item
		display block
