.prev-next-navigation
	width 220px
	position relative
	font-size 14px

.prev-next-navigation__next,
.prev-next-navigation__prev
	background-color $orange
	display block
	color #fff
	text-decoration none
	padding 4px 15px
	text-decoration underline

.prev-next-navigation__next:before,
.prev-next-navigation__prev:before
	content ''
	display inline-block
	margin-right 8px
	position relative
	top 5px

.prev-next-navigation__next:before
	sprite($arrow_next_icon)

.prev-next-navigation__prev:before
	sprite($arrow_prev_icon)
