.sub-menu
	position relative
	margin-bottom 0 !important

.sub-menu__items
	margin-bottom 65px

.sub-menu__item
	position relative

.sub-menu__link
	font-size 16px
	display block
	padding-top 10px
	padding-bottom 5px
	color $default_block_text

.sub-menu__link_active
	background-color $active_sub_menu
	text-decoration none
	color #fff
	font-weight 700
	position relative
	padding 6px 0 6px 10px

.sub-menu__link_active .triangle
	width 0
	height 0
	position absolute
	top 1px
	right -7px
	border-top solid rgba(0, 0, 0, 0)
	border-left solid $active_sub_menu
	border-bottom solid rgba(0, 0, 0, 0)
