table
	border-collapse collapse
	width 100%
	margin-bottom 8px

th
	background-color #c7d3db
	text-align right
	height 18px
	padding 5px

td
	text-align right
	border-bottom 1px solid #000
	font-size 15px
	padding 5px

td:first-child
	text-align left


.orange_border_tb > td
	border-top 1px solid $orange
	border-bottom 1px solid $orange

.orange_border_b > td
	border-bottom 1px solid $orange

.border_dotted_l
	border-left 1px dotted $orange

/*table class 05-1(page ID + table ID on page)*/


/*09*/
/*стили раздела 09 вынесены в отдельный класс*/
.table_09
	border-top 1px solid $table_border
	border-bottom 1px solid $table_border

	th
		background-color transparent
	td
		border none

	td:nth-of-type(1)
		width 65%

	.bb1
		border-bottom 1px solid $table_border
	.bb2
		border-bottom 2px solid $table_border
	.bb2fff
		border-bottom 2px solid $table_border
		position relative

		&:after
			content ''
			width 100%
			border-top 2px solid $table_border
			border-bottom 2px solid #fff
			position absolute
			left 0
			bottom 0
	.pl
		padding-left 15px
