.tools
	position relative

	& > a
		display block
		padding-left 24px
		margin-bottom 7px
		background-repeat: no-repeat
		color $default_block_text

.tools__title
	h4()

.tools__print
	background-image: url('../images/toolPrint.png');

.tools__recommend
	background-image: url('../images/toolRecommend.png');

.tools__analyser
	background-image: url('../images/toolQuick.png');

.tools__download
	background-image: url('../images/toolDownload.png');

.tools__glossary
	background-image: url('../images/toolGlossary.png');
	background-position 0 2px

.tools__compare
	background-image: url('../images/toolCompare.png');
