.tools
	position relative

	& > a
		position relative
		display block
		padding-left 24px
		margin-bottom 7px
		background-repeat no-repeat
		color $default_block_text

		&:before
			content ''
			display inline-block
			position absolute
			left 0

.tools__title
	h4()

.tools__print:before
	sprite($toolPrint)

.tools__recommend:before
	sprite($toolRecommend)

.tools__analyser:before
	sprite($toolQuick)

.tools__download:before
	sprite($toolDownload)

.tools__glossary:before
	sprite($toolGlossary)

.tools__compare:before
	sprite($toolCompare)
