-var lang = "ru";

include ../helpers/variables
include ../helpers/mixins

doctype html
html(lang='#{lang}')
	include ../blocks/head

	block recommend
	body
		include ../blocks/top-wrapper
		.main
			#top-navigation
				.content
					include ../blocks/logo
					include ../blocks/main-menu
					include ../blocks/banner
					include ../blocks/breadcrumb
					include ../blocks/select-menu
			aside.aside
				include ../blocks/sub-menu
				include ../blocks/history
				include ../blocks/annual-report
				include ../blocks/tools
				include ../blocks/next-prev-navigation
			#content(class='page' + pageId data-page=pageId data-page-lang=lang)
				block head
				h1= pageTitle

				block content
				include ../blocks/metrica
		include ../blocks/footer

		include ../blocks/scripts
