body
	font-family 'proxima-nova', sans-serif
	font-style normal
	color #000
	/*background-color #f0f0f0*/
	background-color #FFF

.content
	margin 0 auto
	position relative
	width 960px

.right
	float right !important
	margin 30px
	margin-right 0

.left
	float left
	margin 30px
	margin-left 0

/* COLORS */
.blue
	color $blue

.orange
	color $orange
/* COLORS */

.main
	margin-left auto
	margin-right auto
	width 960px
	font-size 16px
	background-color #fff
	padding-bottom 30px
	clearfix()

.h1
	margin-left -20px
	margin-right -20px
	margin-bottom 20px
	padding 20px
	font-size 28px
	font-weight bold
	text-align center

.h2
	margin-bottom 20px
	font-size 20px
	font-weight bold
	text-align center

.h3
	margin-bottom 10px
	padding-left 20px
	padding-right 20px
	font-size 18px
	font-weight bold

a
	text-decoration underline

	&:hover
		text-decoration none
b,
strong
	font-weight 700

.text_right
	text-align right
.text_left
	text-align left
