@media print
	#top-wrapper
	#top-navigation
	.aside
	.lightbox__zoom
		display none

	/*показать контент аккордиона*/
	.acc_heading + div
		display block !important

	.inner_cover
		margin 30px auto
		display block

	#content
		width 100%

	.footer
	.footer a
			color #000
			opacity 1
