if lang === 'ru'
	.annual-report
		h4.annual-report__title Мой годовой отчет

		a.annual-report__link.myreport__save(href='#') Сохранить страницу
		a.annual-report__link.myreport__counter.animated(href='myreport.html') Посмотреть сохраненные страницы
else
	.annual-report
		h4.annual-report__title My Annual Report

		a.annual-report__link.myreport__save(href='#') Store page
		a.annual-report__link.myreport__counter.animated(href='myreport.html') Retrieve My Annual Report
