footer.footer
	.content
		.footer__copyright © TMK, 2015
		.footer_address 105062, г. Москва, ул. Покровка, д. 40, стр. 2а.&nbsp;
		.footer_phone Телефон: +7(495)775-7600&nbsp;
		.footer_phone Факс: +7(495)775-7601
		.footer_email
			a(href='mailto:tmk@tmk-group.com') tmk@tmk-group.com
