if lang === 'ru'
	a#logo(href= globalPath + '/')
		img(src= globalPath + 'assets/images/logo.png' alt='логотип компании' title='ТМК')
else
	a#logo(href="index_en.html")
		img(src=globalPath + 'assets/images/logo.png' alt='logo' title='TMK')
