if lang === 'ru'
	a#logo(href= globalPath + '')
		img(src= globalPath + 'assets/images/logo.png' alt='логотип компании' title='ТМК' width=80 height=80)
else
	a#logo(href= globalPath + 'en/')
		img(src= globalPath + 'assets/images/logo.png' alt='logo' title='TMK' width=80 height=80)
