if lang === 'ru'
	.prev-next-navigation
		a.prev-next-navigation__prev(href='#') Предыдущая страница
		a.prev-next-navigation__next(href='#') Следующая страница
else
	.prev-next-navigation
		a.prev-next-navigation__prev(href='#') Previous page
		a.prev-next-navigation__next(href='#') Next page
