#quickfinder
	select#quickfinderSelect(name="quickfinderSelect" onchange="location.href=''+this.options[this.selectedIndex].value;")
		option(value="/" selected) Перейти в раздел...

		option(value="0401.html") Ключевые показатели
		option(value="") Глобальное присутствие
		option(value="") ТМК на мировом трубном рынке
		option(value="") Акционерный капитал и дивиденды
		option(value="") Совет директоров и Комитеты Совета директоров
		option(value="") Исполнительное руководство
		option(value="") Управление персоналом и социальная политика
		option(value="") Финансовые показатели
		option(value="") Основные риски Компании
		option(value="") Примечания к консолидированной финансовой отчетности
