if lang === 'ru'
	#quickfinder
		select#quickfinderSelect(name="quickfinderSelect" onchange="location.href=''+this.options[this.selectedIndex].value;")
			option(value="/" selected) Перейти в раздел...

			option(value="0401.html") Ключевые показатели
			option(value="0406.html") Глобальное присутствие
			option(value="0406.html") ТМК на мировом трубном рынке
			option(value="05.html") Акционерный капитал и дивиденды
			option(value="0604.html") Совет директоров и Комитеты Совета директоров
			option(value="0607.html") Исполнительное руководство
			option(value="0701.html") Управление персоналом и социальная политика
			option(value="0806.html") Финансовые показатели
			option(value="0807.html") Основные риски Компании
			option(value="090701.html") Примечания к консолидированной финансовой отчетности
else
	#quickfinder
		select#quickfinderSelect(name="quickfinderSelect" onchange="location.href=''+this.options[this.selectedIndex].value;")
			option(value="/" selected) Quick Finder

			option(value="0401_en.html") Key Indicators
			option(value="0406_en.html") TMK's Global Footprint
			option(value="0406_en.html") Market Position
			option(value="05_en.html") Share Capital & Dividends
			option(value="0604_en.html") Board of Directors and Committees
			option(value="0607_en.html") Executive Management
			option(value="0701_en.html") Human Resources and Social Policy
			option(value="0806_en.html") Selected financial data
			option(value="0807_en.html") Principal risks and uncertainties
			option(value="090701_en.html") Notes to the Consolidated Financial Statements
