#quickfinder
	select#quickfinderSelect(name="quickfinderSelect" onchange="location.href=''+this.options[this.selectedIndex].value;")
		option(value="/" selected) Перейти в раздел...

		option(value="0401.html") Ключевые показатели
		option(value="0406.html") Глобальное присутствие
		option(value="0406.html") ТМК на мировом трубном рынке
		option(value="") Акционерный капитал и дивиденды
		option(value="0604.html") Совет директоров и Комитеты Совета директоров
		option(value="0607.html") Исполнительное руководство
		option(value="0701.html") Управление персоналом и социальная политика
		option(value="0806.html") Финансовые показатели
		option(value="0807.html") Основные риски Компании
		option(value="090701.html") Примечания к консолидированной финансовой отчетности
