.sub-menu
	ul.sub-menu__items
		li.sub-menu__item: a.sub-menu__link.sub-menu__link_active Профиль компании
		li.sub-menu__item: a.sub-menu__link Ключевые события
		li.sub-menu__item: a.sub-menu__link Ключевые показатели
		li.sub-menu__item: a.sub-menu__link Глопальное присутствие
