block recommend

if lang === 'en'
	- var switchLink = globalPath + pageId + '.html'
	a.switch-language(href=switchLink) RU
else
	- var switchLink = pageId + '_en.html'
	a.switch-language(href=switchLink) EN
