block recommend

if lang === 'en'
	- var switchLink = globalPath + pageId + '.html'
	a.switch-language(href=switchLink) RU
else
	- var switchLink = globalPath + 'en/' + pageId + '.html'
	a.switch-language(href=switchLink) EN
