block recommend

if lang === 'en'
	if pageId === 'main'
		- var switchLink = globalPath
	else
		- var switchLink = globalPath + pageId + '.html'
	a.switch-language(href=switchLink) RU
else
	if pageId === 'main'
		- var switchLink = globalPath + 'en/'
	else
		- var switchLink = globalPath + 'en/' + pageId + '.html'
	a.switch-language(href=switchLink) EN
