.tools
	h4.tools__title Инструментарий

	a.tools__print(href='#') Распечатать страницу
	a.tools__recommend(href='#') Рекомендовать отчет
	a.tools__analyser(href='#') Интерактивный анализ
	a.tools__download(href='#') Центр загрузки
	a.tools__glossary(href='#') Список принятых сокращений
	a.tools__compare(href='#') Сравнить с 2013
