block recommend
#top-wrapper
	.content
		ul
			li: a.home(href='/') Главная
			li: a.sitemap(href='sitemap.html') Карта сайта
			if pageId !== undefinded
				li: a.recommend(href='recommend.html?index=#{pageId}&lang=#{recommend_lang}') Рекомендовать отчет
			li: a(href='contact.html') Контакты
			li: include ../blocks/switch-language
			li: .search
				form.searchform(method="post")
					#search_wrapper
						input#search_keywords(type='text' name='search_keywords' value='' maxlength='250' placeholder='Поиск...')
						#search_submit
