.gallery-link
    position relative
    display inline-block
    width 470px
    margin-left 20px

.gallery-link__item
    width 225px
    float left
    margin-right 20px
    main_link()

    &:last-child
        margin 0

.gallery-link__image
    margin-bottom 25px

.gallery-link__text
    position relative
