.home_box
    position relative
    margin 40px 0
    clearfix()

.home_box__link
    width 225px
    height 75px
    float left
    margin-right 20px
    position relative
    background-color #FFF
    text-decoration none
    color #666
    background-position 0 0
    background-repeat no-repeat

    h2
        font-size 17px
        margin-top 8px
        margin-bottom 2px
        color #666
        line-height 20px
        text-decoration none
        font-weight 400
        width 58%
        padding-right 3%
        float right

.home_box__link:nth-child(1)
    background-image url('../images/main/b1.png')
.home_box__link:nth-child(2)
    background-image url('../images/main/b2.png')
.home_box__link:nth-child(3)
    background-image url('../images/main/b3.png')
.home_box__link:nth-child(4)
    background-image url('../images/main/b4.png')
    margin-right 0
