.message_main
    width 470px
    height 275px
    float left
    background-image url('../images/main/message_image.jpg')
    background-position 94% 100%
    background-repeat no-repeat

.message_main__text
    font-size 14px
    line-height 20px
    color #000

.message_main__link
    main_link()
    margin-top 70px
    display inline-block
