.gallery-link
	a.gallery-link__item(href='#')
		img.gallery-link__image(src=globalPath + 'assets/images/main/cover1.jpg' alt='Ключевые события')
		span.gallery-link__text Ключевые события
	a.gallery-link__item(href='#')
		img.gallery-link__image(src=globalPath + 'assets/images/main/cover2.jpg' alt='Финансовая отчетность')
		span.gallery-link__text Финансовая отчетность
