.home_box
	a.home_box__link(href='0401.html')
		h2.home_box__title Ключевые показатели
	a.home_box__link(href='03.html')
		h2.home_box__title Ключевые события
	a.home_box__link(href='#')
		h2.home_box__title Анализ<br>данных
	a.home_box__link(href='#')
		h2.home_box__title Центр<br>загрузки
