.home_box
	a.home_box__link(href='0401.html')
		h2.home_box__title
			+lang('Ключевые показатели', 'Key<br> Indicators')

	a.home_box__link(href='03.html')
		h2.home_box__title
			+lang('Ключевые события', 'Key<br> Events')

	a.home_box__link(href='analyzer.html')
		h2.home_box__title
			+lang('Анализ<br>данных', 'Quick<br> Analyser ')

	a.home_box__link(href='download.html')
		h2.home_box__title
			+lang('Центр<br>загрузки', 'Download<br> Center')
