.message_main
	p.message_main__text.
		«Нам удалось добиться существенного роста <br>
		продаж труб большого диаметра Газпрому <br>
		и Транснефти и сохранить лидерство <br>
		на российский рынок бесшовных труб <br>
		нефтегазового сортамента с долей более 60 % <br>
		продолжив увеличивать эту долю в 2015 году»

	a.message_main__link(href='#') Обращение к акционерам
