.page0406
	position relative

	.quote_3__wrapper
		width auto
		clear none

	.quote_3__wrapper:nth-of-type(even)
		float right
		text-align right

	.quote_3__wrapper:nth-of-type(2)
		.quote_3__before_quote_text
			margin-top 61px
	p
		clear both
	.quote_3__wrapper:nth-of-type(5) + p
		clear none
	h4
		clear both

	.table_0406_1 tr:nth-of-type(2) td
		border-bottom none

html[lang='ru'] .page0406 .quote_3__wrapper:nth-of-type(2)
	margin-top 32px
