.page0605
	position relative

	.table_0605_1
		position relative

		td:nth-of-type(1)
			width 30%
		td:nth-of-type(2),
		td:nth-of-type(3),
		td:nth-of-type(4)
			border-right 1px dotted $orange
		tr:last-child td
			border-bottom 2px solid $orange

	.table_0605_2,
	.table_0605_3,
	.table_0605_4
		position relative

		td:first-child
			width 35%
		tr:first-child td
			border-top 1px solid
		tr:last-child td
			border-bottom 2px solid $orange


	.table_0605_4 td:first-child
		width 33%
