.page0806
	position relative

	table
		position relative

		tr.bold td
			border-bottom 1px solid $orange

		tr:nth-child(2) td
			border-bottom 1px solid $orange

	.table_0806_1 td:not(:last-child):not(:first-child)
		border-right 1px dotted $orange
