.page09070601
	position relative

	table
		position relative

		td:last-child
			@extend .table_bg
			width 15%

		tr:nth-child(n+2) td:nth-child(n+2)
			@extend .nowrap

	.table_09070601_8 td,
	.table_09070601_9 td
		font-size .86em
