.pagesearch
	td
		border-bottom none
		padding 0

	.gsc-control-cse
		padding 0

	.gcsc-branding
	.gsc-orderby-container
	.gsc-adBlock
		display none

	.gsc-search-button
		background-image url('https://www.google.com/uds/css/v2/search_box_icon.png') !important
		background-repeat no-repeat
		background-position center center
		width 35px
		height 25px

	.gsc-table-result
	.gsc-thumbnail-inside
	.gsc-url-top
		padding 0
