.page0405
	position relative

	.quote_3__wrapper
		width 100%

	.quote_3,
	.quote_3__before_quote_text
		display none

	.quote_3__wrapper:last-child
		position relative

		.quote_3,
		.quote_3__before_quote_text
			display block
