.page05
	position relative

	/*.table_05_1*/
	/*.table_05_2*/

	.table_05_1 td:nth-of-type(2),
	.table_05_2 td:nth-of-type(2),
	.table_05_4 td:nth-of-type(2),
	.table_05_4 td:nth-of-type(3)
		border-right 1px dotted $orange
		padding-right 4px

	.table_05_1 tr:last-child td
		height 22px

	/*.table_05_3
	*/
