.page0701
	position relative

	.table_0701_1
		position relative

		td:nth-child(2),
		td:nth-child(3)
			border-right 1px dotted $orange

		tr:nth-child(2) td
			padding-top 10px
			border-right none
			border-bottom 1px solid $orange
