.page0703
	position relative

	.quote_3__wrapper:nth-of-type(3),
	.quote_3__wrapper:nth-of-type(4)
		clear none
		margin-top 0
		margin-right 0

		.quote_3__image
			width auto

	.quote_3__wrapper:nth-of-type(3)
		margin-top 11px

	.quote_3__wrapper:nth-of-type(4)
		float right
		text-align right
