extends ../layouts/default

block head
	- pageTitle = 'Профиль компании';

block recommend
	- pageId = '01';
	- recommend_lang = lang;

block content
	p.excerpt ТМК является одним из мировых лидеров по производству стальных труб, ведущим глобальным поставщиком трубной продукции для нефтегазового сектора. Ценные бумаги Компании обращаются на Лондонской фондовой бирже, торговой площадке OTCQX в Нью-Йорке, а также на Московской бирже.

	img.inner_cover(src=globalPath + 'assets/images/01/01.jpg' alt=pageTitle)

	p Компания была создана в 2001 году и в настоящее время объединяет 30 производственных активов в России, США, Канаде, Омане, ОАЭ, Румынии и Казахстане. Основным направлением деятельности ТМК является производство и сбыт бесшовных и сварных труб, включая трубы большого диаметра, трубы с соединениями класса «Премиум», в сочетании с широким комплексом сервисных услуг по термообработке, нанесению защитных покрытий, нарезке премиальных соединений, складированию и ремонту труб.
	p ТМК включает в себя российские трубные предприятия: Волжский трубный завод, Северский трубный завод, Синарский трубный завод и Таганрогский металлургический завод, 12 производственных площадок в США и Канаде, входящих в состав TMK IPSCO, предприятия TMK-ARTROM и TMK-RESITA в Румынии и завод TMK GIPI в Омане. Компании принадлежат четыре российских нефтесервисных предприятия, объединенных в рамках ТМК Нефтегазсервис, расположенный в Казахстане ТМК-Казтрубпром, сервисный центр TMK Premium в Абу-Даби, ОАЭ, а также активы по сервисному обслуживанию трубной продукции, производству аксессуаров для нефтегазодобывающей отрасли и закачиванию скважин, расположенные в США. В феврале 2015 года для обеспечения замкнутого цикла по снабжению ломом российских предприятий ТМК Компания приобрела одного из крупнейших участников российского рынка лома черных металлов предприятие ЧерметСервис-Снабжение.
	p Разработкой и усовершенствованием трубной продукции, а также проведением экспериментальных тестов, оценочных испытаний и передовых научных исследований в ТМК занимаются исследовательские центры: Российский институт трубной промышленности (РосНИТИ, г. Челябинск, Россия) и Научноисследовательский центр в Хьюстоне (США). Для решения задач инновационного развития и увеличения исследовательского потенциала Компании создан научно-технический центр ТМК в инновационном центре «Сколково» (Россия).

	+quote_blue("right", "4,4 млн тонн", "общий объём продаж труб ТМК в 2014 году")

	p Консолидация производственных активов в различных регионах мира, применение передовых научных и конструкторских разработок и разветвленная сбытовая сеть Компании способствовали созданию современного вертикально-интегрированного комплекса по производству и реализации высокотехнологичной, конкурентоспособной трубной продукции.
	p Уникальные производственные и сервисные возможности ТМК позволяют удовлетворять потребности самого широкого круга потребителей и предлагать эффективные решения их производственных задач.
	p Общий объем продаж труб ТМК в 2014 году составил 4,4 млн тонн. Наибольшую долю в структуре продуктового портфеля Компании занимают высокодоходные нарезные нефтегазовые трубы (OCTG), поставка продукции потребителям осуществляется в более чем 80 стран мира.
