extends ../layouts/default

block head
	- pageTitle = 'Обращение к акционерам';

block recommend
	- pageId = '02';
	- recommend_lang = lang;

block content
	p.excerpt
		b УВАЖАЕМЫЕ АКЦИОНЕРЫ!
		br
		b ДОРОГИЕ ДРУЗЬЯ!

	+quote_1("left", "Председатель Совета директоров ОАО «ТМК» ", "Д. А. ПУМПЯНСКИЙ", "02/1.jpg")

	p Позвольте нам подвести итоги деятельности Трубной Металлургической Компании в 2014 году и обозначить задачи на 2015 год.
	p Реализовав 4 402 тыс. тонн труб, мы сохранили лидерство на ключевых для нас рынках и в шестой раз подряд стали крупнейшей трубной компанией в мире по объему отгрузки.
	p Вместе с тем 2014 год был отмечен целым рядом глобальных факторов, оказавших негативное влияние на российскую и мировую экономику, на трубный рынок и на нашу Компанию как одного из лидеров этого рынка. Существенное снижение цен на нефть, ослабление рубля и растущая напряженность в международных отношениях оказали влияние на наши результаты. Нам удалось в значительной мере компенсировать эти негативные явления ростом объемов производства и улучшением структуры продаж; в результате наш ключевой показатель — EBITDA — превысил ожидания многих участников рынка.
	.cb
	+quote_1("left", "Генеральный директор  ОАО «ТМК» ", "А. Г. ШИРЯЕВ", "02/2.jpg")
	p Тем не менее сохранить основные финансовые показатели на уровне прошлого года было объективно невозможно. Резкое снижение цен на нефть сказалось на программах развития и закупки труб компаниями нефтегазового сектора, которым мы поставляем более 70 % своей продукции, что отразилось на операционных и финансовых результатах TMK, так же как и последовавшее в конце года заметное ослабление курса российской валюты. Главным образом, в связи со снижением курса рубля и евро по отношению к валюте представления отчетности — доллару США — наша выручка снизилась на 7 %, показатель EBITDA — на 16 %, на 2 процентных пункта сократилась рентабельность по EBITDA. Вместе с тем валютный фактор позитивно повлиял на величину финансовых обязательств Компании. На фоне ослабления курса рубля совокупный долг ТМК по состоянию на конец 2014 года сократился на 471 млн долларов и составил 3 223 млн долларов США.
	p.cb В то же время с точки зрения производственных результатов прошлый год был одним из лучших в истории Компании. Мы сохранили лидерство в поставках трубной продукции для компаний российского топливно-энергетического комплекса. Объем отгрузки с предприятий российского дивизиона в 2014 году составил около 3 млн тонн. Практически всеми заводами дивизиона достигнуты рекордные показатели по объему выпуска продукции, производству стали и рублевой выручке. Нам удалось добиться существенного роста продаж труб большого диаметра Газпрому и Транснефти и сохранить лидерство на российском рынке бесшовных труб нефтегазового сортамента с долей более 60 %, продолжив увеличивать эту долю в 2015 году.
	p Американский дивизион также завершил 2014 год с высокими цифрами по отгрузке — 1 019 тыс. тонн. Наша доля в сегменте нефтегазовых труб на американском рынке достигла 10 %. Важным событием здесь в прошлом году стало положительное для трубников завершение расследования против Кореи, Турции, Вьетнама, Индии, Украины и Тайваня с введением антидемпинговых пошлин на ввозимую сварную продукцию. Это позволило обеспечить более справедливые условия для бизнеса. Но в связи с падением цен на нефть и укреплением доллара США на рынке Северной Америки наблюдалось сокращение числа буровых установок и усиление конкуренции с азиатскими производителями, что нивелировало эффект антидемпингового решения для производителей труб.
	p В прошлом году мы завершили реализацию основного этапа Стратегической инвестиционной программы ТМК. Был запущен в эксплуатацию непрерывный трубопрокатный стан FQM на Северском трубном заводе. Это позволило увеличить наши мощности по выпуску высококачественных бесшовных труб до 600 тыс. тонн.
	p В результате многолетних усилий по модернизации производства наших предприятий и миллиардных инвестиций Компания получила современную технологическую и производственную платформу, в которой воплощены передовые достижения научно-технической мысли, заложила мощный фундамент для развития на десятилетия вперед. Мы обновили и увеличили наши сталеплавильные мощности, запустили современные трубопрокатные станы, в результате чего получили значительно более высокую производительность и безупречное качество продукции. Фактически несколько заводов Компании были поэтапно полностью или частично построены заново. В итоге сегодня мы обладаем самым современным оборудованием по производству бесшовных труб, обеспечивающим стабильное качество и высокую производительность.
	p Завершение основных мероприятий по модернизации производства дает ТМК ясные конкурентные преимущества, которые мы обязаны максимально использовать в текущей ситуации. Во-первых, мы избавлены от необходимости финансировать крупные незавершенные проекты, а во-вторых, мы можем производить практически весь сортамент трубной продукции, отвечающей самым высоким требованиям качества, безопасности и надежности.
	p Ключ к повышению рентабельности — это производство высокодоходных продуктов премиум-класса. В 2014 году, несмотря на сокращение премиального сегмента российского рынка, ТМК увеличила поставки труб с премиальными резьбовыми соединениями на 16,7 % по сравнению с предыдущим годом. В итоге наша доля в премиальном сегменте российского рынка выросла с 57 % до 65 % и продолжает уверенно расти в 2015 году. Мы стали полноправным участником мирового рынка высокотехнологичных труб и утвердили глобальную стратегию развития ТМК в премиальном сегменте.

	+quote_blue("left", "на 16,7%", "ТМК увеличила поставки труб с премиальными резьбовыми соединениями")

	p В 2014 году мы продолжали разрабатывать и внедрять в производство высокотехнологичную инновационную продукцию. Силами РосНИТИ, TMK R&D Center Houston, исследовательских подразделений заводов и ведущих профильных научных организаций в течение 2014 года было проведено 240 работ. Новый центр НИОКР ТМК получил статус резидента инновационного центра «Сколково».
	p.cb Для учета интересов партнеров и совместной с ними работы в научно-технической сфере у нас сформирован необходимый инструментарий. Мы продолжили практику заключения средне- и долгосрочных соглашений о научно-техническом сотрудничестве с ведущими компаниями нефтегазового сектора. В 2014 году были подписаны соответствующие программы с Газпромом, Лукойлом, Сургутнефтегазом, Газпромнефтью, созданы рабочие группы с Роснефтью. Мы знаем, какие виды продукции ждут от нас потребители и вместе с ними разрабатываем, выпускаем и испытываем современные образцы трубной продукции для освоения месторождений углеводородов со сложными условиями добычи. Мы рассчитываем, что в перспективе это еще больше укрепит существующие глубокие и долгосрочные отношения с крупнейшими нефтегазовыми компаниями, выводя их на уровень технологического партнерства, что уже отчасти происходит, позволит расширить сортамент нашей продукции, будет также способствовать дальнейшему развитию нефтесервисного направления бизнеса ТМК в России и в мире.
	p В прошлом году получило развитие наше многолетнее сотрудничество с госкорпорацией РОСНАНО. В начале этого года она вошла в капитал ТМК с долей 5,476 % акций, предоставив тем самым инвестиции в размере 5,5 млрд рублей на дальнейшее развитие наших совместных проектов.
	p Продолжая деятельность по интеграции профильных производственных активов, ТМК в 2015 году приобрела ломозаготовительную компанию ЧерметСервисСнабжение (сейчас — ТМК ЧЕРМЕТ). Это основной поставщик металлолома для группы компаний ТМК на протяжении многих лет. Включив его в контур Компании, мы увеличим прибыль и повысим надежность снабжения заводов Компании металлолом, обеспечим сырьевую безопасность Компании.
	+quote_circle("left" ,"Нам необходимо усиливать присутствие на международной арене,", "развивать производство уникальных и инновационных трубных продуктов, продолжать углублять отношения с потребителями и поставщиками.")
	p Ослабление рубля по отношению к доллару объективно усиливает конкурентные позиции наших российских предприятий по отношению к импорту труб в Россию, в том числе в сегменте высокотехнологичных труб, где нами уже созданы значительные технологические заделы. Данная тенденция также стимулирует нас к тому, чтобы наращивать поставки на международные рынки. Следует отметить, что ключевыми для нас остаются наши домашние рынки — прежде всего Российская Федерация и Северная Америка. Но мы будем продолжать усиливать свое присутствие на Ближнем Востоке, в Северной Африке и СНГ.
	p.cb Главным риском для ТМК в 2015 году является уменьшение бурения в связи с падением мировых цен на нефть. В этой связи мы должны адаптировать стратегию Компании к новым реалиям мирового и домашних трубных рынков, максимально использовать все возможности для роста. Нам необходимо усиливать присутствие на международной арене, развивать производство уникальных и инновационных трубных продуктов, продолжать углублять отношения с потребителями и поставщиками.
	p Нам предстоит продолжать изыскивать резервы для повышения эффективности работы Компании. В 2014 году на всех производственных предприятиях ТМК была успешно продолжена работа по реализации программы повышения эффективности. Общий эффект составил более 100 млн долларов. Эта деятельность становится еще более востребованной и актуальной в 2015 году.
	p Несмотря на негативные тенденции и неопределенность в экономике, Компания в 2015 году обеспечит выполнение социальных обязательств перед своими сотрудниками. Сохранение профессиональных трудовых коллективов, поддержание их высокой мотивации и работоспособности является одной из важнейших текущих задач. Одновременно мы, как и всегда, ключевым приоритетом для себя считаем безусловное следование интересам наших акционеров и инвесторов, что является стратегической целью нашего бизнеса.
	p Мы уверены, что вслед за падением на энергетическом и трубном рынках обязательно наступит подъем, к которому мы технически и организационно готовы.
	p.text_right
		| Председатель
		br
		| Совета директоров ОАО «ТМК»
		br
		b Д. А. Пумпянский
	p.text_right
		| Генеральный директор
		br
		| ОАО «ТМК»
		br
		b А. Г. Ширяев
