extends ../layouts/default

block head
	- pageTitle = 'Ключевые события';

block recommend
	- pageId = '03';
	- recommend_lang = lang;

block content
	img.inner_cover(src=globalPath + 'assets/images/03/03.jpg' alt=pageTitle)

	h4 ЯНВАРЬ
	p На ТМК-ИНОКС, совместном проекте ТМК и РОСНАНО, введена в эксплуатацию линия продольной резки рулонного металла, поставленная швейцарской фирмой SYTCO. В результате ТМК-ИНОКС может выпускать в год до 8 тыс. тонн нержавеющей трубной продукции промышленного назначения диаметром 8-114 мм, отвечающей лучшим мировым стандартам. TMK IPSCO (Американский дивизион), подписало и приступило к выполнению двух трехлетних контрактов на поставку труб OCTG и линейных труб для наземных и офшорных проектов компании Shell.

	+quote_blue("left", "45 тыс. тонн", "труб большого диаметра компания ТМК планирует поставить для газотранспортной системы «Бованенково — Ухта»")

	h4 ФЕВРАЛЬ
	p ТMK получила официальное подтверждение того, что трубная продукция из заготовки производства российских заводов ТМК одобрена для использования иракской государственной компанией South Oil Company, обладающей монопольным правом на разработку месторождений нефти в южной части этой страны.
	br
	br
	br

	h4 МАРТ
	p Таганрогский металлургический завод (ТАГМЕТ) (Российский дивизион) квалифицирован одной из крупнейших нефтедобывающих компаний на Ближнем Востоке — Kuwait Oil Company (KOC) — в качестве одобренного поставщика премиальных резьбовых соединений ТМК UP PF и ТМК UP PF ET. ТМК и Baker Hughes Incorporated объявили о договоренности по разработке совместных интегрированных решений по заканчиванию скважин. Интегрированное решение предполагает выполнение работ по заканчиванию как наземных, так и офшорных скважин «под ключ» с использованием технических и производственных мощностей обеих компаний.

	h4 АПРЕЛЬ
	p TMK подписала соглашение с Газпромнефтью о применении формулы цены при расчете стоимости трубной продукции. Формула цены учитывает рыночные цены на сырье и материалы, необходимые для производства трубной продукции.

	h4 МАЙ
	p
		| ТМК подписала договор с Ямал СПГ о поставках премиальной трубной продукции в период с 2014 по 2020 год. Потребность Ямал СПГ в премиальной трубной продукции в течение этого периода оценивается на уровне 48 тыс. тонн.
		br
		| ТМК отгрузила партию ТБД по заказу Газпрома для строительства газопровода «Бованенково — Ухта». Всего для газотранспортной системы «Бованенково — Ухта» ТМК планирует поставить около 45 тыс. тонн ТБД.
		br
		| ТМК и Сахалин Энерджи подписали меморандум о взаимопонимании. После прохождения всех необходимых сертификационных процедур и испытаний ТМК сможет войти в пул поставщиков Сахалин Энерджи.


	h4 ИЮНЬ
	p
		| ТМК отгрузила партию линейных труб группы прочности Х60 объемом более 2 тыс. тонн для крупнейшей международной нефтяной компании Saudi Aramco (Саудовская Аравия).
		br
		| ТМК и Сколково подписали договор о строительстве центра НИОКР. Деятельность центра будет направлена на разработку эффективных технологий добычи и разведки нефтегазовых месторождений, транспортировки углеводородов, а также создание новых решений по повышению энергоэффективности основных технологических процессов в черной металлургии.
		br
		| Совет директоров ТМК принял решение об увеличении уставного капитала Компании путем размещения дополнительных акций в количестве 56 000 000 штук по открытой подписке.

	+quote_blue("right", "на 250 тыс. тонн", "возросли мощности Компании по производству бесшовных труб в результате запуска стана FQM на СТЗ")

	h4 ИЮЛЬ
	p
		| ТМК запустила реконструированную ТЭЦ на Синарском трубном заводе (Российский дивизион). Тепловая мощность ТЭЦ увеличена на 15 %, до 680 гигакалорий в час, отпуск электроэнергии повышен вдвое до 192 млн киловатт-часов в год.
		br
		| ТМК и ЛУКОЙЛ подписали Программу научно-технического сотрудничества на 2014-2016 годы, направленную на освоение импортозамещающих и новых видов трубной продукции с высокими технико-экономическими характеристиками.
		br
		| Предприятие ТМК GIPI заключило контракт с Petroleum Development Oman (PDO) на поставку 18,4 тыс. тонн обсадных труб. Эти высокопрочные обсадные трубы используются в проектах PDO при бурении и обустройстве скважин.

	h4 СЕНТЯБРЬ
	p
		| ТМК провела испытания премиального резьбового соединения TMK UP PF с бессмазочным покрытием GreenWell на соответствие стандарту ISO 13679:2002 уровня требований CAL IV. Тесты подтвердили возможность использования премиальной продукции ТМК как в оншорных, так и в офшорных проектах по сложному бурению и добыче углеводородов.
		br
		| ТМК и Газпром подписали соглашение о применении специальных условий ценообразования при поставках ТБД для реализации проекта «Сила Сибири». Новые условия позволят ТМК более эффективно планировать загрузку производственных мощностей и улучшить структуру продаж.

	h4 ОКТЯБРЬ
	p ТМК запустила в промышленную эксплуатацию новый трубопрокатный комплекс с непрерывным станом FQM (Fine Quality Mill) на Северском трубном заводе (Российский дивизион). В результате совокупные мощности Компании по выпуску бесшовных труб возрастут приблизительно на 250 тыс. тонн.

	h4 НОЯБРЬ
	p
		| ТМК и Магнитогорский металлургический комбинат (ММК) подписали соглашение о применении формулы расчета цены широкоформатного горячекатаного листа при поставке в адрес предприятий ТМК.
		br
		| ТМК осуществила комплексную поставку высокотехнологичной трубной продукции и оборудования в адрес Сургутнефтегаза для комплектации буровой колонны под скважину глубиной около 5 000 метров.


	h4 ДЕКАБРЬ
	p
		| ТМК была признана лучшим поставщиком трубной продукции для освоения морского шельфа по итогам опроса российских нефтегазовых компаний, ведущих разработку шельфовых запасов углеводородов. Рейтинг поставщиков был подготовлен в преддверии конференции «Подряды на нефтегазовом шельфе-2014».
		br
		| Компания выиграла тендер на поставку Транснефти в январе–апреле 2015 года ТБД в объеме более 30 тыс. тонн.
		br
		| ТМК подписала соглашение о научно-техническом сотрудничестве с Газпромом на 2015-2020 годы. Приоритетными задачами программы сотрудничества являются разработка новых видов трубной продукции, мероприятия по импортозамещению, а также обмен опытом и проведение исследований.
		br
		| ТМК провела публичное размещение дополнительного выпуска акций в объеме 5,476 % от акционерного капитала Компании. Общая сумма привлеченных средств составила 5,5 млрд рублей.
		br
		| РОСНАНО приобрело 5,476 % акций ТМК для инвестирования в проект расширения производства высокотехнологичных труб с улучшенными свойствами для нефтегазового комплекса.

	+quote_circle("left", "В феврале 2015 года ", "ТМК приобрела компанию ЧерметСервисСнабжение, одного из крупнейших ломозаготовителей в РФ")

	h4 ФЕВРАЛЬ 2015
	p
		| TMK квалифицирована одной из крупнейших нефтедобывающих компаний Ирака — Missan Oil Company, (MOC) — в качестве одобренного поставщика трубной продукции нефтегазового назначения с использованием российских исходных материалов.
		br
		| ТМК и Газпромнефть подписали программу технологического партнерства на 2015-2017 годы. ТМК совместно с Газпромнефтью будет осуществлять поддержку концептуального инжиниринга техники и технологий строительства скважин проектов (Чонская группа, Куюмбинское месторождение).
		br
		| ТМК погасила конвертируемые в ГДР облигации (каждая ГДР представляет четыре обыкновенные акции ТМК) со сроком выплаты в 2015 году и купоном 5,25 %.
		br
		| ТМК провела публичное размещение дополнительного выпуска акций в объеме 5,476 % от акционерного капитала Компании. Общая сумма привлеченных средств составила 5,5 млрд рублей.
		br
		| ТМК приобрела компанию ЧерметСервисСнабжение, одного из крупнейших участников российского рынка лома черных металлов. Стоимость сделки составила около 2,73 млрд рублей.

	h4 МАРТ 2015
	p
		| ТМК отгрузила партию высокотехнологичных обсадных труб в адрес Татнефти для использования в промышленной добыче сверхвязкой нефти на Ашальчинском месторождении в Татарстане. В поставку вошли обсадные трубы с премиальными резьбовыми соединениями TMK UP QX.
		br
		| ТМК и Газпромбурение, одно из крупнейших буровых предприятий России по строительству всех видов скважин, заключили стратегический договор на поставку бурильных труб сроком действия 3 года. ТМК будет являться ведущим поставщиком всего сортамента бурильных труб для Газпромбурение.
