extends ../layouts/default

block head
	- pageTitle = 'Ключевые показатели';

block recommend
	- pageId = '0401';
	- recommend_lang = lang;

block content
	//- img.inner_cover(src=globalPath + 'assets/images/04/04.jpg' alt=pageTitle)

	+quote_3("ГР. 4.1", "Объем продаж", "• 2012-2014", "/тыс. тонн /", "04/41/411.png")
	+quote_3("ГР. 4.2", "Выручка", "• 2012-2014", "/млн долл. США /", "04/41/412.png")
	+quote_3("ГР. 4.3", "EBITDA и маржа по EBITDA", "• 2012-2014", "/млн долл. США, % /", "04/41/413.png")
	+quote_3("ГР. 4.4", "Чистая прибыль*", "• 2012-2014", "/млн долл. США /", "04/41/414.png")

	.cb
	p.mtb50 * На показателе отрицательно сказались убыток от курсовых разниц в размере 301 млн долл. США по сравнению с 49 млн долл. США в 2013 году и убыток от обесценения активов в размере 153 млн долл. США.
