extends ../layouts/default

block head
	- pageTitle = 'Развитие бизнеса';

block recommend
	- pageId = '0402';
	- recommend_lang = lang;

block content
	p.excerpt В феврале 2015 года ТМК в рамках реализации стратегии вертикальной интеграции приобрела компанию ЧерметСервис-Снабжение, одного из крупнейших участников российского рынка лома черных металлов. Приобретение ломозаготовительной компании позволит нам обеспечить замкнутый цикл по снабжению российских предприятий ломом, гарантируя тем самым сырьевую безопасность.

	+quote_3("РИС. 4.1", "Схема развития бизнеса ТМК", "", "", "04/42/421.png")
