extends ../layouts/default

block head
	- pageTitle = 'Структура и география активов';

block recommend
	- pageId = '0403';
	- recommend_lang = lang;

block content
	+quote_3("Структура и география активов", "", "", "", "04/43/431.png")
