extends ../layouts/default

block head
	- pageTitle = 'Стратегия';

block recommend
	- pageId = '0404';
	- recommend_lang = lang;

block content
	p.excerpt Компании в 2014 году пришлось работать в непростых макроэкономических условиях,  связанных с девальвацией национальной валюты России, падением цен на нефть и повышением процентных ставок. В то же время ослабление рубля явилось стимулом для наращивания экспортных операций. Спрос на продукцию ТМК со стороны российских потребителей был и остается стабильным, а ограничения на экспорт в Россию американских и европейских нефтегазовых технологий в перспективе будут способствовать укреплению наших рыночных позиций. Санкции ЕС и США заставили российские нефтегазовые компании, такие как Газпром, обратить внимание на Восток, и мы планируем поставлять нашу продукцию для проектов, связанных с поставками газа в Китай.

	p Мы завершили реализацию основных этапов Стратегической инвестиционной программы. Сейчас ТМК представляет собой одну из самых современных производственных платформ в мире. Нашими стратегическими задачами на сегодняшний день являются:
		ul
			li сокращение капитальных затрат;
			li повышение производственной эффективности;
			li сокращение операционных расходов;
			li снижение долговой нагрузки до уровня Чистый долг/EBITDA 2,5;
			li улучшение сортамента продукции, фокус на продукцию с высокой добавленной стоимостью;
			li разработка и продажи новых видов премиальной продукции, ориентация на замещение импорта в нефтегазовой отрасли России и доведение доли премиальных продуктов в объемах отгрузки труб OCTG до более 30 % к 2018 году;
			li  развитие нефтесервисных услуг во всех регионах присутствия Компании.
