extends ../layouts/default

block head
	- pageTitle = 'Стратегическая инвестиционная программа 2004-2014 — этапы и результаты';

block recommend
	- pageId = '0405';
	- recommend_lang = lang;

block content
	+quote_circle("left", "ДОСТИЖЕНИЯ ТМК В ОБЛАСТИ МОДЕРНИЗАЦИИ ТРУБНОГО ПРОИЗВОДСТВА", "были высоко оценены Правительством Российской Федерации", "04/45/451.png")
	p.excerpt В 2014 году ТМК завершила основную часть Стратегической инвестиционной программы, которая стартовала в 2004 году. В течение 10 лет на предприятиях Компании шла масштабная реконструкция, которая привела к полному обновлению производства. Получив в свое распоряжение новейшее оборудование и технологии, ТМК значительно нарастила арсенал своих возможностей на рынке:

	ul
		li мы повысили качественные характеристики наших труб и снизили затраты на их производство;
		li в целом обеспечили наши предприятия трубной заготовкой собственного производства и улучшили ее качество;
		li расширили сортамент и объемы производства труб для нефтегазовой отрасли, в том числе премиальных;
		li повысили эксплуатационные свойства нашей продукции за счет внедрения современных средств контроля, испытаний и нанесения покрытий;
		li уменьшили вредное воздействие на окружающую среду.


	p.cb Общий объем инвестиций, направленных на обновление производства, внедрение современных технологий и приобретение оборудования выплавки стали и производства трубы составил 3,8 млрд долл. США.


	p Крупнейшими нашими проектами стали:
		ul
			li сталеплавильный комплекс на ТАГМЕТе мощностью 950 000 тонн стали / год;
			li сталеплавильный комплекс на СТЗ мощностью  950 000 тонн стали / год;
			li линия по производству прямошовных ТБД на ВТЗ мощностью 600 000 тонн труб / год;
			li трубопрокатный комплекс со станом PQF на ТАГМЕТе мощностью 600 000 тонн труб / год;
			li трубопрокатный комплекс со станом FQM на СТЗ мощностью 635 000 тонн труб / год.

	h3.cb ОСНОВНЫЕ ЭТАПЫ РЕАЛИЗАЦИИ СТРАТЕГИЧЕСКОЙ ИНВЕСТИЦИОННОЙ ПРОГРАММЫ
	+quote_3("Основные этапы реализации стратегической инвестиционной программы", "2004-2007", "", "", "04/45/2004-2007.jpg")
	+quote_3("Основные этапы реализации стратегической инвестиционной программы", "2008-2009", "", "", "04/45/2008-2009.jpg")
	+quote_3("Основные этапы реализации стратегической инвестиционной программы", "2010-2012", "", "", "04/45/2010-2012.jpg")
	+quote_3("Основные этапы реализации стратегической инвестиционной программы", "2013-2014", "", "", "04/45/2013-2014.jpg")
	p В 2014 году на развитие производственных мощностей мы затратили 293 млн долл. США, инвестиционная программа ТМК на 2015-2016 годы составит около 519 млн долл. США. Средства будут направлены на финишные операции: термообработку, отделку труб, нанесение покрытий, нарезку резьб, производство муфт, совершенствование средств контроля. В том числе на площадках ТМК IPSCO планируется улучшать и увеличивать производительность термообработки труб, совершенствовать нарезные мощности, построить линию наружного покрытия. Эти проекты позволят нам увеличить стоимость и качество нашей продукции.

	+quote_3("ГР. 4.5", "Изменение производственных мощностей предприятий ТМК *", "• 2004-2014", "/тыс. тонн/ <br><br>* с учетом приобретенных компаний", "04/45/452.png")
