extends ../layouts/default

block head
	- pageTitle = 'ТМК на мировом трубном рынке';

block recommend
	- pageId = '0406';
	- recommend_lang = lang;

block content
	p.excerpt ТМК в 2014 году поставила своим клиентам 4 402 тыс. тонн труб, что на 3 % выше показателя 2013 года. С 2009 года мы являемся мировым лидером по производству стальных труб.

	p Основным направлением деятельности для нас является производство продукции для нефтегазовой отрасли. Трубы нефтегазового сортамента составляют 78 % в общем объеме наших продаж.
	+quote_3("ГР. 4.6", "Продуктовый портфель", "• 2014", "", "04/46/461.png")
	+quote_3("ГР. 4.7", "Продажа по отраслям", "• 2014", "", "04/46/462.png")

	p Значительный объем нашей продукции поставляется в адрес крупнейших нефтегазовых компаний. В перечень основных потребителей нашей продукции входят российские компании Роснефть, Газпром, Сургутнефтегаз, Лукойл, Транснефть, Газпромнефть.
	p Большие объемы продукции поставляются ведущему американскому дистрибьютору премиальной продукции нефтегазового сортамента компании Bourland and Leverich. Продажи в адрес наших пяти крупнейших покупателей составили в 2014 году 32 % от общего объема реализованной продукции.
	+quote_3("ГР. 4.8", "Продажи в разрезе потребителей", "• 2013", "", "04/46/463.png")
	+quote_3("ГР. 4.9", "Продажи в разрезе потребителей", "• 2014", "", "04/46/464.png")

	p Мы осуществляем поставки нашей продукции в более чем 80 стран мира. Этому способствует разветвленная сеть дилеров и официальных представительств Компании по всему миру. В 2014 году продажи на российском рынке составили 55 % от общего объема выручки, на американском — 34 %, на европейском — 7 %
	+quote_3("ГР. 4.10", "География продаж ТМК, доли выручки", "• 2014", "", "04/46/465.png")
	p На страны Центральной Азии и Каспийского и Ближневосточного регионов пришлось 4 % выручки. Географическая диверсификация наших активов и наших продаж позволяет нам минимизировать риски и неопределенности и использовать преимущества каждого рынка.

	h4 ДИНАМИКА ПРОДАЖ ТРУБ ТМК ПО ДИВИЗИОНАМ, ТЫС. ТОНН
	table.table_0406_1
		tr
			th
			th(colspan="3") Российский дивизион
			th(colspan="3") Американский дивизион
			th(colspan="3") Европейский дивизион
		tr
			td
			td 2014
			td 2013
			td % изм.

			td 2014
			td 2013
			td % изм.

			td 2014
			td 2013
			td % изм.
		tr.bold.orange_border_tb
			td ТРУБЫ ВСЕГО, В Т. Ч.
			td 3 198
			td 3 085
			td 4%
			td 1 019
			td 1 027
			td -1%
			td 185
			td 175
			td 5%
		tr
			td бесшовные трубы, в т. ч.
			td 2 014
			td 1 927
			td 5%
			td 361
			td 319
			td 13%
			td 185
			td 175
			td 5%
		tr
			td OCTG
			td 1 128
			td 1 079
			td 5%
			td 317
			td 279
			td 13 %
			td 0
			td 0
			td -
		tr
			td сварные трубы, в т. ч.
			td 1 184
			td 1 158
			td 2%
			td 658
			td 708
			td -7%
			td 0
			td 0
			td -
		tr.orange_border_b
			td трубы большого диаметра
			td 468
			td 442
			td 6%
			td 0
			td 0
			td -
			td 0
			td 0
			td -
//- http://codepen.io/lkp/pen/OVGygJ?editors=110
