extends ../layouts/default

block head
	- pageTitle = 'Рынок Северной Америки';

block recommend
	- pageId = '0408';
	- recommend_lang = lang;

block content
	p.excerpt По данным Baker Hughes, в 2014 году среднее число буровых установок в США выросло на 6 % и составило 1 862 штуки по сравнению с 1 761 установкой в 2013 году в связи с увеличением объема буровых работ по нефтедобыче.
	+quote_3("ГР. 4.13", "Число буровых газовых и нефтяных установок в США", "• 2009 - 2014", "/шт./", "04/48/481.png", "Источник:<br> Baker Hughes")

	p Одновременно с ростом числа буровых установок вырос показатель объема потребления трубной продукции на одну установку на фоне сохраняющейся тенденции к увеличению доли горизонтального бурения, характеризующегося более высоким потреблением труб. За 2014 год доля установок для горизонтального и наклоннонаправленного бурения в общем числе буровых установок выросла по сравнению с предыдущим годом с 75 % до 80 %.
	+quote_3("ГР. 4.14", "Распределение буровых установок в США по видам бурения", "• 2009 - 2014", "/ % /", "04/48/482.png", "Источник:<br> Baker Hughes")
	p Рост числа установок вместе с увеличением количества труб, потребляемых одной установкой в результате повышения эффективности бурения и увеличения количества горизонтальных скважин, привели к росту потребления OCTG в США на 18 %.
	+quote_3("ГР. 4.15", "Потребление OCTG труб, США", "• 2010 - 2014", "/тыс. тонн/", "04/48/483.png", "Источник:<br> Preston Pipe Report, <br>оценка TMK")
	p Принятое в июле решение о введении антидемпинговых пошлин на импорт OCTG в США из некоторых стран позволило локальным производителям увеличить свою долю рынка OCTG.
	p Важным событием для газовых и нефтяных сланцевых месторождений стало продолжение усовершенствования технологий, что позволило производителям природного газа и нефти увеличить число этапов гидроразрыва пласта и длину горизонтальных скважин, в результате чего повысилась их производительность. Как результат, спрос на бесшовные тубы и премиальные соединения с высокой добавленной стоимостью вырос, в том числе со стороны компаний, добывающих сланцевую нефть, за счет необходимости использования труб с улучшенными характеристиками в сложных скважинах.
	p Реализация труб с премиальными соединениями нашими американскими предприятиями выросла до 250 тыс. тонн.
	+quote_3("ГР. 4.16", "Реализация Американским дивизионом труб с премиальными резьбовыми соединениями", "• 2010 - 2014", "/тыс. тонн/", "04/48/484.png", "Источник:<br>оценка TMK")
	+quote_blue_revert("left", "Реализация труб с премиальными соединениями нашими американскими предприятиями выросла до", "250 тыс. тонн")
	p В 2014 году ТМК IPSCO завершило проектирование и разработку пяти новых премиальных соединений, которые Компания планирует протестировать и представить рынку в 2015 году. Продукты включают как усовершенствованные соединения прежних образцов, так и новые соединения.
	p Компания также успешно развивает несколько собственных марок стали для труб OCTG, а также различные коррозионностойкие марки для OCTG и линейных труб.
