extends ../layouts/default

block head
	- pageTitle = 'Европейский рынок';

block recommend
	- pageId = '0409';
	- recommend_lang = lang;

block content
	p.excerpt В 2014 году низкий уровень спроса и избыток производственных мощностей привели к усилению конкуренции на европейском рынке и снижению цен. Ситуация осложнялась ростом импорта труб из стран, не входящих в ЕС.
	+quote_circle("left" ,"ТРУБОПРОКАТНЫЙ АГРЕГАТ,", "с реечным станом CPE на ТМК-ARTROM (г. Слатина, Румыния)", "04/49/491.png")
	p Несмотря на ухудшающиеся рыночные условия, Европейский дивизион реализовал в 2014 году 185 тыс. тонн труб, что на 5 % выше показателя прошлого года.

	p В целях сохранения и укрепления своих рыночных позиций Европейский дивизион в 2014 году предпринял следующие шаги:
		ul
			li внедрение в производство новых видов стали с высокой добавленной стоимостью;
			li увеличение доли продукции для энергетического и автотранспортного секторов;
			li квалификация ТМК-АРТРОМ в качестве уполномоченного поставщика таких крупнейших компаний, как General Electric, Dacia (входит в концерн Renault), Нефтяная индустрия Сербии.
