extends ../layouts/default

block head
	- pageTitle = 'Ближневосточный рынок';

block recommend
	- pageId = '0410';
	- recommend_lang = lang;

block content
	p.excerpt Мы стремимся упрочить свое присутствие  в основных нефте- и газодобывающих регионах мира, в том числе на Ближнем Востоке. В 2014 году предприятия ТМК продолжили активную работу по квалификации в ведущих нефтегазовых компаниях региона.
	+quote_circle("left" ,"ПРОДУКЦИЯ ПРЕДПРИЯТИЯ TMK GIPI,", "(г. Сохар, Султанат Оман)", "04/410/4101.png")
	p В прошлом году была пройдена квалификация сварных линейных труб TMK GIPI для Saudi Arabian Chevron в Кувейте и для государственного проекта ОАЭ по строительству города Masdar. Также был успешно завершен и расширен ряд квалификаций продукции наших российских предприятий в нефтегазовых компаниях региона Ближнего Востока и Северной Африки, включая компании Abu Dhabi Company for Offshore Oil Operations (ADCO) в ОАЭ, Missan Oil Company в Ираке, Cairn India, Gulf of Suez Petroleum Company (GUPCO), Mansoura Petroleum и East Zeit Petroleum Company (Zeitco) в Египте.

	p Ведущий производитель трубной продукции в Омане завод TMK GIPI продолжает укреплять позиции лидера в Султанате Оман и в регионе в части поставок линейных труб для нефтяной и газовой промышленности.

	p В 2013 году TMK GIPI получил награду контролируемой правительством Султаната Оман компании Petroleum Development Oman (PDO), на долю которой приходится более 70 % добычи нефти в Омане и почти вся добыча природного газа, за особые успехи в производстве и поставке трубной продукции для проекта газопровода на юге страны протяженностью 158 километров.

	p Также в 2014 году TMK GIPI заключил контракт с PDO на поставку 18,4 тыс. тонн обсадных труб, которые будут использоваться компанией при бурении и обустройстве скважин.
