extends ../layouts/default

block head
	- pageTitle = 'Премиальные соединения и нефтесервисное обслуживание';

block recommend
	- pageId = '0411';
	- recommend_lang = lang;

block content
	p.excerpt Мы являемся одним из крупнейших производителей  премиальных соединений в мире, а также лидером российского рынка этого вида продукции. Трубы с премиальными резьбовыми соединениями предназначены для использования в нефтегазовых скважинах со сложными условиями эксплуатации, в том числе на шельфовых и глубоководных морских месторождениях, в условиях Крайнего Севера, а также при обустройстве горизонтальных и наклонно-направленных скважин, при разработке трудноизвлекаемых запасов углеводородов (сланцевый газ и нефтяные пески). Данный тип резьбовых соединений отличает высокая прочность и герметичность, повышенная стойкость к значительным крутящим, изгибающим и растягивающим нагрузкам.

	p Спрос на премиальные резьбовые соединения в 2014 году продолжал расти. Объем поставок труб OCTG с премиальными резьбовыми соединениями, разработанными нашими российскими и американскими подразделениями, вырос в 2014 году на 17 % по сравнению с предыдущим годом и составил 421 тыс. тонн.
	img.left(src=globalPath + 'assets/images/04/411/4111.png' alt=pageTitle)
	p В 2014 году на предприятиях ТМК в промышленное производство была запущена бессмазочная технология GreenWell, которая представляет собой сухое полимерное покрытие резьбовых соединений. Данное покрытие позволяет производить свинчивание резьбовых соединений обсадных и насосно-компрессорных труб без нанесения смазки, что существенно сокращает время на подготовку труб к спуску и позволяет снизить расходы нефтедобывающих компаний при освоении месторождений.

	p.cb В научно-исследовательском центре TMK IPSCO в Хьюстоне пройдена квалификация премиального соединения TMK UP PF с покрытием GreenWell по стандарту ISO 13679 на уровень требований CAL IV.

	p Российский завод ТАГМЕТ в прошлом году был квалифицирован одной из крупнейших нефтедобывающих компаний на Ближнем Востоке — Kuwait Oil Company (KOC) — в качестве одобренного поставщика премиальных резьбовых соединений ТМК UP PF и ТМК UP PF ET, что расширяет возможности по продвижению премиальной продукции Компании на Ближнем Востоке, одном из крупнейших рынков энергоресурсов.

	p Соединение ТМК UP PF используется как в насоснокомпрессорных, так и в обсадных трубных колоннах для скважин с высокой интенсивностью искривления ствола. Соединение ТМК UP PF ET обеспечивает высокую герметичность обсадной колонны при предельных нагрузках и крутящем моменте и может использоваться в сложных технологиях нефтегазодобычи, таких как бурение на обсадной колонне.

	p В 2014 году ТМК вышла на рынок с новым премиальным соединением TMK UP QX для добычи высоковязкой нефти. Обсадные трубы с соединениями TMK UP QX используются компанией Татнефть на Ашальчинском месторождении в Татарстане.

	p Данное соединение характеризуется высокой прочностью на сжатие, растяжение и изгиб и соответствует уровню требований CAL IV, что подтверждает возможность его использования в самых сложных условиях нефтедобычи. Также особенностью резьбового соединения TMK UP QX является возможность его сборки на наклонной мачте буровой установки.

	p Продукция предназначена для добычи сверхвязкой нефти методом парогравитационного дренажа (SAGD), который подразумевает бурение двух параллельных горизонтальных скважин — для нагнетания пара в пласт и растепления вязкой нефти, а также для добычи нефти.

	p Из-за малой глубины залегания нефтеносных пластов скважины на Ашальчинском месторождении бурятся с применением наклонно-направленных буровых установок, что связано с невозможностью набора кривизны ствола при стандартном методе строительства. В первом спуске в скважину обсадной колонны с продукцией ТМК участвовали специалисты ТМК Нефтегазсервис-Бузулук.
	img.right(src=globalPath + 'assets/images/04/411/4112.png' alt=pageTitle)
	p В прошлом году соединения ТМК UP CWB были использованы при технологии бурения на обсадной колонне компанией Роспан Интернешнл. Данный метод применяется для устранения осложнений в процессе бурения скважин, например прохождения пластов с разным давлением. Для этой технологии премиальные резьбовые соединения ТМК использовались впервые.

	p Соединения ТМК CWB также применяются при технологии спуска труб с вращением, что позволяет экономить время на строительство горизонтальных скважин.

	p В 2014 году разработано и прошло испытания премиальное резьбовое соединение TMK UP Magna, выпускаемое для труб диаметра 340–508 мм, которое может применяться в скважинах в качестве кондуктора — направления обсадной колонны. Соединение имеет дополнительный упор, исключающий риск «перекрутить» соединение во время спуска, а также обладает специальным профилем резьбы, обеспечивающим легкость и безаварийность сборки обсадных труб большого диаметра.

	p Предоставляемые нами нефтесервисные услуги включают в себя производство и ремонт бурильных, насосно-компрессорных и обсадных труб, термообработку, нанесение защитных покрытий, изготовление широкого сортамента элементов трубных колонн и скважинного оборудования, а также нарезку трубной продукции, ремонт, обслуживание труб и насосных штанг и т. п.

	p С 2014 года мы начали оказывать на коммерческой основе услуги по инженерному сопровождению спуска обсадных и насосно-компрессорных труб с резьбовыми соединениями класса «Премиум». Для этого в структуре ООО «ТМК НГС-Бузулук» был создан единый центр оказания данных услуг. За 2014 год при сопровождении специалистов ООО «ТМК НГСБузулук» было выполнено более 50 спусков на месторождениях компаний Роснефть-Ставропольнефтегаз, Лукойл-Нижневолжскнефть, Татнефть, Ямал СПГ, Жаикмунай и др.

	p Мы также предоставляем услуги нефтесервисным компаниям. Для Schlumberger мы осуществляли спуски в скважины, Halliburton пользуется нашим механическим комплексом по нарезке и изготовлению определенных элементов подземного оборудования, ремонтирует трубы.

	p Увеличение спектра предоставляемых услуг вкупе с расширением линейки продукции является ключевым направлением нашего развития.

	+quote_3("РИС. 4.3", "Использование продукции ТМК для добычи и транспортировки нефти и газа", "", "", "04/411/4113.png")
	+quote_3("РИС. 4.4", "Схема трубной колонны с премиальными резьбовыми соединениями ТМК UP", "", "", "04/411/4114.png")
	+quote_3("РИС. 4.5", "Технология парогравитационного дренажа SAGD", "", "", "04/411/4115.png")
