extends ../layouts/default

block head
	- pageTitle = 'Ценные бумаги компании';

block recommend
	- pageId = '05';
	- recommend_lang = lang;

block content
	h3 Акционерный капитал и дивиденды

	p.excerpt Количество выпущенных ОАО «ТМК» акций  по состоянию на 1 января 2014 года составляло 937 586 094 полностью оплаченных обыкновенных акций номинальной стоимостью 10 рублей.

	img.inner_cover(src=globalPath + 'assets/images/05/05.jpg' alt=pageTitle)

	p В июне 2014 года Совет директоров ОАО «ТМК» принял решение об увеличении уставного капитала Компании путем размещения дополнительных акций в количестве 56 000 000 штук по открытой подписке. Цена размещения была определена в размере 101,25 рубля за одну акцию.
	p В декабре 2014 года Компания разместила 54 321 166 акций. Основная часть дополнительного выпуска акций ОАО «ТМК» была приобретена ОАО «РОСНАНО», в результате чего ОАО «РОСНАНО» стало владельцем 5,476 % акций ОАО «ТМК». Состав иных акционеров, владеющих пятью и более процентами голосов, в 2014 году не менялся.
	p Количество выпущенных ОАО «ТМК» и полностью оплаченных обыкновенных акций по состоянию на 31 декабря 2014 года составило 991 907 260.
	p В первом квартале 2015 года зарегистрированы изменения Устава ОАО «ТМК», согласно которым уставный капитал ОАО «ТМК» составляет 9 919 072 600 (девять миллиардов девятьсот девятнадцать миллионов семьдесят две тысячи шестьсот) рублей и состоит из 991 907 260 (девятисот девяноста одного миллиона девятисот семи тысяч двухсот шестидесяти) обыкновенных именных акций номинальной стоимостью 10 (десять) рублей каждая (размещенные акции).
	p ОАО «ТМК» не имеет выпущенных в обращение или объявленных привилегированных акций.

	h4 КОЛИЧЕСТВО АКЦИЙ ПО СОСТОЯНИЮ НА 31 ДЕКАБРЯ 2014 ГОДА:

	table.table_05_1
		tr
			th(colspan='2') Количество акций
			th %
		tr
			td TMK Steel Ltd. (учитывая аффилированные лица) *
			td 672 030 999
			td 67,75 %
		tr
			td Дочерние компании ОАО «ТМК»
			td 53 577
			td 0,005 %
		tr
			td TMK Bonds S. A. **
			td 71 505 956
			td 7,21 %
		tr
			td Rockarrow Investments Limited
			td 1 014 095
			td 0,102 %
		tr
			td В свободном обращении
			td 247 302 633
			td 24,93 %
		tr.bold.orange_border_b
			td ВСЕГО:
			td 991 907 260
			td 100,00 %
	//- http://codepen.io/lkp/pen/xGedXR?editors=110
	+quote_2("*Д. А. Пумпянский является основным бенефициаром.", "**Компания TMK Bonds S. A. является держателем 17 876 489 Глобальных депозитарных расписок (ГДР) ТМК, что составляет 71 505 956 акций ОАО «ТМК», или 7,21% от уставного капитала ОАО «ТМК», в целях обеспечения обязательств по конвертации в ГДР ТМК облигаций на сумму 412,5 млн долл. со сроком обращения до 2015 года, выпущенных TMK Bonds S. A. в феврале 2010 года. 11 февраля 2015 года облигации были полностью погашены.")

	p В свободном обращении по состоянию на 31 декабря 2014 года находилось 24,93 % акций ОАО «ТМК», из которых около 70 % — в виде ГДР, обращающихся на Лондонской фондовой бирже. Члены Совета директоров ОАО «ТМК» и Менеджмент совместно владели 457 690 акциями, что составляет 0,046 % уставного капитала Общества.
	p Ценные бумаги ОАО «ТМК» обращаются на российских и мировых фондовых биржах:
	p Акции обращаются на Московской бирже под торговым тикером TRMK (Bloomberg: TRMK:RM / Reuters: TRMK.MM);
	p Глобальные депозитарные расписки (ГДР) обращаются на Лондонской фондовой бирже под торговым тикером TMKS (Bloomberg: TMKS:LI / Reuters: TRMKq.L);

	table.table_05_2
		tr
			th(colspan=2) REG.S
			th  144A
		tr
			td CUSIP:
			td 87260R201
			td 87260R102
		tr
			td SEDOL:
			td B1FY0V4
			td B1G3K21
		tr
			td ISIN:
			td US87260R2013
			td US87260R1023

	p Американские депозитарные расписки (АДР) обращаются на внебиржевой торговой площадке OTCQX под торговым тикером TMKXY (Bloomberg: TMKXY:US / Reuters: TMKXY.PK).

	table.table_05_3.border_t
		tr
			td CUSIP:
			td 87260R300
		tr
			td SEDOL:
			td B4VF6B4
		tr
			td ISIN:
			td US87260R3003
	//- http://codepen.io/lkp/pen/BNERJq?editors=110

	h4 ИСТОРИЯ ВЫПЛАТЫ ДИВИДЕНДОВ:

	table.table_05_4
		tr
			th Период
			th Объявлено дивидендов на 1 акцию*, руб.
			th Всего объявлено дивидендов,  руб.
			th Доля выплаченных дивидендов** в общем размере объявленных дивидендов, %
		tr
			td 2008 год
			td  1,75
			td  1 527 751 750,00
			td  99,99 %
		tr
			td 2009 год
			td -
			td -
			td
		tr
			td 2010 год
			td 0,85
			td 796 948 180,00
			td 99,98 %
		tr
			td 2011 год
			td  3,63
			td  3 403 437 521,22
			td  99,98 %
		tr
			td 2012 год
			td  2,34
			td  2 193 951 459,96
			td  99,98 %
		tr
			td 2013 год
			td  1,82
			td  1  706 406 691,08
			td 99,98 %
		tr.orange_border_b
			td 6 мес. 2014 года
			td  0,397
			td  393 786 159,48
			td  99,98 %
	//- http://codepen.io/lkp/pen/RPOVyM?editors=110

	p На 31 декабря 2014 года рыночная капитализация ТМК составила 533 млн долл. США.

	+quote_2("*указанная сумма объявленных дивидендов на 1 акцию является суммой объявленных промежуточных и годовых дивидендов на 1 акцию, за исключением дивидендов за 2008 год и 6 мес. 2014 года, являющихся промежуточными.", "**дивиденды выплачены не в полном объеме по причине отсутствия правильных банковских реквизитов в лицевых счетах некоторых акционеров и в связи с отсутствием акционеров по указанным в лицевых счетах адресам.")
