extends ../layouts/default

block head
	- pageTitle = 'Заявление Совета директоров ОАО «ТМК» о соблюдении принципов корпоративного управления, закрепленных кодексом корпоративного управления, рекомендованным банком россии к применению эмитентами, чьи ценные бумаги допущены к организованным торгам';

block recommend
	- pageId = '0601';
	- recommend_lang = lang;

block content
	img.inner_cover(src=globalPath + 'assets/images/06/06.jpg' alt=pageTitle)
	p.excerpt Масштабы деятельности ТМК и ее вовлеченность в работу как на российском, так и на зарубежных фондовых рынках сопряжены с высокой степенью ответственности Компании. Мы проводим последовательную работу по совершенствованию системы корпоративного управления, полностью соблюдая законодательные требования и требования биржевого листинга, а также внедряя лучшие практики в нашу систему корпоративного управления.

	p В 2011 году ТМК как компания, имеющая стандартный листинг на Лондонской фондовой бирже, приняла Кодекс корпоративного управления ОАО «ТМК» (ККУ ТМК) и ежегодно подтверждает полное соблюдение его положений в практической деятельности.

	p В 2014 году мы начали работу по приведению внутренних документов и процедур корпоративного управления в соответствие с новыми Правилами листинга Фондовой биржи ММВБ, утвержденными 31 декабря 2013 года. В связи с принятием российским регулятором финансового рынка нового Кодекса корпоративного управления (ККУ РФ) потребовалось дополнительное время на имплементацию его положений в сложившуюся в Компании систему.

	p Система корпоративного управления ТМК базируется на принципах, закрепленных в ККУ РФ. В то же время конкретные механизмы реализации этих принципов в той или иной мере отличаются от рекомендаций Кодекса. Наша практика корпоративного управления регламентируется внутренними документами Компании, представленными на сайте в сети Интернет (<a href='http://www.tmk-group.ru/Documents'>http://www.tmk-group.ru/Documents</a>), и в обобщенном виде отражена в ККУ ТМК (<a href='http://www.tmk-group.ru/media_ru/fies/51/corp_gov_code_ru.pdf'>http://www.tmk-group.ru/media_ru/fies/51/corp_gov_code_ru.pdf</a>). Практика корпоративного управления Компании в 2014 году полностью соответствовала положениям Кодекса корпоративного управления ОАО «ТМК».

	p Настоящий Отчет содержит краткое описание наиболее существенных аспектов модели и практики корпоративного управления в ОАО «ТМК», а также Отчет о соблюдении принципов и рекомендаций Кодекса корпоративного управления. Оценка соблюдения принципов корпоративного управления, закрепленных в ККУ РФ, производилась по методологии, рекомендованной ФБ ММВБ (<a href='http://moex.com/s22'>http://moex.com/s22</a>).
	p Мы подтверждаем нашу приверженность принципам, закрепленным ККУ РФ, и будем продолжать последовательную работу по их наиболее полной реализации в интересах всех заинтересованных лиц, в том числе путем принятия новой редакции собственного Кодекса.
