extends ../layouts/default

block head
	- pageTitle = 'Структура корпоративного управления ОАО «ТМК»';

block recommend
	- pageId = '0602';
	- recommend_lang = lang;

block content
	p.excerpt Высшим органом управления ОАО «ТМК» является Общее собрание акционеров (ОСА). Основные полномочия по управлению делегируются акционерами Совету директоров. Совет директоров в целях обеспечения оперативного управления избирает Генерального директора и утверждает предложенные им кандидатуры членов Правления. Совет директоров также выдвигает кандидатуры для образования исполнительных органов и кандидатов в состав советов директоров подконтрольных организаций ОАО «ТМК».
	p Совет директоров создает комитеты Совета директоров, чьи решения носят рекомендательный характер.
	p Для осуществления эффективного контроля за финансово-хозяйственной деятельностью Компании, а также за исполнением требований законодательства РФ, ОСА избирает Ревизионную комиссию и утверждает аудитора.

	+quote_3("СХЕМА 6.1", "Структура корпоративного управления ОАО «ТМК»", "", "", "06/62/621.png")
