extends ../layouts/default

block head
	- pageTitle = 'Права акционеров и равенство условий при их осуществлении';

block recommend
	- pageId = '0603';
	- recommend_lang = lang;

block content
	p.excerpt Основным способом реализации акционерами своих прав, отраженных в Уставе Компании, является их участие в Общем собрании, а также возможность определять размер и порядок выплаты дивидендов. Мы следуем всем рекомендациям по проведению существенных корпоративных действий, позволяющих обеспечить защиту прав и равное отношение к акционерам.
	p Ежегодно в обязательном порядке проводится годовое Общее собрание акционеров. Также могут проводиться внеочередные общие собрания по решению Совета директоров, либо по инициативе Ревизионной комиссии, аудитора, или акционеров (акционера), владеющих не менее 10 процентами акций.
	p Акционеры, владеющие не менее чем двумя процентами акций, могут вносить предложения в повестку дня годового Общего собрания и выдвигать кандидатов в Совет директоров, Ревизионную комиссию и Счетную комиссию, созывать заседания Совета директоров.
	p В 2014 году было проведено годовое и одно внеочередное Общее собрание акционеров. В повестку дня собраний были включены следующие вопросы: утверждение Годового отчета и Годовой бухгалтерской отчетности, распределение прибыли по результатам 2013 года и первого полугодия 2014 года, выборы Совета директоров и избрание Ревизионной комиссии, утверждение аудитора, а также одобрение сделок, в совершении которых имеется заинтересованность.
	p В нашей Дивидендной политике определены основные условия выплаты дивидендов, порядок определения их размера и порядок принятия решения о выплате, а также ответственность за неполную или несвоевременную выплату дивидендов (<a href='http://www.tmk-group.ru/media_ru/fies/51/divpolicy_150307_l.pdf'>http://www.tmk-group.ru/media_ru/fies/51/divpolicy_150307_l.pdf</a>). Сведения о выплате дивидендов в 2014 году приведены в разделе «Ценные бумаги Компании настоящего Годового отчета».
