extends ../layouts/default

block head
	- pageTitle = 'Комитеты совета директоров';

block recommend
	- pageId = '0605';
	- recommend_lang = lang;

block content
	p При Совете директоров постоянно действуют три комитета: Комитет по аудиту, Комитет по назначениям и вознаграждениям, Комитет по стратегическому развитию. Состав комитетов сформирован Советом директоров в соответствии с требованиями ККУ ТМК, устанавливающего, что в состав Комитета по аудиту и Комитета по назначениям и вознаграждениям могут входить только независимые директора, а если это невозможно в силу объективных причин — только независимые директора и неисполнительные директора.
	p В 2014 году персональный состав комитетов не менялся.

	p.orange Участие членов совета директоров в заседаниях совета директоров и заседаниях комитетов совета директоров, в которые они избраны, в 2014 году:
	table.table_0605_1
		tr
			th
			th Совет директоров
			th Комитет по аудиту
			th Комитет по назначениям и вознаграждениям
			th Комитет по стратегическому развитию
		tr
			td
			td (30 заседаний)
			td (9 + 1 совместное заседание)
			td (7 + 1 совместное заседание)
			td (5 + 2 совместных заседаний)
		tr
			td Пумпянский Д. А. (Председатель)
			td 30
			td
			td
			td
		tr
			td Алексеев М. Ю.
			td 30
			td 6
			td 8
			td
		tr
			td Каплунов А. Ю.
			td 30
			td
			td
			td
		tr
			td О’Брайен Питер
			td 30
			td 10
			td
			td
		tr
			td Папин С. Т.
			td 30
			td
			td 8
			td
		tr
			td Благова Е. Е.
			td 27
			td
			td
			td
		tr
			td Форесман Р. М.
			td 28
			td
			td 6
			td
		tr
			td Хмелевский И. Б.
			td 30
			td 10
			td
			td
		tr
			td Ширяев А. Г.
			td 30
			td
			td
			td 7
		tr
			td Шохин А. Н.
			td 30
			td
			td
			td 7
		tr
			td Щеголев О. А.
			td 30
			td
			td
			td 7

	h4.mtb50 Комитет по аудиту

	table.table_0605_2
		tr
			td О’Брайен Питер
			td Председатель Комитета, независимый директор
		tr
			td Алексеев Михаил Юрьевич
			td Член Комитета и Председатель Комитета по назначениям и вознаграждениям, независимый директор
		tr
			td Хмелевский Игорь Борисович
			td Член Комитета, неисполнительный директор

	p Председатель Комитета по аудиту Питер О’Брайен и член Комитета Алексеев Михаил Юрьевич соответствуют рекомендациям ККУ РФ в отношении их компетенций в области анализа и оценки отчетности.
	p Деятельность Комитета по аудиту в 2014 году и в период с 1 января 2015 года по 31 марта 2015 года состояла в решении следующих основных задач Комитета:
	ul
		li анализ учетной политики и контроль финансовой отчетности Компании;
		li проверка стандартов и правил Компании для осуществления внутреннего контроля и управления рисками, оценка эффективности указанных систем и рекомендации по их улучшению;
		li проверка планов и отчетов Службы внутреннего аудита, в том числе в отношении противодействия неправомерному использованию инсайдерской информации, оценка эффективности осуществления функции внутреннего аудита;
		li взаимодействие с Ревизионной комиссией;
		li предоставление рекомендаций Совету директоров относительно избрания внешнего аудитора, оценка степени независимости внешнего аудитора;
		li проверка плана и масштаба аудита, активный обмен информацией с внешним аудитором по вопросам, возникающим в результате аудита.

	h4 Наблюдение комитета по аудиту за внешним аудитом финансовой отчетности
	p Комитет рассмотрел следующие ключевые вопросы, связанные с подготовкой и аудитом отдельной и консолидированной бухгалтерской (финансовой) отчетности ОАО «ТМК» за 2014 год и промежуточные периоды 2014 года:
	ul
		li планирование аудита консолидированной финансовой отчетности Группы ТМК (ОАО «ТМК» и его дочерних предприятий), подготовленной в соответствии с Международными стандартами финансовой отчетности (МСФО) на очередной финансовый год;
		li заключения внешнего аудитора в отношении бухгалтерской (финансовой) отчетности ОАО «ТМК», составленной в соответствии с законодательством Российской Федерации, и консолидированной финансовой отчетности Группы ТМК по МСФО;
		li рассмотрение письма внешнего аудитора ТМК по вопросам внутреннего контроля по результатам годового аудита, оценка существующих в Компании контрольных процедур за составлением финансовой отчетности ТМК;
		li анализ качества и оценка эффективности работы внешнего аудитора ТМК;
		li рассмотрение вопроса о выборе внешнего независимого аудитора отдельной и консолидированной бухгалтерской (финансовой) отчетности ОАО «ТМК» на 2015-2017 годы

	p Комитет по аудиту рассмотрел отчетность ОАО «ТМК», составленную в соответствии с установленными в Российской Федерации правилами составления бухгалтерской (финансовой) отчетности, а также заключение аудитора и рекомендовал Совету директоров вынести Годовую бухгалтерскую (финансовую) отчетность на утверждение на Годовом Общем собрании акционеров.
	p Комитет рассмотрел и положительно оценил качество работы внешнего и внутреннего аудиторов.

	h3 Комитет по назначениям и вознаграждениям

	table.table_0605_3
		tr
			td Алексеев Михаил Юрьевич
			td Председатель Комитета и член Комитета по аудиту, независимый директор
		tr
			td Папин Сергей Тимофеевич
			td Член Комитета, неисполнительный директор
		tr
			td Форесман Роберт Марк
			td Член Комитета, независимый директор

	p Деятельность Комитета по назначениям и вознаграждениям направлена на создание условий для привлечения к управлению Компанией квалифицированных специалистов и формирование стимулов для их эффективной деятельности, а также совершенствование системы корпоративного управления и приведение ее в соответствие с лучшей международной практикой.
	p В отчетном периоде Комитетом рассмотрены и представлены Совету директоров рекомендации, включающие:
	ul
		li оценку итогов деятельности топ-менеджеров Компании за предыдущий отчетный год, ключевые показатели эффективности деятельности и условия мотивации на новый плановый период;
		li вопросы формирования единой компенсационной политики Американского дивизиона ТМК;
		li вопросы унификации системы управления, оптимизации организационных структур и численности руководителей и специалистов различных категорий на предприятиях ТМК;
		li организационно-кадровые вопросы деятельности дивизионов ТМК;
		li вопросы деятельности блока НГС1 Российского дивизиона ТМК;
		li вопросы вознаграждения членов Совета директоров Компании;
		li показатели бюджета на плановый период по фонду оплаты труда и численности персонала по дивизионам ТМК, контроль показателей по труду и принятие оперативных мер, исходя из изменений экономической ситуации;
		li вопросы системного обучения и развития персонала;
		li текущие и перспективные направления работы с персоналом Компании, HR-проекты, разработка профессиональных стандартов, проведение оценки условий труда, организация молодежной научно-практической конференции;
		li планирование работы органов корпоративного управления Компании, подготовка и организация Годового Общего собрания акционеров Компании.
	+quote_2("* Блок НГС — компании, оказывающие сервисные услуги предприятиям нефтяной и газовой промышленности.", "")

	p Комитет также представил Совету директоров рекомендации по избранию Председателя и членов Совета директоров Компании на корпоративный год, членов Комитетов Совета директоров, подтверждению полномочий Генерального директора на новый срок, избранию членов Правления.
	p Комитетом давалась оценка деятельности всех элементов системы корпоративного управления, ставились задачи по ее развитию. Рекомендации Комитета способствовали принятию Советом директоров взвешенных решений, обеспеченных эффективными инструментами реализации и контроля.
	p В отчетном периоде Комитет работал на основании утвержденного Положения о Комитете и Плана работ, который при необходимости корректировался (с соблюдением установленного порядка) в целях рассмотрения приоритетных для Компании вопросов.
	p На заседание Комитета регулярно приглашались члены исполнительного руководства и топменеджеры Компании, что позволяло получать дополнительную информацию и принимать более взвешенные и конструктивные рекомендации.

	h3 Комитет по стратегическому развитию
	table.table_0605_4
		tr
			td Шохин Александр Николаевич
			td Председатель Комитета, независимый директор
		tr
			td Щеголев Олег Александрович
			td Член Комитета, независимый директор
		tr
			td Ширяев Александр Георгиевич
			td Член Комитета, Генеральный директор, Председатель Правления

	p Задачами Комитета по стратегическому развитию являются разработка и представление Совету директоров рекомендаций по вопросам выработки приоритетных направлений деятельности и стратегии развития Компании.
	p В 2014 году Комитет рассмотрел и представил Совету директоров рекомендации по следующим вопросам:
	ul
		li реализация Бизнес-плана ТМК до 2020 года;
		li анализ целевых рынков ТМК до 2017 года и система их мониторинга;
		li инвестиционная программа ТМК на 2014 год;
		li система технических продаж в ТМК;
		li бюджет ТМК на 2014 год;
		li рекомендации по сделкам «слияний и поглощений», продаже активов и созданию совместных предприятий;
		li карта рисков на 2014 год и мероприятия по минимизации ключевых рисков в 2014 году;
		li рекомендации о распределении дивидендов в соответствии с дивидендной политикой Компании.
