extends ../layouts/default

block head
	- pageTitle = 'Оценка качества работы совета директоров';

block recommend
	- pageId = '0606';
	- recommend_lang = lang;

block content
	p.excerpt На заседании Комитета по назначениям и вознаграждениям, состоявшемся в конце апреля 2014 года, была дана следующая оценка работы Совета директоров и состояния корпоративного управления ОАО «ТМК» в 2013/14 корпоративном году:
	p В Обществе поддерживаются и продуктивно взаимодействуют все основные элементы эффективного корпоративного управления: Совет директоров с участием значительного числа независимых директоров, инициативно действующие Комитеты Совета директоров, эффективная функция внутреннего аудита, независимый внешний аудит, процедуры раскрытия информации. Деятельность Совета директоров в целом и персонально Председателя Совета директоров Общества может быть признана удовлетворительной.
	p Оценка работы Совета директоров проводится с 2006 года. В настоящее время состав Совета директоров Общества и организация его работы отвечают требованиям современной корпоративной практики, что позволяет принимать конструктивные взвешенные и своевременные решения.
	p На основе имеющейся информации подтверждается соответствие статуса независимых директоров установленным требованиям. Деятельность независимых директоров в составе Совета директоров и его Комитетов оценивается как продуктивная.
	p Структура вознаграждения и компенсации расходов членов Совета директоров обеспечила в отчетном периоде в целом адекватные выплаты неисполнительным членам Совета директоров за их работу в составе Совета директоров и Комитетов.
	p Состав и содержание вопросов, рассмотренных в отчетном периоде Комитетами Совета директоров, отвечали приоритетам развития ТМК, соответствовали профилю и области компетенции Комитетов.
	p Деятельность Корпоративного секретаря соответствовала надлежащей корпоративной практике и может быть признана удовлетворительной.
	p Взаимодействие Совета директоров и Комитетов Совета директоров с членами Правления и другими топ-менеджерами Общества оценивается как продуктивное. Был обеспечен оперативный обмен информацией, что способствовало принятию своевременных и конструктивных решений и позволило организовать эффективный контроль их исполнения.
