extends ../layouts/default

block head
	- pageTitle = 'Раскрытие информации и информационная политика';

block recommend
	- pageId = '0608';
	- recommend_lang = lang;

block content
	p.excerpt ОАО «ТМК», как эмитент эмиссионных ценных бумаг, осуществляет обязательное раскрытие информации в соответствии с законодательством Российской Федерации, нормативными правовыми актами регулятора по рынку ценных бумаг и правилами листинга фондовых бирж, на которых обращаются ценные бумаги Компании. Информация раскрывается на русском и английском языках.
	p Мы публикуем ежеквартальную консолидированную отчетность ТМК по МСФО (<a href='http://ir.tmk-group.com/results-center/fiancial-results/'>http://ir.tmk-group.com/results-center/fiancial-results/</a>), размещаем на сайте Компании пресс-релизы с анализом изменений финансовых, операционных и рыночных показателей и результатов деятельности, обзором рынков и прогнозными оценками, проводим конференц-звонки для инвесторов, аналитиков и прессы с участием высшего руководства Компании.
	p Следуя лучшим международным практикам, мы проводим Дни инвестора, на которых топ-менеджеры Компании представляют результаты и перспективы деятельности Компании. Веб-касты Дней инвестора доступны на сайте Компании в режиме online. В специальном разделе для инвесторов на нашем сайте мы также публикуем календари событий, презентации и доклады, финансовые новости, ответы на часто задаваемые вопросы.
	p В январе 2015 года ТМК запустила новую версию корпоративного веб-сайта. Обновленный современный интерфейс сайта обеспечивает удобство работы с ним различным категориям пользователей, а мобильная версия позволяет с легкостью найти и загрузить наиболее важную информацию. Новый сайт дает широкие возможности получения информации и интерактивного анализа данных Компании, ее дивизионов и производственных предприятий.
	p Раскрытие информации и взаимодействие подразделений и предприятий ТМК при подготовке информации к раскрытию регламентируется Положением об информационной политике ОАО «ТМК» (<a href='http://www.tmk-group.ru/media_ru/fies/51/inf_pol0612.pdf'>http://www.tmk-group.ru/media_ru/fies/51/inf_pol0612.pdf</a>) и разработанными на его основе внутренними нормативными документами Компании. Контроль за формированием и проведением единой информационной политики и соблюдением законодательных требований по инсайдерской информации осуществляют специальные структурные подразделения Компании.
