extends ../layouts/default

block head
	- pageTitle = 'Система управления рисками и внутреннего контроля';

block recommend
	- pageId = '0609';
	- recommend_lang = lang;

block content
	p.excerpt Управление рисками и внутренний контроль в ТМК — это система процедур, осуществляемых Советом директоров, исполнительными и контролирующими органами, должностными лицами и сотрудниками с целью обеспечения объективного представления о текущем состоянии, перспективах Компании и уровне принимаемых рисков, достоверности всех видов отчетности, соблюдении требований законодательных актов и внутрикорпоративных документов.
	p Совет директоров определил принципы и подходы к организации системы управления рисками и внутреннего контроля, утвердив Положение о внутреннем контроле ОАО «ТМК», и обеспечивает эффективный контроль за финансово-хозяйственной деятельностью на операционном и организационном уровнях управления.
	p Комитет по аудиту осуществляет оценку эффективности систем внутреннего контроля и управления рисками и вырабатывает рекомендации по их улучшению. В отчетном году Комитет по аудиту положительно оценил действующую в Компании систему управления рисками и внутреннего контроля.
	p В ТМК существует двухуровневый подход к управлению рисками: определение рисков в подконтрольных организациях и в корпоративном центре с их последующей интеграцией для оценки воздействия на Компанию в целом.

	+quote_3("СХЕМА 6.2", "Интегрированная система управления рисками ТМК", "", "", "06/69/691.png", "")

	p Реализацию процедур управления рисками в ТМК проводит специально созданное подразделение, задачи которого полностью соответствуют требованиям Кодекса корпоративного управления.
	p При Генеральном директоре ТМК действует Комитет по управлению рисками, целью которого является снижение рисков в деятельности ТМК на основе формирования единой политики управления рисками, разработки и внедрения методологических принципов идентификации, оценки и управления рисками. Не реже одного раза в квартал Председатель Комитета по управлению рисками отчитывается перед Комитетом по аудиту Совета директоров.
	p ТМК стремится к тому, чтобы вся деятельность адекватно контролировалась с целью снижения рисков, для этого:
	ul
		li контрольные процедуры внедрены на всех уровнях управления и основаны на политиках, регламентах и стандартах;
		li Генеральный директор определяет задачи верхнего уровня управления, осуществляет руководство и контролирует деятельность руководителей высшего звена по обеспечению функционирования системы контроля в подотчетных им подразделениях;
		li руководители высшего звена делегируют полномочия по внедрению конкретных контрольных политик и процедур руководителям линейных подразделений, в обязанности которых помимо прочего входит оценка процессов контроля в областях их компетенции;
		li реализован принцип разделения полномочий: отсутствуют должностные лица, которые одновременно совмещали бы функции санкционирования, учета, хранения и контроля.

	+quote_3("СХЕМА 6.3", "Ключевые элементы системы рискориентированного внутреннего контроля в ТМК", "", "", "06/69/692.png", "")

	p В 2014 году в ТМК закончен процесс интеграции комплаенс-системы в общую систему рискменеджмента и внутреннего контроля, а также корпоративного управления и корпоративной системы безопасности. Координацию этой работы осуществляет Комитет по регулированию комплаенс-рисков при Генеральном директоре, а также его региональные подкомитеты на предприятиях ТМК, руководствуясь Основными принципами ТМК в области комплаенс-рисков и Политикой ТМК в области противодействия коррупции.
	p В качестве инструмента общественного контроля в ТМК используется информационная система «Горячая линия», включающая полный спектр коммуникационных каналов, по которым сотрудники Компании, инвесторы, клиенты и другие заинтересованные стороны могут сообщать об известных им фактах злоупотреблений или нарушениях.
	p Адекватность и эффективность контролей над рисками в операционной деятельности предприятий и подразделений ТМК, в их информационных системах и в процессах корпоративного управления оценивает внутренний аудит.

	+quote_3("СХЕМА 6.4", "Система внутреннего аудита ТМК", "", "", "06/69/693.png", "")

	p В ТМК создано отдельное подразделение — Служба внутреннего аудита (СВА), которое действует на основании Положения о СВА, утвержденного Советом директоров. Независимость и объективность деятельности СВА обеспечивается путем подчинения непосредственно Генеральному директору и функционально через Комитет по аудиту Совету директоров. Руководитель СВА подотчетен Совету директоров, назначается на должность и освобождается с занимаемой должности на основании решения Совета директоров, которым также определяется его вознаграждение. СВА в своей деятельности руководствуется нормативными правовыми актами и международными профессиональными стандартами внутреннего аудита.
	p СВА структурирована по региональному принципу, исходя из географии присутствия бизнеса ТМК с единой системой планирования, отчетности и функциональным подчинением руководителю СВА ОАО «ТМК» (Управляющей компании). Региональное размещение подразделений СВА позволяет оперативно реагировать на любые изменения в бизнеспроцессах и операционной деятельности предприятий ТМК.
	p СВА разрабатывает риск-ориентированный годовой план проверок на основе определения приоритетных бизнес-процессов, подлежащих аудиту, ранжирования и оценки рисков (по вероятности и потенциальным последствиям реализации). План обсуждается на Комитете по аудиту, одобряется Советом директоров и утверждается Генеральным директором.
	p СВА также осуществляет контроль за соблюдением органами управления, должностными лицами и работниками Компании законодательства об инсайдерской информации и регулярно отчитывается перед Комитетом по аудиту, а по итогам года — перед Советом директоров.
	p Руководство ТМК своевременно реагирует на выявленные внутренним аудитом проблемы в контрольных процедурах и вносит необходимые коррективы в систему управления рисками и внутреннего контроля, что позволяет улучшать процессы и качество корпоративного управления.

	h4 Система внутреннего контроля за финансовой отчетностью
	p Руководство ТМК несет ответственность за внедрение и поддержание адекватной системы внутреннего контроля за финансовой отчетностью с целью обеспечения достаточной уверенности в достоверности финансовой отчетности и в том, что финансовая отчетность соответствует требованиям РСБУ и МСФО.
	p На протяжении 2014 года и в настоящее время ТМК имеет функционирующую систему внутреннего контроля, которая обеспечивает достаточную уверенность в эффективности всех уровней контроля, в том числе финансового и операционного контроля, и соблюдение законов и правил.

	p
		b.orange Ревизионная комиссия &nbsp;
		| осуществляет контроль за финансово-хозяйственной деятельностью Общества от имени акционеров, представляет Общему собранию акционеров заключение о достоверности данных отчетности, а также информацию о выявленных недостатках или нарушениях.
	p
		b.orange Внешний аудитор &nbsp;
		| проверяет и подтверждает соответствие финансовой отчетности Компании правилам бухгалтерского учета, национальным и международным стандартам финансовой отчетности (РСБУ и МСФО), выражает мнение о достоверности финансовой отчетности на основе проведенного аудита.

	p Выбор кандидатуры внешнего аудитора Группы ТМК по проверке консолидированной отчетности по МСФО и оценка его деятельности определяется Политикой избрания внешнего аудитора Группы ТМК, утвержденной Советом директоров (<a href='http://www.tmk-group.ru/media_ru/fies/51/tmk_pol_vyb_aud14.pdf'>http://www.tmk-group.ru/media_ru/fies/51/tmk_pol_vyb_aud14.pdf</a>).
	p Независимость и объективность кандидатуры аудитора обеспечивается за счет следующих процедур:
	ul
		li каждые 10 лет проводится тендер по выбору аудитора, условия которого определяет Совет директоров по предложению Комитета по аудиту Совета директоров. Комитет по аудиту также организует проведение и подводит итоги тендера;
		li Комитет имеет право поставить вопрос о досрочном проведении тендера по результатам анализа качества аудиторских услуг и соблюдения требования независимости;
		li аудитор избирается из числа международно-признанных независимых аудиторских компаний, его кандидатура одобряется Советом директоров.

	p В целях снижения влияния фактора длительности взаимоотношений с внешним аудитором на его независимость и объективность применяется планомерная ротация членов аудиторских проверок и ведущего партнера, ответственного за аудит.
	p Внешним независимым аудитором отдельной и консолидированной бухгалтерской (финансовой) отчетности ОАО «ТМК» за 2014 год и промежуточные периоды 2014 года утверждено ООО «Эрнст энд Янг», являющееся членом Саморегулируемой организации аудиторов Некоммерческое партнерство «Аудиторская Палата России» (СРО НП АПР).
	p Вознаграждение аудитора за аудит годовой отчетности и промежуточный обзор (включая аудит локальной отчетности некоторых предприятий ТМК) за 2014 год составило 2,86 млн долл. США, за прочие сопутствующие аудиту услуги — 0,03 млн долл. США, неаудиторские услуги — 0,26 млн долл. США.

