extends ../layouts/default

block head
	- pageTitle = 'Отчет о соблюдении принципов и рекомендаций кодекса корпоративного управления (в соответствии с рекомендациями ФБ «ММВБ» от 13.03.2015)';

block recommend
	- pageId = '0610';
	- recommend_lang = lang;

block content
	table.table_0610_1
		tr
			th № п/п
			th Принцип (принципы) корпоративного управления или ключевой критерий (рекомендация)
			th Краткое описание того, в какой части принцип или ключевой критерий не соблюдаются
			th Объяснение ключевых причин, факторов и обстоятельств, в силу которых принцип или ключевой критерий не соблюдаются или соблюдаются не в полном объеме, описание используемых альтернативных механизмов и инструментов корпоративного управления. Планируемые действия и мероприятия.
		tr
			td.bold(colspan=4) I. ПРАВА АКЦИОНЕРОВ И РАВЕНСТВО УСЛОВИЙ ДЛЯ АКЦИОНЕРОВ ПРИ ОСУЩЕСТВЛЕНИИ ИМИ СВОИХ ПРАВ
		tr
			td 1.1.
			td(colspan=3) Общество должно обеспечивать равное и справедливое отношение ко всем акционерам при реализации ими права на участие в управлении обществом. Система и практика корпоративного управления должны обеспечивать равенство условий для всех акционеров — владельцев акций одной категории (типа), включая миноритарных (мелких) акционеров и иностранных акционеров, и равное отношение к ним со стороны общества
		tr
			td 1.1.1.
			td
				| В Обществе утвержден внутренний документ, определяющий основные процедуры подготовки, созыва и проведения общего собрания акционеров, соответствующий рекомендациям Кодекса корпоративного управления, включая обязанность общества:
				ul
					li сообщать акционерам о проведении общего собрания акционеров и предоставлять доступ к материалам, в том числе размещать сообщение и материалы на сайте Общества в сети интернет, не менее чем за 30 дней до даты его проведения (если законодательством Российской Федерации не предусмотрен больший срок);
					li раскрывать информацию о дате составления списка лиц, имеющих право на участие в общем собрании акционеров, в соотвтетствии с действующим законодательством, не менее чем за 7 дней до ее наступления;
					li предоставлять к общему собранию акционеров дополнительную информацию и материалы по вопросам повестки дня в соответствии с рекомендациями Кодекса корпоративного управления
			td Соблюдается в практической деятельности Общества.
			td Общество раскрывает информацию о дате составления списка лиц, имеющих право на участие в общем собрании акционеров в соответствии с действующим законодательством РФ. Дополнительная информация указывается в сообщении о проведении общего собрания, которое размещается на сайте ТМК в сети Интернет. При подготовке к годовому собранию акционеров Общество стремится обеспечить возможность акционерам получать сообщение о проведении собрания и иметь доступ к материалам собрания в электронной форме.
		tr
			td 1.1.2.
			td Обществом приняты на себя обязанности по предоставлению акционерам в ходе подготовки и проведения общего собрания акционеров возможности задавать вопросы о деятельности Общества членам органов управления и контроля, членам комитета по аудиту, главному бухгалтеру, аудиторам Общества, а также кандидатам в органы управления и контроля. Указанные обязанности закреплены в уставе или во внутренних документах Общества
			td Соблюдается в практической деятельности Общества.
			td Акционерам в ходе общего собрания акционеров предоставляется возможность задавать вопросы о деятельности Общества членам органов управления и контроля.
		tr
			td 1.1.3.
			td Обществом приняты на себя обязанности придерживаться принципа недопустимости совершения действий, приводящих к искусственному перераспределению корпоративного контроля (например, голосование «квазиказначейскими» акциями, принятие решения о выплате дивидендов по привилегированным акциям в условиях ограниченных финансовых возможностей, принятие решения о невыплате определенных в уставе общества дивидендов по привилегированным акциям при наличии достаточных источников для их выплаты). Указанные обязанности закреплены в уставе или во внутренних документах общества
			td Общество в своей практической деятельности придерживается принципа недопустимости искусственного перераспределения корпоративного контроля.
			td Общество не владеет «квазиказначейскими» акциями и не имеет привилегированных акций.
		tr
			td 1.2
			td(colspan=3) Акционерам должна быть предоставлена равная и справедливая возможность участвовать в прибыли Общества посредством получения дивидендов
		tr
			td 1.2.1.
			td
				| В Обществе утвержден внутренний документ, определяющий дивидендную политику Общества, соответствующую рекомендациям Кодекса корпоративного управления, и устанавливающий в том числе:
				ul
					li порядок определения части чистой прибыли (для обществ, составляющих консолидированную финансовую отчетность, — минимальной части (доли) консолидированной чистой прибыли), направляемой на выплату дивидендов, условия, при соблюдении которых объявляются дивиденды;
					li минимальный размер дивидендов по акциям Общества разных категорий (типов);
					li обязанность раскрытия документа, определяющего дивидендную политику Общества, на сайте Общества в сети интернет
			td Соблюдается.
			td
		tr
			td.bold(colspan=4) II. СОВЕТ ДИРЕКТОРОВ ОБЩЕСТВА
		tr
			td 2.1
			td(colspan=3) Совет директоров определяет основные стратегические ориентиры деятельности Общества на долгосрочную перспективу, ключевые показатели деятельности Общества, осуществляет стратегическое управление Обществом, определяет основные принципы и подходы к организации в Обществе системы управления рисками и внутреннего контроля, контролирует деятельность исполнительных органов Общества, определяет политику Общества по вознаграждению членов Совета директоров и исполнительных органов, а также реализует иные ключевые функции
		tr
			td 2.1.1.
			td В Обществе сформирован Совет директоров, который:
				ul
					li определяет основные стратегические ориентиры деятельности Общества на долгосрочную перспективу, ключевые показатели деятельности Общества;
					li контролирует деятельность исполнительных органов Общества;
					li определяет принципы и подходы к организации управления рисками и внутреннего контроля в Обществе;
					li определяет политику Общества по вознаграждению членов Совета директоров, исполнительных органов и иных ключевых руководящих работников Общества
			td Соблюдается.
			td
		tr
			td 2.2.
			td(colspan=3) Совет директоров должен являться эффективным и профессиональным органом управления Общества, способным выносить объективные независимые суждения и принимать решения, отвечающие интересам Общества и его акционеров. Председатель Совета директоров должен способствовать наиболее эффективному осуществлению функций, возложенных на Совет директоров. Заседания Совета директоров, подготовка к ним и участие в них членов Совета директоров должны обеспечивать эффективную деятельность Совета директоров
		tr
			td 2.2.1.
			td Председателем Совета директоров является независимый директор или среди избранных независимых директоров определен старший независимый директор, координирующий работу независимых директоров и осуществляющий взаимодействие с председателем Совета директоров
			td В соответствии с Уставом Общества независимым директорам обеспечена возможность взаимодействия с Председателем Совета директоров по всем вопросам деятельности Общества. Независимые директора возглавляют все Комитеты Совета директоров Общества.
			td Совет директоров планирует оценить целесообразность реализации данной рекомендации.
		tr
			td 2.2.2.
			td Внутренними документами Общества закреплен порядок подготовки и проведения заседаний Совета директоров, обеспечивающий членам Совета директоров возможность надлежащим образом подготовиться к их проведению, и предусматривающий, в частности:
				ul
					li сроки уведомления членов Совета директоров о предстоящем заседании;
					li сроки направления документов (бюллетеней) для голосования и получения заполненных документов (бюллетеней) при проведении заседаний в заочной форме;
					li возможность направления и учета письменного мнения по вопросам повестки дня для членов Совета директоров, отсутствующих на очном заседании;
					li возможность обсуждения и голосования посредством конференц-связи и видеоконференц-связи
			td Соблюдается.
			td
		tr
			td 2.2.3.
			td Наиболее важные вопросы решаются на заседаниях Совета директоров, проводимых в очной форме. Перечень таких вопросов соответствует рекомендациям Кодекса корпоративного управления
			td Соблюдается.
			td
		tr
			td 2.3.
			td(colspan=3) В состав Совета директоров должно входить достаточное количество независимых директоров
		tr
			td 2.3.1.
			td Независимые директора составляют не менее одной трети избранного состава Совета директоров
			td(rowspan=3) Соблюдается
			td(rowspan=3)
		tr
			td 2.3.2.
			td Независимые директора в полном объеме соответствуют критериям независимости, рекомендованным Кодексом корпоративного управления
		tr
			td 2.3.3.
			td Совет директоров (комитет по номинациям (кадрам, назначениям)) проводит оценку соответствия кандидатов в члены совета директоров критериям независимости
		tr
			td 2.4.
			td(colspan=3) Совет директоров должен создавать комитеты для предварительного рассмотрения наиболее важных вопросов деятельности общества
		tr
			td 2.4.1.
			td Советом директоров общества создан комитет по аудиту, состоящий из независимых директоров, функции которого закреплены во внутренних документах и соответствуют рекомендациям Кодекса корпоративного управления
			td В состав Комитета по аудиту входят два независимых члена Совета директоров, один из которых является Председателем Комитета.
			td Комитет осуществляет контроль в области противодействия недобросовестным действиям работников Общества и третьих лиц, в том числе в отношении инсайдерской информации, путем заслушивания отчетов руководителей Службы внутреннего аудита и Комитета по регулированию комплаенс-рисков.
		tr
			td 2.4.2.
			td Советом директоров общества создан комитет по вознаграждениям (может быть совмещен с комитетом по номинациям (кадрам, назначениям)), состоящий из независимых директоров, функции которого соответствуют рекомендациям Кодекса корпоративного управления.
			td(rowspan=2) В состав Комитета по назначениям и вознаграждениям входят два независимых члена Совета директоров, один из которых является Председателем Комитета.
			td(rowspan=2)
		tr
			td 2.4.3.
			td Советом директоров общества создан комитет по номинациям (кадрам, назначениям) (может быть совмещен с комитетом по вознаграждениям), большинство членов которого являются независимыми директорами, функции которого соответствуют рекомендациям Кодекса корпоративного управления
		tr
			td 2.5.
			td(colspan=3) Совет директоров должен обеспечивать проведение оценки качества работы совета директоров, его комитетов и членов совета директоров
		tr
			td 2.5.1.
			td Оценка качества работы совета директоров проводится на регулярной основе не реже одного раза в год, при этом не реже одного раза в три года такая оценка проводится с привлечением внешней организации (консультанта)
			td Соблюдается
			td Планируется продолжить практику оценки деятельности Совета директоров Общества с привлечением внешней организации.
		tr
			td.bold(colspan=4) III. КОРПОРАТИВНЫЙ СЕКРЕТАРЬ ОБЩЕСТВА
		tr
			td 3.1.
			td(colspan=3) Эффективное текущее взаимодействие с акционерами, координация действий общества по защите прав и интересов акционеров, поддержка эффективной работы совета директоров обеспечиваются корпоративным секретарем (специальным структурным подразделением, возглавляемым корпоративным секретарем)
		tr
			td 3.1.1.
			td Корпоративный секретарь подотчетен совету директоров, назначается и снимается с должности по решению или с согласия совета директоров
			td Соблюдается
			td
		tr
			td 3.1.2.
			td В Обществе утвержден внутренний документ, определяющий права и обязанности Корпоративного секретаря (Положение о Корпоративном секретаре), содержание которого соответствует рекомендациям Кодекса корпоративного управления
			td Права и обязанности Секретаря Совета директоров (корпоративного секретаря) определены в Положении о Совете директоров.
			td Планируется принятие Советом директоров Положения о Корпоративном секретаре.
		tr
			td 3.1.3.
			td Корпоративный секретарь занимает позицию, не совмещаемую с выполнением иных функций в обществе. Корпоративный секретарь наделен функциями в соответствии с рекомендациями Кодекса корпоративного управления. Корпоративный секретарь располагает достаточными ресурсами для осуществления своих функций
			td Соблюдается
			td
		tr
			td.bold(colspan=4) IV. СИСТЕМА ВОЗНАГРАЖДЕНИЯ ЧЛЕНОВ СОВЕТА ДИРЕКТОРОВ, ИСПОЛНИТЕЛЬНЫХ ОРГАНОВ И ИНЫХ КЛЮЧЕВЫХ РУКОВОДЯЩИХ РАБОТНИКОВ ОБЩЕСТВА
		tr
			td 4.1.
			td(colspan=3) Уровень выплачиваемого Обществом вознаграждения должен быть достаточным для привлечения, мотивации и удержания лиц, обладающих необходимой для Общества компетенцией и квалификацией. Выплата вознаграждения членам Совета директоров, исполнительным органам и иным ключевым руководящим работникам Общества должна осуществляться в соответствии с принятой в Обществе политикой по вознаграждению
		tr
			td 4.1.1
			td В обществе регламентированы все выплаты, льготы и привилегии, предоставляемые членам Совета директоров, исполнительных органов и иным ключевым руководящим работникам Общества
			td Соблюдается.
			td
		tr
			td 4.2.
			td(colspan=3) Система вознаграждения членов Совета директоров должна обеспечивать сближение финансовых интересов директоров с долгосрочными финансовыми интересами
		tr
			td 4.2.1.
			td Фиксированное годовое вознаграждение является предпочтительной формой денежного вознаграждения членов Совета директоров
			td Соблюдается.
			td
		tr
			td 4.2.2.
			td В обществе членам Совета директоров не предоставляется возможность участия в опционных программах и право реализации принадлежащих им акций Общества не обуславливается достижением определенных показателей деятельности акционеров
			td Независимые члены Совета директоров не участвуют в опционной программе Общества.
			td
		tr
			td 4.3.
			td(colspan=3) Система вознаграждения исполнительных органов и иных ключевых руководящих работников Общества должна предусматривать зависимость вознаграждения от результата работы Общества и их личного вклада в достижение этого результата
		tr
			td 4.3.1
			td В Обществе внедрена программа долгосрочной мотивации членов исполнительных органов и иных ключевых руководящих работников Общества
			td Реализуется годовая программа мотивации, основанная на стратегии развития Общества на долгосрочную перспективу.
			td В Обществе внедрена программа мотивации членов исполнительных органов и иных ключевых руководящих работников Общества с использованием ключевых показателей эффективности, которые ежегодно устанавливаются и контролируются Советом директоров. Разрабатываются предложения по новой программе долгосрочной мотивации с учетом стратегических задач.
		tr
			td.bold(colspan=4) V. СИСТЕМА УПРАВЛЕНИЯ РИСКАМИ И ВНУТРЕННЕГО КОНТРОЛЯ
		tr
			td 5.1.
			td(colspan=3) В Обществе должна быть создана эффективно функционирующая система управления рисками и внутреннего контроля, направленная на обеспечение разумной уверенности в достижении поставленных перед Обществом целей
		tr
			td 5.1.1.
			td Советом директоров определены принципы и подходы к организации системы управления рисками и внутреннего контроля в Обществе
			td Соблюдается.
			td
		tr
			td 5.1.2.
			td В Обществе создано отдельное структурное подразделение по управлению рисками и внутреннему контролю
			td Соблюдается.
			td
		tr
			td 5.1.3.
			td В Обществе разработана и внедрена антикоррупционная политика общества, определяющая меры, направленные на формирование элементов корпоративной культуры, организационной структуры, правил и процедур, обеспечивающих недопущение коррупции
			td Соблюдается.
			td
		tr
			td 5.2.
			td(colspan=3) Для систематической независимой оценки надежности и эффективности системы управления рисками и внутреннего контроля и практики корпоративного управления общество должно организовывать проведение внутреннего аудита
		tr
			td 5.2.1
			td В Обществе сформировано отдельное структурное подразделение, осуществляющее функции внутреннего аудита, функционально подчиненное Совету директоров общества. Функции указанного подразделения соответствуют рекомендациям Кодекса корпоративного управления и к таким функциям, в частности, относятся:
				ul
					li оценка эффективности системы внутреннего контроля;
					li оценка эффективности системы управления рисками;
					li оценка корпоративного управления (в случае отсутствия комитета по корпоративному управлению)
			td Соблюдается.
			td
		tr
			td 5.2.2.
			td Руководитель подразделения внутреннего аудита подотчетен Совету директоров Общества, назначается и снимается с должности по решению Совета директоров Общества
			td Соблюдается.
			td
		tr
			td 5.2.3.
			td В Обществе утверждена политика в области внутреннего аудита (Положение о внутреннем аудите), определяющая цели, задачи и функции внутреннего аудита
			td Цели, задачи и функции внутреннего аудита определены в Положении о внутреннем контроле и в Положении о Службе внутреннего аудита.
			td В 2015 г. планируется принятие Политики Общества в области внутреннего аудита.
		tr
			td.bold(colspan=4) VI. РАСКРЫТИЕ ИНФОРМАЦИИ ОБ ОБЩЕСТВЕ, ИНФОРМАЦИОННАЯ ПОЛИТИКА ОБЩЕСТВА
		tr
			td 6.1.
			td(colspan=3) Общество и его деятельность должны быть прозрачными для акционеров, инвесторов и иных заинтересованных лиц
		tr
			td 6.1.1.
			td В Обществе утвержден внутренний документ, определяющий информационную политику Общества, соответствующую рекомендациям Кодекса корпоративного управления. Информационная политика Общества включает следующие способы взаимодействия с инвесторами и иными заинтересованными лицами:
				ul
					li организация специальной страницы сайта Общества в сети интернет, на которой размещаются ответы на типичные вопросы акционеров и инвесторов, регулярно обновляемый календарь корпоративных событий Общества, а также иная полезная для акционеров и инвесторов информация;
					li регулярное проведение встреч членов исполнительных органов и иных ключевых руководящих работников Общества с аналитиками;
					li регулярное проведение презентаций (в том числе в форме телеконференций, веб-кастов) и встреч с участием членов органов управления и иных ключевых руководящих работников Общества, в том числе сопутствующих публикации бухгалтерской (финансовой) отчетности Общества, либо связанных с основными инвестиционными проектами и планами стратегического развития Общества
			td Соблюдается.
			td
		tr
			td 6.1.2.
			td Реализация Обществом информационной политики осуществляется исполнительными органами Общества. Контроль за надлежащим раскрытием информации и соблюдением информационной политики осуществляет Совет директоров Общества
			td Соблюдается.
			td
		tr
			td 6.1.3.
			td В Обществе установлены процедуры, обеспечивающие координацию работы всех служб и структурных подразделений Общества, связанных с раскрытием информации или деятельность которых может привести к необходимости раскрытия информации
			td Соблюдается.
			td
		tr
			td 6.2.
			td(colspan=3) Общество должно своевременно раскрывать полную, актуальную и достоверную информацию об Обществе для обеспечения возможности принятия обоснованных решений акционерами Общества и инвесторами
		tr
			td 6.2.1.
			td При наличии существенной доли иностранных инвесторов в капитале в Обществе обеспечивается параллельно с раскрытием информации на русском языке раскрытие наиболее существенной информации об Обществе (в том числе сообщения о проведении общего собрания акционеров, годового отчета Общества) на иностранном языке, который является общепринятым на финансовом рынке
			td Соблюдается.
			td
		tr
			td 6.2.2.
			td В Обществе обеспечивается раскрытие информации не только о нем самом, но и о подконтрольных ему юридических лицах, имеющих для него существенное значение
			td Соблюдается.
			td
		tr
			td 6.2.3.
			td Общество раскрывает годовую и промежуточную (полугодовую) консолидированную или индивидуальную финансовую отчетность, составленную в соответствии с Международными стандартами финансовой отчетности (МСФО). Годовая консолидированная или индивидуальная финансовая отчетность раскрывается вместе с аудиторским заключением, а промежуточная (полугодовая) консолидированная или индивидуальная финансовая отчетность — вместе с отчетом о результатах обзорной аудиторской проверки или аудиторским заключением
			td Соблюдается.
			td
		tr
			td 6.2.4.
			td Обществом раскрыт специальный меморандум, содержащий планы в отношении Общества лица, контролирующего Общество. Указанный меморандум составлен в соответствии с рекомендациями Кодекса корпоративного управления.
			td Соблюдается в рамках, установленных действующим законодательством.
			td Общество раскрывает информацию об органах управления, о лицах, под контролем либо значительным влиянием которых находится Общество, а также информацию о структуре капитала.
		tr
			td 6.2.5.
			td В Обществе обеспечивается раскрытие подробной информации о биографических данных членов Совета директоров, включая информацию о том, являются ли они независимыми директорами, а также оперативное раскрытие информации об утрате членом Совета директоров статуса независимого директора
			td Соблюдается
			td
		tr
			td 6.2.6.
			td Общество раскрывает информацию о структуре капитала в соответствии с рекомендациями Кодекса корпоративного управления
			td Соблюдается.
			td
		tr
			td 6.2.7.
			td Годовой отчет Общества содержит дополнительную информацию, рекомендуемую Кодексом корпоративного управления:
				ul
					li краткий обзор наиболее существенных сделок, в том числе взаимосвязанных сделок, совершенных Обществом и подконтрольными ему юридическими лицами за последний год;
					li отчет о работе Совета директоров (в том числе комитетов Совета директоров) за год, содержащий, в том числе, сведения о количестве очных (заочных) заседаний, об участии каждого из членов Совета директоров в заседаниях, описание наиболее существенных вопросов и наиболее сложных проблем, рассмотренных на заседаниях Совета директоров и комитетов Совета директоров, основных рекомендаций, которые комитеты давали Совету директоров;
					li сведения о прямом или косвенном владении членами Совета директоров и исполнительных органов Общества акциями Общества;
					li сведения о наличии у членов Совета директоров и исполнительных органов конфликта интересов (в том числе связанного с участием указанных лиц в органах управления конкурентов Общества);
					li описание системы вознаграждения членов Совета директоров, в том числе размер индивидуального вознаграждения по итогам года по каждому члену Совета директоров (с разбивкой на базовое, дополнительное вознаграждение за председательство в Совете директоров, за председательство (членство) в комитетах при Совете директоров, размер участия в долгосрочной мотивационной программе, объем участия каждого члена Совета директоров в опционной программе, при наличии таковой), компенсаций расходов, связанных с участием в  Совете директоров, а также расходов Общества на страхование ответственности директоров как членов органов управления;
					li сведения о суммарном вознаграждении за год:
						ul
							li по группе из не менее пяти наиболее высокооплачиваемых членов исполнительных органов и иных ключевых руководящих работников Общества с разбивкой по каждому виду вознаграждения;
							li по всем членам исполнительных органов и иным ключевым руководящим работникам Общества, на которых распространяется действие политики Общества в области вознаграждения, с разбивкой по каждому виду вознаграждения;
					li сведения о вознаграждении за год единоличного исполнительного органа, которое он получил или должен получить от Общества (юридического лица из группы организаций, в состав которой входит Общество) с разбивкой по каждому виду вознаграждения, как за исполнение им обязанностей единоличного исполнительного органа, так и по иным основаниям
			td Соблюдается с учетом действующего законодательства, в том числе закона «О персональных данных».
			td Информация о сделках подконтрольных организаций размещена на сайте ТМК и на сервере раскрытия информации Интерфакса в виде существенных фактов, а также в обобщенном виде содержится в годовых отчетах подконтрольных организаций, размещенных на интернет-портале ТМК. Информация о размере вознаграждения органов управления раскрывается в Годовом отчете в полном соответствии с требованиями законодательства РФ.
		tr
			td 6.3.
			td(colspan=3) Предоставление Обществом информации и документов по запросам акционеров должно осуществляться в соответствии с принципами равнодоступности и необременительности
		tr
			td 6.3.1.
			td В соответствии с информационной политикой Общества акционерам Общества, владеющим одинаковым количеством голосующих акций Общества, обеспечивается равный доступ к информации и документам Общества
			td Соблюдается.
			td
		tr
			td.bold(colspan=4) VII. СУЩЕСТВЕННЫЕ КОРПОРАТИВНЫЕ ДЕЙСТВИЯ
		tr
			td 7.1.
			td(colspan=3) Действия, которые в значительной степени влияют или могут повлиять на структуру акционерного капитала и финансовое состояние Общества и, соответственно, на положение акционеров (существенные корпоративные действия), должны осуществляться на справедливых условиях, обеспечивающих соблюдение прав и интересов акционеров, а также иных заинтересованных сторон
		tr
			td 7.1.1.
			td Уставом Общества определен перечень (критерии) сделок или иных действий, являющихся существенными корпоративными действиями, рассмотрение которых отнесено к компетенции Совета директоров Общества, включая:
				ul
					li реорганизацию Общества, приобретение 30 и более процентов голосующих акций Общества (поглощение), увеличение или уменьшение уставного капитала Общества, листинг и делистинг акций Общества;
					li сделки по продаже акций (долей) подконтрольных Обществу юридических лиц, имеющих для него существенное значение, в результате совершения которых Общество утрачивает контроль над такими юридическими лицами;
					li сделки, в том числе взаимосвязанные сделки, с имуществом Общества или подконтрольных ему юридических лиц, стоимость которого превышает указанную в уставе Общества сумму или которое имеет существенное значение для хозяйственной деятельности Общества;
					li создание подконтрольного Обществу юридического лица, имеющего существенное значение для деятельности Общества;
					li отчуждение Обществом казначейских и «квазиказначейских» акций
			td Соблюдается.
			td
		tr
			td 7.2.
			td(colspan=3) Общество должно обеспечить такой порядок совершения существенных корпоративных действий, который позволяет акционерам своевременно получать полную информацию о таких действиях, обеспечивает им возможность влиять на совершение таких действий и гарантирует соблюдение и адекватный уровень защиты их прав при совершении таких действий
		tr
			td 7.2.1.
			td Во внутренних документах Общества установлен принцип обеспечения равных условий для всех акционеров Общества при совершении существенных корпоративных действий, затрагивающих права и законные интересы акционеров, а также закреплены дополнительные меры, защищающие права и законные интересы акционеров Общества, предусмотренные Кодексом корпоративного управления, включая:
				ul
					li привлечение независимого оценщика, обладающего признанной на рынке безупречной репутацией и опытом оценки в соответствующей сфере, либо представление оснований непривлечения независимого оценщика при определении стоимости имущества, отчуждаемого или приобретаемого по крупной сделке или сделке, в совершении которой имеется заинтересованность;
					li определение цены акций Общества при их приобретении и выкупе независимым оценщиком, обладающим признанной на рынке безупречной репутацией и опытом оценки в соответствующей сфере, с учетом средневзвешенной цены акций за разумный период времени, без учета эффекта, связанного с совершением Обществом соответствующей сделки (в том числе без учета изменения цены акций в связи с распространением информации о совершении Обществом соответствующей сделки), а также без учета дисконта за отчуждение акций в составе неконтрольного пакета;
					li расширение перечня оснований, по которым члены Совета директоров Общества и иные предусмотренные законодательством лица признаются заинтересованными в сделках Общества с целью оценки фактической связанности соответствующих лиц
			td Соблюдается в соответствии с действующим законодательством.
			td

