extends ../layouts/default

block head
	- pageTitle = 'Управление персоналом и социальная политика';

block recommend
	- pageId = '0701';
	- recommend_lang = lang;

block content
	img.inner_cover(src=globalPath + 'assets/images/07/07.jpg' alt=pageTitle)
	P: b Задачами Кадровой стратегии ТМК на 2011-2020 годы являются:
	ul
		li формирование персонала нового качества, обеспечивающего следование лучшим отраслевым и мировым практикам по показателям эффективности труда;
		li повышение профессиональных компетенций работников;
		li реализация социальных программ, направленных на улучшение качества жизни работников и членов их семей и на сохранение стабильности трудовых коллективов наших предприятий.

	p: b Основные направления реализации Кадровой стратегии ТМК в 2014 году:
	h3 Организационное развитие и управление численностью персонала
	p В 2014 году мы уделяли особое внимание совершенствованию бизнес-процессов, системы управления и унификации организационно-кадровых структур предприятий ТМК:
	ul
		li провели унификацию организационных структур производственно-коммерческих, финансово-экономических и технических блоков на российских трубных заводах;
		li завершили структурирование системы управления, отчетности и документооборота по четырем дивизиональнным принципам (с общим центром управления — ОАО «ТМК»);
		li произвели реструктуризацию подразделений Компании, отвечающих за реализацию продукции;
		li с целью повышения эффективности участия персонала в инициации и разработке новых проектов внедрили Положение об организации проектной деятельности в ТМК, создали Электронную базу проектов;
		li на румынских предприятиях ТМК приступили к реализации пилотного проекта по формированию пула молодых специалистов, чьи профессии являются редкими на рынке труда в Румынии.

	p Повышение эффективности труда является основным инструментом регулирования численности персонала на наших предприятиях. Планомерно повышая уровень квалификации и качество персонала, исключая неэффективные функции, снижая непроизводственные потери, мы добиваемся роста эффективности труда работников Компании. Среднесписочная численность персонала ТМК снижается, несмотря на увеличение количества предприятий.

	h4 Динамика среднесписочной численности персонала тмк, чел.
	table.table_0701_1
		tr
			th
			th 2012
			th 2013
			th 2014
		tr.bold
			td ВСЕГО С/С ЧИСЛЕННОСТЬ, ЧЕЛ
			td 44 266
			td 44 025
			td 43 373
		tr
			td в т. ч.:
			td
			td
			td
		tr
			td Российский дивизион
			td 39 569
			td 39 097
			td 38 473
		tr
			td Европейский дивизион
			td 1 998
			td 2 019
			td 2 049
		tr
			td Американский дивизион
			td 2 699
			td 2 909
			td 2 851

	h3.mtb50 Оплата труда и мотивация
	p В 2014 году мы продолжили совершенствование системы вознаграждения работников Компании с целью повышения ее конкурентоспособности и действенности ее мотивационной составляющей. На очередной этап вышло внедрение системы премирования на основе метода Управления по целям (Management by Objectives — МВО), продемонстрировавшей хорошие результаты на предприятиях ТМК начиная с 2013 года, когда мы приступили к ее последовательной реализации.
	+quote_3("ГР. 7.1", "Динамика средней заработной платы ТМК", "• 2013-2014", "/ % к уровню 2012 года /", "07/71/711.png", "")
	p Заработная плата в среднем по ТМК в 2014 году выросла на 15,1% по отношению к уровню 2013 года. Мы компенсировали инфляционные потери работников в регионах и странах присутствия предприятий ТМК, а также обеспечили выполнение обязательств, взятых на себя Компанией. Эффективное управление численностью персонала позволило нам осуществить индексацию заработной платы работников Компании без роста фонда оплаты труда (ФОТ).

	h3.cb Развитие и обучение персонала
	p Современный уровень трубного производства предъявляет все более высокие требования к квалификации специалистов. Отвечая этим требованиям, мы системно и планомерно развиваем стандарты профессиональных компетенций, разрабатываем и реализуем корпоративные программы обучения. В 2014 году на финансирование корпоративных программ повышения квалификации было направлено около 3,5 млн долл., что позволило:
	ul
		li достичь установленного Кадровой стратегией ТМК на 2014 год целевого показателя в 70% по обучению менеджмента Компании по программе «Эффективный руководитель»;
		li разработать в Американском дивизионе программу формирования вознаграждений и признания заслуг работников TMK IPSCO Way, построенную на принципах оценок достижения ожидаемых результатов и анализе четкого соответствия качества выполненных работ заданным стандартам и параметрам;
		li приступить к подготовке группы внутренних бизнес-тренеров для проведения корпоративного тренинга по программе «Шесть Сигм» (Six Sigma), основанной на повсеместном внедрении методов управления качеством;
		li организовать около 200 стажировок работников с целью распространения лучших производственных практик между предприятиями ТМК. Были значительно расширены тематики и увеличено число предприятий, участвующих в стажировках.

	+quote_circle("left", "НАГРАЖДЕНИЕ ПОБЕДИТЕЛЕЙ", "Х Международной молодежной научно-практической конференции ТМК", "07/71/712.jpg")
	p Наша Компания принимает активное участие в национальных программах развития образования в регионах России, в разработке профессиональных стандартов на общероссийском уровне, в чемпионатах рабочих профессий:
	ul
		li в рамках соглашения между правительством Свердловской области и ТМК на строительство полигонов и разработку учебно-производственных программ для колледжей в г. Полевской (СТЗ) и в г. Каменск-Уральский (СинТЗ) в 2012-2014 годах нами было направлено 5,5 млн долл. США (82% финансирования программы);
		li рабочей группой ТМК были разработаны проекты профессиональных стандартов Российской Федерации по ключевым для нас профессиям: вальцовщик стана горячего проката труб, вальцовщик стана холодного проката труб, термист проката и труб;
		li команды СинТЗ, СТЗ и ТАГМЕТ впервые участвовали в Национальном чемпионате сквозных рабочих профессий высокотехнологичных отраслей промышленности по методике WorldSkills;
		li мы провели X Международную молодежную научно-практическую конференцию ТМК с участием молодых специалистов Российского, Европейского и Американского дивизионов.

	p.cb Мы уделяем большое внимание профессиональной подготовке молодых специалистов, создаем механизмы привлечения лучших выпускников вузов для работы в нашей Компании. ТМК тесно сотрудничает с высшими учебными заведениями в регионах нашего присутствия:
	+quote_circle("left", "СТУДЕНТЫ НИТУ «МИСИС» — ", "участники стипендиальной программы ТМК", "07/71/713.jpg")
	ul
		li в России — с Уральским федеральным университетом им. первого Президента России Б. Н. Ельцина (УрФУ), Национальным исследовательским технологическим университетом «МИСиС» (НИТУ «МИСиС»);
		li на Ближнем Востоке (Оман) — с University Of Applied Sciences-Sohar (факультет Engineering: Electrical & Information Tec), Shinas University of Technology (факультет Engineering: Electrical & Mechanical), Sohar University (факультет Engineering: Electrical & Mechanical);
		li в Северной Америке — с Massachusetts Institute of Technology, Colorado School of Mines, University of Oklahoma, University of Pittsburg, University of Iowa, Missouri University of Science and Technology, Texas A&M и Texas Tech University.

	p С 2013 года ТМК реализует стипендиальную программу в НИТУ «МИСиС», учредив и выплачивая именную стипендию им. А. Д. Дейнеко наиболее одаренным студентам кафедры «Технология и оборудование трубного производства» для их поддержки и мотивации к производственной карьере на предприятиях ТМК.

	h3.cb Социальное партнерство
	p Социальное партнерство, включая взаимодействие с профсоюзными организациями, участие в экономическом развитии регионов и мероприятиях социальной направленности, является одним из ключевых элементов стабильного и успешного развития Компании.
	p Мы активно участвуем в переговорных процессах по новым законодательным инициативам, по ключевым составляющим Отраслевого тарифного соглашения в рамках взаимодействия с Горнометаллургическим профсоюзом России (ГМПР), Ассоциацией металлургов России (АМРОС), Российским союзом промышленников и предпринимателей (РСПП). Данное сотрудничество позволяет соблюдать баланс интересов между сторонами социального партнерства.
	p В 2014 году TMK IPSCO и Союз Объединенных Сталелитейщиков США подписали Коллективный Трудовой Договор по заводам Ambridge и Koppel, TMK-ARTROM заключил новый Коллективный Трудовой Договор на период 2015-2016 годов с учетом факторов экономического развития региона и на основе принципов социального партнерства.
	p Мы заботимся о здоровье наших сотрудников. В 2014 году более 2200 работников и членов их семей отдохнули в Сочи в пансионате «Бургас», 450 человек были на санаторно-курортном лечении в пансионате Westend в Чехии. Отдых и санаторнокурортное лечение софинансировались Компанией.
	p Ярким событием начала 2014 года для 152 работников Компании и членов их семей стало посещение зимней Олимпиады в Сочи. 51 работник Компании был награжден путевками на Олимпиаду.
	+quote_circle("left", "ЯРКИМ СОБЫТИЕМ НАЧАЛА 2014 ГОДА» — ", "для 152 работников Компании и членов их семей стало посещение зимней Олимпиады в Сочи", "07/71/714.jpg")
	p ТМК особое значение придает таким формам морального поощрения, как награждение корпоративными наградами лучших работников предприятий, а также представление работников к награждению государственными и отраслевыми наградами.
	p В 2014 году 16 работников Компании были награждены государственными наградами Российской Федерации, 91 работник — отраслевыми наградами, в том числе 27 присвоено звание «Почетный металлург», 286 работников отмечены корпоративными наградами, в том числе звание «Заслуженный работник ТМК» присвоено 54 работникам, знаком «Отличия ТМК» отмечены 29 человек, Почетной грамотой ТМК — 203 человека.
	p В знак признательности за активное участие в установлении и поддержании надежных, долгосрочных и взаимовыгодных отношений и сотрудничества с Компанией в 2014 году ТМК наградила 32 сотрудников компаний-партнеров, в числе которых поставщики технологических решений, транспортные компании, медиакомпании и пр., знаками и дипломами «За деловое сотрудничество с Трубной Металлургической Компанией».
