extends ../layouts/default

block head
	- pageTitle = 'Охрана труда';

block recommend
	- pageId = '0702';
	- recommend_lang = lang;

block content
	p.excerpt Политика ТМК в области промышленной безопасности и охраны труда направлена на обеспечение сохранения жизни и здоровья работников Компании, сведение к минимуму возможностей возникновения опасностей, которые могут негативно влиять на профессиональную безопасность и здоровье сотрудников.
	p ТМК соблюдает все законодательные требования и следует международным стандартам в области охраны труда.
	p Системы менеджмента профессиональной безопасности и охраны труда на наших предприятиях сертифицированы на соответствие требованиям стандарта OHSAS 18001, эффективность менеджмента подтверждена ежегодными аудитами ведущих мировых аудиторских компаний, таких как Bereau Veritas Certifiation, SAI Global, Lioyd Register.
	p В связи с вступлением в силу с 1 января 2014 года в Российской Федерации изменений в законодательство по охране труда мы разработали и приступили к поэтапной реализации на наших российских предприятиях комплекса мер по переходу на систему работы в области охраны труда, предусматривающую проведение специальной оценки условий труда (СОУТ) и обеспечение гарантий и компенсаций работникам в соответствии с новыми требованиями законодательства.
	p Мы непрерывно работаем над улучшением условий труда, показатели травматизма и профессиональных заболеваний на наших предприятиях остаются на стабильно низком уровне. В 2014 году на реализацию мероприятий по охране труда и повышению промышленной безопасности мы затратили более 28 млн долл. США. Наши основные усилия направлены на предупреждение несчастных случаев и аварийных ситуаций:
	ul
		li планирование мероприятий по защите здоровья трудящихся от вредных воздействующих факторов и профилактике профессиональных заболеваний;
		li снижение уровня вредных и опасных факторов производства;
		li обучение и аттестации персонала по соблюдению правил охраны труда и промышленной безопасности и поддержания высоких требований к личной ответственности.

	p В 2014 году российские заводы TMK были отмечены наградами за лучшие показатели по безопасности на производстве:
	ul
		li СинТЗ стал победителем отраслевого конкурса «Предприятие горно-металлургического комплекса социальной эффективности» в номинации «Охрана здоровья и безопасные условия труда»;
		li  СТЗ занял второе место в конкурсе по культуре производства и охране труда среди организаций Свердловской области.

	p Предприятия TMK IPSCO Американского дивизиона ТМК также продемонстрировали в отчетном году отличные результаты в области улучшения безопасности производства:
	ul
		li Blytheville и Koppel — достигнут показатель в 2,4 млн человеко-часов без травм, связанных с потерей трудоспособности;
		li Ambridge и Brookfild — стали лучшими среди заводов отрасли в своих категориях по уровню травматизма и производственной безопасности;
		li Baytown и Odessa — количество происшествий сократилось более чем на 70% при увеличении объемов производства на 22%;
		li Geneva — зафиксировано полное предупреждение несчастных случаев: ни одного подлежащего регистрации происшествия за 8 лет;
		li Houston Ultra — снижен подлежащий регистрации травматизм более чем на 70%.
