extends ../layouts/default

block head
	- pageTitle = 'Управление воздействием на окружающую среду';

block recommend
	- pageId = '0703';
	- recommend_lang = lang;

block content
	p.excerpt В соответствии с принципами Экологической политики ТМК, направленной на сохранение благоприятной окружающей среды при динамично развивающемся производстве, наши усилия в 2014 году, как и в предыдущие годы, были сфокусированы на повышении экологической эффективности технологических процессов и сокращении потребления водных ресурсов.
	img.left(src=globalPath + 'assets/images/07/73/731.jpg' alt=pageTitle)
	p В своей деятельности мы следуем международным инициативам и соглашениям в области охраны окружающей среды, выполняем национальные экологические требования и правила. Мы проводим системную работу в области управления воздействием на окружающую среду. 11 заводов Компании сертифицированы на соответствие международному стандарту «Система экологического менеджмента» ISO 14001:2004. Международные аудиторы в отчетном году в очередной раз подтвердили непрерывное совершенствование управления природоохранной деятельностью.

	h3.cb Экологические инвестиции — переход на наилучшие доступные технологии
	p Вопросы экологии являются значимым компонентом всех программных документов Компании, в том числе и действующей Стратегической инвестиционной программы. В 2014 году мы инвестировали 20,8 млн долл. США в комплекс мероприятий, направленных на выполнение требований законодательства и охрану окружающей среды: сокращение объемов выбросов загрязняющих веществ, сокращение стоков, повышение эффективности управления отходами производства и рекультивации земель, снижение уровня шумового воздействия.
	p Основные мероприятия и результаты:
	ul
		li на СТЗ построена современная газоочистка и блок очистных сооружений непрерывного стана;
		li на ТАГМЕТе введена в эксплуатацию высокоэффективная система газоочистки ДСП;
		li на ВТЗ проведена реконструкция трубопроводов условно чистых стоков ливневой насосной, ликвидированы протечки;
		li на СинТЗ организован локальный оборотный цикл газового цеха.

	h3 Управление выбросами
	+quote_3("ГР. 7.2", "Забор воды из поверхностных водных объектов ТМК", "• 2012-2014", "/ млн м<sup>3</sup> /", "07/73/732.png", "")
	p В целях снижения негативного воздействия на атмосферный воздух мы используем современные технологии с высокой степенью очистки промышленных выбросов. Ежегодно выполняются мероприятия, в том числе текущие и капитальные ремонты очистного оборудования, направленные на повышение эффективности работы газоочисток, что позволяет соблюдать установленные нормативы. Затраты ТМК на охрану атмосферного воздуха составили 6,4 млн долл. США. На установках очистки промышленных выбросов заводов Российского дивизиона в 2014 году уловлено и обезврежено загрязняющих веществ в 1,7 раза больше, чем в 2013 году.
	p.cb Основные мероприятия и результаты:
	ul
		li на ВТЗ обеспечена бесперебойная работа газоочистки ДСП-150, произведена замена рукавных фильтров в количестве 8100 шт.;
		li на ТАГМЕТе в результате технического перевооружения на 48 единиц сокращено количество источников загрязнения;
		li на заводе Koppel (Американский дивизион) завершен проект реконструкции системы пылеподавления.


	h3.cb Управление воздействием на водные объекты
	+quote_3("ГР. 7.3", "Водопотребление на производственные нужды ТМК", "• 2012-2014", "/ млн м<sup>3</sup> /", "07/73/733.png", "")
	p В соответствии с Экологической политикой ТМК стратегическим направлением в области управления воздействием на водные объекты является сокращение водопотребления и снижение негативного воздействия на водные объекты. Заводы ТМК комплексно решают задачу охраны водных ресурсов, постепенно добиваясь оптимизации потребления воды, водораспределения, рационального использования и сокращения отведения стоков. Обязательным условием ввода новых производственных мощностей, модернизации и реконструкции производств ТМК является переход на оборотное водоснабжение.
	p.cb В результате системной работы по управлению воздействием на водные объекты в 2014 году по сравнению с 2013 годом:
	ul
		li на 8% снижен забор воды из поверхностных водных объектов;
		li на 6,3% уменьшилось водопотребление на производственные нужды;
		li на 1,6% снижено количество загрязняющих веществ в стоках в водные объекты;
		li на 3,6% снижен объем сточных вод;
		li доля оборотного водоснабжения достигла 95,28%.

	p Основные мероприятия и результаты:
	ul
		li на СинТЗ выполнены мероприятия по снижению потерь при транспортировке воды, что позволило сократить водопотребление на 339 тыс. м3 (3,3%);
		li на ТАГМЕТе внедрено оборотное водоснабжение ДСП, что увеличило количество воды в оборотных системах на 8,5%;
		li на ВТЗ проведена чистка отстойников ЭНЦ-2 и отстойника окалины оборотной системы SR-9 ТПЦ-3, что позволило снизить содержание нефтепродуктов в условно чистом стоке;
		li на СТЗ реконструирована станция аэрации и биологической очистки, произведен ремонт аэротенка;
		li на СинТЗ произведена очистка отстойника на выпуске сточных вод в р. Исеть;
		li на ТАГМЕТе проведен ремонт и очистка сеток приемных камер насосной станции «Береговая» и рыбозащитных устройств;
		li на ОМЗ осуществлена чистка колодцев, трубопроводов общезаводских сетей водоотведения;
		li на заводе Houston Ultra (Американский дивизион) завершена модернизация очистных сооружений хозбытовых стоков.

	+quote_3("ГР. 7.4", "Водоотведение в водные объекты и операторам приема стоков, ТМК", "• 2012-2014", "/ млн м<sup>3</sup> /", "07/73/734.png", "")
	+quote_3("ГР. 7.5", "Доля оборотного водоснабжения ТМК", "• 2012-2014", "/ % /", "07/73/735.png", "")

	h3.cb Управление отходами
	p Следуя экологической политике ТМК, наши заводы предпринимают практические действия по сокращению образования отходов, их повторному использованию и переработке, обезвреживанию и сокращению размещения в окружающей среде, восстановлению нарушенных земель.
	p Основные результаты системного выполнения поставленных задач в 2014 году:
	ul
		li количество образующихся отходов снизилось на 7,5%;
		li только 6,8% от общего количества образующихся отходов было размещено на специализированных объектах, что является показателем высокой эффективности управления отходами;
		li 1,8 млн тонн отходов было направлено на повторное использование;
		li на 30% выросло использование отходов на собственном производстве;
		li в 4,2 раза выросли продажи отходов для использования в качестве сырья другими отраслями промышленности.

	p В отчетном году продолжилась переработка ранее накопленных отходов. В период за 2012-2014 годы заводами ТМК переработано более 1,4 млн тонн накопленных отходов.
	p На охрану окружающей среды от воздействия отходов в 2014 году затрачено 8,4 млн долл. США.
	p Затраты ТМК на мероприятия по защите земель, в том числе рекультивацию нарушенных земель, составили 1,29 млн долл. США.
	+quote_3("ГР. 7.6", "Повторное использование отходов в производстве, ТМК", "• 2012-2014", "/ тыс. тонн /", "07/73/736.png", "")
	p Мероприятия и результаты:
	ul
		li на ВТЗ введен в эксплуатацию и внесен в Государственный реестр новый полигон захоронения отходов;
		li на СТЗ построена площадка для подготовки замасленной окалины к реализации;
		li на СинТЗ проведена рекультивация карт №2 и №3 шламонакопителя и свалки промышленных отходов;
		li на ТМК Артром увеличен объем повторного использования отходов бумаги на 30%;
		li на ТМК IPSCO внедрена информационная система формирования отчетности по потокам отходов и управления ими по предприятию.
