extends ../layouts/default

block head
	- pageTitle = 'Благотворительная и спонсорская деятельность';

block recommend
	- pageId = '0704';
	- recommend_lang = lang;

block content
	p.excerpt Благотворительная и спонсорская деятельность ТМК направлена на формирование благоприятного социального климата и создание условий для устойчивого развития регионов, в которых находятся наши предприятия.
	p В России благотворительные проекты ТМК реализуются через профессионального оператора — корпоративный благотворительный фонд «Синара». В 2014 году финансовую помощь получили 122 некоммерческие организации, в том числе 33 — через систему грантовых конкурсов. Фонд качественно улучшил проектные формы работы по профориентации учащихся, направленные на повышение интереса к инженерным и рабочим специальностям: была разработана серия интерактивных мероприятий для подростков «Точка опоры» (творческие конкурсы, цикл выездных лекций по естественно-научным предметам, телевизионное реалити-шоу «Билет в профессию»), оборудованы профильные классы для научно-технического творчества детей и молодежи.
	p В 2014 году ТМК, став попечителем фонда целевого капитала «Истоки», поддержала Всероссийскую программу «Святость материнства», которая реализуется в 21 регионе России и направлена на сохранение в российском обществе института семьи и семейных ценностей.
	p Мы участвуем в финансировании благотворительных акций, направленных на поддержку социально уязвимых групп населения, в том числе детей с ограниченными возможностями, ветеранов. В 2014 году финансовая помощь была выделена детскому дому и дому ребенка в Таганроге, детскому саду компенсирующего вида и Центру реабилитации детейинвалидов в г. Волжском, а также другим социальным, медицинским, образовательным, культурным и детским спортивным учреждениям.
	p Содействуя развитию спорта, ТМК оказывает спонсорскую поддержку Российской Федерации прыжков на лыжах с трамплина и лыжного двоеборья, Фонду поддержки олимпийцев России, а также ряду профессиональных спортивных клубов в регионах нашего присутствия, в числе которых:
	ul
		li футбольный клуб «Урал» (Екатеринбург), выступающий в премьер-лиге чемпионата России;
		li двукратный чемпион России мини-футбольный клуб «Синара» (Екатеринбург);
		li двенадцатикратный чемпион России женский гандбольный клуб «Динамо» (Волгоград);
		li теннисный клуб «ТМК-ТАГМЕТ» (Таганрог);
		li стрелково-спортивный клуб «Синара» (Каменск-Уральский).

	p Кроме этого, мы спонсируем любительские команды предприятий Компании по различным видам спорта, в том числе детские и юношеские.
	p Американский дивизион ТМК выступил ведущим корпоративным спонсором выставки «Век импрессионизма: великие французские картины из Института Искусств Стерлинга и Франсины Кларк», проходившей с декабря 2013 по май 2014 года в Музее изящных искусств в Хьюстоне. В течение пяти месяцев выставку посетили свыше 75 тыс. человек. Компания профинансировала образовательную программу по искусству для 1 000 учащихся начальных школ. Сотрудники предприятий TMK IPSCO и члены их семей принимают активное участие в благотворительной деятельности на уровне местных сообществ, осуществляя сбор рождественских подарков и продовольствия для неимущих семей, помогая детям с ограниченными возможностями.
	p В 2014 году Европейский дивизион ТМК стал генеральным спонсором серии мероприятий, посвященных 100-летнему юбилею последнего визита императора Николая II в Румынию. В Историческом музее Бухареста прошла выставка видео- и фотоматериалов из государственных архивов Санкт-Петербурга, которые были использованы для создания фотоальбомов с серией исторических очерков, посвященных русско-румынским отношениям того периода.
	p Предприятие TMK GIPI в Омане поддерживает общественный волонтерский центр Аль-Вафа, который проводит благотворительные мероприятия, направленные на поддержку неимущих. Кроме того, TMK GIPI поддерживает учебные заведения, включая начальные школы, в городах Сохаре и Ливе, предоставляет стипендии для выпускников высших учебных заведений. Сотрудники TMK GIPI также являются постоянными участниками кампаний по сдаче крови для онкологических больных, людей с сердечными заболеваниями и ВИЧ-инфицированных.
