extends ../layouts/default

block head
	- pageTitle = 'MD&A';

block recommend
	- pageId = '08';
	- recommend_lang = lang;

block content
	img.inner_cover(src=globalPath + 'assets/images/08/08.jpg' alt=pageTitle)
	p.excerpt Данный обзор  результатов деятельности и финансового состояния должен рассматриваться вместе с консолидированной финансовой отчетностью ТМК за 2014 год (на 31 декабря 2014 г.).
	p.excerpt Определенная информация, содержащаяся в данном документе, включая прогнозы, сведения о стратегии развития, представляет собой заявление о перспективах ТМК и допускает неопределенность. При оценке данного анализа должны рассматриваться различные факторы риска, которые могут привести к тому, что фактические результаты деятельности ТМК будут значительно отличаться от тех показателей, которые отображены в этих заявлениях.

	+quote_2("* ОКРУГЛЕНИЕ <br> Денежные величины, включенные в данный анализ результатов деятельности ТМК, были округлены до целых величин. В результате округления отдельные итоговые суммы в таблицах могут отличаться от арифметической суммы слагаемых величин. Процентные показатели в тексте и в таблицах могут не складываться в 100 %. Изменение денежных величин за период рассчитано на основании денежных величин, выраженных в тысячах долларов США, как представлено в нашей консолидированной финансовой отчетности по МСФО, а затем округлено до ближайшего миллиона или процента.", "")
