extends ../layouts/default

block head
	- pageTitle = 'Обзор деятельности компании';

block recommend
	- pageId = '0801';
	- recommend_lang = lang;

block content
	img.inner_cover(src=globalPath + 'assets/images/08/08.jpg' alt=pageTitle)
	p.excerpt Наша Компания —  один из крупнейших мировых производителей стальных труб для предприятий нефтегазовой отрасли. Мы являемся международной компанией с разветвленной сетью производственных и торговых площадок, а также представительств в разных странах.
	p Основным направлением деятельности нашей Компании являются производство и продажа бесшовных и сварных труб, включая трубы с широким спектром премиальных соединений, в сочетании c предоставлением клиентам услуг по технической поддержке.
	+quote_blue("left", "на 7%", "выросли продажи бесшовных и сварных труб OCTG по сравнению с 2013 годом ")
	p Наши предприятия производят практически весь сортамент труб, необходимых для использования в нефтегазовой отрасли, химической промышленности, энергетике, машиностроении, строительстве, судостроении, авиационной и аэрокосмической отрасли и сельском хозяйстве.
	p Мы создали современный технологический комплекс, использующий последние научные разработки для производства высококачественной и конкурентоспособной продукции.
	p Наши производственные активы расположены в России, США, Канаде, Румынии, Казахстане и Омане. Наша Компания объединяет два научноисследовательских центра в России и США. Масштабное присутствие Компании на рынке обеспечивает разветвленная сбытовая сеть. В 2014 году доля продаж покупателям в России составила 59 % от общего объема продаж, в Северной Америке — 28 %. По нашим оценкам наша доля на мировом рынке бесшовных труб OCTG составила 10 %.
	p Мы являемся крупнейшим экспортером трубной продукции в России. Экспорт труб, произведенных нашими российскими предприятиями, составил 14 % от общего объема реализации за 2014 год.
	p За 2014 год мы продали 4 402 тыс. тонн трубной продукции. Продажи бесшовных труб составили 58 % общего объема реализации. Продажи бесшовных и сварных труб OCTG составили 1 948 тыс. тонн, что на 7 % выше объема продаж за 2013 год, продажи труб большого диаметра (ТБД) увеличились на 6 % и составили 468 тыс. тонн.
	p Консолидированная выручка снизилась на 7 % по сравнению с показателем за 2013 год и составила 6 009 млн долл. Скорректированный показатель EBITDA1 снизился до 804 млн долл. по сравнению с 952 млн долл. в прошлом году. Рентабельность Скорректированного показателя EBITDA снизилась до 13 % по сравнению с 15 % в 2013 году.
	+quote_2("* Методика расчета представлена в разделе «Финансовые показатели».", "")
