extends ../layouts/default

block head
	- pageTitle = 'Структура группы ТМК';

block recommend
	- pageId = '0802';
	- recommend_lang = lang;

block content
	p Наша операционная деятельность разделена на отчетные сегменты по принципу управления ТМК и тому, как осуществляется мониторинг операционных результатов деятельности. В целях управления Компания разделена на бизнес-подразделения по географическому принципу и состоит из следующих трех отчетных сегментов:
	ul
		li
			b.orange РОССИЙСКИЙ ДИВИЗИОН:
			br
			| производственные предприятия ТМК, расположенные в России, Казахстане и Омане, предприятия нефтегазового сервиса и торговые компании ТМК в России, Казахстане, Швейцарии, ОАЭ. Дивизион осуществляет производство и продажи бесшовных и сварных труб, премиальной продукции, а также предоставляет услуги предприятиям нефтегазовой промышленности;
		li
			b.orange АМЕРИКАНСКИЙ ДИВИЗИОН:
			br
			| производственные предприятия и торговые компании, расположенные в США и Канаде. Дивизион осуществляет производство и продажи бесшовных и сварных труб, и премиальной продукции, а также предоставляет услуги предприятиям нефтегазовой промышленности;
		li
			b.orange ЕВРОПЕЙСКИЙ ДИВИЗИОН:
			br
			| производственные предприятия в Румынии и торговые компании, расположенные в Италии и Германии. Дивизион осуществляет производство и продажи бесшовных труб и стальной заготовки.

