extends ../layouts/default

block head
	- pageTitle = '2014 год в сравнении с 2013 годом';

block recommend
	- pageId = '0803';
	- recommend_lang = lang;

block content
	h3 Результаты деятельности
	p В 2014 году при небольшом росте объема продаж наши финансовые показатели снизились по сравнению с 2013 годом.

	table.table_0803_1
		tr
			th
			th 2014
			th 2013
			th Изменение
		tr
			td
			td в млн долл.
			td в млн долл.
			td
		tr
			td ОБЪЕМ ПРОДАЖ (в тыс. тонн)
			td 4 402
			td 4 287
			td 115
		tr
			td Выручка
			td 6 009
			td 6 432
			td (423)
		tr
			td Себестоимость
			td (4 839)
			td (5 074)
			td 235
		tr.bold
			td ВАЛОВАЯ ПРИБЫЛЬ
			td 1 169
			td 1 358
			td (188)
		tr
			td РЕНТАБЕЛЬНОСТЬ ПРОДАЖ
			td 19 %
			td 21 %
			td
		tr
			td Чистые операционные расходы
				sup 1
			td (693)
			td (754)
			td 61
		tr
			td (Обесценение активов) / Восстановление обесценения активов
			td (153)
			td (5)
			td (147)
		tr
			td Чистый доход / (убыток) от курсовых разниц
			td (301)
			td (49)
			td (252)
		tr
			td (Убыток) / доход от изменения справедливой стоимости производного финансового инструмента
			td 2
			td 8
			td (6)
		tr
			td Чистые финансовые расходы
			td (226)
			td (245)
			td 19
		tr.bold
			td ПРИБЫЛЬ ДО НАЛОГООБЛОЖЕНИЯ
			td (201)
			td 312
			td (514)
		tr
			td Расход по налогу на прибыль
			td (15)
			td (98)
			td 83
		tr.bold
			td ЧИСТАЯ ПРИБЫЛЬ
			td (217)
			td 215
			td (431)
		tr
			td Рентабельность чистой прибыли
			td (4) %
			td 3 %
			td
		tr
			td Скорректированный показатель EBITDA
			td 804
			td 952
			td (148)
		tr
			td Рентабельность скорректированного показателя EBITDA
			td 13 %
			td 15 %
			td

	+quote_2("* Статья «Чистые операционные расходы» включает коммерческие расходы, административные расходы, расходы на рекламу и продвижение, расходы на исследования и разработки, долю в прибыли ассоциированных компаний, прибыль от выбытия дочерней компании, а также чистые прочие операционные доходы / расходы.", "")

	h3 Продажи
	p В 2014 году консолидированная выручка снизилась на 423 млн долл., или на 7 % за счет отрицательного эффекта от пересчета из функциональной валюты в валюту представления отчетности, который составил 790 млн долл. Без учета данного эффекта рост выручки составил 367 млн долл.

	h4 Реализация в разрезе операционных сегментов:
	table.table_0803_2
		tr
			th
			th 2014
			th 2013
			th Изменение
			th Изменение
		tr
			td
			td в млн долл.
			td в млн долл.
			td  в %
			td  в %
		tr
			td Россия
			td 3 973
			td 4 483
			td (510)
			td (11) %
		tr
			td Америка
			td 1 766
			td 1 665
			td 102
			td 6 %
		tr
			td Европа
			td 270
			td 284
			td (15)
			td (5) %
		tr.bold
			td ИТОГО ВЫРУЧКА
			td 6 009
			td 6 432
			td (423)
			td (7) %

	table.table_0803_3
		tr
			th
			th 2014
			th 2013
			th Изменение
			th Изменение
		tr
			td
			td в тыс. тонн
			td в тыс. тонн
			td  в %
			td  в %
		tr
			td Россия
			td 3 198
			td 3 085
			td 113
			td 4 %
		tr
			td Америка
			td 1 019
			td 1 027
			td (8)
			td (1) %
		tr
			td Европа
			td 185
			td 175
			td 9
			td 5 %
		tr.bold
			td ИТОГО ОБЪЕМ ПРОДАЖ
			td 4 402
			td 4 287
			td 115
			td 3 %

	h4.mtb50 Реализация по группам продуктов:
	table.table_0803_4
		tr
			th
			th 2014
			th 2013
			th Изменение
			th Изменение
		tr
			td
			td в млн долл.
			td в млн долл.
			td  в %
			td  в %
		tr
			td Бесшовные трубы
			td 3 748
			td 3 960
			td (211)
			td (5) %
		tr
			td Сварные трубы
			td 1 998
			td 2 201
			td (202)
			td (9) %
		tr.bold
			td ВЫРУЧКА ОТ ПРОДАЖ  ТРУБНОЙ ПРОДУКЦИИ
			td 5 747
			td 6 160
			td (413)
			td (7) %
		tr
			td Прочая деятельность
			td 262
			td 272
			td (10)
			td (4) %
		tr.bold
			td ИТОГО ВЫРУЧКА
			td 6 009
			td 6 432
			td (423)
			td (7) %

	table.table_0803_5
		tr
			th
			th 2014
			th 2013
			th Изменение
			th Изменение
		tr
			td
			td в тыс. тонн
			td в тыс. тонн
			td  в %
			td  в %
		tr
			td Бесшовные трубы
			td 2 560
			td 2 422
			td 138
			td 6 %
		tr
			td Сварные трубы
			td 1 842
			td 1 866
			td (23)
			td (1) %
		tr.bold
			td ИТОГО ОБЪЕМ ПРОДАЖ
			td 4 402
			td 4 287
			td 115
			td 3 %


	h4.mtb50 РОССИЯ.
	p Выручка российского дивизиона снизилась на 510 млн долл., или на11 % по сравнению с прошлым годом в результате отрицательного эффекта от пересчета из функциональной валюты в валюту представления отчетности в размере 788 млн долл. Без учета данного эффекта рост выручки составил 278 млн долл.
	p Выручка от продаж бесшовных труб увеличилась на 141 млн долл. в основном вследствие роста объема продаж линейных труб и труб OCTG.
	p Выручка от продаж сварных труб выросла на 83 млн долл. в результате увеличения объема продаж ТБД, что также оказало положительное влияние на структуру реализованной продукции.
	p Выручка от прочих видов деятельности увеличилась на 53 млн долл. вследствие значительного увеличения объема продаж заготовки.

	h4 АМЕРИКА.
	p Выручка американского дивизиона увеличилась на 102 млн долл., или на 6 % по сравнению с прошлым годом.
	p Выручка от продаж бесшовных труб выросла на 141 млн долл. вследствие увеличения объема продаж труб OCTG, в том числе значительного роста объема реализации труб, произведенных на наших российских заводах, а также улучшения ценовой конъюнктуры.
	p Выручка от продаж сварных труб снизилась на 38 млн долл. в результате падения объема реализации, отрицательный эффект от которого не был полностью компенсирован положительным эффектом от улучшения структуры продаж.
	p Выручка от прочих видов деятельности снизилась на 2 млн долл.

	h4 ЕВРОПА.
	p Выручка европейского дивизиона снизилась на 15 млн долл., или на 5 % по сравнению с аналогичным показателем прошлого года в основном в результате значительного падения объема продаж заготовки. Отрицательный эффект от пересчета из функциональной валюты в валюту представления отчетности составил 3 млн долл.
	p Выручка от продаж бесшовных труб увеличилась на 17 млн долл. по сравнению с уровнем прошлого года прежде всего в результате роста объема продаж.
	p Выручка от прочих видов деятельности, прежде всего от продаж заготовки, снизилась на 29 млн долл. по сравнению с прошлым годом в результате снижения объема продаж.

	h3.mtb50 ВАЛОВАЯ ПРИБЫЛЬ
	p В 2014 году консолидированная валовая прибыль снизилась на 188 млн долл., или на 14 % и составила 1 169 млн долл. Отрицательный эффект от пересчета из функциональной валюты в валюту представления отчетности составил 178 млн долл. Рентабельность продаж снизилась до 19 % по сравнению с 21 % в прошлом году.

	h4 ВАЛОВАЯ ПРИБЫЛЬ В РАЗРЕЗЕ ОПЕРАЦИОННЫХ СЕГМЕНТОВ:

	table.table_0803_6
		tr
			th
			th 2014
			th 2014
			th 2013
			th 2013
			th Изменение
		tr
			td
			td в млн долл.
			td в % к выручке
			td в млн долл.
			td в % к выручке
			td в млн долл.
		tr
			td Россия
			td 891
			td 22 %
			td 1 092
			td 24 %
			td (201)
		tr
			td Америка
			td  223
			td 13 %
			td 212
			td 13 %
			td 12
		tr
			td Европа
			td 55
			td 21 %
			td 54
			td 19 %
			td 1
		tr.bold
			td ИТОГО ВАЛОВАЯ ПРИБЫЛЬ
			td 1 169
			td 19 %
			td 1 358
			td 21 %
			td (188)

	h4.mtb50 ВАЛОВАЯ ПРИБЫЛЬ ПО ГРУППАМ ПРОДУКТОВ:
	table.table_0803_7
		tr
			th
			th 2014
			th 2014
			th 2013
			th 2013
			th Изменение
		tr
			td
			td в млн долл.
			td в % к выручке
			td в млн долл.
			td в % к выручке
			td в млн долл.
		tr
			td Бесшовные трубы
			td 907
			td 24 %
			td 1 077
			td 27 %
			td (170)
		tr
			td Сварные трубы
			td 239
			td 12 %
			td 246
			td 11 %
			td (7)
		tr.bold
			td ВАЛОВАЯ ПРИБЫЛЬ ОТ ПРОДАЖ ТРУБНОЙ ПРОДУКЦИИ
			td 1 146
			td 20 %
			td 1 323
			td 21 %
			td (176)
		tr
			td Прочие виды деятельности
			td 23
			td 9 %
			td 35
			td 13 %
			td (12)
		tr.bold
			td ИТОГО ВАЛОВАЯ ПРИБЫЛЬ
			td 1 169
			td 19 %
			td 1 358
			td 21 %
			td (188)

	h4.mtb50 РОССИЯ.
	p Валовая прибыль Российского дивизиона снизилась на 201 млн долл., в первую очередь в результате отрицательного эффекта от пересчета из функциональной валюты в валюту представления отчетности, который составил 178 млн долл. Рентабельность продаж снизилась с 24 % до 22 %.
	p Отрицательный эффект от роста цен на сырье не был компенсирован положительным влиянием увеличения объема продаж, что привело к снижению валовой прибыли от продаж бесшовных труб в размере 81 млн долл.
	p Валовая прибыль от продаж сварных труб выросла на 60 млн долл. вследствие улучшения структуры реализации в результате увеличения доли ТБД в объеме продаж.
	p Валовая прибыль по прочим видам деятельности снизилась на 2 млн долл.

	h4 АМЕРИКА.
	p Валовая прибыль Американского дивизиона увеличилась на 12 млн долл. по сравнению с 2013 годом. Рентабельность продаж практически не изменилась и составила 13 %.
	p Валовая прибыль от продаж бесшовных труб выросла на 41 млн долл. вследствие роста объема продаж труб OCTG.
	p Увеличение цен на сырье и снижение объема продаж привело к сокращению валовой прибыли от продаж сварных труб на 20 млн долл.
	p Валовая прибыль по прочим видам деятельности снизилась на 9 млн долл.

	h4 ЕВРОПА.
	p Валовая прибыль Европейского дивизиона выросла на 1 млн долл. Рентабельность продаж увеличилась с 19 % до 21 % вследствие роста доли бесшовных труб в общем объеме продаж дивизиона.

	h3.mtb50 ЧИСТЫЕ ОПЕРАЦИОННЫЕ РАСХОДЫ
	p Чистые операционные расходы снизились на 61 млн долл., или на 8 % в результате отрицательного эффекта от пересчета из функциональной валюты в валюту представления отчетности. Доля чистых операционных расходов, выраженная как отношение к выручке, осталась практически на уровне прошлого года и составила 12 %.

	h3 СКОРРЕКТИРОВАННЫЙ ПОКАЗАТЕЛЬ EBITDA
	p В 2014 году рентабельность Скорректированного показателя EBITDA снизилась до 13 % по сравнению с 15 % в предыдущем году.

	table.table_0803_8
		tr
			th
			th 2014
			th 2014
			th 2013
			th 2013
			th Изменение
		tr
			td
			td в млн долл.
			td в % к выручке
			td в млн долл.
			td в % к выручке
			td в млн долл.
		tr
			td Россия
			td 614
			td 15 %
			td 776
			td 17 %
			td (162)
		tr
			td Америка
			td 159
			td 9 %
			td 145
			td 9 %
			td 14
		tr
			td Европа
			td 32
			td 12 %
			td 31
			td 11 %
			td 1
		tr.bold
			td ИТОГО СКОРРЕКТИРОВАННЫЙ ПОКАЗАТЕЛЬ EBITDA
			td 804
			td 13 %
			td 952
			td 15 %
			td (148)

	h4.mtb50 РОССИЯ.
	p Скорректированный показатель EBITDA дивизиона снизился на 162 млн долл., или на 21 %. Снижение валовой прибыли было частично компенсировано сокращением коммерческих и административных расходов. Рентабельность по Скорректированному показателю EBITDA сократилась с 17 % до 15 %.

	h4 АМЕРИКА.
	p Скорректированный показатель EBITDA вырос на 14 млн долл., или на 10 % в результате увеличения валовой прибыли и сокращения коммерческих, административных и прочих операционных расходов. Рентабельность по Скорректированному показателю EBITDA осталась практически неизменной и составила 9 %.

	h4 ЕВРОПА.
	p Скорректированный показатель EBITDA практически не изменился по сравнению с уровнем 2013 года. Рентабельность по Скорректированному показателю EBITDA выросла с 11 % до 12 %.

	+quote_3("ГР. 8.1", "Поквартальные значения Скорректированного показателя EBITDA за 2014 год по операционным сегментам", "", "/ млн долл. /", "08/83/831.png", "")


	h3.cb ОБЕСЦЕНЕНИЕ АКТИВОВ
	p В течение года мы проводили тесты на обесценение активов. По состоянию на 31 декабря 2014 года мы признали убыток от обесценения в размере 153 млн долл. в основном в отношении гудвила Американского дивизиона. В 2013 году убыток от обесценения составил 5 млн долл.

	h3 КУРСОВЫЕ РАЗНИЦЫ
	p В 2014 году мы отразили убыток от курсовых разниц в размере 301 млн долл. по сравнению с убытком в размере 49 млн долл. в 2013 году. Кроме того, в отчете о совокупном доходе мы признали убыток от курсовых разниц в размере 482 млн долл. (за вычетом налога на прибыль) по сравнению с убытком в размере 65 млн долл. (за вычетом налога на прибыль) в прошлом году. Курсовые разницы, отраженные в отчете о совокупном доходе, представляют собой действительную часть курсовых доходов или убытков в наших инструментах хеджирования.

	h3 ЧИСТЫЕ ФИНАНСОВЫЕ РАСХОДЫ
	p Чистые финансовые расходы снизились на 19 млн долл., или на 8 % в основном в результате снижения процентных расходов на фоне ослабления курса российского рубля по отношению к доллару США. Средневзвешенная номинальная ставка по заемным средствам составила 7,26 % по состоянию на 31 декабря 2014 года по сравнению с 6,72 % по состоянию на 31 декабря 2013 года.

	h3 НАЛОГ НА ПРИБЫЛЬ
	p ТМК, являясь международной компанией с производственными предприятиями и торговыми офисами, расположенными в России, СНГ, США и Европе, несет обязательства по уплате налогов в этих странах. В 2013 и 2014 годах действовали следующие основные ставки налога на прибыль в странах расположения наших основных производственных мощностей: 20 % — в России, 35 % (ставка федерального налога) — в США, 16 % — в Румынии.
	p В 2014 году мы получили убыток до налогообложения в размере 201 млн долл. по сравнению с прибылью до налогообложения в размере 312 млн долл. в 2013 году. Расход по налогу на прибыль составил 15 млн долл. по сравнению с 98 млн долл. в прошлом году.

	h3 ДВИЖЕНИЕ ДЕНЕЖНЫХ СРЕДСТВ
	h4 В ПРЕДСТАВЛЕННОЙ ТАБЛИЦЕ ПРИВЕДЕНЫ ДЕНЕЖНЫЕ ПОТОКИ ТМК

	table.table_0803_9
		tr
			th
			th 2014
			th 2013
			th Изменение
		tr
			td
			td в млн долл.
			td в млн долл.
			td
		tr.bold
			td ДЕНЕЖНЫЕ СРЕДСТВА ОТ ОПЕРАЦИОННОЙ ДЕЯТЕЛЬНОСТИ
			td 595
			td 703
			td (109)
		tr
			td Приобретение ОС и НМА
			td (293)
			td (397)
			td 104
		tr
			td Приобретение доли участия в дочерних и ассоциированных компаниях
			td (60)
			td (38)
			td (21)
		tr
			td Дивиденды полученные
			td 0
			td 3
			td (3)
		tr
			td Прочие инвестиции
			td 10
			td 9
			td 1
		tr.bold
			td СВОБОДНЫЙ ДЕНЕЖНЫЙ ПОТОК
			td 252
			td 280
			td (28)
		tr
			td (Выплата) / поступления от кредитов
			td 154
			td (93)
			td 247
		tr
			td Проценты выплаченные
			td (251)
			td (254)
			td 3
		tr
			td Прочая финансовая деятельность
			td 95
			td (3)
			td 98
		tr.bold
			td СВОБОДНЫЙ ДЕНЕЖНЫЙ ПОТОК НА СОБСТВЕННЫЙ КАПИТАЛ
			td 251
			td (70)
			td 320
		tr
			td Дивиденды выплаченные
			td (51)
			td (57)
			td 6
		tr
			td Влияние изменения валютных курсов
			td (40)
			td (5)
			td (35)
		tr
			td Денежные средства на начало периода
			td 93
			td 225
			td (132)
		tr
			td Денежные средства на конец периода
			td 253
			td 93
			td 160

	p Денежные средства, полученные от операционной деятельности, снизились на 15 % и составили 595 млн долл. по сравнению с 703 млн долл. в прошлом году в основном вследствие сокращения операционной прибыли. Рост оборотного капитала остался примерно на уровне прошлого года и составил 159 млн долл.
	p Чистое привлечение заемных средств составило 154 млн долл. по сравнению с чистым погашением в размере 93 млн долл. в прошлом году.
	p Значительный рост по прочей финансовой деятельности объясняется дополнительным выпуском акций в декабре 2014 года.

	p Денежные средства, потраченные в 2014 году на приобретение доли участия в дочерних и ассоциированных компаниях, относятся к авансу за приобретение ООО «ЧерметСервис-Снабжение», одного из лидеров рынка металлолома в России. Денежные средства, потраченные в 2013 году на приобретение доли участия в дочерних и ассоциированных компаниях, относятся к приобретению активов по сервисному обслуживанию трубной продукции и производству аксессуаров для нефтегазодобывающей отрасли в США и окончательной оплатой приобретенных в 2012 году 55 % акций компании GIPI в Омане.
	p В 2014 году мы выплатили акционерам ОАО «ТМК» окончательные дивиденды за 2013 год в общей сумме 47 млн долл. В 2013 году мы выплатили акционерам ОАО «ТМК» окончательные дивиденды за 2012 год в общей сумме 53 млн долл. Кроме того, мы выплатили дивиденды владельцам неконтролирующих долей участия в дочерних предприятиях ТМК в размере 4 млн долл. в 2014 году и 2013 году.
	p Остаток денежных средств на конец периода значительно вырос и составил 253 млн долл. по сравнению с 93 млн долл. на конец 2013 года.

	h3 ФИНАНСОВАЯ ЗАДОЛЖЕННОСТЬ
	h4 СТРУКТУРА ЗАДОЛЖЕННОСТИ ТМК ПО СРОКАМ ПОГАШЕНИЯ КРЕДИТОВ И ЗАЙМОВ

	table.table_0803_10
		tr
			th
			th До 1  года
			th От 1 до  3 лет
			th Свыше 3 лет
			th Несамортизированные затраты на выпуск долговых обязательств
			th Итого финансовая задолженность
		tr
			td
			td(colspan=4) (в млн долл.)
			td
		tr
			td На 31.12. 2014 г.
			td 765
			td 1 173
			td 1 294
			td (9)
			td 3 223
		tr
			td На 31.12. 2013 г.
			td 399
			td 1 471
			td 1 837
			td (12)
			td 3 694

	p Размер финансовой задолженности снизился с 3 694 млн долл. по состоянию на 31 декабря 2013 года до 3 223 млн долл. по состоянию на 31 декабря 2014 года на фоне ослабления курса рубля по отношению к доллару США. Размер чистого привлечения заемных средств в 2014 году составил 154 млн долл. Чистый долг сократился до 2 969 млн долл. по сравнению с 3 600 млн долл. на 31 декабря 2013 года.
	p В наш портфель долговых обязательств входят различные виды долговых инструментов, включая банковские кредиты, облигации, конвертируемые облигации и прочие долговые обязательства. По состоянию на 31 декабря 2014 года долговые обязательства, номинированные в долларах США, составили 67 %, в российских рублях — 30 %, в евро — 3 % от общей задолженности по кредитам и займам.
	p Доля краткосрочной задолженности по кредитам и займам увеличилась до 24 % по состоянию на 31 декабря 2014 года по сравнению с 11 % на 31 декабря 2013 года, что объясняется наступлением в феврале 2015 года срока погашения конвертируемых облигаций.
	p Наши долговые обязательства включают кредиты и займы с фиксированной и плавающей процентной ставкой. По состоянию на 31 декабря 2014 года долговые обязательства с плавающей процентной ставкой составили 461 млн долл., или на 15 %, с фиксированной процентной ставкой — 2 709 млн долл. или 85 % от общей задолженности по кредитам и займам.
	p Средневзвешенная номинальная процентная ставка по состоянию на 31 декабря 2014 года увеличилась на 54 базисных пункта по сравнению со ставкой на конец прошлого года и составила 7,26 %.

	h4 НАИБОЛЕЕ СУЩЕСТВЕННЫЕ ОБЯЗАТЕЛЬСТВА ПО КРЕДИТАМ ПО СОСТОЯНИЮ  НА 31 ДЕКАБРЯ 2014 ГОДА:

	table.table_0803_11
		tr
			th Тип заимствования
			th Кредитор
			th Валюта договора
			th Задолженность по основной сумме долга
			th Срок погашения
		tr
			td
			td
			td
			td (в млн долл.)
			td
		tr
			td 7,75 % облигации
			td
			td Долл.
			td 500
			td январь 2018
		tr
			td 6,75 % облигации
			td
			td Долл.
			td 500
			td апрель 2020
		tr
			td Кредит
			td Газпромбанк
			td Долл.
			td 400
			td июнь 2017
		tr
			td 5,25 % конвертируемые облигации
			td
			td Долл.
			td 311
			td февраль 2015
		tr
			td Кредит
			td Сбербанк РФ
			td Руб.
			td 231
			td декабрь 2016
		tr
			td Кредит
			td Нордеа Банк
			td Долл.
			td 160
			td январь 2017
		tr
			td Кредит
			td Газпромбанк
			td Руб.
			td 160
			td март 2019
		tr
			td Кредит
			td Wells Fargo
			td Долл.
			td 128
			td август 2016
		tr
			td Кредит
			td Сбербанк РФ
			td Руб.
			td 107
			td июль 2015
		tr
			td Кредит
			td ВТБ
			td Руб.
			td 89
			td ноябрь 2015
		tr.bold
			td
			td
			td
			td 2 585
			td
		tr
			td Прочие кредиты и займы
			td
			td
			td 563
			td
		tr.bold
			td ИТОГО КРЕДИТЫ И ЗАЙМЫ
			td
			td
			td 3 148
			td

