extends ../layouts/default

block head
	- pageTitle = 'Капитальные вложения';

block recommend
	- pageId = '0804';
	- recommend_lang = lang;

block content
	p В 2014 году мы продолжили реализацию инвестиционных проектов, направленных на наращивание доли трубной продукции с высокой добавленной стоимостью, развитие производственного потенциала по выпуску премиальной продукции и снижение удельных издержек.

	table.table_0804_1
		tr
			th
			th 2014
			th 2013
			th Изменение
			th Изменение
		tr
			td
			td в млн долл.
			td в млн долл.
			td
			td в %
		tr
			td Россия
			td 293
			td 450
			td (157)
			td (35) %
		tr
			td Америка
			td 41
			td 44
			td (3)
			td (7) %
		tr
			td Европа
			td 17
			td 22
			td (5)
			td (21) %
		tr.bold
			td КАПИТАЛЬНЫЕ ВЛОЖЕНИЯ
			td 351
			td 516
			td (165)
			td (32) %

	p Основные направления инвестиций:
	ul
		li строительство нового трубопрокатного стана («FQM») на СТЗ:  основное оборудование стана введено в эксплуатацию в 4 квартале 2014 года, в настоящее время осуществляется освоение мощностей стана, а также строительство и ввод в эксплуатацию объектов вспомогательного назначения;
		li реализация Комплексной программы развития ТПЦ-3 на ВТЗ,  которая направлена на выполнение повышенных требований потребителей к методам контроля качества продукции и повышения доли OCTG с премиальными видами соединений;
		li в рамках программы улучшения качества труб OCTG на СинТЗ  осуществлен запуск оборудования для нарезки резьбы и установка современного гидропресса;
		li завершение основного этапа модернизации  производства бесшовных и сварных труб из нержавеющих марок стали на предприятии ТМК-ИНОКС;
		li организации участка по производству труб для гидроцилиндров  на ТМК-ARTROM в рамках программы развития производства продукции для машиностроения;
		li увеличение производственной мощности отделочной линии  на заводе TMK-IPSCO в г. Коппель, штат Пенсильвания, в том числе увеличение мощности по термообработке труб и установка дополнительных приборов для неразрушающего контроля.
