extends ../layouts/default

block head
	- pageTitle = 'Тенденции развития';

block recommend
	- pageId = '0805';
	- recommend_lang = lang;

block content
	p В I квартале 2015 года мы наблюдаем высокий уровень загрузки наших производственных мощностей в России на фоне сезонного повышения спроса со стороны крупных нефтегазовых компаний, а также высокого уровня потребности в нашей продукции в рамках реализации трубопроводных проектов. В целом в 2015 году ситуация на российском трубном рынке будет оставаться стабильной, в том числе за счет роста рынка ТБД благодаря реализации проектов Сила Сибири, Бованенково–Ухта, Южный коридор и некоторых других, а также существенному спросу на трубы для ремонтно-эксплуатационных нужд со стороны Газпрома и Транснефти.
	p В 2014 году объем импорта в Россию сократился более чем на 20 % по сравнению с 2013 годом и мы считаем, что данная тенденция продолжится в 2015 году. Это позволит нам заместить большую часть импортных поставок и увеличить объем продаж нашей продукции на российском рынке
	p Падение количества буровых установок в США на 500 с начала 2015 года привело к значительному сокращению спроса на трубы OCTG, поскольку компании сокращают свои запасы на фоне снижения объемов бурения. Мы предполагаем, что цены на нефть и газ будут восстанавливаться, что приведет к постепенному увеличению спроса на трубы OCTG во второй половине 2015 года, так как компании начнут наращивать запасы данной продукции в ожидании восстановления объемов бурения. Однако переизбыток мощностей у местных производителей и укрепление доллара США, которое способствует увеличению импорта, по нашему мнению, будет оказывать давление на уровень рыночных цен в течение всего 2015 года. В отраслях, не имеющих отношения к нефтегазовому сектору, рост экономики США продолжится, что позволяет нам ожидать роста спроса на трубы промышленного назначения.
	p Согласно нашим оценкам, в течение 2015 года ситуация на европейском рынке будет оставаться напряженной вследствие снижения уровня потребности у конечных покупателей трубной продукции и переизбытка производственных мощностей на рынке.
