extends ../layouts/default

block head
	- pageTitle = 'Финансовые показатели';

block recommend
	- pageId = '0806';
	- recommend_lang = lang;

block content
	h3 Скорректированный показатель ebitda
	p.orange Сверка прибыли до налогообложения и Скорректированного показателя EBITDA за двенадцать месяцев, непосредственно предшествующих указанным датам

	table.table_0806_1
		tr
			th
			th 31.12.2014
			th 30.09.2014
			th 30.06.2014
			th 31.03.2014
			th 31.12.2013
		tr
			td(colspan=5)
			td в млн долл.
		tr
			td Прибыль до налогообложения
			td (201)
			td 150
			td 201
			td 186
			td 312
		tr
			td Износ и амортизация
			td 304
			td 317
			td 319
			td 319
			td 326
		tr
			td Чистые финансовые расходы
			td 226
			td 231
			td 225
			td 230
			td 245
		tr
			td Обесценение активов / (Восстановление обесценения)
			td 153
			td 3
			td 5
			td 5
			td 5
		tr
			td Убыток / (доход) от изменения справедливой стоимости производного финансового инструмента
			td(2)
			td (7)
			td (5)
			td (5)
			td (8)
		tr
			td Чистые (положительные) / отрицательные курсовые разницы
			td 301
			td 113
			td 36
			td 107
			td 49
		tr
			td Убыток / (доход) от выбытия основных средств
			td 4
			td 1
			td 3
			td 4
			td 6
		tr
			td Изменения в резервах (кроме начислений премиальных выплат)
			td 20
			td 17
			td 18
			td 18
			td 19
		tr
			td Прочие неденежные статьи
			td 0
			td 0
			td 0
			td 0
			td (2)
		tr.bold
			td СКОРРЕКТИРОВАННЫЙ ПОКАЗАТЕЛЬ EBITDA
			td 804
			td 824
			td 804
			td 864
			td 952

	p Скорректированный показатель EBITDA не является оценкой операционной деятельности  в соответствии с МСФО и не должен рассматриваться в качестве альтернативы валовой прибыли, чистой прибыли или любого другого показателя оценки деятельности, рассчитанного в соответствии с МСФО, или в качестве альтернативы денежного потока от операционной деятельности или ликвидности. В частности, Скорректированный показатель EBITDA не следует рассматривать в качестве свободных денежных средств, которые могут быть инвестированы в развитие ТМК.
	p Будучи аналитическим показателем, Скорректированный показатель EBITDA имеет ряд ограничений использования. Потенциальные инвесторы не должны рассматривать его независимо от других аналитических показателей или как показатель, заменяющий анализ результатов деятельности, проведенный в соответствии с МСФО.
	p При использовании Скорректированного показателя EBITDA необходимо иметь в виду, что данный показатель:
	ul
		li не отражает влияние финансирования  или финансовых затрат на операционную деятельность, хотя такое влияние может быть существенным и может возрасти с увеличением величины обязательств нашей компании;
		li не отражает влияние налога на прибыль  на операционную деятельность;
		li не отражает влияния амортизации на операционную деятельность.  Активы, стоимость которых уменьшается в результате амортизации, в будущем должны быть заменены. Данные амортизационные расходы могут приближенно равняться величине затрат на замену этих активов в будущем. Не учитывая данные расходы, Скорректированный показатель EBITDA не отражает будущую потребность в наличных средствах для замены этих активов;
		li не отражает влияния других неденежных корректировок на операционную деятельность,  таких как курсовые разницы, обесценение / (восстановление обесценения) внеоборотных активов, изменение резервов (кроме начислений премиальных выплат), финансовый результат от выбытия основных средств, финансовый результат от изменения справедливой стоимости производных финансовых инструментов, доля в прибыли / убытке ассоциированной компании и прочие неденежные корректировки.

	p Другие компании трубной отрасли могут рассчитывать Скорректированный показатель EBITDA иным образом или могут использовать этот показатель для прочих целей, что ограничивает его применимость при сравнении. Наша Компания компенсирует перечисленные выше ограничения, полагаясь прежде всего на показатели операционной деятельности, рассчитанные в соответствии с МСФО, и использует Скорректированный показатель EBITDA только в качестве дополнительного показателя.

	h3 Чистый долг
	h4 Расчет чистого долга на приведенные ниже даты:

	table.table_0806_2
		tr
			th
			th 31.12.2014
			th 30.09.2014
			th 30.06.2014
			th 31.03.2014
			th 31.12.2013
		tr
			td(colspan=5)
			td в млн долл.
		tr
			td Кредиты и займы
			td 3 170
			td 3 491
			td 3 696
			td 3 535
			td 3 642
		tr
			td Обязательства по финансовой аренде
			td 53
			td 55
			td 58
			td 59
			td 52
		tr.bold
			td ИТОГО КРЕДИТЫ И ЗАЙМЫ
			td 3 223
			td 3 546
			td 3 753
			td 3 594
			td 3 694
		tr
			td(colspan=6) За вычетом:
		tr
			td Денежные средства и краткосрочные финансовые вложения
			td (253)
			td (37)
			td (122)
			td (68)
			td (93)
		tr.bold
			td ЧИСТЫЙ ДОЛГ
			td 2 969
			td 3 508
			td 3 631
			td 3 526
			td 3 600
		tr
			td(colspan=6)
		tr.bold
			td ЧИСТЫЙ ДОЛГ К СКОРРЕКТИРОВАННОМУ ПОКАЗАТЕЛЮ EBITDA (LTM1)
			td 3,69
			td 4,26
			td 4,52
			td 4,08
			td 3,78

	+quote_2("*  «Чистый долг к Скорректированному показателю EBITDA» рассчитывается как отношение чистого долга на отчетную дату к Скорректированному показателю EBITDA, рассчитанному за двенадцать месяцев, непосредственно предшествующих отчетной дате. См. раздел «Финансовые показатели».", "")
	p Чистый долг не является показателем, рассчитанным по МСФО, и не должен рассматриваться в качестве альтернативы других показателей нашего финансового положения. Другие компании трубной отрасли могут рассчитывать показатель чистого долга иным способом, что ограничивает его применимость при сравнении.
	p Чистый долг является показателем операционной деятельности нашей компании, который не входит в число обязательных показателей, рассчитанных в соответствии с МСФО. Хотя чистый долг и не является показателем, рассчитанным по МСФО, он широко используется при оценке ликвидности и адекватности финансовой структуры компании.
	p Мы полагаем, что чистый долг является справедливым показателем способности нашей компании оплачивать свои финансовые обязательства, представляющие величину общего долга, за счет имеющихся денежных средств. Показатель чистого долга дает возможность продемонстрировать инвесторам тенденцию изменения финансового положения за определенные периоды. Однако использование показателя общего долга предполагает, что величина общего долга может уменьшиться за счет денежных средств.
	p На практике маловероятно, что все имеющиеся денежные средства будут сразу направлены на уменьшение общего долга, так как денежные средства также необходимы для расчетов с сотрудниками, поставщиками, для уплаты налогов и осуществления иных текущих и капитальных затрат.
	p Показатель чистого долга и его отношение к стоимости собственного капитала используются для оценки финансовой структуры нашей компании с точки зрения достаточности капитала и его стоимости, уровня задолженности, оценки задолженности и стоимости привлечения средств.
	p Данный показатель также позволяет оценить, насколько текущая финансовая структура способствует достижению наших финансовых и бизнес целей. Для сравнения ликвидности и финансовой структуры ТМК с другими компаниями, мы осуществляем мониторинг показателей чистого долга, финансовой зависимости и иных аналогичных показателей, используемых другими российскими и иностранными компаниями.
	p Наше руководство также осуществляет мониторинг изменений показателей чистого долга и финансовой зависимости с целью оптимизации соотношения использования собственных и заемных средств.

