extends ../layouts/default

block head
	- pageTitle = 'Заключение независимых аудиторов';

block recommend
	- pageId = '0901';
	- recommend_lang = lang;

block content
	img.inner_cover(src=globalPath + 'assets/images/09/09.jpg' alt=pageTitle)

	p
		| Акционерам и совету директоров
		br
		| ОАО «ТМК»

	p.mtb50 Мы провели аудит прилагаемой консолидированной финансовой отчетности ОАО «ТМК» и его дочерних предприятий (далее по тексту – «Группа»), которая включает консолидированный отчет о финансовом положении по состоянию на 31 декабря 2014 г., консолидированный отчет о прибылях и убытках, консолидированный отчет о совокупном доходе, консолидированный отчет об изменениях капитала и консолидированный отчет о движении денежных средств за год, закончившийся на указанную дату, а также информацию о существенных аспектах учетной политики и другую пояснительную информацию.

	p.bold Ответственность руководства в отношении консолидированной финансовой отчетности
	p Руководство Группы несет ответственность за подготовку и достоверное представление данной консолидированной финансовой отчетности в соответствии с Международными стандартами финансовой отчетности, а также за процедуры внутреннего контроля, необходимые, по мнению руководства, для обеспечения подготовки консолидированной финансовой отчетности, не содержащей существенных искажений вследствие недобросовестных действий или ошибки.

	p.bold Ответственность аудиторов
	p Наша обязанность заключается в том, чтобы выразить мнение о настоящей консолидированной финансовой отчетности на основе проведенного аудита. Мы провели аудит в соответствии с Международными стандартами аудита. Данные стандарты требуют, чтобы мы соблюдали этические нормы, и спланировали и провели аудит с тем, чтобы получить достаточную уверенность в отсутствии существенного искажения финансовой отчетности.
	p Аудит включает выполнение процедур, направленных на получение аудиторских доказательств в отношении сумм и информации, представленных в консолидированной финансовой отчетности. Выбор процедур основывается на суждении аудитора, включая оценку риска существенного искажения консолидированной финансовой отчетности вследствие недобросовестных действий или ошибки. При оценке этого риска аудитор рассматривает аспекты внутреннего контроля в отношении подготовки и достоверного представления консолидированной финансовой отчетности с тем, чтобы определить процедуры аудита, необходимые в конкретных обстоятельствах, а не для выражения мнения об эффективности системы внутреннего контроля Группы. Аудит также включает оценку уместности выбранной учетной политики и обоснованности бухгалтерских оценок, сделанных руководством, и оценку представления консолидированной финансовой отчетности в целом.
	p Мы считаем, что полученные нами аудиторские доказательства являются достаточными и надлежащими для выражения нашего мнения.

	p.bold Заключение
	p По нашему мнению, консолидированная финансовая отчетность во всех существенных аспектах достоверно отражает финансовое положение Группы на 31 декабря 2014 г., а также ее финансовые результаты и движение денежных средств за год, закончившийся на указанную дату, в соответствии с Международными стандартами финансовой отчетности.
	p ООО «Эрнст энд Янг» (подпись по оригиналу)

	p.mtb50 4 марта 2015 г.
	p Москва, Россия
