extends ../layouts/default

block head
	- pageTitle = 'Консолидированный отчет о прибылях и убытках за год по 31 декабря 2014 г.';

block recommend
	- pageId = '0902';
	- recommend_lang = lang;

block content
	p
		i (все суммы приведены в тысячах долларов США, если не указано иное)

	table.table_09.table_0902_1
		tr
			th
			th
			th.bold.bb2(colspan=2) За год по 31 декабря
		tr
			td
			td.bold ПРИМ.
			td.bold.bb2 2014
			td.bold.bb2 2013
		tr
			td Выручка от реализации:
			td 1
			td 6 008 946
			td 6 431 903
		tr
			td.pl
				i товаров
			td
			td 5 921 889
			td 6 328 930
		tr
			td.pl
				i услуг
			td
			td 87 057
			td 102 973
		tr
			td Себестоимость реализации
			td 2
			td.bb1 (4 839 470)
			td.bb1 (5 074 311)
		tr.bold
			td Валовая прибыль
			td
			td 1 169 476
			td 1 357 592
		tr
			td Коммерческие расходы
			td 3
			td (349 949)
			td (379 205)
		tr
			td Расходы на рекламу и продвижение продукции
			td 4
			td (14 468)
			td (12 481)
		tr
			td Общехозяйственные и административные расходы
			td 5
			td (278 423)
			td (317 288)
		tr
			td Расходы на исследования и разработки
			td 6
			td (15 214)
			td (12 733)
		tr
			td Прочие операционные доходы
			td 7
			td 7 604
			td 17 779
		tr
			td Прочие операционные расходы
			td 7
			td (42 958)
			td (52 101)
		tr
			td Обесценение гудвила
			td 17
			td (151 369)
			td (1 080)
		tr
			td Обесценение основных средств
			td 16
			td (1 135)
			td (4 243)
		tr
			td Отрицательные курсовые разницы, нетто
			td
			td (301 246)
			td (49 189)
		tr
			td Финансовые расходы
			td
			td (232 685)
			td (252 247)
		tr
			td Финансовые доходы
			td
			td 6 641
			td 7 164
		tr
			td Прибыль от изменения справедливой стоимости производных финансовых инструментов
			td
			td 2 080
			td 8 377
		tr
			td Доля в прибыли ассоциированных компаний
			td 11
			td 273
			td 176
		tr
			td Прибыль от выбытия дочернего предприятия
			td 10
			td.bb1 –
			td.bb1 1 862
		tr.bold
			td Прибыль/(убыток) до налогообложения
			td
			td (201 373)
			td 312 383
		tr
			td Расход по налогу на прибыль
			td 8
			td.bb1 (15 276)
			td.bb1 (97 843)
		tr.bold
			td Прибыль/(убыток) за период
			td
			td.bb2fff (216 649)
			td.bb2fff 214 540
		tr.bold
			td Прибыль/(убыток), приходящиеся на:
			td
			td
			td
		tr
			td.pl Долю акционеров материнской компании
			td
			td (215 559)
			td 213 929
		tr
			td.pl Неконтролирующие доли участия
			td
			td.bb1 (1 090)
			td.bb1 611
		tr.bold
			td(colspan=2)
			td.bb2fff (216 649)
			td.bb2fff 214 540
		tr.bold
			td Прибыль/(убыток) на акцию в распределении между акционерами материнской компании, базовыеи разводненные(в долларах США)
			td 9
			td (0,25)
			td 0,25

	p.mtb50
		i Прилагаемые примечания являются неотъемлемой частью настоящей консолидированной финансовой отчетности.
