extends ../layouts/default

block head
	- pageTitle = 'Консолидированный отчето движении денежных средств за год по 31декабря2014 г.';

block recommend
	- pageId = '0906';
	- recommend_lang = lang;

block content
	p
		i (все суммы приведены в тысячах долларов США)

	table.table_09.table_0906_1
		tr.bold
			th
			th ПРИМ.
			th.bb1 2014
			th.bb1 2013
		tr
			td
				.bold Операционная деятельность
				| Прибыль/(убыток) до налогообложения
			td
			td (201 373)
			td 31 238
		tr.bold
			td Корректировки для приведения прибыли/(убытка) до налогообложения к денежным потокам от операционной деятельности:
			td
			td
			td
		tr
			td Амортизация основных средств
			td
			td 266 574
			td 276 787
		tr
			td Амортизация нематериальных активов
			td 17
			td 37 081
			td 49 102
		tr
			td Убыток от выбытия основных средств
			td 7
			td 4 395
			td 5 861
		tr
			td Обесценение гудвила
			td 17
			td 151 369
			td 1 080
		tr
			td Обесценение основных средств
			td 16
			td 1 135
			td 4 243
		tr
			td Отрицательные курсовые разницы, нетто
			td
			td 301 246
			td 49 189
		tr
			td Финансовые расходы
			td
			td 232 685
			td 252 247
		tr
			td Финансовые доходы
			td
			td (6 641)
			td (7 164)
		tr
			td Прибыль от выбытия дочернего предприятия
			td 10
			td –
			td (1 862)
		tr
			td Прибыль от изменения справедливой стоимости производных финансовых инструментов
			td
			td (2 080)
			td (8 377)
		tr
			td Доля в прибыли ассоциированных компаний
			td 11
			td (273)
			td (176)
		tr
			td Резерв на снижение стоимости запасов до чистой стоимости реализации
			td
			td 8 782
			td 1 246
		tr
			td Резерв на сомнительную задолженность
			td
			td 7 943
			td 15 628
		tr
			td Изменения в резервах
			td
			td.bb1 6 550
			td.bb1 (5 989)
		tr.bold
			td Движение денежных средств от операционной деятельности до изменений в оборотном капитале
			td
			td 807 393
			td 944 198
		tr.bold
			td Изменения в оборотном капитале:
			td
			td
			td
		tr
			td Увеличение запасов
			td
			td (129 879)
			td (65 273)
		tr
			td Увеличение торговой и прочей дебиторской задолженности
			td
			td (75 990)
			td (158 946)
		tr
			td (Увеличение)/уменьшение предоплат
			td
			td (20 801)
			td 22 900
		tr
			td Увеличение торговой и прочей кредиторской задолженности
			td
			td 41 362
			td 162 818
		tr
			td Увеличение/(уменьшение) авансов от покупателей и заказчиков
			td
			td.bb1 25 981
			td.bb1 (120 060)
		tr.bold
			td Поступление денежных средств от операционной деятельности
			td
			td 648 066
			td 785 637
		tr
			td Уплаченный налог на прибыль
			td
			td.bb1 (53 316)
			td.bb1 (82 204)
		tr.bold
			td Чистое поступление денежных средств от операционной деятельности
			td
			td.bb1 594 750
			td.bb1 703 433
		tr.bold
			td Инвестиционная деятельность
			td
			td
			td
		tr
			td Приобретение основных средств и нематериальных активов
			td
			td (293 061)
			td (396 794)
		tr
			td Поступления от реализации основных средств
			td
			td 5 623
			td 6 451
		tr
			td Приобретение дочерних предприятий
			td
			td (59 750)
			td (38 300)
		tr
			td Выбытие дочернего предприятия
			td
			td –
			td (1 906)
		tr
			td Займы выданные
			td
			td (557)
			td (580)
		tr
			td Поступления от погашения займов выданных
			td
			td 1 765
			td 1 610
		tr
			td Проценты полученные
			td
			td 3 196
			td 3 456
		tr
			td Дивиденды полученные
			td
			td.bb1 80
			td.bb1 2 674
		tr.bold
			td Чистый расход денежных средств от инвестиционной деятельности
			td
			td.bb1 (342 704)
			td.bb1 (423 389)
		tr.bold
			td Финансовая деятельность
			td
			td
			td
		tr
			td Поступления от увеличения уставного капитала
			td 29 (i)
			td 101 536
			td –
		tr
			td Получение кредитов
			td
			td 1 576 886
			td 1 562 500
		tr
			td Выплата кредитов
			td
			td (1 422 984)
			td (1 655 971)
		tr
			td Проценты выплаченные
			td
			td (250 654)
			td (253 616)
		tr
			td Погашение обязательств по финансовой аренде
			td
			td (7 117)
			td (5 337)
		tr
			td Приобретение неконтролирующих долей участия
			td 29 (vi)
			td (193)
			td –
		tr
			td Вклады владельцев неконтролирующих долей участия
			td 27
			td 1 013
			td 2 525
		tr
			td Дивиденды, выплаченные акционерам материнской компании Группы
			td
			td (46 950)
			td (52 727)
		tr
			td Дивиденды, выплаченные владельцам неконтролирующих долей участия
			td
			td.bb1 (4 083)
			td.bb1 (4 185)
		tr.bold
			td Чистый расход денежных средств от финансовой деятельности
			td
			td.bb1 (52 546)
			td.bb1 (406 811)
		tr.bold
			td Чистое увеличение/(уменьшение) денежных средств и их эквивалентов
			td
			td 199 500
			td (126 767)
		tr
			td Эффект от курсовых разниц, нетто
			td
			td (39 900)
			td (4 996)
		tr
			td Денежные средства и их эквиваленты на 1 января
			td
			td.bb1 93 298
			td.bb1 225 061
		tr.bold
			td Денежные средства и их эквиваленты на 31 декабря
			td
			td.bb2fff 252 898
			td.bb2fff 93 298
