extends ../layouts/default

block head
	- pageTitle = 'Государственные субсидии';

block recommend
	- pageId = '09070513';
	- recommend_lang = lang;

block content
	p Государственные субсидии отражаются, когда существует обоснованная уверенность в том, что они будут получены, и Группа выполнит все сопутствующие условия.
	p Если субсидия относится к статье расходов, она отражается как уменьшение соответствующих расходов в тех периодах, когда осуществляются затраты, на возмещение которых получена субсидия.
	p Государственные субсидии, связанные с приобретением активов, включаются в долгосрочные обязательства как отложенные государственные субсидии и отражаются в составе прочих доходов в отчете о прибылях и убытках линейным методом в течение ожидаемого срока полезного использования соответствующих активов.
