extends ../layouts/default

block head
	- pageTitle = 'Расходы на исследования и разработки';

block recommend
	- pageId = '09070606';
	- recommend_lang = lang;

block content
	p Расходы на исследования и разработкиза год по 31 декабря были представлены следующими статьями:
	table.table_09.table_09070606_1
		tr.bold
			td
			td.bb1 2014 г.
			td.bb1 2013 г.
		tr
			td Расходы на персонал, включая затраты на социальное обеспечение
			td 6 600
			td 6 360
		tr
			td Амортизация основных средств и нематериальных активов
			td 4 308
			td 216
		tr
			td Профессиональные услуги
			td 2 046
			td 2 758
		tr
			td Командировочные расходы
			td 1 044
			td 1 340
		tr
			td Расходные материалы
			td 508
			td 609
		tr
			td Коммунальные платежи и техническое обслуживание
			td 355
			td 478
		tr
			td Прочее
			td.bb1 353
			td.bb1 972
		tr.bold
			td
			td.bb2fff 15 214
			td.bb2fff 12 733
