extends ../layouts/default

block head
	- pageTitle = 'Объединения бизнеса и гудвил';

block recommend
	- pageId = '09070502';
	- recommend_lang = lang;

block content
	h3 Приобретение дочерних предприятий
	p Объединения бизнеса учитываются с использованием метода приобретения. Стоимость приобретения определяется как сумма переданного вознаграждения, оцененного по справедливой стоимости на дату приобретения, и неконтролирующей доли участия в приобретаемой компании. Для каждой сделки по объединению бизнеса приобретающая сторона оценивает неконтролирующую долю участия в приобретаемой компании либо по справедливой стоимости, либо по пропорциональной доле в идентифицируемых чистых активах приобретаемой компании. Затраты, понесенные в связи с приобретением, включаются в состав административных расходов периода, в котором они были понесены
	p Если Группа приобретает бизнес, она соответствующим образом классифицирует приобретенные финансовые активы и принятые обязательства в зависимости от условий договора, экономической ситуации и соответствующих условий на дату приобретения. Это также включает анализ на предмет необходимости выделения встроенных в основные договоры производных инструментов.
	p В случае поэтапного объединения бизнеса справедливая стоимость ранее принадлежавшей приобретающей стороне доли участия в компании переоценивается по справедливой стоимости через прибыль или убыток на дату приобретения.
	p Условное возмещение, подлежащее передаче приобретающей стороной, признается по справедливой стоимости на дату приобретения. Последующие изменения справедливой стоимости условного возмещения, которое может быть активом или обязательством, признаются либо в составе прибыли или убытка, либо как изменение прочего совокупного дохода. Если условное возмещение классифицируется в качестве капитала, оно не переоценивается до момента его полного погашения в составекапитала.

	h3 Гудвил
	p При первоначальном признании гудвил оценивается по стоимости, определяемой как превышение суммы переданного вознаграждения и признанной неконтролирующей доли участия над суммой чистых идентифицируемых активов, приобретенных Группой, и принятых ею обязательств. Если вознаграждение меньше справедливой стоимости чистых активов приобретенного дочернего предприятия, разница признается в составе отчета о прибылях и убытках. Гудвил учитывается в функциональной валюте приобретенного дочернего предприятия.
	p После первоначального признания гудвил отражается по первоначальной стоимости за вычетом накопленных убытков от обесценения. Гудвил анализируется на предмет обесценения ежегодно или чаще, если какие-либо события или изменение обстоятельств свидетельствуют о его возможном обесценении. На дату приобретения гудвил распределяется на единицы (группы единиц), генерирующие денежные потоки, которые, как ожидается, получат выгоды от синергии в результате объединения. Обесценение гудвила определяется путем оценки возмещаемой стоимости единицы (группы единиц), генерирующей денежные потоки, к которой отнесен гудвил. Убыток от обесценения признается, если возмещаемая стоимость генерирующей единицы (группы генерирующих единиц) меньше балансовой стоимости.
	p Если гудвил отнесен на генерирующую единицу и часть деятельности, осуществляемой данной единицей, выбывает, гудвил, относящийся к выбывающей деятельности, включается в балансовую стоимость деятельности при определении прибыли или убытка от ее выбытия. В данных обстоятельствах выбывший гудвил оценивается на основе соотношения стоимости выбывшей деятельности и оставшейся части единицы, генерирующей денежные потоки.
