extends ../layouts/default

block head
	- pageTitle = 'Раскрытие информации о связанных сторонах';

block recommend
	- pageId = '09070629';
	- recommend_lang = lang;

block content
	h3 Вознаграждение старшему руководящему персоналу Группы
	p Старший руководящий персонал включает членов Совета директоров, Правления и некоторых представителей руководства Группы.
	p Вознаграждение старшему руководящему персоналу включает в себя следующее:
	ul
		li Заработная плата, взносы на социальное обеспечение и прочие краткосрочные выплаты в размере 15 780 за год по 31 декабря 2014 г. (2013 г.: 19 166);
		li Резерв на выплату премий в размере 4 123 за год по 31 декабря 2014 г. (2013 г.: 5 029).
	p Вышеуказанные суммы отражены в отчете о прибылях и убытках за годы по 31 декабря 2014 и 2013 гг. в составе общехозяйственных и административных расходов.
	p На 31 декабря 2014г. сумма займов, выданных старшему руководящему персоналу, составила 517 (на 31 декабря 2013 г.: 1 055). Группа предоставила гарантии в размере 215 по задолженности старшего руководящего персонала, не погашенной на 31 декабря 2014г., срок погашения которой наступает в 2016г. (на 31 декабря 2013г.: 2 323).

	h3 Операции с компанией, являющейся материнской по отношению к ОАО "ТМК"
	p В декабре 2014 года Группа утвердила выплату промежуточных дивидендов за шесть месяцев 2014 года, из которых 266 796 тыс. руб. (4 896 по обменному курсу на дату утверждения) приходились на долю компании, являющейся материнской по отношению к ОАО "ТМК". По состоянию на 31 декабря 2014 г. промежуточные дивиденды выплачены не были.

	p В июне 2014 года Группа утвердила выплату годовых дивидендов за 2013 год, из которых 524 184 тыс. руб. (15 053 по обменному курсу на дату утверждения) приходились на долю компании, являющейся материнской по отношению к ОАО "ТМК". В июле 2014 года указанные дивиденды были выплачены в полном объеме.
	p В ноябре 2013 годаГруппа утвердила выплату промежуточных дивидендов за шесть месяцев 2013 года, из которых 698 912 тыс. руб. (21 473 по обменному курсу на дату утверждения) приходились на долю компании, являющейся материнской по отношению к ОАО "ТМК". В январе 2014 года указанные дивиденды были выплачены в полном объеме.
	p В июне 2013 года Группа утвердила выплату годовых дивидендов за 2012 год, из которых 564 506 тыс. руб. (17 153 по обменному курсу на дату утверждения) приходились на долю компании, являющейся материнской по отношению к ОАО "ТМК". В августе 2013 года указанные дивиденды были выплачены в полном объеме.
	p 11 июня 2014 г. и 16 апреля 2013 г. Группа увеличила уставный капитал дочерней компании OFS Development S.ar.l. Увеличение уставного капитала было частично оплачено компанией, являющейся материнской по отношению к ОАО "ТМК", которая является держателем неконтролирующей доли участия в OFS Development S.ar.l. Вклад компании, являющейся материнской по отношению к ОАО "ТМК",в 2014 годусоставил 1 013 (2013 г.: 2 525).

	h3 Операции со сторонами, находящимися под общим контролем с ОАО "ТМК", и прочими связанными сторонами
	p В таблице ниже показаны балансы со сторонами, находящимися под общим контролем с ОАО "ТМК", и прочими связанными сторонами по состоянию на 31 декабря:

	table.table_09.table_09070629_1
		tr.bold
			td
			td.bb1 2014 г.
			td.bb1 2013 г.
		tr
			td Денежные средства и их эквиваленты
			td 80 550
			td 3 730
		tr
			td Предоплата за приобретение дочернего предприятия
			td 48 506
			td –
		tr
			td Дебиторская задолженность
			td 4 731
			td 4 576
		tr
			td Прочие предоплаты
			td 10
			td 30
		tr
			td Кредиторская задолженность за сырье и материалы
			td (38 262)
			td (79 154)
		tr
			td Авансы полученные
			td (2 825)
			td (6)
		tr
			td Прочая кредиторская задолженность
			td (480)
			td (643)

	p В 2014 году Группа выплатила 2 729 млн. руб. (59 750 по фактическим обменным курсам) связанной стороне в качестве аванса за 100%-ную долю участия в крупнейшем участнике российского рынка лома черных металлов ЧерметСервис-Снабжение. По состоянию на 31 декабря 2014 г. приобретение не было завершено, сумма предоплаты была включена в состав прочих внеоборотных активов.

	p.mtb50 Совокупный объем операций со сторонами, находящимися под общим контролем с ОАО "ТМК", и с прочими связанными сторонами за годы по 31 декабря представлен в таблице ниже:
	table.table_09.table_09070629_2
		tr.bold
			td
			td.bb1 2014 г.
			td.bb1 2013 г.
		tr
			td Приобретение сырья и материалов
			td 604 690
			td 606 506
		tr
			td Приобретение основных средств
			td 5 359
			td –
		tr
			td Приобретение прочихтоваров и услуг
			td 7 061
			td 10 260
		tr
			td Выручка от реализации
			td 14 195
			td 11 382
		tr
			td Прочие доходы
			td 702
			td 86
