extends ../layouts/default

block head
	- pageTitle = 'Отложенный налог на прибыль';

block recommend
	- pageId = '09070514';
	- recommend_lang = lang;

block content
	p Отложенные налоговые активы и обязательства рассчитываются в отношении временных разниц с использованием метода обязательств. Отложенный налог на прибыль отражается в отчете о прибылях и убытках, за исключением случаев, когда отложенный налог относится к операциям, учитываемым непосредственно в составе капитала или прочего совокупного дохода. В таком случае отложенный налог отражается в составе капитала или прочего совокупного дохода, соответственно.
	p Отложенный налог на прибыль отражается в отношении всех временных разниц между налоговой базой активов и обязательств и их балансовой стоимостью в финансовой отчетности, за исключением ситуаций, когда отложенный налог возникает при первоначальном признании гудвила либо актива или обязательства в результате операции, которая не является сделкой по объединению компаний и которая, в момент ее совершения, не оказывает влияния на бухгалтерскую или налоговую прибыль или убыток.
	p Отложенный налоговый актив признается только в той степени, в какой существует значительная вероятность получения налогооблагаемой прибыли, против которой можно будет зачесть вычитаемые временные разницы. Отложенные налоговые активы и обязательства рассчитываются по налоговым ставкам, применение которых ожидается в период реализации актива или погашения обязательства, на основе действующих или объявленных (и практически принятых) на конец отчетного периода налоговых ставок.
	p Отложенный налог на прибыль признается в отношении всех временных разниц, связанных с инвестициями в дочерние предприятия, ассоциированные компании, а также совместную деятельность, за исключением тех случаев, когда Группа контролирует сроки восстановления временных разниц, и при этом существует значительная вероятность того, что временные разницы не будут восстановлены в ближайшем будущем.
