extends ../layouts/default

block head
	- pageTitle = 'Основные средства';

block recommend
	- pageId = '09070506';
	- recommend_lang = lang;

block content
	p Основные средства Группы, за исключением объектов, приобретенных до 1 января 2003 г., отражаются по стоимости приобретения, не включая затраты на текущее операционное обслуживание, за вычетом накопленной амортизации и обесценения.
	p Основные средства, приобретенные до 1 января 2003 г. – даты перехода на МСФО – были отражены по условной первоначальной стоимости, которая являлась их справедливой стоимостью на 1 января 2003 г.
	p Амортизация основных средств рассчитывается линейным методом. Средние сроки амортизации, которые представляют собой оценочные сроки полезного использования активов, представлены ниже:

	table.09
		tr
			td Земля
			td Не амортизируется
		tr
			td Здания
			td 8-100 лет
		tr
			td Машины и оборудование
			td 5-30 лет
		tr
			td Прочее
			td 2-15 лет

	p Расходы, связанные с заменой какого-либо компонента объекта основных средств, который учитывается отдельно, включая расходы на основной технический осмотр, капитализируются. Последующие расходы капитализируются только в том случае, если происходит увеличение будущих экономических выгод, которые будут получены в результате использования данного объекта основных средств, и если данные расходы поддаются достоверной оценке. Все прочие расходы отражаются в составе прибыли или убытка по мере их возникновения.
