extends ../layouts/default

block head
	- pageTitle = 'Изменения в учетной политике';

block recommend
	- pageId = '090704';
	- recommend_lang = lang;

block content
	h3 Применение новых и пересмотренных МСФО и Разъяснений, подготовленных Комитетом по разъяснениям международной финансовой отчетности (Разъяснения КРМФО)
	p Группа применила следующие новые и пересмотренные МСФО и Разъяснения КРМФО(IFRIC) в консолидированной финансовой отчетности в отношении годового отчетного периода, начинающегося 1января 2014 г.:
	ul
		li МСФО(IFRS)10"Консолидированная финансовая отчетность" (с изменениями) – Инвестиционные предприятия;
		li МСФО(IFRS)12"Раскрытие информации об участии в других предприятиях" (сизменениями) –Инвестиционные предприятия;
		li МСФО(IAS)27"Отдельная финансовая отчетность" (с изменениями) – Инвестиционные предприятия;
		li МСФО(IAS)32"Финансовые инструменты: представление информации" (сизменениями) –Взаимозачет финансовых активов и финансовых обязательств;
		li МСФО(IAS)36"Обесценение активов" (с изменениями) – Раскрытие информации овозмещаемой стоимости нефинансовых активов;
		li МСФО(IAS)39"Финансовые инструменты: признание и оценка" (с изменениями) – Новация производных инструментов и продолжение учета хеджирования;
		li Разъяснение КРМФО (IFRIC)21"Обязательные платежи".

	p Ниже рассматриваются основные аспекты влияния указанных изменений в стандартах.

	h4 МСФО (IFRS) 10 "Консолидированная финансовая отчетность", МСФО (IFRS) 12 "Раскрытие информации о долях участия в других компаниях", МСФО (IAS) 27 "Отдельная финансовая отчетность" (с изменениями) –Инвестиционные предприятия
	p Данные поправки предусматривают исключение из требования по консолидации для компаний, которые соответствуют определению инвестиционной компании в соответствии с МСФО (IFRS) 10. В результате применения указанного исключения по консолидации инвестиционные компании должны учитывать дочерние предприятия по справедливой стоимости через прибыль или убыток. Принятие данных поправок не оказало влияния на финансовое положение или результаты деятельности Группы.

	h4 МСФО (IAS) 32 "Финансовые инструменты: представление информации" (с изменениями) – Взаимозачет финансовых активов и финансовых обязательств
	p Поправка разъясняет порядок взаимозачета финансовых активов и финансовых обязательств. Принятие данной поправки не оказало влияния на финансовое положение или результаты деятельности Группы.

	h3 Применение новых и пересмотренных МСФО и Разъяснений, подготовленных Комитетом по разъяснениям международной финансовой отчетности (Разъяснения КРМФО) (продолжение)

	h4 МСФО (IAS) 36 "Обесценение активов" (с изменениями) – Раскрытие информации о возмещаемой стоимости нефинансовых активов
	p Данная поправка касается раскрытия информации о возмещаемой стоимости обесцененных активов, если такая стоимость определяется на основании справедливой стоимости за вычетом затрат на реализацию. Принятие данной поправки не оказало влияния на финансовое положение или результаты деятельности Группы.

	h4 МСФО (IAS) 39 "Финансовые инструменты: признание и оценка" (с изменениями) – Новация производных инструментов и продолжение учета хеджирования
	p Поправка к стандарту разъясняет, что новация производного финансового инструмента в виде замены контрагента на центральную клиринговую компанию в установленных случаях не ведет к прекращению учета хеджирования. Принятие данной поправки не оказало влияния на финансовое положение или результаты деятельности Группы.

	h4 Разъяснение КРМФО (IFRIC) 21 "Обязательные платежи"
	p Разъяснение КРМФО (IFRIC) 21 уточняет, что предприятие признает обязательство в отношении сбора тогда, когда происходит предусмотренное законодательством событие, которое влечет за собой необходимость уплаты такого сбора. В отношении сборов, обязанность по уплате которых возникает только при достижении минимального порогового значения, интерпретация разъясняет, что обязательство не признается до тех пор, пока не будет достигнуто такое пороговое значение. Принятие данного нового разъяснения не оказало влияния на финансовое положение или результаты деятельности Группы.

	h3 Новые стандарты учета
	p Группа не применяла следующие новые или измененные (в новой редакции) МСФО и Разъяснения КРМФО, которые были выпущены, но не вступили в силу. В списке представлены выпущенные стандарты, которые могут оказать влияние на раскрытие информации, финансовое положение и результаты деятельности Группы при их применении в будущем. Группа намерена применить эти стандарты с даты их вступления в силу.

	h4 МСФО (IFRS) 9 "Финансовые инструменты" (применяется в отношении отчетных периодов, начинающихся 1 января 2018 г. или после этой даты)
	p Данный стандарт заменит МСФО (IAS) 39 "Финансовые инструменты: признание и оценка". Стандарт МСФО (IFRS) 9 вводит новые требования к классификации и оценке финансовых активов и финансовых обязательств, а также к учету обесценения и хеджирования. В настоящее время Группа оценивает влияние, которое данный стандарт окажет на ее финансовое положение и результаты деятельности.

	h4 МСФО (IFRS) 10 "Консолидированная финансовая отчетность", МСФО (IAS) 28 "Инвестиции в ассоциированные и совместные предприятия" (с изменениями) – Продажа или внесение активов (применяется в отношении отчетных периодов, начинающихся 1 января 2016 г. или после этой даты)
	p Данная поправка устраняет расхождения между требованиями МСФО (IFRS) 10 и МСФО (IAS) 28 в отношении порядка учета продажи или внесения активов в рамках сделок между инвестором и его ассоциированной компанией или совместным предприятием. В результате применения данной поправки вводится требование о признании прибыли или убытка в полном объеме только в случае, если проданные или внесенные в качестве вклада в капитал активы представляют собой «бизнес». В случае если в сделке передаются активы, не отвечающие определению бизнеса, признается только часть прибыли или убытка, даже если такие активы юридически представляют собой дочернее предприятие. Ожидается, что данная поправка не окажет существенного влияния на финансовое положение или результаты деятельности Группы.

	h4 МСФО (IFRS) 11 "Совместная деятельность" (с изменениями)  –Учет приобретенияйдолей участия в совместных операциях (применяется в отношении отчетных периодов, начинающихся 1 января 2016 г. или после этой даты)
	p Данная поправка содержит новое руководство по учету приобретения доли участия в совместной операции, деятельность которой представляет собой бизнес. Поправка устанавливает порядок учета такого рода приобретений. Ожидается, что данная поправка не окажет существенного влияния на финансовое положение или результаты деятельности Группы.

	h4 МСФО (IFRS)15 "Выручка по договорам с покупателями" (применяется в отношении отчетных периодов, начинающихся 1января 2017г. или после этой даты)
	p МСФО (IFRS) 15 заменяет существующие требования МСФО по признанию выручки, и применяется в отношении выручки, возникающей по договорам с клиентами и в результате продажи ряда нефинансовых активов. В стандарте содержатся принципы, которыми должно руководствоваться предприятие при оценке и признании выручки. В соответствии с данным стандартом, выручка признается в том размере, который соответствует вознаграждению, которое предприятие планирует получить в обмен на передачу товаров или оказание услуг клиенту. В настоящее время Группа оценивает влияние, которое данный стандарт окажет на ее финансовое положение и результаты деятельности.

	h4 МСФО (IAS) 16 "Основные средства", МСФО (IAS) 38 "Нематериальные активы" (с изменениями) – Разъяснение приемлемых методов амортизации (применяется в отношении отчетных периодов, начинающихся 1января 2016г. или после этой даты)
	p Поправка разъясняет, что выручка отражает характер экономических выгод, которые генерируются в результате ведения бизнеса, а не экономических выгод, которые возникают в результате использования актива. В связи с этим, метод амортизации, основанный на выручке, не может быть использован для амортизации основных средств, и лишь в крайне ограниченных обстоятельствах может быть использован для амортизации нематериальных активов. Ожидается, что данные поправки не окажут существенного влияния на финансовое положение или результаты деятельности Группы.

	h4 МСФО (IAS) 19 "Вознаграждения работникам" (с изменениями) – План с установленными выплатами: Взносы работников (применяется в отношении отчетных периодов, начинающихся 1июля 2014г. или после этой даты)
	p Поправка разъясняет требования в отношения того, каким образом взносы сотрудников или третьих лиц, привязанные к оказанию услуг, следует относить на периоды оказания услуг. Ожидается, что данная поправка не окажет существенного влияния на финансовое положение или результаты деятельности Группы.

	h4 Усовершенствования МСФО: цикл поправок за 2010-2012 гг. и 2011-2013 гг. (применяется в отношении отчетных периодов, начинающихся 1июля2014 г.) и цикл поправок за 2012-2014гг. (применяется в отношении отчетных периодов, начинающихся 1июля2016 г.)
	p В декабре 2013 года и сентябре 2014 года Совет по МСФО выпустил "Ежегодные усовершенствования МСФО". В документах содержатся поправки к Международным стандартам финансовой отчетности, главным образом, с целью устранения несоответствий и уточнения формулировок. В целом поправки призваны уточнить требования стандартов,и не подразумевают существенных изменений сложившейся практики. Данные усовершенствования не окажут существенного влияния на финансовое положение или результаты деятельности Группы.


