extends ../layouts/default

block head
	- pageTitle = 'Принципы консолидации';

block recommend
	- pageId = '09070501';
	- recommend_lang = lang;

block content
	p К дочерним предприятиям относятся компании, над деятельностью которых Группа осуществляет контроль. Группа контролирует предприятие, если она подвергается рискам, связанным с переменным доходом от участия в предприятии, или имеет право на получение такого дохода, а также имеет возможность влиять на доход посредством осуществления своих полномочий в отношении предприятия. Включение дочерних предприятий в консолидированную финансовую отчетность осуществляется с даты установления Группой контроля над их деятельностью и прекращается с даты утраты контроля.
	p Все операции между компаниями Группы, а также сальдо по расчетам и нереализованные прибыли по таким операциям исключаются из консолидированной отчетности. Нереализованные убытки также исключаются, кроме случаев, когда в сделке есть признаки обесценения передаваемого актива. При необходимости в учетную политику дочерних предприятий вносятся изменения для приведения ее в соответствие с учетной политикой Группы.
	p Неконтролирующая доля участия – это доля участия в капитале дочернего предприятия, не относимая прямо или косвенно на материнскую компанию. Неконтролирующаядоля участия на конец отчетного периода представляет собой долю в справедливой стоимости идентифицируемых активов и обязательств дочернего предприятия, относящуюся к владельцам неконтролирующих долей, на дату приобретения, а также их долю в изменении капитала дочернего предприятия с момента объединения. Неконтролирующая доля участия отражается в составе капитала, отдельно от акционерного капитала материнской компании.
	p Убытки дочернего предприятия относятся на неконтролирующую долю участия даже в том случае, если это приводит к отрицательному сальдо.
	p При увеличении доли участия Группы в дочерних предприятиях разница между балансовой стоимостью чистых активов, относящихся к приобретенным долям участия в дочерних предприятиях, и суммой, уплаченной за приобретение таких долей, отражается либо в составе дополнительного оплаченного капитала, если данная величина положительная, либо уменьшает накопленную прибыль, если величина отрицательная.
	p Метод учета опционов, предоставленных Группой владельцам неконтролирующих долей участия на продажу ими акций дочерних предприятий Группы (опционов "пут") на дату приобретения контроля над дочерним предприятием, зависит от условий опциона.
	p Если по условиям опциона "пут" Группа получает текущую долю участия в акциях, являющихся предметом такого опциона, акции учитываются как приобретенные. Финансовые обязательства в отношении опционов "пут" учитываются по справедливой стоимости на дату предоставления опционов и впоследствии переоцениваются по справедливой стоимости. Изменение справедливой стоимости признается в отчете о прибылях и убытках.
	p Если по условиям опциона "пут" Группа не получает текущую долю участия в акциях, являющихся предметом такого опциона, то в соответствии с учетной политикой Группа частично признает неконтролирующие доли участия и учитывает опционы "пут" следующим образом:
	ul
		li Группа определяет сумму, относящуюся к неконтролирующей доле участия, которая включает долю в прибыли и убытке (и прочих изменениях капитала) дочернего предприятия за период;
		li Группа прекращает признание неконтролирующей доли участия, как если бы она была приобретена на указанную дату;
		li Группа отражает справедливую стоимость финансового обязательства в отношении опционов "пут"; и
		li Группа учитывает разницу между неконтролирующей долей участия, признание которой было прекращено, и справедливой стоимостью финансового обязательства как изменение неконтролирующей доли участия в дочернем предприятии, отраженное в учете в качестве операции с капиталом (в соответствии с политикой Группы в отношении увеличения доли ее участия в дочерних предприятиях).

	p Если Группа теряет контроль над дочерним предприятием, она:
	ul
		li прекращает признание активов и обязательств дочернего предприятия (в том числе гудвила);
		li прекращает признание балансовой стоимости неконтролирующей доли участия;
		li прекращает признание накопленных курсовых разниц, отраженных в капитале;
		li признает справедливую стоимость полученного вознаграждения;
		li признает справедливую стоимость оставшейся инвестиции;
		li признает образовавшийся в результате операции излишек или дефицит в составе прибыли или убытка;
		li переклассифицирует долю материнской компании в компонентах, ранее признанных в составе прочего совокупного дохода, в состав прибыли или убытка или нераспределенной прибыли.
