extends ../layouts/default

block head
	- pageTitle = 'Обязательства по выплатам вознаграждения работникам';

block recommend
	- pageId = '09070512';
	- recommend_lang = lang;

block content
	h3 Краткосрочные вознаграждения работникам
	p Краткосрочные вознаграждения работникам, выплачиваемые Группой, включают заработную плату, взносы на социальное обеспечение, оплату ежегодных отпусков и больничных листов, премии и льготы в неденежной форме (например, медицинское обслуживание). Данные вознаграждения работникам начисляются в том периоде, в котором работниками Группы были оказаны соответствующие услуги.

	h3 Обязательства по пенсионным планам с установленными выплатами
	p Компании Группы выплачивают своим работникам вознаграждения по окончании трудовой деятельности и прочие вознаграждения долгосрочного характера (пенсии, единовременные выплаты по окончании трудовой деятельности, выплаты материальной помощи пенсионерам, выплаты к юбилейным датам и т.д.).
	p Все планы вознаграждений по окончании трудовой деятельности не являются фондированными. Причитающееся вознаграждение обычно зависит от выполнения условия продолжения сотрудником работы в Группе до достижения возраста выхода на пенсию, отработки минимального стажа работы в Группе и размера вознаграждения, предусмотренного коллективными договорами. Обязательства по выплатам работникам по окончании трудовой деятельности и прочим выплатам долгосрочного характера, отраженные в отчете о финансовом положении, представляют собой текущую стоимость обязательств по пенсионному плану с установленными выплатами на конец отчетного периода за вычетом справедливой стоимости активов плана.
	p Обязательства по пенсионным планам с установленными выплатами рассчитываются внешними консультантами с использованием метода прогнозируемой условной единицы. Текущая стоимость обязательств определяется путем дисконтирования расчетной суммы будущих выплат денежных средств с использованием доходности высококачественных корпоративных облигаций или, в странах, где отсутствует достаточно развитый рынок такого рода облигаций, по доходности государственных ценных бумаг, деноминированных в валюте выплат, срок погашения которых примерно соответствует срокам погашения указанных обязательств.
	p Чистые расходы на выплаты в отчете о прибылях и убытках включают стоимость услуг текущего периода, процентные расходы, стоимость услуг прошлых периодов, а также прибыли и убытки, возникающие в результате урегулирования обязательств. Стоимость услуг прошлых лет отражается в составе прибыли или убытка на более раннюю из следующих дат: дату изменения плана (секвестра плана) или дату признания Группой расходов по реструктуризации. Актуарные прибыли и убытки, возникающие вследствие корректировок на основе опыта и изменений актуарных допущений, отражаются в составе прочего совокупного дохода/убытка в том периоде, в котором они возникают.

	h3 Пенсионные планы с установленными взносами
	p По пенсионным планам с установленными взносами Группа делает отчисления в фонды пенсионного страхования, находящиеся под государственным или частным управлением, на обязательной, договорной или добровольной основе. После уплаты взносов Группа не несет дополнительных обязательств. Взносы признаются как расходы на вознаграждение работникам в том периоде, в котором возникает обязательство по их уплате. Предоплата по взносам учитывается в качестве актива при условии наличия возможности возмещения уплаченных суммили возможности сокращения сумм будущих отчислений.
