extends ../layouts/default

block head
	- pageTitle = 'Основные дочерние предприятия';

block recommend
	- pageId = '09070628';
	- recommend_lang = lang;

block content
	p Основные дочерние предприятия, включенные в данную консолидированную финансовую отчетность, представлены в таблице ниже:
	table.table_09.table_09070628_1
		tr.bold
			td(rowspan=2).bb1 Предприятие
			td(rowspan=2).bb1 Страна
			td(colspan=2).bb1 Эффективная доля участия
		tr.bold
			td.bb1 2014 г.
			td.bb1 2013 г.
		tr
			td
				h3 Производственные мощности
			td
			td
			td
		tr
			td OAO "Северский трубный завод"
			td Россия
			td 96,54%
			td 96,33%
		tr
			td OAO "Синарский трубный завод"
			td Россия
			td 97,28%
			td 97,28%
		tr
			td OAO "Таганрогский металлургический завод"
			td Россия
			td 96,38%
			td 96,38%
		tr
			td OAO "Волжский трубный завод"
			td Россия
			td 100,00%
			td 100,00%
		tr
			td ОOO "TMK-ИНОКС"
			td Россия
			td 49,61%
			td 49,61%
		tr
			td ЗАО "ТМК-КПВ"
			td Россия
			td 49,23%
			td 49,13%
		tr
			td ОАО "Орский машиностроительный завод"
			td Россия
			td 75,00%
			td 75,00%
		tr
			td IPSCO Tubulars, Inc.
			td США
			td 100,00%
			td 100,00%
		tr
			td IPSCO Koppel Tubulars, L.L.C.
			td США
			td 100,00%
			td 100,00%
		tr
			td IPSCO Tubulars (KY) Inc.
			td США
			td 100,00%
			td 100,00%
		tr
			td IPSCO Tubulars (OK) Inc.
			td США
			td 100,00%
			td 100,00%
		tr
			td Ultra Premium Oilfield Services, Ltd
			td США
			td 100,00%
			td 100,00%
		tr
			td S.C. TMK-ARTROM S.A.
			td Румыния
			td 92,73%
			td 92,73%
		tr
			td S.C. TMK-RESITA S.A.
			td Румыния
			td 100,00%
			td 100,00%
		tr
			td ТОО "ТМК-Казтрубпром"
			td Казахстан
			td 100,00%
			td 100,00%
		tr
			td TMK Gulf International Pipe Industry LLC
			td Оман
			td 55,00%
			td 55,00%
		tr
			td(colspan=2)
				h3 Сервисные предприятия для нефтегазовой отрасли
			td
			td
		tr
			td ООО "Предприятие "Трубопласт"
			td Россия
			td 100,00%
			td 100,00%
		tr
			td ЗАО "ТМК НГС-Нижневартовск"
			td Россия
			td 100,00%
			td 100,00%
		tr
			td ООО "ТМК НГС-Бузулук"
			td Россия
			td 100,00%
			td 100,00%
		tr
			td OFS International LLC
			td США
			td 75,00%
			td 75,00%
		tr
			td Threading & Precision Manufacturing LLC
			td США
			td 75,00%
			td 75,00%
		tr
			td Independent Inspection Services LLC
			td США
			td 75,00%
			td 75,00%
		tr
			td Oilfield Services & Technologies LLC
			td США
			td 75,00%
			td 0,00%
		tr
			td
				h3 Торговые компании
			td
			td
			td
		tr
			td ЗАO "Торговый дом ТМК"
			td Россия
			td 100,00%
			td 100,00%
		tr
			td TMK IPSCO International,L.L.C.
			td США
			td 100,00%
			td 100,00%
		tr
			td TMK IPSCO Canada, Ltd.
			td Канада
			td 100,00%
			td 100,00%
		tr
			td TMK Europe GmbH
			td Германия
			td 100,00%
			td 100,00%
		tr
			td TMK Italia s.r.l.
			td Италия
			td 100,00%
			td 100,00%
		tr
			td TMK Middle East FZCO
			td ОАЭ
			td 100,00%
			td 100,00%
		tr
			td TOO "TMK-Казахстан"
			td Казахстан
			td 100,00%
			td 100,00%
		tr
			td TMK Global S.A.
			td Швейцария
			td 100,00%
			td 100,00%
		tr
			td(colspan=3)
				h3 Компании, занимающиеся научными исследованиями и разработками
			td
		tr
			td ОАО "Российский научно-исследовательский институт трубной промышленности"
			td Россия
			td 97,36%
			td 97,36%
		tr
			td ООО "ТМК НТЦ"
			td Россия
			td 100,00%
			td 100,00%

	h3.mtb50 Неконтролирующие доли участия
	p Информация о существенных неконтролирующих долях участия в дочерних предприятиях приведена в таблице ниже:

	table.table_09.table_09070628_2
		tr.bold
			td(rowspan=2) Предприятие
			td(colspan=2).bb1 2014 г.
			td(colspan=2).bb1 2013 г.
		tr.bold
			td.bb1 Неконтролирующая доля участия (НДУ), %
			td.bb1 Чистые активы, приходящиеся на НДУ
			td.bb1 Неконтролирующая доля участия (НДУ), %
			td.bb1 Чистые активы, приходящиеся на НДУ
		tr
			td TMK Gulf International Pipe Industry LLC
			td 45,00%
			td 16 879
			td 45,00%
			td 17 838
		tr
			td ОАО "Синарская ТЭЦ"
			td 33,08%
			td 11 476
			td 33,08%
			td 20 740
		tr
			td S.C. TMK-ARTROM S.A.
			td 7,27%
			td 8 502
			td 7,27%
			td 8 716
		tr
			td ОАО "Орский машиностроительный завод"
			td 25,00%
			td 6 799
			td 25,00%
			td 11 270
		tr
			td OAO "Северский трубный завод"
			td 3,46%
			td 6 364
			td 3,67%
			td 12 720
		tr
			td OAO "Таганрогский металлургический завод"
			td 3,62%
			td 6 245
			td 3,62%
			td 10 971
		tr
			td OAO"Синарский трубный завод"
			td 2,72%
			td 5 784
			td 2,72%
			td 11 272
		tr
			td Прочие
			td –
			td.bb1 4 187
			td –
			td.bb1 2 300
		tr.bold
			td
			td
			td.bb2fff 66 236
			td
			td.bb2fff 95 827
