extends ../layouts/default

block head
	- pageTitle = 'Информация по сегментам';

block recommend
	- pageId = '09070601';
	- recommend_lang = lang;

block content
	p Операционные сегменты отражают управленческую структуру Группы и подход к анализу финансовой информации. В целях принятия управленческих решений Группа разделена на бизнес-дивизионы по географическому принципу и состоит из следующих трех отчетных сегментов:
	ul
		li Российский сегмент представляет результаты операционной деятельности и финансовое положение заводов, расположенных в Российской Федерации и Султанате Оман, предприятияпо финишной обработке труб в Казахстане, сервисных предприятий для нефтегазовой отрасли и торговых компаний, расположенных в России, Казахстане, Объединенных Арабских Эмиратах и Швейцарии.
		li Американский сегмент представляет результаты операционной деятельности и финансовое положение заводов и торговых компаний, расположенных в Соединенных Штатах Америки и Канаде.
		li Европейский сегмент представляет результаты операционной деятельности и финансовое положение заводов, расположенных в Румынии, и торговых компаний, расположенных в Италии и Германии.

	p Руководство осуществляет мониторинг результатов операционной деятельности каждого из сегментов отдельно для целей принятия решений о распределении ресурсов и оценки результатов их деятельности. Эффективность деятельности сегмента оценивается исходя из скорректированного показателя EBITDA. Данный показатель определяется как сумма прибыли/(убытка) за период за вычетом финансовых расходов и финансовых доходов, (дохода)/расхода по налогу на прибыль, амортизации основных средств и нематериальных активов, (положительных)/отрицательных курсовых разниц, обесценения/(восстановления обесценения) внеоборотных активов, изменений в резервах (за исключением начислений премиальных выплат), (прибыли)/убытка от выбытия основных средств, (прибыли)/убытка от изменения справедливой стоимости финансовых инструментов, доли в (прибыли)/убытке ассоциированных компаний и прочих неденежных статей. Финансирование Группы (включая финансовые расходы и финансовые доходы) управляется  на групповой основе и не распределяется между операционными сегментами.
	p В таблицах ниже представлена информация о выручке и прибыли по отчетным сегментам Группы за годы по 31декабря 2014 и 2013 гг., соответственно.

	table.table_09.table_09070601_1
		tr.bold
			td За год по 31 декабря 2014 г.
			td.bb1 Россия
			td.bb1 Америка
			td.bb1 Европа
			td.bb1 ИТОГО
		tr
			td Выручка от реализации
			td 3 973 155
			td 1 766 253
			td 269 538
			td.bold 6 008 946
		tr
			td Себестоимость реализации
			td.bb1 (3 082 160)
			td.bb1 (1 543 162)
			td.bb1 (214 148)
			td.bb1.bold (4 839 470)
		tr.bold
			td ВАЛОВАЯ ПРИБЫЛЬ
			td 890 995
			td 223 091
			td 55 390
			td 1 169 476
		tr
			td Коммерческие, общехозяйственные и административные расходы
			td (475 941)
			td (144 616)
			td (37 497)
			td.bold (658 054)
		tr
			td Прочие операционные расходы, нетто
			td.bb1 (32 349)
			td.bb1 (336)
			td.bb1 (2 669)
			td.bb1.bold (35 354)
		tr.bold
			td ОПЕРАЦИОННАЯ ПРИБЫЛЬ
			td 382 705
			td 78 139
			td 15 224
			td 476 068
		tr
			td.bold КОРРЕКТИРОВКА НА:
			td
			td
			td
			td
		tr
			td Амортизацию основных средств и нематериальных активов
			td 205 871
			td 83 282
			td 14 502
			td.bold 303 655
		tr
			td Убыток от выбытия основных средств
			td 3 505
			td 520
			td 370
			td 4 395
		tr
			td Резерв на снижение стоимости запасов до чистой стоимости реализации
			td 7 985
			td 914
			td (117)
			td.bold 8 782
		tr
			td Резерв на сомнительную задолженность
			td 9 727
			td (2 122)
			td 338
			td 7 943
		tr
			td Изменения в прочих резервах
			td.bb1 3 928
			td.bb1 (2 203)
			td.bb1 1 522
			td.bb1.bold 3 247
		tr.bold
			td
			td.bb1 231 016
			td.bb1 80 391
			td.bb1 16 615
			td.bb1 328 022
		tr.bold
			td СКОРРЕКТИРОВАННЫЙ ПОКАЗАТЕЛЬ EBITDA
			td.bb2fff 613 721
			td.bb2fff 158 530
			td.bb2fff 31 839
			td.bb2fff 804 090

	table.table_09.table_09070601_2.mtb50
		tr.bold
			td За год по 31 декабря 2014 г.
			td.bb1 Россия
			td.bb1 Америка
			td.bb1 Европа
			td.bb1 ИТОГО
		tr.bold
			td ПРИВЕДЕНИЕ К УБЫТКУ ДО НАЛОГООБЛОЖЕНИЯ:
			td
			td
			td
			td
		tr.bold
			td СКОРРЕКТИРОВАННЫЙ ПОКАЗАТЕЛЬ EBITDA
			td 613 721
			td 158 530
			td 31 839
			td 804 090
		tr
			td Восстановление корректировок от операционной прибыли до EBITDA
			td.bb1 (231 016)
			td.bb1 (80 391)
			td.bb1 (16 615)
			td.bb1.bold (328 022)
		tr.bold
			td ОПЕРАЦИОННАЯ ПРИБЫЛЬ
			td 382 705
			td 78 139
			td 15 224
			td 476 068
		tr
			td Обесценение гудвила
			td (973)
			td (150 396)
			td –
			td.bold (151 369)
		tr
			td Обесценение основных средств
			td (1 135)
			td –
			td –
			td.bold (1 135)
		tr
			td Положительные/(отрицательные) курсовые разницы, нетто
			td.bb1 (299 909)
			td.bb1 (1 639)
			td.bb1 302
			td.bb1.bold (301 246)
		tr.bold
			td ОПЕРАЦИОННАЯ ПРИБЫЛЬ/(УБЫТОК) ПОСЛЕ ОБЕСЦЕНЕНИЯ И ПОЛОЖИТЕЛЬНЫХ/ (ОТРИЦАТЕЛЬНЫХ) КУРСОВЫХ РАЗНИЦ
			td 80 688
			td (73 896)
			td 15 526
			td 22 318
		tr
			td Финансовые расходы
			td
			td
			td
			td.bold (232 685)
		tr
			td Финансовые доходы
			td
			td
			td
			td.bold 6 641
		tr
			td Прибыль от изменения справедливой стоимости производного финансового инструмента
			td
			td
			td
			td.bold 2 080
		tr
			td Доля в прибыли ассоциированных компаний
			td
			td
			td
			td.bb1.bold 273
		tr.bold
			td УБЫТОК ДО НАЛОГООБЛОЖЕНИЯ
			td
			td
			td
			td.bb2fff (201 373)
	table.table_09.table_09070601_3.mtb50
		tr.bold
			td За год по 31 декабря 2013 г.
			td.bb1 Россия
			td.bb1 Америка
			td.bb1 Европа
			td.bb1 ИТОГО
		tr
			td Выручка от реализации
			td 4 483 004
			td 1 664 735
			td 284 164
			td.bold 6 431 903
		tr
			td Себестоимость реализации
			td.bb1 (3 390 965)
			td.bb1 (1 453 201)
			td.bb1 (230 145)
			td.bb1.bold (5 074 311)
		tr.bold
			td ВАЛОВАЯ ПРИБЫЛЬ
			td 1 092 039
			td 211 534
			td 54 019
			td 1 357 592
		tr
			td Коммерческие, общехозяйственные и административные расходы
			td (533 050)
			td (150 980)
			td (37 677)
			td.bold (721 707)
		tr
			td Прочие операционные расходы, нетто
			td.bb1 (28 896)
			td.bb1 (3 996)
			td.bb1 (1 430)
			td.bb1.bold (34 322)
		tr.bold
			td ОПЕРАЦИОННАЯ ПРИБЫЛЬ
			td 530 093
			td 56 558
			td 14 912
			td 601 563
		tr.bold
			td КОРРЕКТИРОВКА НА:
			td
			td
			td
			td
		tr
			td Амортизацию основных средств и нематериальных активов
			td 226 933
			td 86 021
			td 12 935
			td.bold 325 889
		tr
			td Убыток от выбытия основных средств
			td 2 614
			td 2 049
			td 1 198
			td.bold 5 861
		tr
			td Резерв на снижение стоимости запасов до чистой стоимости реализации
			td 1 599
			td (703)
			td 350
			td.bold 1 246
		tr
			td Резерв на сомнительную задолженность
			td 12 061
			td 2 460
			td 1 107
			td.bold 15 628
		tr
			td Изменения в прочих резервах
			td.bb1 2 910
			td.bb1 (1 621)
			td.bb1 446
			td.bb1.bold 1 735
		tr.bold
			td
			td.bb1 246 117
			td.bb1 88 206
			td.bb1 16 036
			td.bb1 350 359
		tr.bold
			td СКОРРЕКТИРОВАННЫЙ ПОКАЗАТЕЛЬ EBITDA
			td.bb2fff 776 210
			td.bb2fff 144 764
			td.bb2fff 30 948
			td.bb2fff 951 922


	table.table_09.table_09070601_4.mtb50
		tr.bold
			td За год по 31 декабря 2013 г.
			td.bb1 Россия
			td.bb1 Америка
			td.bb1 Европа
			td.bb1 ИТОГО
		tr.bold
			td ПРИВЕДЕНИЕ К ПРИБЫЛИ ДО НАЛОГООБЛОЖЕНИЯ: СКОРРЕКТИРОВАННЫЙ ПОКАЗАТЕЛЬ EBITDA
			td 776 210
			td 144 764
			td 30 948
			td 951 922
		tr
			td Восстановлениекорректировок от операционной прибыли до EBITDA
			td.bb1 (246 117)
			td.bb1 (88 206)
			td.bb1 (16 036)
			td.bb1.bold (350 359)
		tr.bold
			td ОПЕРАЦИОННАЯ ПРИБЫЛЬ
			td 530 093
			td 56 558
			td 14 912
			td 601 563
		tr
			td Обесценение гудвила
			td (1 080)
			td –
			td –
			td.bold (1 080)
		tr
			td Обесценение основных средств
			td (4 243)
			td –
			td –
			td.bold (4 243)
		tr
			td Отрицательные курсовые разницы, нетто
			td.bb1 (46 437)
			td.bb1 (1 340)
			td.bb1 (1 412)
			td.bb1.bold (49 189)
		tr.bold
			td ОПЕРАЦИОННАЯ ПРИБЫЛЬ ПОСЛЕ ОБЕСЦЕНЕНИЯ И ОТРИЦАТЕЛЬНЫХ КУРСОВЫХ РАЗНИЦ
			td 478 333
			td 55 218
			td 13 500
			td 547 051
		tr
			td Финансовые расходы
			td
			td
			td
			td.bold (252 247)
		tr
			td Финансовые доходы
			td
			td
			td
			td.bold 7 164
		tr
			td Прибыль от изменения справедливой стоимости производных финансовых инструментов
			td
			td
			td
			td.bold 8 377
		tr
			td Доля в прибыли ассоциированных компаний
			td
			td
			td
			td.bold 176
		tr
			td Прибыль от выбытия дочернего предприятия
			td
			td
			td
			td.bb1.bold 1 862
		tr.bold
			td ПРИБЫЛЬ ДО НАЛОГООБЛОЖЕНИЯ
			td
			td
			td
			td.bb2fff 312 383

	p.mtb50 В таблицах ниже представлена дополнительная информация об отчетных сегментах Группы на 31декабря 2014 и 2013гг., соответственно:
	table.table_09.table_09070601_5
		tr.bold
			td За год по 31 декабря 2014 г.
			td.bb1 Россия
			td.bb1 Америка
			td.bb1 Европа
			td.bb1 ИТОГО
		tr
			td Сегментные активы
			td 3 541 125
			td 1 698 579
			td 409 684
			td.bold 5 649 388
		tr
			td Прирост основных средств
			td 292 934
			td 41 055
			td 17 156
			td.bold 351 145

	table.table_09.table_09070601_6
		tr.bold
			td За год по 31 декабря 2013 г.
			td.bb1 Россия
			td.bb1 Америка
			td.bb1 Европа
			td.bb1 ИТОГО
		tr
			td Сегментные активы
			td 5 047 725
			td 1 927 441
			td 443 502
			td.bold 7 418 668
		tr
			td Прирост основных средств
			td 450 419
			td 44 100
			td 21 695
			td.bold 516 214

	p.mtb50 В таблице ниже представлена информация о выручке от внешних контрагентов по каждой группе продуктов и услуг за годы по 31декабря 2014 и 2013гг., соответственно:
	table.table_09.table_09070601_7
		tr.bold
			td Выручка от внешних контрагентов
			td.bb1 Бесшовные трубы
			td.bb1 Сварные трубы
			td.bb1 Прочая деятельность
			td.bb1 ИТОГО
		tr
			td За год по 31 декабря 2014 г.
			td 3 748 470
			td 1 998 483
			td 261 993
			td.bold 6 008 946
		tr
			td За год по 31 декабря 2013 г.
			td 3 959 619
			td 2 200 755
			td 271 529
			td.bold 6 431 903

	p.mtb50 В таблицах ниже представлена информация географического характера. Группа раскрывает информацию о выручке от реализации с учетом местонахождения покупателей Группы. Информация о внеоборотных активах раскрывается с учетом местонахождения активов Группы и включает в себя основные средства, нематериальные активы и гудвил.
	table.table_09.table_09070601_8
		tr.bold
			td За год по 31 декабря 2014 г.
			td.bb1 Россия
			td.bb1 Америка
			td.bb1 Европа
			td.bb1 Средняя Азия и Каспийский регион
			td.bb1 Ближний Восток и регион Персидского залива
			td.bb1 Азия и Дальний Восток
			td.bb1 Африка
			td.bb1 ИТОГО
		tr
			td Выручка от реализации
			td 3 287 927
			td 2 042 866
			td 416 335
			td 151 092
			td 90 300
			td 15 201
			td 5 225
			td.bold 6 008 946
		tr
			td Внеоборотные активы
			td 1 797 497
			td 1 086 132
			td 266 412
			td 13 270
			td 123 962
			td –
			td –
			td.bold 3 287 273
	table.table_09.table_09070601_9
		tr.bold
			td За год по 31 декабря 2013 г.
			td.bb1 Россия
			td.bb1 Америка
			td.bb1 Европа
			td.bb1 Средняя Азия и Каспийский регион
			td.bb1 Ближний Восток и регион Персидского залива
			td.bb1 Азия и Дальний Восток
			td.bb1 Африка
			td.bb1 ИТОГО
		tr
			td Выручка от реализации
			td 3 637 665
			td 1 862 366
			td 426 237
			td 210 311
			td 79 734
			td 198 976
			td 16 614
			td.bold 6 431 903
		tr
			td Внеоборотные активы
			td 3 020 406
			td 1 279 278
			td 291 340
			td 23 214
			td 127 440
			td –
			td 9
			td.bold 4 741 687
