extends ../layouts/default

block head
	- pageTitle = 'Договоры аренды';

block recommend
	- pageId = '09070510';
	- recommend_lang = lang;

block content
	p Определение того, является ли соглашение в целом или отдельные его элементы договором аренды, должно основываться на содержании соглашения на дату начала срока аренды и требует понимания, зависит ли выполнение соглашения от использования определенного актива или активов, а также передает ли соглашение право на использование актива.
	p Договоры финансовой аренды, согласно которым к Группе фактически переходят все риски и выгоды, связанные с правом собственности на объект аренды, капитализируются на начало действия договора аренды по наименьшей из двух стоимостей: справедливой стоимости арендованного имущества или дисконтированной стоимости минимальных арендных платежей. Арендные платежи распределяются на расходы по финансированию и уменьшение арендных обязательств с тем, чтобы обеспечить постоянную процентную ставку по остатку обязательств. Расходы по финансированию относятся на финансовые расходы в отчете о прибылях и убытках.
	p Политика в отношении амортизации арендуемых амортизируемых активов соответствует политике, применяемой в отношении собственных активов. Если у Группы отсутствует обоснованная уверенность в том, что она получит право собственности на этот актив по окончании срока аренды, актив полностью амортизируется в течение срока аренды или срока его полезного использования, в зависимости от того, какой из них короче.
	p Договоры аренды, согласно которым арендодатель фактически сохраняет за собой все риски и выгоды, связанные с правом собственности на объект аренды, классифицируются как операционная аренда. Платежи по договорам операционной аренды равномерно списываются на расходы в отчете о прибылях и убытках в течение срока аренды.
