extends ../layouts/default

block head
	- pageTitle = 'Денежные средства и их эквиваленты';

block recommend
	- pageId = '09070503';
	- recommend_lang = lang;

block content
	p Денежные средства включают наличные денежные средства и средства, находящиеся на банковских счетах.
	p Эквиваленты денежных средств включают краткосрочные ликвидные инвестиции (со сроком погашения менее 90 дней), которые могут быть свободно конвертированы в известные суммы денежных средств и которые подвержены незначительному риску изменения стоимости. Эквиваленты денежных средств отражаются по справедливой стоимости.
