extends ../layouts/default

block head
	- pageTitle = 'Гудвил и прочие нематериальные активы';

block recommend
	- pageId = '09070619';
	- recommend_lang = lang;

block content
	p Ниже представлены изменения в составе нематериальных активов за год по 31 декабря 2014г.:

	table.table_09.table_09070619_1.lightbox
		tr.bold
			td
			td.bb1 Патенты и торговые марки
			td.bb1 Гудвил
			td.bb1 Программное обеспечение
			td.bb1 Взаимоотношения с клиентами
			td.bb1 Запатентованная технология
			td.bb1 Прочее
			td.bb1 ИТОГО
		tr
			td(colspan=7)
				h3 ПЕРВОНАЧАЛЬНАЯ СТОИМОСТЬ
		tr.bold
			td Остаток на 1 января 2014 г.
			td 211 881
			td 601 341
			td 21 858
			td 472 300
			td 14 100
			td 8 599
			td 1 330 079
		tr
			td Поступления
			td 528
			td –
			td 19
			td –
			td –
			td 1 748
			td.bold 2 295
		tr
			td Выбытия
			td (51)
			td –
			td (22)
			td –
			td –
			td (829)
			td.bold (902)
		tr
			td Разницы от пересчета валют
			td.bb1 (767)
			td.bb1 (36 548)
			td.bb1 (9 022)
			td.bb1 –
			td.bb1 –
			td.bb1 (3 855)
			td.bb1.bold (50 192)
		tr.bold
			td ОСТАТОК НА 31 ДЕКАБРЯ 2014 г.
			td.bb1 211 591
			td.bb1 564 793
			td.bb1 12 833
			td.bb1 472 300
			td.bb1 14 100
			td.bb1 5 663
			td.bb1 1 281 280
		tr
			td(colspan=7)
				h3 НАКОПЛЕННАЯ АМОРТИЗАЦИЯ И ОБЕСЦЕНЕНИЕ
		tr.bold
			td Остаток на 1 января 2014 г.
			td (456)
			td (16 437)
			td (20 773)
			td (382 718)
			td (9 786)
			td (3 577)
			td (433 747)
		tr
			td Амортизационные отчисления
			td (149)
			td –
			td (450)
			td (33 399)
			td (1 762)
			td (1 321)
			td.bold (37 081)
		tr
			td Обесценение
			td –
			td (151 369)
			td –
			td –
			td –
			td –
			td.bold (151 369)
		tr
			td Выбытия
			td 44
			td –
			td 22
			td –
			td –
			td 402
			td.bold 468
		tr
			td Разницы от пересчета валют
			td.bb1 193
			td.bb1 6 874
			td.bb1 8 724
			td.bb1 –
			td.bb1 –
			td.bb1 1 761
			td.bb1.bold 17 552
		tr.bold
			td ОСТАТОК НА 31 ДЕКАБРЯ 2014 г.
			td.bb1 (368)
			td.bb1 (160 932)
			td.bb1 (12 477)
			td.bb1 (416 117)
			td.bb1 (11 548)
			td.bb1 (2 735)
			td.bb1 (604 177)
		tr.bold
			td ОСТАТОЧНАЯ СТОИМОСТЬ НА 31 ДЕКАБРЯ 2014 г.
			td.bb1 211 223
			td.bb1 403 861
			td.bb1 356
			td.bb1 56 183
			td.bb1 2 552
			td.bb1 2 928
			td.bb1 677 103
		tr.bold
			td ОСТАТОЧНАЯ СТОИМОСТЬ НА 1 ЯНВАРЯ 2014 г.
			td.bb2fff 211 425
			td.bb2fff 584 904
			td.bb2fff 1 085
			td.bb2fff 89 582
			td.bb2fff 4 314
			td.bb2fff 5 022
			td.bb2fff 896 332

	p.mtb50 Ниже представлены изменения в составе нематериальных активов за год по 31 декабря 2013г.:


	table.table_09.table_09070619_2.lightbox
		tr.bold
			td
			td.bb1 Патенты и торговые марки
			td.bb1 Гудвил
			td.bb1 Программное обеспечение
			td.bb1 Взаимоотношения с клиентами
			td.bb1 Запатентованная технология
			td.bb1 Прочее
			td.bb1 ИТОГО
		tr
			td(colspan=7)
				h3 ПЕРВОНАЧАЛЬНАЯ СТОИМОСТЬ
		tr.bold
			td Остаток на 1 января 2013 г.
			td 209 746
			td 607 742
			td 23 420
			td 472 300
			td 14 104
			td 7 380
			td 1 334 692
		tr
			td Поступления
			td 606
			td –
			td 88
			td –
			td –
			td 2 690
			td.bold 3 384
		tr
			td Выбытия
			td (1)
			td –
			td –
			td –
			td –
			td (905)
			td.bold (906)
		tr
			td Увеличение в результате приобретения дочерних предприятий (Прим.10)
			td 1 606
			td –
			td –
			td –
			td –
			td –
			td.bold 1 606
		tr
			td Разницы от пересчета валют
			td.bb1 (76)
			td.bb1 (6 401)
			td.bb1 (1 650)
			td.bb1 –
			td.bb1 (4)
			td.bb1 (566)
			td.bb1.bold (8 697)
		tr.bold
			td ОСТАТОК НА 31 ДЕКАБРЯ 2013 г.
			td.bb1 211 881
			td.bb1 601 341
			td.bb1 21 858
			td.bb1 472 300
			td.bb1 14 100
			td.bb1 8 599
			td.bb1 1 330 079
		tr
			td(colspan=8)
				h3 НАКОПЛЕННАЯ АМОРТИЗАЦИЯ И ОБЕСЦЕНЕНИЕ
		tr.bold
			td Остаток на 1 января 2013 г.
			td (370)
			td (16 548)
			td (18 025)
			td (341 374)
			td (8 024)
			td (2 555)
			td (386 896)
		tr
			td Амортизационные отчисления
			td (111)
			td –
			td (4 128)
			td (41 344)
			td (1 762)
			td (1 757)
			td.bold (49 102)
		tr
			td Обесценение
			td –
			td (1 080)
			td –
			td –
			td –
			td –
			td.bold (1 080)
		tr
			td Выбытия
			td 1
			td –
			td –
			td –
			td –
			td 525
			td.bold 526
		tr
			td Разницы от пересчета валют
			td.bb1 24
			td.bb1 1 191
			td.bb1 1 380
			td.bb1 –
			td.bb1 –
			td.bb1 210
			td.bb1.bold 2 805
		tr.bold
			td ОСТАТОК НА 31 ДЕКАБРЯ 2013 г.
			td.bb1 (456)
			td.bb1 (16 437)
			td.bb1 (20 773)
			td.bb1 (382 718)
			td.bb1 (9 786)
			td.bb1 (3 577)
			td.bb1.bold (433 747)
		tr.bold
			td ОСТАТОЧНАЯ СТОИМОСТЬ НА 31 ДЕКАБРЯ 2013 г.
			td.bb1 211 425
			td.bb1 584 904
			td.bb1 1 085
			td.bb1 89 582
			td.bb1 4 314
			td.bb1 5 022
			td.bb1 896 332
		tr.bold
			td ОСТАТОЧНАЯ СТОИМОСТЬ НА 1 ЯНВАРЯ 2013 г.
			td.bb2fff 209 376
			td.bb2fff 591 194
			td.bb2fff 5 395
			td.bb2fff 130 926
			td.bb2fff 6 080
			td.bb2fff 4 825
			td.bb2fff 947 796

	p.mtb50 Взаимоотношения с клиентами представляют собой неконтрактные взаимодействия с клиентами. Оставшийся срок амортизации взаимоотношений с клиентами составляет 2-4года. Взаимоотношения с клиентами амортизируются с использованием метода уменьшающегося остатка, который отражает характер потребления экономических выгод, возникающих благодаря взаимоотношениям с клиентами.
	p Гудвил связан с приобретением квалифицированной рабочей силы и эффектом синергии, обусловленным интеграцией приобретенных дочерних предприятий в состав Группы.
	p Патенты и торговые марки включают нематериальные активы с неопределенным сроком полезного использования балансовой стоимостью 210 306 (на 31 декабря 2013 г.: 208 700).
	p Ниже представлено распределение балансовой стоимости гудвила и нематериальных активов с неопределенным сроком полезного использования по подразделениям, генерирующим денежные потоки, по состоянию на 31 декабря:

	table.table_09.table_09070619_3
		tr.bold
			td
			td(colspan=2).bb1 2014 г.
			td(colspan=2).bb1 2013 г.
		tr.bold
			td
			td.bb1 Гудвил
			td.bb1 Нематериальные активы с неопределенным сроком полезного использования
			td.bb1 Гудвил
			td.bb1 Нематериальные активы с неопределенным сроком полезного использования
		tr
			td Американский дивизион
			td 322 572
			td 208 700
			td 472 968
			td 208 700
		tr
			td Ближневосточный дивизион
			td 36 241
			td –
			td 36 241
			td –
		tr
			td Дивизион "Нефтегазсервис"
			td 17 143
			td –
			td 29 468
			td –
		tr
			td Европейский дивизион
			td 5 805
			td –
			td 6 566
			td –
		tr
			td.bb1 Прочие единицы, генерирующие денежные потоки
			td.bb1 22 100
			td.bb1 1 606
			td.bb1 39 661
			td.bb1 –
		tr.bold
			td
			td.bb2fff 403 861
			td.bb2fff 210 306
			td.bb2fff 584 904
			td.bb2fff 208 700
	p Группа проверяет на предмет обесценения гудвил и нематериальные активы с неопределенным сроком полезного использования ежегодно, а также в случаях, когда события или обстоятельства указывают на то, что гудвил и нематериальные активы могут быть обесценены.
	p Гудвил и нематериальные активы с неопределенным сроком полезного использования были проанализированы на предмет обесценения по состоянию на 31 декабря 2014 г. Для целей анализа на предмет обесценения гудвила Группа определила ценность от использования каждой единицы, генерирующей денежные потоки. Ценность от использования рассчитана на основании прогнозов денежных потоков на пятилетний период согласно операционным планам, одобренным руководством, с учетом корректировок, отражающих ожидаемые изменения рыночных условий. Прогнозирование денежных потоков на период свыше пяти лет проводилось путем экстраполяции, при этом темпы роста денежных потоков были приняты равными нулю. Прогнозы денежных потоков американского дивизиона на 2015-2017 гг. были скорректированы с тем, чтобы учестьтекущиеожиданияаналитиков в отношении уменьшения спроса на трубы нефтяного сортаментана рынке США.

	p Ставки дисконтирования, использованные в расчетах, представлены в таблице ниже:

	table.table_09.table_09070619_4
		tr.bold
			td Единицы, генерирующие денежные потоки
			td.bb1 Ставка дисконтирования до налогообложения, %
		tr
			td Американский дивизион
			td 10,83%
		tr
			td Ближневосточный дивизион
			td 10,88%
		tr
			td Дивизион "Нефтегазсервис"
			td 15,75%
		tr
			td Европейский дивизион
			td 12,49%
		tr
			td Прочие единицы, генерирующие денежные потоки
			td 11,89%-15,21%

	p По состоянию на 31 декабря 2014 г. Группа определила, что возмещаемая стоимость американского дивизиона составила 1 054 894 (на 31 декабря 2013 г.: 1 270 592 с использованием ставки дисконтирования 11,38%). Группа отразила убыток от обесценения в размере 150 396 в отношении гудвила американского дивизиона загодпо31 декабря 2014 г.
	p Обесценение гудвила американского дивизиона преимущественно было обусловлено ожидаемым спадом потребления труб нефтяного сортамента на рынке США вследствие падения цен на нефть в последние несколько месяцев.
	p На основании внешних источников информации и суждения руководства Группа сделала следующие допущенияприрасчетеценности от использования американского дивизиона:
	ul
		li прогнозируемое снижение цен на трубы нефтяного сортамента на 9% в 2015 году по сравнению с 2014 годом;
		li прогнозируемое снижение объемов реализации труб нефтяного сортамента на 26% в 2015году по сравнению с 2014 годом;
		li прогнозируемое снижение стоимости сырья (лом и рулон) на 150долл.США в 2015 году по сравнению с 2014 годом;
		li ожидаемое восстановление объемов и цен на трубы нефтегазового сортамента до уровней 2014 года к 2017 году.
	p Обоснованное отклонение используемых допущений от допущений, содержащихся в операционных планах, может повлиять на возмещаемую стоимость американского дивизиона. Возмещаемая стоимость американского дивизиона была наиболее чувствительна к росту ставки дисконтирования, изменениям в объемах продаж, цене реализации и затратам. Увеличение ставки дисконтирования на 10% привело бы к дополнительному уменьшению возмещаемой стоимости в размере 123 563; увеличение затрат на 5% привело бы к дополнительному уменьшению возмещаемой стоимости в размере 801 007; уменьшение цены реализации на 5% привело бы к дополнительному уменьшению возмещаемой стоимости в размере 990 120; уменьшение объема продаж на 5% привело бы к дополнительному уменьшению возмещаемой стоимости в размере 197 585.
