extends ../layouts/default

block head
	- pageTitle = 'Резервы и начисленные обязательства';

block recommend
	- pageId = '09070622';
	- recommend_lang = lang;

block content
	p Резервы и начисленные обязательства включали:

	table.table_09.table_09070622_1
		tr.bold
			td
			td.bb1 2014 г.
			td.bb1 2013 г.
		tr
			td
				h3 Краткосрочные
			td
			td
		tr
			td Резерв по премиальным выплатам
			td 17 190
			td 16 816
		tr
			td Начисления по премиальным выплатам за выслугу лет
			td 9 396
			td 15 286
		tr
			td Начисления по неиспользованным ежегодным отпускам, текущая часть
			td 3 060
			td 4 213
		tr
			td Краткосрочная часть обязательств по выплатам вознаграждения работникам
			td 2 366
			td 6 215
		tr
			td Резерв под обязательства по защите окружающей среды, текущая часть
			td 1 351
			td 1 510
		tr
			td Прочие резервы
			td.bb1 8 034
			td.bb1 7 144
		tr.bold
			td
			td.bb2fff 41 397
			td.bb2fff 51 184
		tr
			td
				h3 Долгосрочные
			td
			td
		tr
			td Начисления по неиспользованным ежегодным отпускам
			td 14 062
			td 22 515
		tr
			td Резерв под обязательства по защите окружающей среды
			td 4 133
			td 3 887
		tr
			td Резерв по премиальным выплатам
			td 770
			td 2 532
		tr
			td Прочие резервы
			td.bb1 3 951
			td.bb1 4 393
		tr.bold
			td
			td.bb2fff 22 916
			td.bb2fff 33 327
