extends ../layouts/default

block head
	- pageTitle = 'Конвертируемые облигации';

block recommend
	- pageId = '09070624';
	- recommend_lang = lang;

block content
	p 11 февраля 2010 г. TMK Bonds S.A., структурированная компания Группы, завершила размещение 4 125 конвертируемых облигаций со сроком погашения в 2015 году; облигации могут быть конвертированы в глобальные депозитарные расписки (ГДР), каждая из которых представляет четыре обыкновенные акции ОАО"ТМК". Облигации котируются на Лондонской фондовой бирже. Номинальная стоимость облигаций составляет 100 000 долл. США каждая; эмиссия была проведена по номиналу. Данные конвертируемые облигации имеют купон 5,25% годовых, выплачиваемый ежеквартально. По состоянию на 31 декабря 2014 г. облигации конвертировались в ГДР по курсу конверсии, составляющему 22,137 долл. США за ГДР (на 31 декабря 2013 г.: 22,137 долл. США за ГДР).
	p Группа может досрочно погасить обращающиеся облигации в полном объеме, но не частично, в любое время, начиная с 4марта 2013г. включительно, по номиналу плюс начисленные проценты, если средневзвешенная по объему цена ГДР, торгуемых на Лондонской фондовой бирже, в течение 30торговых сессий подряд превысит 130% от курса конверсии (колл-опцион эмитента). Кроме того, Группа может погасить облигации по номиналу плюс начисленные проценты, если в обращении остается не более 15% облигаций.
	p Группа определила, что конвертируемые облигации представляют собой комбинированный финансовый инструмент, состоящий из двух частей: обязательства по выпущенным облигациям (основной компонент) и встроенного производного инструмента, представляющего собой опцион на конвертацию в иностранной валюте, объединенный с колл-опционом эмитента ("встроенный опцион на конвертацию").
	p Встроенный опцион на конвертацию в иностранной валюте был классифицирован как финансовый инструмент, переоцениваемый по справедливой стоимости через прибыль или убыток. Первоначальное признание встроенного опциона на конвертацию было осуществлено по справедливой стоимости в размере 35 455. Для первоначальной и последующей оценки справедливой стоимости данного встроенного производного инструмента Группа использовала биноминальную модель оценки. Для целей указанной модели Группа определила, что на 31 декабря 2014 г. и 31 декабря 2013 г. кредитный спред составлял 2 422 базисных пунктов и 410 базисных пунктов, соответственно. Изменение справедливой стоимости встроенного производного инструмента в отчетном периоде привело к возникновению прибыли в размере 2 080 (2013г.: 8 410), которая была отражена в отчете о прибылях и убытках в составе прибыли от изменения справедливой стоимости производных финансовых инструментов.
	p Справедливая стоимость основного компонента на дату первоначального признания была определена как остаточная величина после вычитания справедливой стоимости встроенного опциона на конвертацию из эмиссионной цены конвертируемых облигаций, скорректированной на сумму затрат по сделке. Впоследствии основной компонент учитывается по амортизированной стоимости с использованием метода эффективной ставки процента. На 31 декабря 2014г. балансовая стоимость основного компонента составила 313 262 (на 31 декабря 2013 г.: 415 508).
	p До даты утверждения консолидированной финансовой отчетности к выпуску Группа полностью погасила конвертируемые облигации.
