extends ../layouts/default

block head
	- pageTitle = 'Торговая и прочая кредиторская задолженность';

block recommend
	- pageId = '09070621';
	- recommend_lang = lang;

block content
	p Торговая и прочая кредиторская задолженность включала:
	table.table_09.table_09070621_1
		tr.bold
			td
			td.bb1 2014 г.
			td.bb1 2013 г.
		tr
			td Торговая кредиторская задолженность
			td 530 501
			td 708 350
		tr
			td Кредиторская задолженность за основные средства
			td 52 429
			td 64 763
		tr
			td Обязательства по НДС
			td 39 523
			td 32 880
		tr
			td Обязательства по выплате заработнойплаты
			td 21 095
			td 31 685
		tr
			td Обязательства по налогу на имущество
			td 12 980
			td 16 898
		tr
			td Начисленные и удержанные налоги с фонда оплаты труда
			td 11 361
			td 16 123
		tr
			td Торговые скидки
			td 9 440
			td 8 601
		tr
			td Обязательства по опционам на продажу неконтролирующих долей участия в дочерних предприятиях
			td 6 639
			td 9 323
		tr
			td Векселя, выданные третьим лицам
			td 3 133
			td 5 353
		tr
			td Обязательства по прочим налогам
			td 1 309
			td 1 840
		tr
			td Прочая кредиторская задолженность
			td.bb1 34 286
			td.bb1 48 349
		tr.bold
			td
			td.bb2fff 722 696
			td.bb2fff 944 165
