extends ../layouts/default

block head
	- pageTitle = 'Обесценение нефинансовых активов (за исключением гудвила)';

block recommend
	- pageId = '09070508';
	- recommend_lang = lang;

block content
	p На каждую отчетную дату Группа определяет наличие признаков обесценения актива или группы активов. При наличии признаков обесценения производится оценка возмещаемой стоимости актива, и в случае обесценения стоимость актива списывается до его возмещаемой стоимости, которая представляет собой наибольшее из двух значений – справедливой стоимости за вычетом расходовна продажу и ценности от использования.
	p Справедливая стоимость за вычетом расходов на продажу представляет собой сумму, которую можно получить от продажи актива, в результате операции, осуществляемой на организованном рынке, между участниками рынка, за вычетом любых прямых затрат, связанных с продажей. Ценность от использования представляет собой приведенную стоимость расчетных будущих денежных потоков от ожидаемого непрерывного использования актива и его выбытия по окончании его срока полезного использования.
	p При оценке ценности актива от использования прогнозируемые будущие денежные поступления дисконтируются до их текущей стоимости с использованием ставки дисконтирования до налогообложения, отражающей текущую рыночную оценку временной стоимости денег и рисков, свойственных данному активу. Применительно к активам, не генерирующим поступление денежных потоков независимо от денежных потоков, генерируемых другими активами, возмещаемая стоимость определяется по генерирующей денежные потоки единице, к которой относятся такие активы.
	p Убыток от обесценения отражается в сумме разницы между расчетной возмещаемой стоимостью и балансовой стоимостью актива. Балансовая стоимость актива списывается до его возмещаемой стоимости, а сумма убытка включается в отчет о прибылях и убытках за период.
	p Убыток от обесценения сторнируется, если существуют признаки того, что убытки от обесценения активов (за исключением гудвила), признанные в предыдущие периоды, больше не существуют или сократились и если последующее увеличение возмещаемой стоимости может быть объективно связано с событием, имевшим место после отражения убытка от обесценения. Убыток от обесценения сторнируется до величины балансовой стоимости, не превышающей балансовую стоимость актива за вычетом амортизации, которая была бы установлена, если бы убыток от обесценения не был признан.
	p Нематериальные активы, которые еще не доступны для использования, ежегодно анализируются на предмет обесценения.
