extends ../layouts/default

block head
	- pageTitle = 'Задачи и принципы управления финансовыми рисками';

block recommend
	- pageId = '09070632';
	- recommend_lang = lang;

block content
	p Деятельность Группы подвержена влиянию ряда финансовых рисков: рыночных рисков (включая риск изменения процентных ставок и валютный риск), риска ликвидности и кредитного риска. Представленная информация демонстрирует подверженность Группы каждому из данных рисков. Совет директоров Группы рассматривает и утверждает принципы управления каждым из рисков, эти принципы приведены ниже.

	h3 Рыночный риск
	p Группа подвержена рискам изменения процентных ставок и курсов валют, которые могут оказывать влияние на активы, обязательства и будущие операции Группы. Целью управления рыночным риском является управление подверженностью Группы потенциальным рыночным рискам и осуществление контроля за ними, а также оптимизация доходности в условиях рисков.

	h3 Риск изменения процентных ставок
	p Риск изменения процентных ставок – это риск того, что справедливая стоимость или будущие денежные потоки по финансовому инструменту будут колебаться вследствие изменения рыночных процентных ставок. Политика Группы по управлению риском изменения процентных ставок заключается в минимизации риска с целью достижения Группой структуры финансирования, которая была определена и утверждена в соответствии с планами руководства. Для управления чистой финансовой позицией и улучшения финансового портфеля в соответствии с планами руководства потребности компаний Группы в заемных средствах рассматриваются центральной финансовой дирекцией Группы, что позволяет сохранить уровень риска в установленных рамках.

	p Группа привлекает заемные средства как по фиксированным, так и по плавающим процентным ставкам. В основном, плавающие ставки определяются исходя из ставок EURIBOR и LIBOR. Группа заключила соглашения об обмене через определенные интервалы времени разницы между процентными платежами по фиксированной ставке и процентными платежами по плавающей ставке, рассчитанными в отношении согласованного условного баланса обязательства (процентные свопы). Группа определила процентные свопы в качестве инструментов хеджирования лежащих в их основе обязательств. На конец 2014 года на кредиты с плавающей процентной ставкой приходилось 8% от общего кредитного портфеля (9% на конец 2013 года)с учетом влияния процентных свопов.
	p Группа не имеет финансовых активов с плавающей процентной ставкой.
	p В таблице, представленной ниже, приведен анализ чувствительности прибыли/(убытка) Группы к обоснованно возможному изменению процентных ставок в отношении указанной части кредитов и займов после учета влияния хеджирования. При условии неизменности всех прочих переменных займы с плавающей процентной ставкой оказывают следующее влияние на прибыль/(убыток) Группы до налогообложения:

	table.table_09.table_09070632_1
		tr.bold
			td
			td.bb1 Базисные пункты
			td.bb1 Влияние на прибыль/ (убыток) до налогообложения
		tr.bold
			td На 31 декабря 2014 г.
			td
			td
		tr
			td Повышение ставки LIBOR
			td 2
			td (40)
		tr
			td Снижение ставки LIBOR
			td (2)
			td 40
		tr
			td Повышение ставки EURIBOR
			td 7
			td (55)
		tr
			td Снижение ставки EURIBOR
			td.bb1 (7)
			td.bb1 55
		tr.bold
			td На 31 декабря 2013 г.
			td
			td
		tr
			td Повышениеставки LIBOR
			td 3
			td (76)
		tr
			td Снижение ставки LIBOR
			td (3)
			td 76
		tr
			td Повышение ставки EURIBOR
			td 13
			td (119)
		tr
			td Снижение ставки EURIBOR
			td (13)
			td 119

	h3.mtb50 Валютный риск
	p Валютный риск, которому подвергается Группа, связан с операциями продажи, покупки и привлечения средств, выраженными в валютах, отличных от соответствующих функциональных валют предприятий Группы. Кроме того, валютный риск связан с чистыми инвестициями Группы в иностранные подразделения. Основными валютами, в которых совершаются данные операции и выражены остатки по ним, являются доллары США и евро.
	p Подверженность Группы валютному риску, определяемая как чистая монетарная позиция по соответствующим валютам, по состоянию на 31 декабря представлена ниже:

	table.table_09.table_09070632_2
		tr.bold
			td
			td.bb1 2014г.
			td.bb1 2013г.
		tr
			td Доллар США / рубль
			td (1 571 946)
			td (1 731 183)
		tr
			td Евро / рубль
			td (79 014)
			td (94 785)
		tr
			td Доллар США / евро
			td (5 584)
			td 23 877
		tr
			td Доллар США / румынский лей
			td (4 893)
			td (14 185)
		tr
			td Евро / румынский лей
			td (50 723)
			td (84 008)
		tr
			td Казахский тенге / рубль
			td 10 350
			td 8 700
		tr
			td Доллар США / канадский доллар
			td (25 049)
			td (9 441)

	p Группа захеджировала чистые инвестиции в иностранные подразделения от валютного риска, используя выраженные в долларах США кредиты и займы, привлеченные российскими компаниями Группы, и подверженность валютному риску, связанному с продажами румынских дочерних предприятий, выраженными в долларах США, используя форвардные контракты по валютным парам доллар США / румынский лей. Группа не имеет других формализованных механизмов управления валютным риском, связанным с совершаемыми ею операциями и остатками по ним. Вместе с тем, Группа стремится привести свои финансовые обязательства в иностранной валюте в соответствие с чистыми экспортными продажами, минимизируя таким образом валютный риск.
	p В следующей таблице представлена чувствительность прибыли/(убытка) Группы до налогообложения и прочего совокупного дохода/(убытка) к возможным изменениям обменного курса соответствующих валют, при условии неизменности прочих параметров. Изменение прочего совокупного дохода/(убытка) обусловлено прибылью или убытками по кредитам и займам, выраженным в долларах США, которые приходятся на эффективную часть хеджирования чистых инвестиций в иностранные подразделения (Примечание 29 viii). При оценке возможных диапазонов колебаний курсов валют в 2014году Группа рассматривала динамику обменных курсов за 2014 год (2013г.: анализ на основании исторических данных за три предыдущих года). В 2014 году подход к расчету возможных изменений был пересмотрен в связи с возросшей волатильностью российского рубля по отношению к прочим валютам за последние несколько месяцев.

	table.table_09.table_09070632_3
		tr.bold
			td
			td(colspan=6).bb1 На 31 декабря 2014 г.
		tr.bold
			td
			td(colspan=2).bb1 Диапазон колебаний
			td(colspan=2).bb1 Влияние на прибыль/ (убыток) до налогообложения
			td(colspan=2).bb1 Влияние на прочий совокупный доход/(убыток)
		tr.bold
			td
			td.bb1 Низкий
			td.bb1 Высокий
			td.bb1 Низкий
			td.bb1 Высокий
			td.bb1 Низкий
			td.bb1 Высокий
		tr
			td Доллар США / рубль
			td 27,97%
			td -27,97%
			td (122 908)
			td 122 908
			td (316 765)
			td 316 765
		tr
			td Евро / рубль
			td 28,70%
			td -28,70%
			td (22 677)
			td 22 677
			td –
			td –
		tr
			td Доллар США / евро
			td 6,15%
			td -6,15%
			td (343)
			td 343
			td –
			td –
		tr
			td Доллар США / румынский лей
			td 6,64%
			td -6,64%
			td (325)
			td 325
			td –
			td –
		tr
			td Евро / румынский лей
			td 2,99%
			td -2,99%
			td (1 517)
			td 1 517
			td –
			td –
		tr
			td Казахский тенге / рубль
			td 32,52%
			td -32,52%
			td 3 366
			td (3 366)
			td –
			td –
		tr
			td Доллар США / канадский доллар
			td 6,37%
			td -6,37%
			td (1 596)
			td 1 596
			td –
			td –

	table.table_09.table_09070632_4
		tr.bold
			td
			td(colspan=6).bb1 На 31 декабря 2013 г.
		tr.bold
			td
			td(colspan=2).bb1 Диапазон колебаний
			td(colspan=2).bb1 Влияние на прибыль/ (убыток) до налогообложения
			td(colspan=2).bb1 Влияние на прочий совокупный доход/(убыток)
		tr.bold
			td
			td.bb1 Низкий
			td.bb1 Высокий
			td.bb1 Низкий
			td.bb1 Высокий
			td.bb1 Низкий
			td.bb1 Высокий
		tr
			td Доллар США / рубль
			td 10,18%
			td -10,18%
			td (64 392)
			td 64 392
			td (111 842)
			td 111 842
		tr
			td Евро / рубль
			td 7,84%
			td -7,84%
			td (7 431)
			td 7 431
			td –
			td –
		tr
			td Доллар США / евро
			td 9,24%
			td -9,24%
			td 2 206
			td (2 206)
			td –
			td –
		tr
			td Доллар США / румынский лей
			td 11,02%
			td -11,02%
			td (1 563)
			td 1 563
			td –
			td –
		tr
			td Евро / румынский лей
			td 4,60%
			td -4,60%
			td (3 864)
			td 3 864
			td –
			td –
		tr
			td Казахский тенге / рубль
			td 9,96%
			td -9,96%
			td 867
			td (867)
			td –
			td –
		tr
			td Доллар США / канадский доллар
			td 7,42%
			td -7,42%
			td (701)
			td 701
			td –
			td –
	h3 Риск ликвидности
	p Риск ликвидности – риск того, что у Группы возникнут сложности при исполнении обязательств, расчеты по которым производятся денежными средствами или иными финансовыми активами. Подход Группы к управлению ликвидностью состоит в том, чтобы непрерывно обеспечивать уровень ликвидности, достаточный для своевременного погашения финансовых обязательств без возникновения неприемлемых убытков и без угрозы для репутации Группы.
	p Группа осуществляет управление риском ликвидности посредством выбора оптимального соотношения собственного и заемного капитала в соответствии с планами руководства и задачами бизнеса. Такой подход позволяет Группе поддерживать необходимый уровень ликвидности и ресурсов финансирования таким образом, чтобы минимизировать расходы по заемным средствам, а также оптимизировать структуру задолженности и сроки ее погашения. Группа имеет доступ к широкому набору долговых инструментов, при этом координация отношений с банками осуществляется в централизованном порядке. В настоящее время Группа полагает, что она обладает достаточным доступом к источникам финансирования, а также имеет кредитные ресурсы, которые позволят удовлетворить ожидаемые потребности в заемных средствах.
	p Задачей эффективного управления риском ликвидности является как обеспечение уровня финансирования, достаточного для удовлетворения краткосрочных потребностей и погашения обязательств с наступающими сроками погашений, так и обеспечение достаточного уровня гибкости для финансирования планов развития бизнеса Группы и сохранения адекватнойструктуры финансирования в отношении структуры задолженности и сроков ее погашения. Вышеуказанные задачи подразумевают принятие стратегии, которая позволила бы сформировать и поддерживать адекватный кредитный портфель (который, в частности, предусматривает наличие заключенных кредитных договоров), и поддержание достаточного уровня денежных средств.
	p В таблице ниже представлены финансовые обязательства Группы в разбивке по срокам погашения, исходя из недисконтированных платежей в соответствии с договорными условиями, включая выплату процентов:

	table.table_09.table_09070632_5
		tr.bold
			td.bb1 На 31 декабря 2014 г.
			td.bb1 Менее 1 года
			td.bb1 От 1 года до 2 лет
			td.bb1 От 2 до 3 лет
			td.bb1 От 3 до 4 лет
			td.bb1 Более 4 лет
			td.bb1 ИТОГО
		tr
			td Торговая и прочая кредиторская задолженность
			td 629 789
			td –
			td –
			td –
			td –
			td.bold 629 789
		tr
			td Кредиторская задолженность перед связанными сторонами
			td 43 484
			td –
			td –
			td –
			td –
			td.bold 43 484
		tr
			td Процентные кредиты и займы:
			td
			td
			td
			td
			td
			td
		tr
			td Основная сумма долга
			td 728 574
			td 626 217
			td 534 385
			td 514 716
			td 743 783
			td.bold 3 147 675
		tr
			td Проценты
			td 201 592
			td 168 784
			td 116 442
			td 79 121
			td 59 044
			td.bold 624 983
		tr
			td Обязательства по финансовой аренде
			td 7 664
			td 10 434
			td 5 188
			td 4 809
			td 37 844
			td.bold 65 939
		tr
			td Дивиденды к выплате
			td 1 889
			td –
			td –
			td –
			td –
			td.bold 1 889
		tr
			td Обязательства по опционам на продажу неконтролирующих долей участия в дочерних предприятиях
			td 6 639
			td –
			td –
			td 15 326
			td –
			td.bold 21 965
		tr
			td Прочие долгосрочные обязательства
			td.bb1 –
			td.bb1 3
			td.bb1 33
			td.bb1 –
			td.bb1 8 263
			td.bb1.bold 8 299
		tr.bold
			td
			td.bb2fff 1 619 631
			td.bb2fff 805 438
			td.bb2fff 656 048
			td.bb2fff 613 972
			td.bb2fff 848 934
			td.bb2fff 4 544 023

	table.table_09.table_09070632_6
		tr.bold
			td.bb1 На 31 декабря 2013 г.
			td.bb1 Менее 1года
			td.bb1 От 1 года до 2 лет
			td.bb1 От 2 до 3 лет
			td.bb1 От 3 до 4 лет
			td.bb1 Более 4 лет
			td.bb1 ИТОГО
		tr
			td Торговая и прочая кредиторская задолженность
			td 835 416
			td –
			td –
			td –
			td –
			td.bold 835 416
		tr
			td Кредиторская задолженность перед связанными сторонами
			td 101 151
			td –
			td –
			td –
			td –
			td.bold 101 151
		tr
			td Процентные кредиты и займы:
			td
			td
			td
			td
			td
			td
		tr
			td Основная сумма долга
			td 362 168
			td 902 118
			td 561 187
			td 493 876
			td 1 302 195
			td.bold 3 621 544
		tr
			td Проценты
			td 220 498
			td 182 787
			td 146 618
			td 112 464
			td 137 340
			td.bold 799 707
		tr
			td Обязательства по финансовой аренде
			td 5 968
			td 5 739
			td 5 503
			td 5 365
			td 44 051
			td.bold 66 626
		tr
			td Дивиденды к выплате
			td 5 863
			td –
			td –
			td –
			td –
			td.bold 5 863
		tr
			td Обязательства по опционам на продажу неконтролирующих долей участия в дочерних предприятиях
			td 9 323
			td –
			td –
			td –
			td 31 697
			td.bold 41 020
		tr
			td Прочие долгосрочные обязательства
			td.bb1 –
			td.bb1 41
			td.bb1 –
			td.bb1 –
			td.bb1 8 701
			td.bb1.bold 8 742
		tr.bold
			td
			td.bb1 1 540 387
			td.bb1 1 090 685
			td.bb1 713 308
			td.bb1 611 705
			td.bb1 1 523 984
			td.bb1 5 480 069

	h3 Кредитный риск
	p Кредитный риск – риск того, что Группа понесет убытки вследствие невыполнения контрагентами договорных обязательств или неспособности контрагентов погасить задолженность в срок. Основными источниками концентрации кредитного риска Группы являются торговая и прочая дебиторская задолженность, а также денежные средства и их эквиваленты.
	p Кредитный риск, возникающий в ходе обычной коммерческой деятельности Группы, контролируется каждым операционным дивизионом в рамках утвержденных Группой процедур, позволяющих производить оценку надежности и кредитоспособности каждого контрагента, включая порядок оплаты контрагентомзадолженности. Анализ подверженности кредитному риску осуществляется на уровне Группы в соответствии с установленными принципами и методами оценки и мониторинга риска контрагентов.
	p Группа осуществляет продажу товаров нескольким крупнейшим российским и международным компаниям на условиях отсрочки платежа. Политика Группы заключается в том, что все заказчики для получения отсрочки платежа должны пройти процедуру проверки кредитоспособности.
	p По состоянию на 31 декабря 2014г. дебиторская задолженность от трех крупнейших дебиторов Группы составила 207 044 (на 31 декабря 2013г.: 317 162). Руководство определяет концентрацию риска как процентное соотношение задолженности конкретных заказчиков к общей сумме дебиторской задолженности.
	p В следующей таблице представлен анализ торговой и прочей дебиторской задолженности, а также прочих финансовых активов по срокам погашения:

	table.table_09.table_09070632_7
		tr.bold
			td
			td(colspan=2).bb1 2014г.
			td(colspan=2).bb1 2013г.
		tr.bold
			td
			td.bb1 Первоначальная стоимость
			td.bb1 Обесценение
			td.bb1 Первоначальная стоимость
			td.bb1 Обесценение
		tr
			td Текущая торговая и прочая дебиторская задолженность –непросроченная
			td 646 515
			td (18 345)
			td 781 817
			td (4 459)
		tr
			td Текущая торговая и прочая дебиторская задолженность –просроченная менее чем на 30 дней
			td 61 489
			td (1 188)
			td 85 771
			td (546)
		tr
			td на 30-90 дней
			td 17 608
			td (282)
			td 85 486
			td (702)
		tr
			td на срок более 90 дней
			td 38 197
			td (20 385)
			td 73 861
			td (30 433)
		tr
			td Дебиторская задолженность от связанных сторон–непросроченная
			td 4 749
			td (18)
			td 4 608
			td (32)
		tr
			td Долгосрочная торговая и прочая дебиторская задолженность –непросроченная
			td 5 215
			td (38)
			td 27 072
			td (18 819)
		tr
			td Прочее –не просрочено
			td.bb1 4 253
			td.bb1 –
			td.bb1 5 712
			td.bb1 –
		tr.bold
			td
			td.bb2fff 778 026
			td.bb2fff (40 256)
			td.bb2fff 1 064 327
			td.bb2fff (54 991)

	p.mtb50 Ниже представлены движения резерва на сомнительную задолженность:
	table.table_09.table_09070632_8
		tr.bold
			td
			td.bb1 2014г.
			td.bb1 2013г.
		tr.bold
			td Остаток на начало года
			td 54 991
			td 42 759
		tr
			td Использовано в течение года
			td (6 284)
			td (800)
		tr
			td Дополнительное увеличение резерва
			td 13 997
			td 16 032
		tr
			td Разницы от пересчета валют
			td.bb1 (22 448)
			td.bb1 (3 000)
		tr.bold
			td Остаток на конец года
			td.bb2fff 40 256
			td.bb2fff 54 991

	h3.mtb50 Управление капиталом
	p Основной целью управления капиталом Группы является обеспечение высокого кредитного рейтинга и устойчивых коэффициентов достаточности капитала в целях поддержания коммерческой деятельности и максимизации доходности для акционеров. Совет директоров проводит анализ результатов деятельности Группы и устанавливает ключевые показатели эффективности. Кроме того, Группа обязана соблюдать определенные внешние требования в отношении капитала (ковенанты), которые используются в целях мониторинга уровня достаточности капитала. В течение 2014 года Группа соблюдала внешние требования в отношении капитала. Цели Группы в отношении управления капиталом были достигнуты.
	p Капитал включает в себя капитал, приходящийся на акционеров материнской компании. Группа управляет структурой своего капитала и корректирует ее посредством проведения дополнительных эмиссий, выплаты дивидендов акционерам и выкупа собственных акций. Группа отслеживает объем средств обязательного резервного фонда на предмет его соответствия нормативным требованиям и осуществляет соответствующие отчисления из прибыли в счет указанного фонда. Кроме того, Группа проводит регулярный анализ прибыли, подлежащей распределению, определяя размер и сроки выплат дивидендов.

	h3 Справедливая стоимость финансовых инструментов, отражаемых по справедливой стоимости
	p Группа использует следующую иерархическую структуру методов оценки для определения и раскрытия информации о справедливой стоимости финансовых инструментов:
	ul
		li Уровень 1: котировки (нескорректированные) на активных рынках по идентичным активам или обязательствам;
		li Уровень2: модели оценки, при которых исходные данные, оказывающие существенное влияние на справедливую стоимость, прямо или косвенно основываются на информации, наблюдаемой на рынке;
		li Уровень 3: модели оценки, при которых исходные данные, оказывающие существенное влияние на справедливую стоимость, не основываются на информации, наблюдаемой на рынке.

	p.mtb50 Группа имела следующие финансовые инструменты, оцениваемые по справедливой стоимости:
	table.table_09.table_09070632_9
		tr.bold
			td
			td.bb1 2014г.
			td.bb1 2013г.
		tr
			td Встроенный опцион на конвертацию
			td –
			td (2 080)
		tr.bold
			td Итого краткосрочные производные финансовые инструменты
			td.bb2fff –
			td.bb2fff (2 080)
		tr
			td Процентные свопы
			td.bb1 (2 076)
			td.bb1 (3 501)
		tr.bold
			td Итого долгосрочные производные финансовые инструменты
			td.bb2fff (2 076)
			td.bb2fff (3 501)

	p Справедливая стоимость финансовых инструментов оценивалась при помощи моделей, основанных на информации, наблюдаемой на рынке (Уровень 2 в иерархической структуре методов оценки справедливой стоимости).
	p Производные финансовые инструменты Группы включали процентные свопы и валютные форварды. Политика их использования соответствует общей стратегии Группы по управлению рисками. Данные производные инструменты были определены в качестве инструментов хеджирования денежных потоков. Оценка производных финансовых инструментов производилась с применением моделей определения цены форвардов и свопов, использующих расчеты приведенной стоимости. Модели объединили в себе различные исходные данные, включая кредитное качество контрагентов, форвардные курсы валют и кривые процентных ставок.
	p За отчетный период переводы между Уровнем 1 и Уровнем 2 иерархии источников оценки справедливой стоимости не осуществлялись, переводов в Уровень 3 иерархии источников оценки справедливой стоимости или из данного уровня также не выполнялось.

	h3 Справедливая стоимость финансовых инструментов, отражаемых не по справедливой стоимости
	p Балансовая стоимость высоколиквидных или краткосрочных финансовых активов и финансовых обязательств (денежных средств и их эквивалентов, краткосрочной дебиторской задолженности, краткосрочных займов) приблизительно соответствует их справедливой стоимости.
	p В приведенной ниже таблице представлены финансовые инструменты, балансовая стоимость которых отличается от их справедливой стоимости:

	table.table_09.table_09070632_10
		tr.bold
			td
			td(colspan=2).bb1 2014г.
			td(colspan=2).bb1 2013г.
		tr.bold
			td
			td.bb1 Номинальная стоимость
			td.bb1 Справедливая стоимость
			td.bb1 Номинальная стоимость
			td.bb1 Справедливая стоимость
		tr.bold
			td Финансовые обязательства
			td
			td
			td
			td
		tr
			td Долгосрочные банковские кредиты с фиксированной процентной ставкой
			td 1 161 283
			td 1 089 008
			td 1 489 452
			td 1 489 888
		tr
			td Долгосрочные банковскиекредиты с плавающей процентной ставкой
			td 408 379
			td 405 099
			td 497 756
			td 480 429
		tr
			td 5,25% конвертируемые облигации
			td 311 000
			td 289 043
			td 412 500
			td 415 993
		tr
			td 6,75% еврооблигации со сроком погашения в 2020 году
			td 500 000
			td 291 665
			td 500 000
			td 506 755
		tr
			td 7,75% еврооблигации со сроком погашения в 2018 году
			td 500 000
			td 320 000
			td 500 000
			td 523 315

	p Справедливая стоимость котирующихся долговых инструментов (облигаций и еврооблигаций) была определена на основе рыночных котировок. Справедливая стоимость некотирующихся долговых инструментов была рассчитана путем дисконтирования будущих денежных потоков с применением текущих ставок по обязательствам с аналогичными условиями, кредитным риском и сроками, оставшимися до погашения.
