extends ../layouts/default

block head
	- pageTitle = 'Коммерческие расходы';

block recommend
	- pageId = '09070603';
	- recommend_lang = lang;

block content
	p Коммерческие расходыза год по 31 декабря были представлены следующими статьями:
	table.table_09.table_09070603_1
		tr.bold
			td
			td.bb1 2014 г.
			td.bb1 2013 г.
		tr
			td Транспортные расходы
			td 176 789
			td 191 782
		tr
			td Расходы на персонал, включая затраты на социальное обеспечение
			td 60 614
			td 6 4025
		tr
			td Амортизация основных средств и нематериальных активов
			td 35 177
			td 43 319
		tr
			td Профессиональные услуги
			td 25 229
			td 23 399
		tr
			td Расходные материалы
			td 20 758
			td 21 274
		tr
			td Расходы по сомнительной задолженности
			td 14 660
			td 17 326
		tr
			td Аренда
			td 6 272
			td 7 103
		tr
			td Командировочные расходы
			td 3 703
			td 4 549
		tr
			td Коммунальные платежи и техническое обслуживание
			td 2 837
			td 2 141
		tr
			td Страхование
			td 1 255
			td 1 395
		tr
			td Связь
			td 1 221
			td 1 331
		tr
			td Прочее
			td.bb1 1 434
			td.bb1 1 561
		tr.bold
			td
			td.bb2fff 349 949
			td.bb2fff 379 205
