extends ../layouts/default

block head
	- pageTitle = 'Приобретение дочерних предприятий';

block recommend
	- pageId = '09070612';
	- recommend_lang = lang;

block content
	h3 Приобретение бизнеса по сервисному обслуживанию трубной продукции и производству аксессуаров для нефтегазодобывающей отрасли в США
	p В апреле 2013 года Группа приобрела бизнес по сервисному обслуживанию трубной продукции и производству аксессуаров для нефтегазодобывающей отрасли, расположенный в США, за 26 600.
	p В таблице ниже представлена информация о справедливой стоимости приобретенных активов, принятых обязательств и стоимости приобретения:

	table.table_09.table_09070612_1
		tr.bold
			td
			td.bb1 Первоначальная оценка справедливой стоимости
			td.bb1 Окончательная оценка справедливой стоимости
		tr
			td Основные средства
			td 23 522
			td 22 705
		tr
			td Нематериальные активы
			td 648
			td 1 606
		tr
			td Торговая и прочая дебиторская задолженность
			td 1 171
			td 1 152
		tr
			td Запасы
			td 1 823
			td 1 660
		tr
			td Отложенные налоговые активы
			td.bb1 438
			td.bb1 479
		tr.bold
			td Итого активы
			td.bb1 27 602
			td.bb1 27 602
		tr
			td Торговая и прочая кредиторская задолженность
			td.bb1 (1 002)
			td.bb1 (1002)
		tr.bold
			td Итого обязательства
			td.bb1 (1 002)
			td.bb1 (1 002)
		tr.bold
			td Итого идентифицируемые чистые активы
			td.bb1 26 600
			td.bb1 26 600
		tr.bold
			td Стоимость приобретения
			td.bb2fff (26 600)
			td.bb2fff (26 600)

	p В течение 2013года Группа полностью выплатила вознаграждение за приобретение бизнеса.
	p Затраты, связанные с приобретением, на сумму 1282 были отражены в составе общехозяйственных и административных расходов в консолидированном отчете о прибылях и убытках за год по 31 декабря 2013 г.

	h3 Выбытие ООО "Складской комплекс ТМК"
	p 27 марта 2013 г. Группа продала 81%-ную долю участия в ООО "Складской комплекс ТМК". В таблице ниже представлена информация о балансовой стоимости активов и обязательств ООО "Складской комплекс ТМК", денежных потоках от выбытия дочернего предприятия и балансовой стоимости инвестиций Группы на дату выбытия:

	table.table_09.table_09070612_2
		tr.bold
			td
			td.bb1 Балансовая стоимость
		tr
			td Денежные средства и их эквиваленты
			td 1 932
		tr
			td Торговая и прочая дебиторская задолженность
			td 12 525
		tr
			td Запасы
			td 7 927
		tr
			td Прочие активы
			td.bb1 907
		tr.bold
			td Итого активы
			td.bb1 23 291
		tr
			td Торговая и прочая кредиторская задолженность
			td (25 082)
		tr
			td Прочие обязательства
			td.bb1 (39)
		tr.bold
			td Итого обязательства
			td.bb1 (25 121)
		tr.bold
			td Чистые обязательства
			td.bb2fff (1 830)
		tr
			td Денежное вознаграждение
			td (26)
		tr
			td 19%-ная доля участия, оставшаяся у Группы
			td.bb1 (6)
		tr.bold
			td Прибыль от выбытия дочернего предприятия
			td.bb2fff 1 862
