extends ../layouts/default

block head
	- pageTitle = 'События после отчетной даты';

block recommend
	- pageId = '09070633';
	- recommend_lang = lang;

block content
	h3 Приобретение ЧерметСервис-Снабжение
	p 9 февраля 2015г. Группа приобрела 100%-ную долю участия в ЧерметСервис-Снабжение, осуществляющем заготовку, переработку и поставку лома черных металлов металлургическим предприятиям, а также оказывающем услуги по комплексному материально-техническому снабжению.

	h3 Конвертируемые облигации
	p Группа полностью погасила конвертируемые облигации со сроком погашения в 2015 году.
