extends ../layouts/default

block head
	- pageTitle = 'Общехозяйственные и административные расходы';

block recommend
	- pageId = '09070605';
	- recommend_lang = lang;

block content
	p Общехозяйственные и административные расходы за год по 31 декабря были представлены следующими статьями:
	table.table_09.table_09070605_1
		tr.bold
			td
			td.bb1 2014 г.
			td.bb1 2013 г.
		tr
			td Расходы на персонал, включая затраты на социальное обеспечение
			td 159 357
			td 180 596
		tr
			td Профессиональные услуги
			td 50 427
			td 59 871
		tr
			td Коммунальные платежи и техническое обслуживание
			td 12 559
			td 12 544
		tr
			td Амортизация основных средств и нематериальных активов
			td 11 851
			td 16 429
		tr
			td Командировочные расходы
			td 7 654
			td 11 560
		tr
			td Страхование
			td 7 448
			td 7 815
		tr
			td Связь
			td 6 667
			td 6 637
		tr
			td Транспортные услуги
			td 6 568
			td 6 894
		tr
			td Аренда
			td 4 279
			td 5 065
		tr
			td Расходные материалы
			td 4 056
			td 4 811
		tr
			td Налоги
			td 3 448
			td 2 421
		tr
			td Прочее
			td.bb1 4 109
			td.bb1 2 645
		tr.bold
			td
			td.bb2fff 278 423
			td.bb2fff 317 288
