extends ../layouts/default

block head
	- pageTitle = 'Капитал';

block recommend
	- pageId = '09070515';
	- recommend_lang = lang;

block content
	h3 Уставный капитал
	p Обыкновенные акции отражаются в составе собственного капитала. Затраты на оплату услуг третьим сторонам, непосредственно связанные с выпуском новых акций, за исключением случаев объединения бизнеса, отражаются в составе капитала как уменьшение суммы, полученной в результате данной эмиссии.

	h3 Собственные акции, выкупленные у акционеров
	p Собственные долевые инструменты, приобретенные Группой (собственные акции, выкупленные у акционеров), вычитаются из суммы капитала. При покупке, продаже, выпуске или аннулировании собственных акций прибыль или убыток в отчете о прибылях и убытках не признается.

	h3 Дивиденды
	p Дивиденды признаются как обязательства и вычитаются из суммы капитала на конец отчетного периода только в том случае, если они были объявлены до конца отчетного периода включительно. Информация о дивидендах раскрывается в отчетности, если они были рекомендованы к выплате до конца отчетного периода, а также рекомендованы или объявлены после конца отчетного периода, но до даты утверждения финансовой отчетности.
