extends ../layouts/default

block head
	- pageTitle = 'Запасы';

block recommend
	- pageId = '09070616';
	- recommend_lang = lang;

block content
	p Запасы включали:

	table.table_09.table_09070616_1
		tr.bold
			td
			td.bb1 2014 г.
			td.bb1 2013 г.
		tr
			td Сырье
			td 288 597
			td 287 247
		tr
			td Незавершенное производство
			td 344 731
			td 467 909
		tr
			td Готовая продукция и готовая продукция в пути
			td 268 246
			td 368 857
		tr
			td Товары для перепродажи
			td 4 377
			td 6 677
		tr
			td Расходные материалы и прочие запасы
			td.bb1 164 185
			td.bb1 216 681
		tr.bold
			td Запасы без учета резерва
			td 1 070 136
			td 1 347 371
		tr
			td Резерв на снижение стоимости запасов до чистой стоимости реализации
			td.bb1 (23 229)
			td.bb1 (22 896)
		tr.bold
			td Запасы, нетто
			td 1 046 907
			td 1 324 475

	p На 31 декабря 2014 г. стоимость запасов, учитываемых по чистой стоимости реализации, составила 290 851 (на 31 декабря 2013 г.: 343 047).
	p На 31 декабря 2014 г. запасы балансовой стоимостью 40 489 (на 31 декабря 2013 г.: 100 000) были переданы в залог в качестве обеспечения по кредитам.
	p Ниже представлены изменения резерва на снижение стоимости запасов до чистой стоимости реализации:

	table.table_09.table_09070616_2
		tr.bold
			td
			td.bb1 2014 г.
			td.bb1 2013 г.
		tr.bold
			td Остаток на начало года
			td 22 896
			td 23 044
		tr
			td Увеличение резерва
			td 8 782
			td 1 008
		tr
			td Разницы от пересчета валют
			td.bb1 (8 449)
			td.bb1 (1 156)
		tr.bold
			td Остаток на конец года
			td 23 229
			td 22 896
