extends ../layouts/default

block head
	- pageTitle = 'Налог на прибыль';

block recommend
	- pageId = '09070610';
	- recommend_lang = lang;

block content
	p Расход по налогу на прибыльза год по 31 декабря был представлен следующими статьями:
	table.table_09.table_09070610_1
		tr.bold
			td
			td.bb1 2014 г.
			td.bb1 2013 г.
		tr
			td Расход по текущему налогу на прибыль
			td 61 721
			td 77 059
		tr
			td Корректировки налога на прибыль за предыдущие периоды
			td (5 358)
			td 3 306
		tr
			td Расход/(доход) по отложенному налогу на прибыль в связи с возникновением и восстановлением временных разниц
			td.bb1 (41 087)
			td.bb1 17 478
		tr.bold
			td Итого расход по налогу на прибыль
			td.bb2fff 15 276
			td.bb2fff 97 843

	p.mtb50 Ниже представлены результаты сверки прибыли/(убытка) до налогообложения и расхода по налогу на прибыль:
	table.table_09.table_09070610_2
		tr.bold
			td
			td.bb1 2014 г.
			td.bb1 2013 г.
		tr
			td Прибыль/(убыток) до налогообложения
			td (201 373)
			td 312 383
		tr
			td Условноеначисление налогана прибыль, рассчитанноепо действующей в России официальной ставке 20%
			td (40 275)
			td 62 477
		tr
			td Корректировки налога на прибыль за предыдущие периоды
			td (5 358)
			td 3 306
		tr
			td Налоговый эффект по статьям, не уменьшающим налогооблагаемую базу или не облагаемых налогом
			td 70 525
			td 20 021
		tr
			td Влияние различных ставок налогов в других странах (за пределами России)
			td (14 005)
			td 10 551
		tr
			td Налог на дивиденды, распределяемыевнутри Группы
			td 1 326
			td 904
		tr
			td Влияние разниц в ставках налогообложения, применяемых к дивидендным доходам
			td (9)
			td (326)
		tr
			td Увеличение в результате приобретения дочерних предприятий
			td –
			td 479
		tr
			td Влияние непризнанных налоговых кредитов, налоговых убытков и временных разниц предыдущих периодов
			td 3 210
			td 145
		tr
			td Прочее
			td.bb1 (138)
			td.bb1 286
		tr.bold
			td Итого расход по налогу на прибыль
			td.bb2fff 15 276
			td.bb2fff 97 843

	p.mtb50 Ниже представлены отложенные налоговые активы и обязательства и их изменения за год по 31 декабря 2014 г.:
	table.table_09.table_09070610_3
		tr.bold
			td
			td.bb1 2014 г.
			td.bb1 Изменение, отраженное  в отчете о прибылях и убытках
			td.bb1 Изменение, отраженное в составе прочего совокупного дохода/ (убытка)
			td.bb1 Разницы от пересчета валют
			td.bb1 2013 г.
		tr
			td Амортизация и оценка основных средств
			td (246 057)
			td (25 888)
			td –
			td 79 252
			td (299 421)
		tr
			td Амортизация и оценка нематериальных активов
			td (31 617)
			td 1 707
			td –
			td (134)
			td (33 190)
		tr
			td Налоговые убытки к зачету
			td 169 140
			td 48 957
			td 120 406
			td (53 121)
			td 52 898
		tr
			td Резервы и начисленные обязательства
			td 18 246
			td 4 132
			td –
			td (4 684)
			td 18 798
		tr
			td Обязательства по финансовой аренде
			td 8 319
			td 2 827
			td –
			td (3 650)
			td 9 142
		tr
			td Оценка запасов
			td 15 396
			td 10 106
			td –
			td (2 800)
			td 8 090
		tr
			td Оценка дебиторской задолженности
			td 4 549
			td 1 154
			td –
			td (1 876)
			td 5 271
		tr
			td Прочее
			td.bb1 1 200
			td.bb1 (1 908)
			td.bb1 (406)
			td.bb1 (648)
			td.bb1 4 162
		tr.bold
			td.bb1
			td.bb1 (60 824)
			td.bb1 41 087
			td.bb1 120 000
			td.bb1 12 339
			td.bb1 (234 250)
		tr
			td.bb1 Отражены в отчете о финансовом положении следующимобразом:
			td.bb1(colspan=5)
		tr
			td Отложенные налоговые обязательства
			td (205 667)
			td 33 938
			td –
			td 58 269
			td (297 874)
		tr
			td Отложенные налоговые активы
			td 144 843
			td 7 149
			td 120 000
			td (45 930)
			td 63 624

	p.mtb50 Ниже представлены отложенные налоговые активы и обязательства и их изменения за год по 31декабря 2013 г.:
	table.table_09.table_09070610_4
		tr.bold
			td
			td.bb1 2013 г.
			td.bb1 Изменение, отраженное  в отчете о прибылях и убытках
			td.bb1 Изменение, отраженное в составе прочего совокупного дохода/ (убытка)
			td.bb1 Приобретение и выбытие дочерних предприятий
			td.bb1 Разницы от пересчета валют
			td.bb1 2012 г.
		tr
			td Амортизация и оценка основных средств
			td (299 421)
			td (16 486)
			td –
			td 479
			td 14 823
			td (298 237)
		tr
			td Амортизация и оценка нематериальных активов
			td (33 190)
			td 5 791
			td –
			td –
			td 4
			td (38 985)
		tr
			td Налоговые убытки к зачету
			td 52 898
			td (16 950)
			td 16 348
			td (117)
			td (3 701)
			td 57 318
		tr
			td Резервы и начисленные обязательства
			td 18 798
			td 2 544
			td –
			td (8)
			td (779)
			td 17 041
		tr
			td Обязательства по финансовой аренде
			td 9 142
			td 316
			td –
			td –
			td (694)
			td 9 520
		tr
			td Оценка запасов
			td 8 090
			td 7 785
			td –
			td (370)
			td 152
			td 523
		tr
			td Оценка дебиторской задолженности
			td 5 271
			td 3 456
			td –
			td (152)
			td (208)
			td 2 175
		tr
			td Прочее
			td.bb1 4 162
			td.bb1 (3 934)
			td.bb1 (163)
			td.bb1 –
			td.bb1 (171)
			td.bb1 8 430
		tr.bold
			td.bb1
			td.bb2fff (234 250)
			td.bb2fff (17 478)
			td.bb2fff 16 185
			td.bb2fff (168)
			td.bb2fff 9 426
			td.bb2fff (242 215)
		tr
			td.bb1 Отражены в отчете о финансовом положении следующим образом:
			td.bb1(colspan=6)
		tr
			td Отложенные налоговые обязательства
			td (297 874)
			td (7 987)
			td –
			td –
			td 12 427
			td (302 314)
		tr
			td Отложенные налоговые активы
			td 63 624
			td (9 491)
			td 16 185
			td (168)
			td (3 001)
			td 60 099
	p Отложенные налоговые активы в отношении перенесенных на будущие периоды неиспользованных налоговых убытков были признаны в отчетности в той мере, в которой существует вероятность получения будущей налогооблагаемой прибыли, за счет которой можно реализовать неиспользованные налоговые выгоды.
	p По состоянию на 31 декабря 2014 г. Группа не признала отложенное налоговое обязательство в отношении временных разниц в сумме 907714 (на 31 декабря 2013 г.: 1372526), связанных с инвестициями в дочерние предприятия, поскольку Группа способна контролировать сроки восстановления указанных временных разниц, и не намерена восстанавливать их в обозримом будущем.
