extends ../layouts/default

block head
	- pageTitle = 'Нематериальные активы (за исключением гудвила)';

block recommend
	- pageId = '09070507';
	- recommend_lang = lang;

block content
	p Нематериальные активы (за исключением гудвила) оцениваются по стоимости приобретения при первоначальном признании. Стоимость нематериальных активов, приобретенных в результате объединения компаний, представляет собой справедливую стоимость на дату приобретения. После первоначального признания нематериальные активы отражаются по стоимости приобретения за вычетом накопленной амортизации и накопленных убытков от обесценения.
	p Нематериальные активы имеют ограниченные или неограниченные сроки полезного использования.
	p Нематериальные активы с ограниченным сроком полезного использования амортизируются в течение срока полезного использования и анализируются на предмет обесценения при наличии признаков обесценения нематериального актива. Сроки и порядок амортизации нематериальных активов с ограниченным сроком полезного использования анализируются как минимум в конце каждого года. Изменения ожидаемого срока полезного использования или ожидаемого характера потребления будущих экономических выгод от актива учитываются как изменения учетных оценок. Амортизационные отчисления по нематериальным активам отражаются в отчете о прибылях и убытках в составе расходов в соответствии с функциональным назначением нематериального актива.
	p Нематериальные активы с неограниченным сроком полезного использования не амортизируются. При этом они ежегодно анализируются на предмет обесценения либо по отдельности, либо на уровне единицы, генерирующей денежные потоки.

	h3 Исследования и разработки
	p Затраты на разработки (связанные с проектированием и испытанием новой или усовершенствованной продукции) отражаются как нематериальные активы лишь в том случае, когда Группа в состоянии продемонстрировать техническую осуществимость создания данного нематериального актива так, чтобы актив был доступен для использования или продажи; свое намерение завершить разработку и способность использовать или продать данный нематериальный актив, а также порядок генерирования данным активом будущих экономических выгод, наличие ресурсов для завершения разработки и способность проведения достоверной оценки расходов, понесенных в ходе разработки. Прочие затраты на разработки отражаются в составе расходов по мере их возникновения. Затраты на разработки, которые были первоначально списаны на расходы, не отражаются в качестве актива в последующие периоды. Капитализированные затраты на разработки амортизируются с начала коммерческого производства продукции, являющейся предметом этих разработок, линейным методом в течение ожидаемого срока получения выгод от этих разработок. Балансовая стоимость затрат на разработки анализируется на предмет обесценения ежегодно, если актив еще не введен в эксплуатацию, или чаще – в случае возникновения признаков обесценения в течение отчетного года.
