extends ../layouts/default

block head
	- pageTitle = 'Основа подготовки финансовой отчетности';

block recommend
	- pageId = '090702';
	- recommend_lang = lang;

block content
	h3 Основа учета
	p Настоящая консолидированная финансовая отчетность подготовлена в соответствии с Международными стандартами финансовой отчетности (МСФО) в редакции, опубликованной Советом по Международным стандартам финансовой отчетности (Совет по МСФО).
	p Консолидированная финансовая отчетность подготовлена в соответствии с принципом начисления и исходя из метода учета по исторической стоимости, за исключением раскрытого в разделе "Основные положения учетной политики".
	p 31 декабря является датой окончания финансового года для всех предприятий Группы и ее ассоциированных компаний.

	h3 Функциональная валюта и валюта представления отчетности
	p Для целей настоящей консолидированной финансовой отчетности Группы валютой представления является доллар США, поскольку представление отчетности в долларах США удобно для основных существующих и потенциальных пользователей финансовой отчетности Группы.
	p Функциональной валютой предприятий Группы является валюта основной экономической среды, в которой предприятие осуществляет свою деятельность. Функциональными валютами предприятий Группы являются российский рубль, доллар США, евро, румынский лей иканадский доллар.
	p При консолидации активы и обязательства компаний Группы, отраженные в их функциональных валютах, пересчитываются в доллары США, валюту представления финансовой отчетности Группы, по обменным курсам на конец года. Статьи доходов и расходов пересчитываются в доллары США по средневзвешенному курсу или, в случае существенных статей, по курсу на дату операции.
	p Операции в иностранных валютах первоначально отражаются в функциональной валюте по курсу на дату совершения операции. Монетарные активы и обязательства, выраженные в иностранных валютах, пересчитываются в функциональную валюту по курсу на конец отчетного периода. Разницы, возникающие при пересчете, отражаются в отчете о прибылях и убытках, за исключением разниц по валютным кредитам, учитываемым в качестве инструментов хеджирования чистых инвестиций в иностранные подразделения. Немонетарные статьи, оцениваемые по исторической стоимости в иностранной валюте, переводятся по обменносму курсу валют на дату операции.  Немонетарные статьи, оцениваемые по справедливой стоимости в иностранной валюте, переводятся по обменному курсу на дату определения справедливой стоимости.
