extends ../layouts/default

block head
	- pageTitle = 'Признание выручки';

block recommend
	- pageId = '09070516';
	- recommend_lang = lang;

block content
	p Выручка признается в той мере, в какой существует вероятность получения Группой экономических выгод, а также когда размер выручки поддается достоверной оценке. Выручка от продажи продукции признается в момент передачи покупателю существенных рисков и выгод, связанных с правом собственности на товар. Выручка, возникающая от продажи услуг, признается в том же отчетном периоде, в котором предоставлены услуги.
	p Выручка определяется по справедливой стоимости вознаграждения, полученного или подлежащего получению. Если не представляется возможным достоверно оценить справедливую стоимость полученного вознаграждения, то выручка оценивается по справедливой стоимости проданных товаров или оказанных услуг.
