extends ../layouts/default

block head
	- pageTitle = 'Прочие долгосрочные обязательства';

block recommend
	- pageId = '09070627';
	- recommend_lang = lang;

block content
	p Прочие долгосрочные обязательства включали:

	table.table_09.table_09070627_1
		tr
			td
			td.bb1 2014 г.
			td.bb1 2013 г.
		tr
			td Обязательства по опционам на продажу неконтролирующих долей участия в дочерних предприятиях
			td 15 326
			td 31 697
		tr
			td Производные финансовые инструменты
			td 2 076
			td 3 501
		tr
			td Государственные субсидии
			td 1 198
			td 2 138
		tr
			td Прочие долгосрочные обязательства
			td.bb1 8 299
			td.bb1 8 779
		tr.bold
			td
			td.bb2fff 26 899
			td.bb2fff 46 115
