extends ../layouts/default

block head
	- pageTitle = 'Капитал';

block recommend
	- pageId = '09070631';
	- recommend_lang = lang;

block content
	h3 Уставный капитал

	table.table_09.table_09070631_1
		tr.bold
			td
			td.bb1 2014 г.
			td.bb1 2013 г.
		tr.bold
			td Количество акций
			td
			td
		tr
			td Разрешено к выпуску <br> Обыкновенные акции по 10руб. каждая
			td 991 907 260
			td 937 586 094
		tr
			td Выпущено и полностью оплачено<br> Обыкновенные акции по 10руб. каждая
			td 991 907 260
			td 937 586 094
	p 27 июня 2014г. Совет директоров утвердил увеличение уставного капитала. В декабре 2014года Группа получила 5,5 млрд. руб. (101 536 по фактическим обменным курсам) от акционеров за выпуск 54 321 166 акций.

	h3 Собственные акции, выкупленные у акционеров
	table.table_09.table_09070631_2
		tr.bold
			td
			td.bb1 2014 г.
			td.bb1 2013 г.
		tr
			td Количество акций
			td 72 559 628
			td 72 559 628
		tr
			td Стоимость
			td 319 149
			td 319 149

	h3 Резервный фонд
	p Согласно российскому законодательству Компания обязана создать резервный фонд в размере 5% от величины уставного капитала по данным российского бухгалтерского учета путем ежегодных отчислений, размер которых должен составлять не менее 5% чистой прибыли за год по данным российской бухгалтерской отчетности. Резервный фонд может использоваться исключительно для покрытия убытков, а также для погашения облигаций Компании и приобретения собственных акций в отсутствие иных источников финансирования.

	h3 Дивиденды, объявленные материнской компанией акционерам
	p На ежегодном собрании акционеров, состоявшемся 19 июня 2014 г., была одобрена выплата годовых дивидендов за 2013 год в размере 731 317 тыс. руб. (21 001 по обменному курсу на дату утверждения) или 0,78 руб. (0,02 долл. США) за акцию, из которых 56 597 тыс. руб. (1 625 по обменному курсу на дату утверждения) приходились на собственные акции, принадлежащие Группе.

	h3 Дивиденды, объявленные материнской компанией акционерам(продолжение)
	p На внеочередном собрании акционеров, состоявшемся 25 декабря 2014 г., была одобрена выплата промежуточных дивидендов за шесть месяцев 2014 года в размере 393 786 тыс. руб. (7 227 по обменному курсу на дату утверждения), или примерно 0,397 руб. за акцию, из которых 28 806 тыс. руб. (529 по обменному курсу на дату утверждения) приходились на собственные акции, принадлежащие Группе.

	h3 Дивиденды, объявленные дочерними предприятиями Группы держателям неконтролирующих долей участия
	p Суммы дивидендов, объявленных дочерними предприятиями Группы держателям неконтролирующих долей участия, составили 1 367 и 1 554 в 2014 и 2013 гг., соответственно.

	h3 Приобретение неконтролирующих долей участия в дочерних предприятиях
	p В 2014 году Компания приобрела дополнительные 0,21% акций ОАО "Северский трубный завод" за денежное вознаграждение в размере 193. Превышение балансовой стоимости приобретаемой доли в чистых активах дочернего предприятия над суммой, уплаченной за акции, в размере 383, было отражено в составе дополнительного оплаченного капитала.

	h3 Изменение неконтролирующих долей участия в дочернем предприятии, отраженное в учете в качестве операции с капиталом
	p Начиная с 2018 года держатель неконтролирующей доли участия в ООО "ТМК-ИНОКС" будет иметь право продать Группе свою долю участия при определенных обстоятельствах, находящихся за пределами контроля Группы. По условиям опциона "пут" Группа не получает текущую долю участия в акциях, являющихся предметом такого опциона, соответственно, Группа отразила в учете указанный опцион "пут" следующим образом:
	ul
		li в 2014 году Группа прекратила признание неконтролирующей доли в убытке ООО"ТМК-ИНОКС", как если бы она была приобретена в отчетном периоде, в размере 439 (2013 г.: 217);
		li Группа отразила изменение справедливой стоимости финансового обязательства по опциону "пут", разница между неконтролирующей долей участия в OOO"ТМК-ИНОКС", признание которой было прекращено, и изменением справедливой стоимости финансового обязательства в размере 2 676 была отражена в дополнительном оплаченном капитале (2013 г.: разница в размере 8 113 была отнесена на уменьшение накопленной прибыли).

	h3 Хеджирование чистых инвестиций в иностранные подразделения
	p На 31 декабря 2014 г. Группа определила выраженные в долларах США кредиты и займы в размере 1 197 710 (2013 г.: 1 197 710) в качестве инструментов хеджирования чистых инвестиций в зарубежные дочерние предприятия Группы.
	p Проверка эффективности хеджирования была произведена по методу долларовой компенсации путем сопоставления накопленной прибыли и убытков, возникающих в результате изменений текущего курса доллара США к рублю по инструменту хеджирования и по хеджируемой статье. В 2014 году эффективная часть чистого убытка, возникшего в результате изменения текущего курса, в сумме 602 032(по историческим курсам), за вычетом налога на прибыль в размере 120 406(по историческим курсам), была отнесена в состав прочего совокупного убытка.

	h3 Результатхеджирования денежных потоков
	p Группа хеджирует подверженность валютному риску, используя валютные форвардные контракты, и подверженность риску изменения процентных ставок, используя процентные свопы.
	p В таблице ниже представлена информация об изменениях в инструментах хеджирования денежных потоков:

	table.table_09.table_09070631_3
		tr.bold
			td
			td(colspan=2).bb1 Валютные форвардные контракты
			td(colspan=2).bb1 Процентные свопы
			td(colspan=2).bb1 ИТОГО
		tr.bold
			td
			td.bb1 2014 г.
			td.bb1 2013 г.
			td.bb1 2014 г.
			td.bb1 2013 г.
			td.bb1 2014 г.
			td.bb1 2013 г.
		tr
			td Прибыль/(убыток) за период
			td (26)
			td 103
			td (744)
			td (47)
			td (770)
			td 56
		tr
			td Признание реализованных результатов в отчете о прибылях и убытках
			td.bb1 26
			td.bb1 (49)
			td.bb1 2 502
			td.bb1 539
			td.bb1 2 528
			td.bb1 490
		tr.bold
			td Результатхеджирования денежных потоков
			td –
			td 54
			td 1 758
			td 492
			td 1 758
			td 546
		tr
			td Налог на прибыль
			td.bb1 –
			td.bb1 (8)
			td.bb1 (406)
			td.bb1 (155)
			td.bb1 (406)
			td.bb1 (163)
		tr.bold
			td Результатхеджирования денежных потоков за вычетом налогов
			td.bb2fff –
			td.bb2fff 46
			td.bb2fff 1 352
			td.bb2fff 337
			td.bb2fff 1 352
			td.bb2fff 383
