extends ../layouts/default

block head
	- pageTitle = 'Финансовые активы';

block recommend
	- pageId = '09070504';
	- recommend_lang = lang;

block content
	h3 Первоначальное признание и оценка
	p Финансовые активы классифицируются Группой как: займы и дебиторская задолженность; финансовые активы, переоцениваемые по справедливой стоимости через прибыль или убыток; инвестиции, удерживаемые до погашения; финансовые активы, имеющиеся в наличии для продажи; или как производные инструменты, определенные в качестве инструментов хеджирования при эффективном хеджировании. При первоначальном отражении в учете финансовых активов Группа присваивает им соответствующую категорию и, если это возможно и целесообразно, на каждую отчетную дату проводит анализ на предмет пересмотра присвоенной им категории.
	p Первоначально финансовые активы признаются по справедливой стоимости, увеличенной на непосредственно связанные с ними затраты по сделке (кроме финансовых активов, переоцениваемых по справедливой стоимости через прибыль или убыток). При признании финансового актива, переоцениваемого по справедливой стоимости через прибыль или убыток, затраты по сделке списываются на расходы немедленно.

	h3 Последующая оценка
	p Последующая оценка финансовых активов зависит от их классификации и осуществляется следующим образом:

	h4 Займы и дебиторская задолженность
	p Займы и дебиторская задолженность являются непроизводными финансовыми активами, не котирующимися на активном рынке, с фиксированным или поддающимся определению размером платежей. После первоначального признания такие активы отражаются по амортизированной стоимости с использованием метода эффективной ставки процента за вычетом резерва на обесценение. Прибыли и убытки по таким активам отражаются в отчете о прибылях и убытках при выбытии или обесценении таких активов, а также через процесс амортизации.
	p Дебиторская задолженность, в основном имеющая краткосрочный характер, отражается в сумме выставленного счета за вычетом резерва на сомнительную задолженность. Резерв на сомнительную задолженность создается при наличии объективных свидетельств того, что Группа не сможет взыскать причитающуюся ей сумму в соответствии с первоначальными условиями договоров. Группа периодически анализирует дебиторскую задолженность покупателей и заказчиков, внося корректировки в сумму резерва. Величина резерва представляет собой разницу между балансовой и возмещаемой стоимостью. Расходы по резерву на сомнительную дебиторскую задолженность отражаются в отчете о прибылях и убытках.

	h4 Финансовые активы, переоцениваемые по справедливой стоимости через прибыль или убыток
	p Категория "финансовые активы, переоцениваемые по справедливой стоимости через прибыль или убыток" включает финансовые активы, предназначенные для торговли, и финансовые активы, отнесенные при первоначальном признании в категорию переоцениваемых по справедливой стоимости через прибыль или убыток. Финансовые активы классифицируются как предназначенные для торговли, если они приобретены с целью продажи или обратной покупки в ближайшем будущем. Производные инструменты, включая выделенные встроенные производные инструменты, также классифицируются как предназначенные для торговли, за исключением случаев, когда они определяются как эффективные инструменты хеджирования согласно МСФО(IAS)39. Доходы и расходы по активам, предназначенным для торговли, признаются в отчете о прибылях и убытках.

	h4 Инвестиции, удерживаемые до погашения
	p Непроизводные финансовые активы с фиксированными или определенными платежами и фиксированным сроком погашения классифицируются в качестве удерживаемых до погашения в случае, если Группа намерена и способна удерживать их до срока погашения. После первоначального признания инвестиции, удерживаемые до погашения, учитываются по амортизированной стоимости с использованием метода эффективной ставки процента за вычетом убытка от обесценения.

	h4 Финансовые активы, имеющиеся в наличии для продажи
	p Финансовые активы, имеющиеся в наличии для продажи, представляют собой непроизводные финансовые активы, классифицированные как имеющиеся в наличии для продажи или не включенные ни в одну из трех вышеназванных категорий. После первоначального отражения в учете финансовые активы, имеющиеся в наличии для продажи, оцениваются по справедливой стоимости, при этом нереализованные прибыли и убытки отражаются в составе прочего совокупного дохода до момента выбытия или обесценения данных финансовых активов, когда совокупная прибыль или убыток переносится в отчет о прибылях и убытках.

	h4 Производные инструменты
	p Производные инструменты представляют собой финансовые инструменты, стоимость которых меняется в зависимости от изменений базисной переменной и расчеты по которым будут осуществлены в будущем. Для приобретения данных инструментов требуется незначительные первоначальные чистые инвестиции или инвестиции не требуются вовсе. Производные инструменты используются, главным образом, для управления валютным риском, риском изменения процентной ставки и прочими рыночными рисками. Производные инструменты впоследствии регулярно переоцениваются по справедливой стоимости на каждую отчетную дату. Метод признания полученных в результате прибыли или убытков зависит от того, определен ли производный финансовый инструмент в качестве инструмента хеджирования.

	h4 Учет хеджирования
	p Для целей учета хеджирования производные инструменты определяются в качестве инструментов хеджирования подверженности рискам изменения справедливой стоимости признанного актива или обязательства (хеджирование справедливой стоимости) и в качестве инструментов хеджирования подверженности рискам изменения денежных потоков (хеджирование денежных потоков). В начале хеджирования Группа формально определяет и документально оформляет отношения хеджирования, к которым Группа намерена применить учет хеджирования, а также цели по управлению риском и стратегию хеджирования. Группа оценивает эффективность хеджирования в момент начала хеджирования и регулярно проводит проверку эффективности хеджирования (как минимум раз в квартал) с использованием перспективного и ретроспективного тестирования.
	p Производные инструменты Группы включают процентные свопы и валютные форварды. Политика их использования соответствует общей стратегии Группы по управлению рисками. Данные производные инструменты определяются в качестве инструментов хеджирования денежных потоков.

	h4 Обесценение финансовых активов
	p На каждую отчетную дату Группа оценивает наличие объективных признаков обесценения финансового актива или группы финансовых активов. Финансовый актив или группа активов считаются обесцененными тогда и только тогда, когда существует объективное свидетельство обесценения в результате наступления одного или нескольких событий, произошедших после первоначального признания актива, и данные события оказали поддающееся надежной оценке влияние на ожидаемые от финансового актива или группы финансовых активов будущие денежные потоки. К свидетельствам наличия обесценения относятся наблюдаемые данные о следующих событиях: существенные финансовые затруднения должника, неуплата или нарушение сроков выплаты процентов или основной суммы задолженности, а также вероятность того, что должник проведет процедуру банкротства или финансовую реорганизациюиного рода.
	p Сумма убытка от обесценения определяется как разница между балансовой стоимостью актива и возмещаемой стоимостью актива. Балансовая стоимость финансовых активов (кроме займов и дебиторской задолженности) уменьшается непосредственно, без использования резерва на обесценение, сумма убытка отражается в отчете о прибылях и убытках.
