extends ../layouts/default

block head
	- pageTitle = 'Запасы';

block recommend
	- pageId = '09070505';
	- recommend_lang = lang;

block content
	p Запасы учитываются по наименьшей из двух величин: себестоимости и чистой стоимости реализации. Чистая стоимость реализации представляет собой расчетную цену продажи, устанавливаемую в ходе обычной деятельности, уменьшенную на расчетные затраты, необходимые для подготовки и осуществления продажи актива. Себестоимость запасов определяется методом средневзвешенной стоимости.
	p Себестоимость запасов включает в себя затраты на приобретение, обработку и прочие затраты по доведению запасов в соответствующее состояние и доставке в соответствующее местонахождение. Стоимость незавершенного производства и готовой продукции включает в себя стоимость сырья и материалов, прямые затраты труда, прямые производственные затраты, а также косвенные производственные накладные расходы, в т.ч. расходы на амортизацию. Затраты на финансирование не учитываются при оценке запасов.
	p Группа периодически анализирует запасы для определения того, не являются ли они поврежденными, устаревшими или залежалыми, не снизилась ли их чистая стоимость реализации, и создает резервы на такие запасы.
