extends ../layouts/default

block head
	- pageTitle = 'Процентные кредиты и займы';

block recommend
	- pageId = '09070623';
	- recommend_lang = lang;

block content
	p Процентные кредиты и займы включали:
	table.table_09.table_09070623_1
		tr.bold
			td
			td.bb1 2014 г.
			td.bb1 2013 г.
		tr
			td
				h3 Краткосрочные
			td
			td
		tr
			td Банковские кредиты
			td 265 439
			td 69 647
		tr
			td Проценты к уплате
			td 30 841
			td 32 735
		tr
			td Текущая часть долгосрочных кредитов и займов
			td 152 135
			td 292 522
		tr
			td Текущая часть задолженности по купоннымдолговым ценным бумагам
			td 311 000
			td –
		tr
			td Неамортизированные затраты на привлечение кредитов, займов и долговых ценных бумаг
			td.bb1 (610)
			td.bb1 (963)
		tr.bold
			td Итого краткосрочные кредиты и займы
			td.bb2fff 758 805
			td.bb2fff 393 941
		tr
			td
				h3 Долгосрочные
			td
			td
		tr
			td Банковские кредиты
			td 1 571 236
			td 2 139 397
		tr
			td Купонные долговые ценные бумаги
			td 1 311 000
			td 1 412 500
		tr
			td Неамортизированные затраты на привлечение кредитов, займов и долговых ценных бумаг
			td (8 201)
			td (11 298)
		tr
			td За вычетом: текущей части долгосрочных кредитов и займов
			td (152 135)
			td (292 522)
		tr
			td За вычетом: текущей части задолженности по купонным долговым ценным бумагам
			td.bb1 (311 000)
			td.bb1 –
		tr
			td Итого долгосрочные кредиты и займы
			td.bb2fff 2 410 900
			td.bb2fff 3 248 077

	p.mtb50 Кредиты и займы Группы были выражены в следующих валютах:
	table.table_09.table_09070623_2
		tr.bold
			td
			td.bb1 Процентные ставки
			td.bb1 2014 г.
			td.bb1 Процентные ставки
			td.bb1 2013 г.
		tr
			td.bb1 Российский рубль
			td.bb1 Фиксированные процентные ставки 7,99%-13%
			td.bb1 958 177
			td.bb1 Фиксированные процентные ставки 7,35%-9,6%
			td.bb1 1 183 323
		tr
			td(rowspan=6) Доллар США
			td Фиксированная процентная ставка 5,25%
			td 313 262
			td Фиксированная процентная ставка 5,25%
			td 415 508
		tr
			td Фиксированная процентная ставка 6,75%
			td 505 235
			td Фиксированная процентная ставка 6,75%
			td 504 693
		tr
			td Фиксированная процентная ставка 7,75%
			td 514 521
			td Фиксированная процентная ставка 7,75%
			td 513 951
		tr
			td Фиксированные процентные ставки 4,99%-5,8%
			td 406 272
			td Фиксированные процентные ставки 4,99%-5,8%
			td 407 578
		tr
			td Плавающие процентные ставки:
			td 386 679
			td Плавающие процентные ставки:
			td 484 711
		tr
			td Libor (1м) + 2,25%-2,75%
			td
			td Libor (1м) + 2,25%-3%
			td
		tr
			td.bb1
			td.bb1 Libor (3м) + 2,75%-4,5%
			td.bb1
			td.bb1 Libor (3м-12м) + 1,4%-4,5%
			td.bb1
		tr
			td(rowspan=4) Евро
			td Фиксированная процентная ставка 5,19%
			td 11 540
			td Фиксированная процентная ставка 5,19%
			td 38 157
		tr
			td Плавающие процентные ставки:
			td 74 019
			td Плавающие процентные ставки:
			td 93 989
		tr
			td Euribor (1м) + 1,15%-3,5%
			td
			td Euribor (1м) + 1,9%-4%
			td
		tr
			td Euribor (3м) + 1,7%-3%
			td
			td Euribor (3м) + 1,7%-3%
			td
		tr
			td.bb1
			td.bb1
			td.bb1
			td.bb1 Euribor (6м) + 0,9%
			td.bb1
		tr
			td.bb1 Румынский лей
			td.bb1
			td.bb1 −
			td.bb1 Robor (6м) + 3%
			td.bb1 108
		tr.bold
			td
			td
			td.bb2fff 3 169 705
			td
			td.bb2fff 3 642 018

	h3 Неиспользованные кредитные линии
	p По состоянию на 31 декабря 2014 г. Группа имела неиспользованные кредитные линии в размере 879656 (на 31 декабря 2013 г.: 1619478).
