extends ../layouts/default

block head
	- pageTitle = 'Резервы';

block recommend
	- pageId = '09070511';
	- recommend_lang = lang;

block content
	p Резервы признаются, если Группа вследствие определенного события в прошлом имеет юридические или добровольно принятые на себя обязательства, для урегулирования которых с большой степенью вероятности потребуется отток ресурсов, и которые можно оценить с достаточной степенью надежности. В тех случаях, когда Группа ожидает возмещения резервов, например, по договору страхования, сумма возмещения отражается как отдельный актив, но только при условии, что получение такого возмещения практически не вызывает сомнений.
	p Если влияние временной стоимости денег является значительным, то резервы рассчитываются путем дисконтирования ожидаемых будущих денежных потоков по ставке до налогообложения, отражающей текущую рыночную оценку временной стоимости денег и, если применимо, учитывая специфические риски, связанные с тем или иным обязательством. Увеличение резерва, происходящее с течением времени при применении дисконтирования, признается как финансовый расход.
