extends ../layouts/default

block head
	- pageTitle = 'Основные средства';

block recommend
	- pageId = '09070618';
	- recommend_lang = lang;

block content
	p Ниже представлены изменения в составе основных средств за год по 31 декабря 2014 г.:

	table.table_09.table_09070618_1.lightbox
		tr.bold
			td
			td.bb1 Земля и здания
			td.bb1 Машины и оборудование
			td.bb1 Транспортные средства
			td.bb1 Мебель и офисное оборудование
			td.bb1 Улучшения арендованной собственности
			td.bb1 Незавершенное строительство
			td.bb1 ИТОГО
		tr
			td(colspan=8)
				h3 ПЕРВОНАЧАЛЬНАЯ СТОИМОСТЬ
		tr.bold
			td Остаток на 1 января 2014 г.
			td 1 442 677
			td 3 220 619
			td 67 389
			td 76 175
			td 25 262
			td 677 754
			td 5 509 876
		tr
			td Поступления
			td –
			td –
			td –
			td –
			td –
			td 351 145
			td.bold 351 145
		tr
			td Активы, введенные в эксплуатацию
			td 112 035
			td 449 849
			td 18 253
			td 5 739
			td 4 856
			td (590 732)
			td –
		tr
			td Выбытия
			td (4 358)
			td (67 969)
			td (1 533)
			td (1 341)
			td –
			td (5 214)
			td.bold (80 415)
		tr
			td Переклассификации
			td (440)
			td (127)
			td (1)
			td (826)
			td 803
			td 591
			td –
		tr
			td Разницы от пересчета валют
			td.bb1 (526 850)
			td.bb1 (1 092 648)
			td.bb1 (27 673)
			td.bb1 (23 236)
			td.bb1 (2 108)
			td.bb1 (239 201)
			td.bb1.bold (1 911 716)
		tr.bold
			td ОСТАТОК НА 31 ДЕКАБРЯ 2014 г.
			td.bb1 1 023 064
			td.bb1 2 509 724
			td.bb1 56 435
			td.bb1 56 511
			td.bb1 28 813
			td.bb1 194 343
			td.bb1 3 868 890
		tr
			td(colspan=8)
				h3 НАКОПЛЕННАЯ АМОРТИЗАЦИЯ И ОБЕСЦЕНЕНИЕ
		tr.bold
			td Остаток на 1 января 2014 г.
			td (287 005)
			td (1 290 127)
			td (33 684)
			td (48 138)
			td (5 567)
			td –
			td (1 664 521)
		tr
			td Амортизационные отчисления
			td (37 454)
			td (215 393)
			td (4 895)
			td (8 904)
			td (1 318)
			td –
			td.bold (267 964)
		tr
			td Обесценение
			td (1 135)
			td –
			td –
			td –
			td –
			td –
			td.bold (1 135)
		tr
			td Выбытия
			td 1 136
			td 62 978
			td 1 309
			td 1 257
			td –
			td –
			td.bold 66 680
		tr
			td Переклассификации
			td 19
			td (488)
			td –
			td 495
			td (26)
			td –
			td –
		tr
			td Разницы от пересчета валют
			td.bb1 109 504
			td.bb1 469 492
			td.bb1 12 032
			td.bb1 17 058
			td.bb1 134
			td.bb1 –
			td.bb1.bold 608 220
		tr.bold
			td ОСТАТОК НА 31 ДЕКАБРЯ 2014 г.
			td.bb1 (214 935)
			td.bb1 (973 538)
			td.bb1 (25 238)
			td.bb1 (38 232)
			td.bb1 (6 777)
			td.bb1 –
			td.bb1 (1 258 720)
		tr.bold
			td ОСТАТОЧНАЯ СТОИМОСТЬ НА 31 ДЕКАБРЯ 2014 г.
			td.bb2fff 808 129
			td.bb2fff 1 536 186
			td.bb2fff 31 197
			td.bb2fff 18 279
			td.bb2fff 22 036
			td.bb2fff 194 343
			td.bb2fff 2 610 170
		tr.bold
			td ОСТАТОЧНАЯ СТОИМОСТЬ НА 1 ЯНВАРЯ 2014 г.
			td.bb2fff 1 155 672
			td.bb2fff 1 930 492
			td.bb2fff 33 705
			td.bb2fff 28 037
			td.bb2fff 19 695
			td.bb2fff 677 754
			td.bb2fff 3 845 355

	p.mtb50 Ниже представлены изменения в составе основных средств за год по 31 декабря 2013 г.:
	table.table_09.table_09070618_2.lightbox
		tr.bold
			td
			td.bb1 Земля и здания
			td.bb1 Машины и оборудование
			td.bb1 Транспортные средства
			td.bb1 Мебель и офисное оборудование
			td.bb1 Улучшения арендованной собственности
			td.bb1 Незавершенное строительство
			td.bb1 ИТОГО
		tr
			td(colspan=8)
				h3 ПЕРВОНАЧАЛЬНАЯ СТОИМОСТЬ
		tr.bold
			td Остаток на 1 января 2013 г.
			td 1 397 843
			td 3 066 462
			td 65 938
			td 69 257
			td 18 920
			td 697 932
			td 5 316 352
		tr
			td Поступления
			td –
			td –
			td –
			td –
			td –
			td 516 214
			td.bold 516 214
		tr
			td Активы, введенные в эксплуатацию
			td 124 539
			td 343 396
			td 4 248
			td 10 890
			td 6 554
			td (489 627)
			td –
		tr
			td Выбытия
			td (4 854)
			td (34 406)
			td (1 440)
			td (1 037)
			td –
			td (1 948)
			td.bold (43 685)
		tr
			td Увеличение в результате приобретения дочерних предприятий (Прим.10)
			td 10 845
			td 10 680
			td 271
			td 882
			td –
			td 27
			td.bold 22 705
		tr
			td Переклассификации
			td (2 302)
			td 918
			td 1 384
			td –
			td –
			td –
			td –
		tr
			td Разницы от пересчета валют
			td.bb1 (83 394)
			td.bb1 (166 431)
			td.bb1 (3 012)
			td.bb1 (3 817)
			td.bb1 (212)
			td.bb1 (44 844)
			td.bb1.bold (301 710)
		tr.bold
			td ОСТАТОК НА 31 ДЕКАБРЯ 2013 г.
			td.bb1 1 442 677
			td.bb1 3 220 619
			td.bb1 67 389
			td.bb1 76 175
			td.bb1 25 262
			td.bb1 677 754
			td.bb1 5 509 876
		tr
			td(colspan=8)
				h3 НАКОПЛЕННАЯ АМОРТИЗАЦИЯ И ОБЕСЦЕНЕНИЕ
		tr.bold
			td Остаток на 1 января 2013 г.
			td (262 127)
			td (1 167 234)
			td (31 450)
			td (41 743)
			td (4 164)
			td –
			td (1 506 718)
		tr
			td Амортизационные отчисления
			td (39 618)
			td (222 556)
			td (4 361)
			td (9 879)
			td (1 440)
			td –
			td.bold (277 854)
		tr
			td Обесценение
			td (4 243)
			td –
			td –
			td –
			td –
			td –
			td.bold (4 243)
		tr
			td Выбытия
			td 2 982
			td 28 505
			td 1 164
			td 928
			td –
			td –
			td.bold 33 579
		tr
			td Переклассификации
			td 133
			td 428
			td (561)
			td –
			td –
			td –
			td –
		tr
			td Разницы от пересчета валют
			td.bb1 15 868
			td.bb1 70 730
			td.bb1 1 524
			td.bb1 2 556
			td.bb1 37
			td.bb1 –
			td.bb1.bold 90 715
		tr.bold
			td ОСТАТОК НА 31 ДЕКАБРЯ 2013 г.
			td.bb1 (287 005)
			td.bb1 (1 290 127)
			td.bb1 (33 684)
			td.bb1 (48 138)
			td.bb1 (5 567)
			td.bb1 –
			td.bb1 (1 664 521)
		tr.bold
			td ОСТАТОЧНАЯ СТОИМОСТЬ НА 31 ДЕКАБРЯ 2013 г.
			td.bb2fff 1 155 672
			td.bb2fff 1 930 492
			td.bb2fff 33 705
			td.bb2fff 28 037
			td.bb2fff 19 695
			td.bb2fff 677 754
			td.bb2fff 3 845 355
		tr.bold
			td ОСТАТОЧНАЯ СТОИМОСТЬ НА 1 ЯНВАРЯ 2013 г.
			td.bb2fff 1 135 716
			td.bb2fff 1 899 228
			td.bb2fff 34 488
			td.bb2fff 27 514
			td.bb2fff 14 756
			td.bb2fff 697 932
			td.bb2fff 3 809 634

	p.mtb50 На 31 декабря 2014 г. основные средства балансовой стоимостью 129 274 (на 31 декабря 2013г.: 117 945) были переданы в залог в качестве обеспечения по банковским кредитам.
	p На 31 декабря 2014г. имелись признаки обесценения отдельных объектов основных средств, относящихся к российскому операционному сегменту. В связи с этим Группа провела проверку данных активов на предмет обесценения. По результатам проведенной проверки Группа определила, что балансовая стоимость данных объектов основных средств превышает их возмещаемую стоимость. Соответствующий убыток от обесценения в размере 1 135 был признан в отчете о прибылях и убытках за год по 31 декабря 2014г. (2013г.: 4 243).

	h3 Капитализированные затраты по займам
	p У Группы имеются как займы, специально привлеченные для  приобретения и строительства отвечающих определенным требованиям активов, так и займы, привлеченные в общих целях. Сумма затрат по займам, капитализированных за год по 31 декабря 2014г., составила 25535 (2013г.: 16 972). За год по 31 декабря 2014г. процентная ставка по специально привлеченным займам, используемая для определения суммы затрат, подлежащих капитализации, составила 9,47% (2013г.: 5,19%); ставка капитализации по займам, привлеченным в общих целях, составила 9,64% (2013г.: 6,52%).
