extends ../layouts/default

block head
	- pageTitle = 'Условные и договорные обязательства';

block recommend
	- pageId = '09070630';
	- recommend_lang = lang;

block content
	h3 Условия деятельности Группы
	p Основные активы Группы находятся в Российской Федерации и США, поэтому ее основные операционные риски связаны с деятельностью Группы в этих странах.
	p В России продолжаются экономические реформы и развитие правовой, налоговой и административной систем, которые отвечали бы требованиям рыночной экономики. Стабильность российской экономики будет во многом зависеть от хода реформ в указанных областях, а также от эффективности предпринимаемых Правительством мер в сферах экономики, финансовой и денежно-кредитной политики.
	p Существенное снижение цен на нефть и значительная девальвация российского рубля, а также санкции, введенные против России некоторыми странами в 2014 году, негативным образом отразились на экономической ситуации в России. В декабре 2014 года процентные ставки в рублях значительно выросли в результате повышения Банком России ключевой ставки. Совокупность указанных факторов привела к снижению доступности капитала, увеличению стоимости капитала, повышению уровня инфляции и неопределенности относительно экономического роста, что может негативно повлиять на будущее финансовое положение Группы, результаты ее операционной деятельности и перспективы развития бизнеса.
	p Несмотря на рост экономики США, падение цен на нефть может привести к снижению темпов  бурения новых скважин и объемов добычи нефти. В результате, спрос на трубы нефтяного сортамента на американском рынке может сократиться. Существенное снижение спроса может негативным образом отразиться на финансовом положении Группы, результатах ее деятельности иперспективах развития бизнеса.
	p Руководство Группы считает, что предпринимаются все необходимые меры по поддержанию экономической устойчивости Группы в данных условиях.

	h3 Налогообложение
	p Налоговое, валютное и таможенное законодательство допускает различные толкования и подвержено частым изменениям. Интерпретация руководством Группы данного законодательства применительно к операциям и деятельности Группы может быть оспорена соответствующими региональными или федеральными органами. Руководство считает, что Группа уплатила и начислила все соответствующие налоги. В случае наличия неопределенности Группа начисляла налоговые обязательства на основании максимально точных субъективных оценок руководства в отношении вероятного оттока ресурсов на погашение таких обязательств.
	p На дату утверждения данной консолидированной финансовой отчетности к выпуску не были завершены досудебные и судебные разбирательства в отношении претензий в размере 3 760 по обменному курсу на 31 декабря 2014 г. Руководство полагает, что позиция Группы является обоснованной и что вероятность возникновения дополнительных убытков Группы вследствие данных событий низка. В связи с этим, суммы претензий, оспариваемых Группой, не были отражены в консолидированной финансовой отчетности за год по 31 декабря 2014 г.

	h3 Договорные обязательства
	p По состоянию на 31 декабря 2014 и 2013 гг. Группа имела договорные обязательства по приобретению основных средств у третьих лиц на сумму 135 904 и 199 567, соответственно (суммы договорных обязательств не включают НДС).
	p В связи с вышеуказанными договорными обязательствами Группа открыла непокрытые аккредитивы на сумму 22 500 (на 31 декабря 2013 г.: 28 777).

	h3 Страхование
	p Группа осуществляет страхование от убытков, которые могут возникнуть при повреждении имущества, происшествиях и транспортировке продукции. Группа страхует корпоративную ответственность по продукции, а также ответственность директоров и других должностных лиц. Тем не менее, возмещение по страховым случаям, которое может быть получено в будущем, может не покрыть упущенную выгоду или увеличение затрат в результате временного нарушения деятельности.

	h3 Судебные иски
	p В течение периода Группа принимала участие (как в качестве истца, так и в качестве ответчика) в ряде судебных разбирательств, возникших в ходе обычной финансовохозяйственной деятельности. По мнению руководства, в настоящее время не существует каких-либо текущих судебных разбирательств или исков, которые могут оказать существенное влияние на результаты деятельности или финансовое положение Группы.

	h3 Гарантии по задолженности третьих лиц
	p На 31 декабря 2014 г. Группа имеет выданные гарантии по задолженности третьих лиц в сумме 494 (на 31 декабря 2013 г.: 2 805).
