extends ../layouts/default

block head
	- pageTitle = 'Существенные оценочные значения и допущения';

block recommend
	- pageId = '090703';
	- recommend_lang = lang;

block content
	p Подготовка консолидированной финансовой отчетности требует от руководства применения суждений, оценок и допущений, которые влияют на отражаемые в отчетности суммы активов и обязательств, а также на раскрытие информации. Оценки и суждения руководства основаны на опыте прошлых периодов, а также учитывают прочие различные факторы, которые считаются приемлемыми в данных обстоятельствах. Фактические результаты могут отличаться от оценок. Кроме того, как следствие анализа фактически достигнутых результатов и изменений в ожиданиях, оценки могут быть пересмотрены в будущем как в отрицательную, так и в положительную стороны.
	p Ниже представлены оценки и допущения, которые могут привести к необходимости внесения существенных корректировок в балансовую стоимость активов и обязательств в течение следующего финансового года:

	h3 Обесценение основных средств
	p На каждую отчетную дату Группа определяет наличие признаков возможного обесценения актива. Если подобные признаки имеют место, Группа проводит оценку возмещаемой стоимости такого актива. Это требует определения ценности от использования генерирующей денежные потоки единицы, к которой относится данный актив.
	p Ценность от использования рассчитывается на основании методов дисконтированных денежных потоков, которые требуют от Группы оценки ожидаемых будущих денежных потоков и выбора обоснованной ставки дисконтирования. Указанные оценки могут в существенной степени повлиять на возмещаемую стоимость и на сумму обесценения основных средств.
	p Обесцененные активы тестируются на предмет возможного восстановления обесценения на каждую отчетную дату при наличии признаков того, что убыток от обесценения, признанный в предыдущие периоды, больше не существует или уменьшился.

	h3 Сроки полезного использования объектов основных средств
	p Группа оценивает оставшийся срок полезного использования основных средств как минимум в конце каждого финансового года. В случае если ожидания отличаются от предыдущих оценок, изменения учитываются как изменения в учетных оценках в соответствии с МСФО(IAS) 8 "Учетная политика, изменения в учетных оценках и ошибки".

	h3 Справедливая стоимость активов и обязательств, приобретенных при объединении компаний
	p Группа учитывает на дату приобретения идентифицируемые активы, обязательства и условные обязательства, приобретенные или принятые на себя в рамках сделки по объединению компаний, по их справедливой стоимости, что предполагает использование оценок. Такие оценки основываются на методах, предусматривающих значительную долю субъективных суждений при прогнозировании будущих денежных потоков и выработке прочих допущений.

	h3 Обесценение гудвила и нематериальных активов с неограниченным сроком полезного использования
	p Группа проводит тестирование гудвила и нематериальных активов с неограниченным сроком полезного использования на предмет обесценения не реже одного раза в год. Возмещаемая стоимость единицы, генерирующей денежные потоки, к которой относится гудвил и нематериальные активы с неограниченным сроком полезного использования, определяется путем расчета ценности от использования.  Указанные расчеты предполагают использование оценочных значений. Пересмотр оценок может оказать существенное влияние на возмещаемую стоимость единицы, генерирующей денежные потоки.

	h3 Обязательства по выплатам вознаграждения работникам
	p Компании Группы предоставляют своим работникам выплаты по окончании трудовой деятельности и прочие выплаты долгосрочного характера (пенсии, единовременные выплаты по окончании трудовой деятельности, выплаты к юбилейным датам и т.д.). Указанные выплаты учитываются как обязательства по пенсионным планам с установленными выплатами. Группа использует метод актуарной оценки для расчета приведенной стоимости обязательств по пенсионным планам с установленными выплатами и соответствующей стоимости текущих услуг.
	p Актуарный метод предполагает использование различных допущений, которые могут отличаться от фактических результатов в будущем. Такие допущения включают в себя определение ставки дисконтирования, уровня роста оплаты труда, уровня смертности, текучести кадров и прочее. В случае если потребуется внести изменения в ключевые допущения, это может оказать существенное влияние на величину будущих расходов по выплатам работникам.

	h3 Резерв на сомнительную задолженность
	p Резерв на сомнительную задолженность представляет собой оценку Группой убытков, которые могут возникнуть в результате неоплаты и неспособности покупателей осуществить оплату в установленный срок. Указанные оценки осуществляются на основании анализа непогашенной задолженности покупателей и заказчиков по срокам давности и учитывают кредитные условия, предоставленные конкретному контрагенту, и предыдущий опыт Группы в отношении сомнительной задолженности. Изменения экономических условий, ситуации в отрасли или результатов деятельности конкретного покупателя могут потребовать внесения корректировок в суммы резерва на сомнительную задолженность, отраженные в консолидированной финансовой отчетности.

	h3 Резерв на снижение стоимости запасов до чистой стоимости реализации
	p Запасы оцениваются по наименьшей из двух величин: себестоимости и чистой стоимости реализации. Оценка чистой стоимости реализации проводится исходя из наиболее надежных данных на дату оценки. Указанная оценка учитывает колебания цен и затрат, непосредственно связанные с событиями, произошедшими после отчетной даты, при условии, что они подтверждают наличие условий, существовавших на конец отчетного периода.

	h3 Налоги
	p Деятельность Группы облагается налогами в разных странах мира. Налоговые риски, отраженные в настоящей консолидированной финансовой отчетности, представляют собой наиболее точные оценки руководства на основе фактов, известных на каждую отчетную дату в каждой конкретной стране.  Данные факты, помимо прочего, могут включать изменения налогового законодательства и его интерпретации в различных юрисдикциях, в которых Группа осуществляет свою деятельность.
	p Налоговое, валютное и таможенное законодательство допускает различные толкования и подвержено частым изменениям. Интерпретация налогового законодательства налоговыми органами применительно к операциям и деятельности компаний Группы может не совпадать с мнением руководства Группы. Как следствие, налоговые органы могут предъявить претензии по сделкам и начислить компаниям Группы дополнительные налоги, пени и штрафы. Окончательная сумма уплачиваемых налогов зависит от многих факторов, включая переговоры с налоговыми органами в различных юрисдикциях, исход судебных разбирательств по налоговым вопросам, возникшим в результате налоговых проверок. По мнению руководства, по состоянию на 31 декабря 2014г. соответствующие положения законодательства были интерпретированы корректно, и позиция Группы в отношении налогового, валютного и таможенного законодательства устойчива.
