extends ../layouts/default

block head
	- pageTitle = 'Себестоимость реализации';

block recommend
	- pageId = '09070602';
	- recommend_lang = lang;

block content
	p Себестоимость реализации за год по 31 декабря была представлена следующими статьями:
	table.table_09.table_09070602_1
		tr.bold
			td
			td.bb1 2014 г.
			td.bb1 2013 г.
		tr
			td Сырье и расходные материалы
			td 3 080 247
			td 3 384 212
		tr
			td Расходы на персонал, включая затраты на социальное обеспечение
			td 687 066
			td 721 647
		tr
			td Затраты на электроэнергию и коммунальные платежи
			td 386 677
			td 409 374
		tr
			td Амортизация основных средств и нематериальных активов
			td 252 048
			td 266 218
		tr
			td Ремонт и техническое обслуживание
			td 118 165
			td 136 403
		tr
			td Производство на давальческой основе
			td 102 385
			td 76 318
		tr
			td Транспортные расходы
			td 70 683
			td 66 710
		tr
			td Налоги
			td 40 081
			td 44 769
		tr
			td Профессиональные услуги
			td 39 358
			td 39 736
		tr
			td Аренда
			td 15 101
			td 13 338
		tr
			td Командировочные расходы
			td 3 159
			td 3 415
		tr
			td Страхование
			td 737
			td 834
		tr
			td Связь
			td 623
			td 905
		tr
			td Прочее
			td.bb1 3 744
			td.bb1 5 593
		tr.bold
			td Итого производственные расходы
			td 4 800 074
			td 5 169 472
		tr
			td Изменение запасов собственной готовой продукции и незавершенного производства
			td 3 883
			td (115 467)
		tr
			td Себестоимость покупных товаров
			td 21 573
			td 18 066
		tr
			td Неходовые запасы и списание
			td.bb1 13 940
			td.bb1 2 240
		tr.bold
			td Себестоимость реализации
			td.bb2fff 4 839 470
			td.bb2fff 5 074 311
