extends ../layouts/default

block head
	- pageTitle = 'Интерактивный анализ';

block recommend
	- pageId = 'analyzer';
	- recommend_lang = lang;

block content
	iframe(src='/analyzer/index.html?type=consolidated_ru', scrolling='no', width='700', height='2300', frameborder='0', border='0', style='width: 700px; height: 2300px; border: 0; overflow: hidden;')

