extends ../layouts/default

block head
	- pageTitle = 'Контакты';

block recommend
	- pageId = 'contact';
	- recommend_lang = lang;

block content
	h4 ИНФОРМАЦИЯ О КОМПАНИИ
	p
		| Полное наименование: Открытое акционерное общество «Трубная Металлургическая Компания»
		br
		| Сокращенное наименование: ОАО «ТМК»
		br
		| Юридический адрес: Российская Федерация, 105062, г. Москва, ул. Покровка, д. 40, стр. 2а
	p
		|Телефон: +7 (495) 775 7600
		br
		| Факс: +7 (495) 775 7601
		br
		| Электронный адрес:
		+mail('tmk@tmk-group.com')
	p Информация, подлежащая обязательному раскрытию в соответствии с законодательством Российской Федерации о рынке ценных бумаг:
		+link('http://www.e-disclosure.ru/portal/company.aspx?id=274')

	h4 ИНФОРМАЦИЯ ДЛЯ ИНВЕСТОРОВ
	h3 Марина Бадудина
	p
		| Начальник Управления по работе с инвесторами
		br
		|Телефон: +7 (495) 775 7600
		br
		| Электронный адрес:
		+mail('ir@tmk-group.com')

	h4 СТРАНИЦА В ИНТЕРНЕТЕ
	p
		| Русская версия:
		+link('http://www.tmk-group.ru')
		br
		| Английская версия:
		+link('http://www.tmk-group.com')

	h4 БАНК-ДЕПОЗИТАРИЙ
	p
		| The Bank of New York Mellon
		br
		| Адрес: 101 Barclay Street, 22 Floor, 10286 New York
		br
		| Контактное лицо: Татьяна Весселовская
		br
		| Телефон: +1 (212) 815 2867
		br
		| Электронный адрес:
		+mail('Tatyana.Vesselovskaya@BNYMellon.com')

	h4 РЕГИСТРАТОР
	p
		| ОАО «Регистратор Р. О. С. Т»
		br
		| Адрес: Российская Федерация, Москва, ул. Стромынка, 18, стр. 13
		br
		| Лицензия: 10-000-1-00264 от 12.12.2002 (бессрочная)
		br
		| Телефон: +7 (495) 771 7335
		br
		| Электронный адрес:
		+mail('rost@rrost.ru')

	h4 АУДИТОР
	p
		| ООО «Эрнст энд Янг»
		br
		| Адрес: Российская Федерация, 115035, Москва, Садовническая наб., 77, стр. 1
		br
		| Телефон: +7 (495) 755 9700
		br
		| Электронный адрес:
		+mail('Moscow@ru.ey.com')
	p ООО «Эрнст энд Янг» является членом Саморегулируемой организации аудиторов Некоммерческого партнерства «Аудиторская Палата России» (СРО НП АПР). ООО «Эрнст энд Янг» включено в контрольный экземпляр реестра аудиторов и аудиторских организаций за основным регистрационным номером записи 10201017420.
