extends ../layouts/default

block head
	- pageTitle = 'Список принятых сокращений';

block recommend
	- pageId = 'glossary';
	- recommend_lang = lang;

block content
	table
		tr
			td EBITDA
			td Earnings before Interest, Taxes, Depreciation, and Amortization, прибыль до вычета расходов по процентам, уплаты налогов и амортизационных отчислений
		tr
			td FQM
			td Fine Quality Mill, стан непрерывного проката
		tr
			td OCTG
			td Oil country tubular goods, нарезные трубы нефтегазового сортамента
		tr
			td PQF
			td Premium Quality Finishing, стан непрерывного проката
		tr
			td АУЗК
			td Автоматический ультразвуковой контроль
		tr
			td Бесшовные трубы
			td Трубы, получаемые путем прошивки сплошной заготовки на прессе или прошивном стане (с последующей обработкой горячим или холодным деформированием)
		tr
			td Бурильные трубы
			td Бесшовные стальные трубы с высаженными концами, на которых нарезана резьба, применяются для бурения скважин
		tr
			td ВТЗ
			td Открытое акционерное общество «Волжский трубный завод»
		tr
			td ДСП
			td Дуговая сталеплавильная печь
		tr
			td Линейные трубы
			td Трубы, предназначенные для строительства и капитального ремонта промысловых, магистральных и технологических трубопроводов
		tr
			td МНЛЗ
			td Машина непрерывного литья заготовок
		tr
			td МСФО
			td Международные стандарты финансовой отчетности
		tr
			td Насосно-компрессорные трубы
			td Стальные трубы с гладкими или высаженными наружу концами, предназначенные для эксплуатации нефтяных и газовых скважин
		tr
			td Обсадные трубы
			td Стальные трубы, применяемые для крепления стенок скважины
		tr
			td РСБУ
			td Российские стандарты бухгалтерской отчетности
		tr
			td Сварные трубы
			td Трубы, изготовленные на трубосварочном стане сваркой кромок трубной заготовки, сформованной из полосы, листа или ленты
		tr
			td СинТЗ
			td Открытое акционерное общество «Синарский трубный завод»
		tr
			td Стандарт ISO 13679:2002
			td Нефтяная и газовая промышленность. Процедуры для испытания соединений обсадных и насосно-компрессорных труб
		tr
			td Стандарт ISO 14001:2004
			td Системы экологического менеджмента. Требования и руководство по применению
		tr
			td СТЗ
			td Открытое акционерное общество «Северский трубный завод»
		tr
			td ТАГМЕТ
			td Открытое акционерное общество «Таганрогский металлургический завод»
		tr
			td ТБД
			td Трубы большого диаметра
		tr
			td Технология SAGD
			td Steam Assisted Gravity Drainage, гравитационный дренаж через паронагнетательные скважины
		tr
			td ТЛТ
			td Теплоизолированные лифтовые трубы
		tr
			td ТПА
			td Трубопрокатный агрегат
