extends ../layouts/default

block head
	- pageTitle = 'Контент';

block content
	h1 Заголовок 1
	h2 Заголовок 2
	h3 Заголовок 3
	h4 Заголовок 4

	p ТМК является одним из мировых лидеров по производству стальных труб, ведущим глобальным поставщиком трубной продукции для нефтегазового сектора. Ценные бумаги Компании обращаются на Лондонской фондовой бирже, торговой площадке OTCQX в Нью-Йорке, а также на Московской бирже.
	p.excerpt ТМК является одним из мировых лидеров по производству стальных труб, ведущим глобальным поставщиком трубной продукции для нефтегазового сектора. Ценные бумаги Компании обращаются на Лондонской фондовой бирже, торговой площадке OTCQX в Нью-Йорке, а также на Московской бирже.

	ul
		li: a Пункт 1
		li: a Пункт 2
		li Пункт 3
			ul
				li: a Пункт 3-1

	h1 Цитаты

	.full
		h1 quote_blue(right)
		code +quote_blue(position, huge_blue_text, text)
		+quote_blue("right", "4,4 млн тонн", "общий объём продаж труб ТМК в 2014 году")
	.full
		h1 quote_1(right)
		+quote_1("right", "Генеральный директор  ОАО «ТМК» ", "А. Г. ШИРЯЕВ", "02/2.jpg")
	.full
		h1 quote_circle(left)
		code +quote_circle(position[left|right], big_black_text, text, path_to_photo)
		+quote_circle("left" ,"Нам необходимо усиливать присутствие на международной арене,", "развивать производство уникальных и инновационных трубных продуктов, продолжать углублять отношения с потребителями и поставщиками.")
	.full
		h1 quote_3
		+quote_3("ГР. 4.1", "Объем продаж", "• 2012-2014", "/тыс. тонн /", "04/41/411.png", "Источник: оценка ТМК")
	.full
		h1 quote_2
		+quote_2("*Д. А. Пумпянский является основным бенефициаром.", "**Компания TMK Bonds S. A. является держателем 17 876 489 Глобальных депозитарных расписок (ГДР) ТМК, что составляет 71 505 956 акций ОАО «ТМК», или 7,21% от уставного капитала ОАО «ТМК», в целях обеспечения обязательств по конвертации в ГДР ТМК облигаций на сумму 412,5 млн долл. со сроком обращения до 2015 года, выпущенных TMK Bonds S. A. в феврале 2010 года. 11 февраля 2015 года облигации были полностью погашены.")
	.full
		h1 quote_blue_revert(left)
		+quote_blue_revert("left", "Реализация труб с премиальными соединениями нашими американскими предприятиями выросла до", "250 тыс. тонн")

	h1 Совет директоров

	.full
		h1 director_name
		code +director_name(last_name, first_name)
		+director_name("АЛЕКСЕЕВ", "Михаил Юрьевич")

	h1 Таблицы

	.full
		h1 Таблица 09
		table.table_09.table_0902_1
			tr
				th
				th
				th.bold.bb2(colspan=2) За год по 31 декабря
			tr
				td
				td.bold ПРИМ.
				td.bold.bb2 2014
				td.bold.bb2 2013
			tr
				td Выручка от реализации:
				td 1
				td 6 008 946
				td 6 431 903
			tr
				td.pl
					i товаров
				td
				td 5 921 889
				td 6 328 930
			tr
				td.pl
					i услуг
				td
				td 87 057
				td 102 973
			tr
				td Себестоимость реализации
				td 2
				td.bb1 (4 839 470)
				td.bb1 (5 074 311)
			tr.bold
				td Валовая прибыль
				td
				td 1 169 476
				td 1 357 592
			tr
				td Коммерческие расходы
				td 3
				td (349 949)
				td (379 205)

	.full
		h1 Изображения
		code +img(src, alt)
		+img('01/01.jpg').inner_cover
