.quote_2
	width 100% !important
	margin-bottom 30px

.quote_2:before
	content ''
	display block
	width 80px
	height 1px
	margin-bottom 15px
	background-color $orange
	clearfix()


.quote_2__text
	margin-bottom 15px
