.quote_blue
	position relative

.quote_blue__huge_blue_text
	font-size 30px
	/*line-height 21px*/
	color $blue
	font-weight 700
	margin-bottom 5px

.quote_blue__text
	font-size 16px
	/*line-height 21px*/
	color $text-color
