.quote_blue_revert
	position relative


.quote_blue_revert__text
	font-size 16px
	/*line-height 21px*/
	color $text-color

.quote_blue_revert__huge_blue_text
	font-size 33px
	/*line-height 21px*/
	color $blue
	font-weight 700
	margin-top 5px
