.quote_3__wrapper
	width 50%
	float left
	margin 30px
	margin-left 0

	+mobile()
		width 100%

.quote_3
	position relative
.quote_3:before,
.quote_3:after
	content ''
	display inline-block
	width 80px
	height 5px
	background-color $orange
	clearfix()

.quote_3:before
	height 1px
	margin-bottom 15px

.quote_3:after
	margin-top 30px

.quote_3__image
	position relative
	max-width 100%

.quote_3__before_quote_text
	display block

.quote_3__text
	position relative

.quote_3__orange_text
	color $orange
.quote_3__blue_text
	color $blue
