.quote_circle__wrapper
	width 265px !important
	float left

.quote_circle
	position relative

.quote_circle__wrap_text
	padding-left 30px

.quote_circle__big_black_text
	color $blue
	font-size 16px
	/*line-height 18px*/
	margin-bottom 8px
	font-weight 700

.quote_circle__circle
	width 20px
	height 20px
	border-radius 50%
	background $blue
	float left
	padding 0
	clearfix()
