extends ../../layouts/english

block head
	- pageTitle = 'Profile';

block recommend
	- pageId = '01';
	- recommend_lang = lang;

block content
	p.excerpt TMK  is one of the world’s leading producers and suppliers of steel pipe for the oil and gas industry. The Company’s shares are traded on the London Stock Exchange, the OTCQX trading platform in the United States, and on the Moscow Exchange.

	+img('01/01.jpg').inner_cover

	p The Company was founded in 2001 and currently integrates 30 production assets in Russia, the United States, Canada, Oman, the UAE, Romania and Kazakhstan. TMK’s core business is the production and sales of seamless and welded pipe, including large diameter pipe, pipe with premium connections, combined with an extensive range of services in heat treatment, protective coating, premium connections threading, warehousing and pipe repairing.
	p TMK consists of Russian pipe production sites: Volzhsky Pipe Plant, Seversky Tube Works, Sinarsky Pipe Plant and Taganrog Metallurgical Works; twelve production facilities in the United States and Canada, owned by TMK IPSCO; TMK-ARTROM and TMK-RESITA in Romania; and TMK GIPI in Oman. The Company includes four oilfield service assets in Russia, incorporated in TMK Oilfield Services division, TMK-Kaztrubprom (Kazakhstan), service center TMK Premium (Abu Dhabi, UAE), and pipe servicing, oil and gas accessory production and well completion assets located in the USA. In February 2015, to ensure a complete scrap supply cycle at Russian TMK facilities, the Company acquired a leading player in the Russian steel scrap market, ChermetServis-Snabzhenie.
	+quote_blue("right", "4,4 млн тонн", "общий объём продаж труб ТМК в 2014 году")
	p TMK’s two research centers, the Russian Research Institute for the Tube and Pipe Industries (RosNITI) in Chelyabinsk (Russia) and R&D center in Houston (USA), are involved in new product design and development, experimental and validation testing, and advanced metallurgical research. To foster innovation and boost its R&D potential, the Company set up an R&D facility in the Skolkovo Innovation Center (Russia).
	p Consolidation of production assets across the globe, scientific and engineering innovations, and a geographically diversified sales network have allowed the Company to create a modern vertically integrated industrial group manufacturing and supplying hightech and competitive pipe products.
	p TMK’s unique production and service capacities ensure supply to a wide range of customers and offer effective solutions to their operational challenges.
	p In 2014, TMK’s pipe sales totalled 4.4 million tonnes. The largest share of TMK’s sales belongs to highermargin oil country tubular goods (OCTG) supplied to customers in over 80 countries.
