extends ../../layouts/english

block head
	- pageTitle = 'Address to shareholders';

block recommend
	- pageId = '02';
	- recommend_lang = lang;

block content
	p.excerpt
		b DEAR SHAREHOLDERS,
		br
		b DEAR FRIENDS,

	+quote_1("left", "Chairman of the  Board of Directors of TMK ", "DMITRY PUMPYANSKY ", "02/1.jpg")

	p Let us summarise TMK's performance in 2014 and set targets for 2015.
	p Our total pipe sales amounted to 4,402 thousand tonnes, enabling us to keep our leading positions in the key markets and become the world's largest pipe company by physical volume of sales for the sixth time in a row.
	p.oh However, year 2014 was noted for a number of global factors adversely affecting the Russian and global economy, pipe market, and the Company as one of its leaders. The significant decrease in oil prices, rouble devaluation, as well as growing international tensions, affected our results. We were able to largely offset these negative developments by ramping up production and improving sales mix, which drove our key indicator, EBITDA, above the market expectations.
	.cb
	+quote_1("left", "TMK CEO ", "ALEXANDER SHIRYAEV", "02/2.jpg")
	p At the same time, it was impossible, for reasons beyond our control, to maintain the previous year's level of key financials. The oil price slump had an adverse effect on drilling programs and pipe supplies to oil and gas companies, which account for over 70% of our sales. Another negative factor was a significant rouble devaluation at the end of the year. It was mainly the rouble and euro decline against the US dollar, our reporting currency, that drove down TMK's revenue by 7%, EBITDA by 16% and EBITDA margin by 2 pp. On the other hand, this had a positive effect on the Company's financial liabilities, decreasing TMK's total debt as at the year-end by USD 471 MM to USD 3,223 MM.

	p.oh With regards to our operating performance, the past year was one of the most successful in the Company's history. We kept the leader's position in pipe shipments to Russian oil and gas companies. In 2014, the Russian Division's shipments totalled approximately 3 million tonnes.
	p.cb Almost all of the division's plants hit record highs in terms of output, steel production and rouble revenue. We managed to boost large diameter pipe sales to Gazprom and Transneft, while preserving our leadership in the Russian oil and gas seamless pipe market, with the Company's market share of 60% to grow further in 2015.
	p The American Division also ended the reporting year with high shipment volumes of 1,019 thousand tonnes. Our share of the American OCTG market amounted to 10%. An important event here was the positive outcome of the investigation against Korea, Turkey, Vietnam, India, Ukraine and Taiwan, with anti-dumping duties imposed on imported welded products. This resulted in better market competition terms. However, due to lower oil prices and stronger US dollar, the North American market saw the rig count going down and competition with Asian manufacturers intensifying, thus offsetting the antidumping effect for pipe producers.
	p Last year, the TMK's Strategic Investment Program was generally completed. We commissioned a new hot rolling pipe mill – FQM – at the Seversky Tube Works with total annual capacity of about 600 thousand tonnes of highquality seamless pipe.

	+quote_blue("left", "by 16,7%", "TMK increased its premium connection pipe shipments")

	p Thanks to many years of consistent efforts to upgrade our production facilities and billions of dollars invested, the Company has created an advanced technological and production platform embodying state-of-the-art innovations, securing a solid basis for growth for decades to come. We upgraded and expanded our steelmaking facilities, and launched modern seamless and large diameter welded pipe rolling mills, thus substantially increasing our capacity and ensuring the highest possible product quality. In fact, major of the Company's plants were practically rebuilt.
	p This Program has provided us with clear competitive advantages, and we must make the best use of them in the current environment. We are able to produce almost any tubular products complying with the highest requirements. In addition, we can now manage our CAPEX better, as we no longer have to finance large-scale projects in progress.
	p Production of premium products is the key to ensuring higher margins. In 2014, despite the shrinking Russian premium market, TMK increased its premium connection pipe shipments by 16.7% y-o-y. As a result, our Russian premium market share went up from 57% to 65% and keeps growing in 2015. We have become a full-fledged player in the international high-tech pipe market and approved a global strategy for our premium segment.
	p In 2014, we continued to develop and produce hightech innovative products. RosNITI, TMK's R&D Centre in Houston, R&D teams at plants, and top specialist research institutions completed 240 studies over the year. TMK's new research and development facility creation at Skolkovo Innovation Center was initiated.

	+quote_circle("left" ,"It is necessary to expand our international footprint, ", "develop unique and innovative tubular prod ucts, and further deepen our relations with customers and suppliers. ")
	p We continued to enter into mid- and long-term agreements on scientific and technological cooperation with oil and gas majors. In 2014, we launched suchlike programs with Gazprom, LUKOIL, Surgutneftegaz and Gazpromneft, and established working groups with Rosneft. We know what type of products customers expect from us, and engage them in the design, production and testing of advanced tubular products intended to develop hard-to-reach hydrocarbon deposits. We believe that in the future this will help us further strengthen our profound long-term relations with oil and gas majors growing them into technological partnerships. We plan to further develop our oilfield services in Russia and globally to service our customers’ needs.
	p.cb Last year, our long-standing cooperation with RUSNANO reached a new level. In early 2015, it acquired a 5.476% stake in TMK, thus investing RUB 5.5 bn to further develop our joint projects.
	p As part of the ongoing integration of relevant production assets, in 2015 TMK purchased ChermetServisSnabzhenie, a steel scrap company (currently renamed TMK CHERMET). This company has been the main supplier of scrap for our capacities for many years. Its integration will boost our profits and ensure reliability of scrap supplies to the Company's Russian plants.

	p Rouble devaluation against the US dollar improved our Russian facilities' competitive positions versus pipe imported to the country, including in the high-tech pipe segment, where we have already invested considerable efforts. This trend also encourages us to supply more to international markets. Although the main focus is still on our domestic markets, Russia and North America, we are committed to strengthening our footprint in the Middle East, North Africa and CIS.
	p In 2015, TMK's major risks lie in lower level of drilling. We need to align the Company's strategy with the new global environment, and make the best of our growth opportunities. It is necessary to expand our international footprint, develop unique and innovative tubular products, and further deepen our relations with customers and suppliers.
	p We will have to find sources to improve our operating efficiency. In 2014, all TMK's production facilities continued to implement efficiency programs, with the total effect amounting to over USD 100 MM; in 2015 these initiatives are becoming even more important.

	p Despite negative trends and uncertainties in the economy, the Company is committed to fulfill its social responsibilities to its employees in 2015. Our focus areas also include retaining highly qualified professionals and motivating our workforce for a better performance. At the same time, the Company's key priority is to act in the interest of its shareholders and investors.
	p We strongly believe that after the ongoing decline in the energy and pipe markets we will see an upturn, and we are fully prepared for it in all technical and organisational respects.

	p.text_right
		| Chairman of the Board of Directors
		br
		b Dmitry Pumpyansky
	p.text_right
		| CEO
		br
		b Alexander Shiryaev
