extends ../../layouts/english

block head
	- pageTitle = 'Key events';

block recommend
	- pageId = '03';
	- recommend_lang = lang;

block content
	+img('03/03.jpg').inner_cover

	h4 JANUARY
	p TMK-INOX, a joint venture of TMK and RUSNANO, set in operation a coil slitting line shipped by SYTCO (Switzerland). The new equipment enables TMK-INOX to produce annually up to 8 thousand tonnes of stainless industrial pipe ranging in diameter from 8 to 114 mm and meeting the highest international standards.
	p TMK IPSCO (American division) signed and proceeded to implement two three-year contracts to supply both OCTG and line pipe to Shell for onshore and offshore applications.

	+quote_blue("left", "45 thousand tonnes", "of LDP should be supplied to the Bovanenkovo-Ukhta gas transit system")

	h4 FEBRUARY
	p TMK received an official confirmation that the pipe made of the Company’s Russian-produced billets are eligible for use by Iraq’s South Oil Company (SOC) that enjoys the exclusive right to develop oilfields in the south of the country.

	h4.cb MARCH
	p Taganrog Metallurgical Works (TAGMET) (Russian division) was qualified by Kuwait Oil Company (KOC), one of the Middle East oil majors, as an approved supplier of ТМК UP PF and ТМК UP PF ET premium connections.
	p TMK and Baker Hughes Incorporated announced their intention to develop joint integrated well completion solutions. Targeted at both onshore and offshore fields, the solutions will provide turnkey well completions based on the technical and manufacturing capabilities of both companies.

	h4 APRIL
	p TMK signed an agreement with Gazprom Neft to apply formula pricing to determine the price of tubular products. Price formula is based on market prices for commodities and feedstock used in pipe production.

	h4 MAY
	p TMK signed a contract with Yamal LNG to supply premium tubular products from 2014 through 2020, with Yamal LNG’s overall demand for premium pipe products during this period estimated at 48 thousand tonnes.
	p TMK shipped the first LDP batch for Gazprom’s Bovanenkovo-Ukhta pipeline. The Company expects to supply a total of 45 thousand tonnes of LDP to the Bovanenkovo-Ukhta gas transit system.
	p TMK and Sakhalin Energy signed a memorandum of understanding. After completing all the required certification procedures TMK will be able to join Sakhalin Energy’s pool of suppliers.

	h4 JUNE
	p TMK shipped over 2 thousand tonnes of X60-grade line pipe to a largest international oil company, Saudi Aramco (Saudi Arabia).
	p TMK and Skolkovo signed an agreement to set up an R&D center which will focus on developing efficient technologies for oil and gas exploration and production, transportation of hydrocarbons, and delivering new solutions to improve energy efficiency in the iron and steel industry.
	p TMK’s Board of Directors made a decision to approve a share capital increase by the issuance of additional shares in the amount of 56,000,000 shares under open subscription.

	+quote_blue_revert("right", "The launch of FQM pipe rolling mill at the Seversky Tube Works allowed the Company to increase capacity utilization", "by about 250 thousand tonnes")

	h4 JULY
	p TMK launched a refurbished combined heat and power plant (CHPP) at the Sinarsky Pipe Plant (Russian division). The plant’s heat output increased by 15 % to 680 GCal / h, while its power generation capacities doubled reaching 192 kWh per year.
	p TMK and LUKOIL signed an R&D cooperation programme for 2014-2016, providing for the launch of import-substituting and new types of high-performance tubular products. TMK GIPI signed a contract to ship 18.4 thousand tonnes of casing pipe to Petroleum Development Oman (PDO). PDO uses this resistant casing pipe for drilling and well development.
	p TMK GIPI signed a contract to ship 18.4 thousand tonnes of casing pipe to Petroleum Development Oman (PDO). PDO uses this resistant casing pipe for drilling and well development.

	h4 SEPTEMBER
	p TMK ran ISO 13679:2002 CAL IV tests on the premium connection ТМК UP PF with lubricant-free coating GreenWell. The tests confirmed the applicability of TMK’s premium connections both in onshore and offshore drilling and production projects in challenging environments.
	p TMK and Gazprom signed a special pricing agreement on large diameter pipe shipments for the Power of Siberia project. The new pricing will improve TMK’s capacity utilization planning and sales mix.

	h4 OCTOBER
	p TMK commissioned a new continuous pipe rolling FQM (Fine Quality Mill) at the Seversky Tube Works (Russian division), driving the Company’s total seamless pipe capacity utilization by about 250 thousand tonnes.


	h4 NOVEMBER
	p TMK signed an agreement with Magnitogorsk Iron and Steel Works (MMK) to apply formula pricing to determine the price of wide hot rolled sheets shipped to TMK’s plants.
	p TMK supplied a complete set of high-tech tubular products and equipment to Surgutneftegaz to build a drill column for a well approximately 5,000 m deep.


	h4 DECEMBER
	p According to a survey of Russian oil and gas companies specialising in offshore deposits, TMK is the best supplier of tubular products for offshore developments. The supplier ranking was prepared for the upcoming conference Offshore Oil and Gas Contracts 2014.
	p TMK won Transneft’s tender to supply over 30 thousand tonnes of LDP from January through April 2015.
	p TMK and Gazprom signed an R&D cooperation agreement for 2015-2020, focusing on the development of new tubular products, import substitution initiatives, exchange of best practices and joint research.
	p TMK issued additional shares equivalent to 5.476 % through a public offering. TMK received RUB 5.5 bn.
	p RUSNANO purchased 5.476 % of TMK’s shared to invest in the expansion of production of high-tech pipe with improved performance for the oil and gas industry.

	+quote_circle("left", "In February 2015 ", "TMK acquired ChermetServisSnabzhenie, one of the leading players in the Russian ferrous steel scrap mar ket ")

	h4 FEBRUARY 2015
	p TMK was qualified by the Missan Oil Company (MOC), one of Iraq’s oil majors, as an approved supplier of tubular products for the oil and gas industry manufactured from the Russian feedstock.
	p TMK and Gazprom Neft signed a technological partnership programme for 2015-2017, seeking to jointly support conceptual engineering for well completion equipment and technologies at the Chona Group and Kuyumbinskoye field.
	p.cb TMK redeemed its 5.25 % convertible bonds due 2015 convertible into GDRs each representing four ordinary shares of TMK.
	p TMK acquired ChermetServis-Snabzhenie, one of the leading players in the Russian ferrous steel scrap market. The deal value totalled about RUB 2.73 bn.

	h4 MARCH 2015
	p TMK shipped a batch of high-tech casing pipe for Tatneft to produce super-viscous oil at the Ashalchinskoye field in Tatarstan. The batch included casing pipe with TMK UP QX premium connections.
	p TMK and Gazprom Burenie, one of the largest Russian drilling companies for the construction of wells, signed a strategic three-year contract for the supply of drill pipe. TMK will be the company’s leading supplier providing Gazprom Burenie with a comprehensive offering of drill pipe.
