extends ../../layouts/english

block head
	- pageTitle = 'Business development';

block recommend
	- pageId = '0402';
	- recommend_lang = lang;

block content
	p.excerpt In February 2015, in line with its vertical integration strategy TMK purchased ChermetServisSnabzhenie, one of the leading players in the Russian steel scrap market. The acquisition will help us to ensure full scrap supply cycle for Russian plants and thereby guarantee feedstock security.
	+quote_3("PICT. 4.1", "Business Development", "", "", "04/42/421_en.png")
