extends ../../layouts/english

block head
	- pageTitle = 'Asset structure and geography';

block recommend
	- pageId = '0403';
	- recommend_lang = lang;

block content
	+quote_3("Asset structure  and geography", "", "", "", "04/43/431_en.png")
