extends ../../layouts/english

block head
	- pageTitle = 'Strategy';

block recommend
	- pageId = '0404';
	- recommend_lang = lang;

block content
	p.excerpt In 2014, the Company had to operate in a challenging macroeconomic environment due to the Russian currency devaluation, falling oil prices and higher interest rates. At the same time, the weakening rouble served as a driver to boost exports. The domestic demand for TMK products remains solid, while restrictions on the export of American and European oil and gas technologies to Russia will strengthen our market position in the future. The EU and US sanctions motivated Russian oil and gas companies, such as Gazprom, to refocus eastwards, and we are going to sell our products to China natural gas supply projects.

	p The main stages of the Strategic Investment Programme have been completed. Today, TMK is one of the most advanced production platforms globally. Our current strategic goals include:
		ul
			li capex reduction;
			li production efficiency increase;
			li opex reduction;
			li deleverage to the level of Net Debt / EBITDA at 2.5x;
			li product mix improvement, with a focus on high valueadded products;
			li new premium product development and sales, with a view to import substitution in Russia’s oil and gas industry and increase in the share of premium products in OCTG pipe shipments to over 30% by 2018;
			li oilfield services development across our operating areas.
