extends ../../layouts/english

block head
	- pageTitle = 'Strategic investment programme for 2004–2014 – stages and outcome';

block recommend
	- pageId = '0405';
	- recommend_lang = lang;

block content
	+quote_circle("left", "TMK’S SUCCESS IN PIPE PRODUCTION MODERNIZATION", "was highly renowned by the Russian Government.", "04/45/451.png")
	p.excerpt In 2014, TMK completed most of its Strategic Investment Programme launched in 2004. Over the past 10 years, the Company’s facilities underwent a large-scale modernisation resulted in fully upgraded production capacities. With cutting-edge equipment and technologies in place, TMK has significantly boosted its market potential by:

	ul
		li improving pipe quality characteristics and cutting production costs;
		li generally providing our facilities with our own billets and improving their quality;
		li expanding our product mix and increasing oil and gas pipe output, including premium products;
		li enhancing our product performance through advanced controls along with testing and coating tools implementation;
		li mitigating our environmental footprint.

	p.cb Total investments in the production upgrade, advanced technologies implementation and steelmaking equipment amounted to USD 3.8 bn.


	p Our largest projects included:
		ul
			li steelmaking facilities at TAGMET with 950 thousand tonnes of steel per year;
			li steelmaking facilities at the Seversky Tube Works with 950 thousand tonnes of steel per year;
			li production line for large diameter longitudinal pipe at the Volzhsky Pipe Plant with 600 thousand tonnes of pipe per year;
			li PQF pipe rolling mill at TAGMET with 600 thousand tonnes of pipe per year;
			li FQM pipe rolling mill at the Seversky Tube Works with 635 thousand tonnes of pipe per year.

	h3.cb MAIN STAGES OF THE STRATEGIC INVESTMENT PROGRAMME
	+quote_3("Main stages of the strategic investment programme", "2004-2007", "", "", "04/45/2004-2007_en.jpg")
	+quote_3("Main stages of the strategic investment programme", "2008-2009", "", "", "04/45/2008-2009_en.jpg")
	+quote_3("Main stages of the strategic investment programme", "2010-2012", "", "", "04/45/2010-2012_en.jpg")
	+quote_3("Main stages of the strategic investment programme", "2013-2014", "", "", "04/45/2013-2014_en.jpg")
	p In 2014, we invested USD 293 m to develop our production capacities, and TMK’s capex plan for 2015–2016 will amount to around USD 519 m to enhance our finishing operations: heat treatment, pipe finishing, coating and threading operations, coupling production, improvement of controls. The plan includes boosting heat treatment efficiency and treading capacity, and establishing an outer coating line at TMK IPSCO facilities. This will guarantee our products higher value and quality.

	+quote_3("GRAPH 4.5", "TMK’s facilities production capacity*", "• 2004-2014", "/ thousand tonnes /<br><br> *including acquisitions", "04/45/452_en.png")
