extends ../../layouts/english

block head
	- pageTitle = 'TMK’s market position';

block recommend
	- pageId = '0406';
	- recommend_lang = lang;

block content
	p.excerpt In 2014, TMK supplied a total of 4,402 thousand tonnes of steel pipe, up 3% year-on-year. Since 2009, the Company has been the world’s leading producer of steel pipe.

	p The main focus of our business is the production of goods for the oil and gas industry. Oil country tubular goods account for 78% of TMK’s total sales.
	+quote_3("GRAPH 4.6", "Product portfolio", "• 2014", "", "04/46/461_en.png")
	+quote_3("GRAPH 4.7", "Sales by industry", "• 2014", "", "04/46/462_en.png")

	p.mtb50 Most of our products are supplied to major oil and gas companies. The key consumers of our products include Russian companies, such as Rosneft, Gazprom, Surgutneftegas, LUKOIL, Transneft and Gazprom Neft.
	p We also supply a significant amount of our products to Bourland and Leverich, an American leading provider of premium oil country tubular goods (OCTG). In 2014, our top five customers accounted for 32% of TMK’s total sales.

	+quote_3("GRAPH 4.8", "Sales by customer", "• 2013", "", "04/46/463_en.png")
	+quote_3("GRAPH 4.9", "Sales by customer", "• 2014", "", "04/46/464_en.png")

	p We ship our products to over 80 countries through a geographically diversified network of our dealers and representative offices around the globe. In 2014, the Russian market accounted for 55% of our total revenue, the American market — 34% and the European market — 7%.
	+quote_3("GRAPH 4.10", "Sales geography (by revenue)", "• 2014", "", "04/46/465_en.png")
	p The Central Asia, Middle East and the Caspian region contributed 4% to TMK’s revenue. Our geographically diversified assets and sales help us to mitigate risks and uncertainties while taking advantages of the opportunities offered by each market.


	h4.mtb50 PIPE SALES BY DIVISION, THOUSAND TONNES
	table.table_0406_1
		tr
			th
			th(colspan="3") Russian Division
			th(colspan="3") American Division
			th(colspan="3") European Division
		tr
			td
			td 2014
			td 2013
			td Change, %

			td 2014
			td 2013
			td Change, %

			td 2014
			td 2013
			td Change, %
		tr.bold.orange_border_tb
			td TOTAL, INCLUDING
			td 3 198
			td 3 085
			td 4%
			td 1 019
			td 1 027
			td -1%
			td 185
			td 175
			td 5%
		tr
			td Seamless pipe, including
			td 2 014
			td 1 927
			td 5%
			td 361
			td 319
			td 13%
			td 185
			td 175
			td 5%
		tr
			td OCTG
			td 1 128
			td 1 079
			td 5%
			td 317
			td 279
			td 13 %
			td 0
			td 0
			td -
		tr
			td Welded pipe, including
			td 1 184
			td 1 158
			td 2%
			td 658
			td 708
			td -7%
			td 0
			td 0
			td -
		tr.orange_border_b
			td Large diameter pipe
			td 468
			td 442
			td 6%
			td 0
			td 0
			td -
			td 0
			td 0
			td -
//- http://codepen.io/lkp/pen/OVGygJ?editors=110
