extends ../../layouts/english

block head
	- pageTitle = 'Russian pipe market';
block recommend
	- pageId = '0407';
	- recommend_lang = lang;

block content
	p.excerpt In 2014, the Russian pipe market was 9% up year-on-year mainly driven by a growing demand for oil and gas pipe, specifically, large diameter pipe.
	p We maintain leadership in the domestic pipe industry. As at 2014 year-end, our share of the Russian market was 24%, with TMK’s seamless line pipe accounting for 65% and seamless OCTG for 61% of the market.

	+quote_3("GRAPH 4.11", "TMK’s share of the Russian pipe market by product type", "• 2014", "", "04/47/471_en.png")

	h3 LARGE DIAMETER PIPE
	+img('04/47/472.png', 'Large diameter pipe').left

	p In 2014, the Russian market for large diameter pipe (LDP) gained 44% year-on-year mainly due to a higher demand for LDP from Gazprom and Transneft running a number of large oil and gas pipeline construction projects. Our domestic LDP sales grew by 35% year-on-year while our share in Russia’s LDP market amounted to 17% as at 2014 year-end.
	p Gazprom and Transneft remained our largest LDP customers accounting for 55% and 23% of our LDP sales, respectively. Our LDP shipments to Gazprom rose by 35% and to Transneft by 29% year-on-year.
	p In 2014, we set up production and provided the supply of the following types of complex LDP for the oil and gas sector:
	ul
		li concrete coated longitudinal pipe of 720 mm with 15-19.6 mm walls designed for deep water pipelines. A 3.5 thousand tonnes batch of these LDP was supplied to the deep water pipeline of the Arctic terminal for the year-round oil export from the Novoportovskoe field developed by Gazprom Neft;
		li 1,420 mm K60-grade longitudinal pipe designed for gas pipelines operating at 11.8 MPa. The pipe were supplied for the construction of the booster compressor station in NOVATEK’s Yurkharovskoye field located within the Arctic Circle, in the south-east of the Taz peninsula;
		li crack resistant longitudinal pipe of 1,220 mm with 22.7 mm walls withstanding pressure of up to 11.8 MPa. A 18.5 thousand tonnes batch of these LDP was shipped for the Expansion of the United Gas Supply System project to supply gas to the South Stream pipeline (for the crossover pipeline between the Russkaya and Kazachya compressor stations).

	h3 OIL COUNTRY TUBULAR GOODS AND PREMIUM PRODUCTS
	+img('04/47/473.png', 'Oil country tubular goods and premium products').left
	p In 2014, our domestic OCTG shipments decreased by 6% year-on-year. The decline resulted from a slowdown in development drilling due to a lower efficiency of conventional drilling and a move towards more advanced methods of drivage.
	p As at 2014 year-end, the premium OCTG market shrank by almost 10% year-on-year due to a lower demand for this type of products. Our share in the premium OCTG market grew by 8% due to import of premium products decline and decrease in market presence of other Russian manufacturers.
	p The total amount of OCTG with premium connections shipped by TMK’s Russian division increased by 2% in 2014.

	+quote_3("GRAPH 4.12", "Share of horizontal drilling in the total Russian development drilling", "", "", "04/47/474.png", "Source: TMK estimate")
	p A more active construction of Russian pipelines drove the demand for line pipe up. The Russian seamless and welded line pipe markets grew by 5% and 9% compared to 2013, respectively. We increased our sales of seamless line pipe by 12% to 543 thousand tonnes, with the sales of welded line pipe down by 6%.
	p We are consistently working towards supplying topquality high-tech and reliable tubular products to oil and gas companies to meet our consumers’ needs and help them to produce hydrocarbons in adverse climate and geological conditions, including Far North locations and offshore.
	+quote_blue("right", "11.5 thousand tonnes", "of casing pipe and tubing TMK premium connections were supplied to Yamal LNG in 2014")
	p As a token of trust from leading oil and gas producers, a long-term contract was signed between TMK and Yamal LNG to supply 48 thousand tonnes of premium pipe in 2014-2020 for the development of the YuzhnoTambeyskoe gas condensate field in the north-east of the Yamal Peninsula. In 2014, we supplied 11.5 thousand tonnes of cold resistant casing pipe and tubing with ТМК UP PF, ТМК UP FMT and ТМК UP FMC premium connections, as well as accessories to Yamal. The pipe for the project was manufactured by TAGMET, the Seversky Tube Works, the Orsky Machine Building Plant and TMK-Kaztrubprom. We have been cooperating with Yamal LNG since 2012.

	p As an example of comprehensive cooperation with its customers, TMK supplied a set of high-tech tubular products and drilling equipment to Surgutneftegas to build a drill column for a well approximately 5,000 m deep. The supply included drill pipe with TMK TDSAMC premium joints — compliant with API Spec 5DP/ISO 11961 standard S- and G-grade pipe with inner coating, as well as thick-walled pipe and drilling equipment (elevators and protectors) produced by third parties. Designed by TMK Premium Service, TMK TDSAMC extended-length double shoulder, hardfaced, high-torque tool joints are used for construction and workover of wells in adverse geological conditions and drilling wells with a high drift angle. The inside of thick-walled pipe were protected by TMK CDP coating designed by TMK’s experts to meet the client’s strictest requirements.
	p In 2014, we supplied the first batch of P110-grade 177.8 mm casing pipe with TMK UP FMC threaded connections to Rospan International, a Rosneft’s subsidiary. For the first time we also shipped L80-grade super chrome (13Cr) steel tubing compliant with API 5CT standard and high requirements for inner surface quality. Supplied with ТМК UP РF premium threaded connections, the pipe was designed for controlled directional, extended-reach wells with horizontal departure (extended reach drilling) in the Urengoyskoye field. Resistant to aggressive environments (carbon dioxide), heavy-duty L80-grade 13Cr steel tubing pipe are used for upper parts of horizontal directional wells.
	+img('04/47/475.png').left

	p TMK supplied P110-grade premium casing pipe without couplings with TMK UP FJ connections to Gazprom Neft. The pipe is used to fix leaks in pipe strings during workover activities. We also shipped casing pipe without couplings with TMK UP FJ connections to LUKOIL-Western Siberia for reconstruction of complex wells in horizontal sidetracking.
	p.oh In the reporting period, TMK shipped the first batch of casing pipe with TMK UP QХ premium connections to Tatneft. TMK UP QХ connections are unique as they are easily assembled to be used for directional drilling. Tatneft will be using the pipe for heavy oil production by means of SAGD — Steam Assisted Gravity Drainage technology — at the Ashalchinskoye and Yuzhno-Ashalchinskoye fields. In 2014, we also supplied a batch of casing pipe with TMK UP PF connections to Tatneft to produce super-viscous oil at the Ashalchinskoye field.
	p Our unique products ensured our success in the tender for the supply of casing pipe with TMK UP FMC threaded connections to Bashneft-Polyus. This was the first shipment of our premium products to Trebs and Titov fields. Located in the Nenets Autonomous Area of the Arkhangelsk Region, these fields are among the largest onshore oil reservoirs discovered in Russia.

	//- +quote_circle("left" ,"В 2014 году ТМК заняла первое место в рейтинге", "поставщиков трубной продукции для освоения морского шельфа по итогам опроса российских нефте-газовых компаний")
	p We shipped the first batch of C110-grade H2S-resistant trim tubing pipe tested for sulphide stress corrosion cracking and supplied with TMK UP PF threaded connections for the first hydraulic fracturing at the Chinarevskoye field in Kazakhstan.The Volzhsky Pipe Plant, Sinarsky Pipe Plant, Orsky Machine Building Plant and TMK-Kaztrubprom — our Russian-based enterprises — began producing H2S-resistant pipe of this grade. When used for hydraulic fracturing, the pipe is exposed to multiple intermittent loads of up to 85.0 MPa. TMK has become the only Russian producer of such pipe formerly supplied from abroad.
	p According to a poll of oil and gas companies specialising in offshore development held during NEFTEGAZSHELF — 2014, TMK ranked first among suppliers of tubular products for offshore drilling.
	p Only top-quality high-tech tubular products are applicable in offshore fields as leakproof properties of casings, safe drilling environment and pipe sinking as well as compliance with strict environmental requirements are all essential for offshore drilling. Our products were successfully used in offshore drilling in 2014. For instance, pipe with ТМК UP PF threaded connections were sunk in the well from ASTRA jack-up drilling rig at the Rakushechnoye field in the Caspian Sea, while tubing pipe with TMK UP FMT threaded connections were used at Korchagin field developed by LUKOIL-Nizhnevolzhskneft.
	p We continue to develop new products expanding the product range of oil and gas pipe that meet and often exceed the strictest international quality standards in terms of physical, chemical and geometrical properties. Our pipe can be used for horizontal and deephole drilling, in the most adverse climate and geological conditions, complex well configurations and aggressive environments.

	h3 INDUSTRIAL PIPE
	+quote_circle("left" ,"TMK PIPE", "were used in construction of Otkritie Arena stadium", "04/47/476.png")
	p In 2014, the Russian seamless industrial pipe market declined by 4% year-on-year, while the welded industrial pipe market grew by 4% year-on-year. Our shares in both markets remained almost flat (11% in the welded pipe market and 30% in the seamless pipe market).
	p Although TMK mainly focuses on production of pipe for the oil and gas industry, we continuously develop and launch new products used in the construction, housing and utilities sector, as well as automotive and nuclear industry.
	p In 2014, we set up production of impact resistant seamless pipe shipped for the construction of Zenit Arena stadium retractable roof in St Petersburg. We also produced and supplied pipe for steel works of stadium roof in Samara and galvanised pipe for the outer steel frame of Otkritie Arena stadium in Moscow. The three stadiums will be hosting events of the 2018 FIFA World Cup.
	p.oh We continue expanding and upgrading our production capacities to meet the needs of high-tech industries. TMK-INOX, a joint venture of TMK and RUSNANO, produces stainless pipe of 8-114 mm, including specialised pipe, used in nuclear, aircraft, automotive, aerospace and energy industries and manufactured in line with the world’s best practices as well as Russian and international standards. In 2014, the share of TMK-INOX of the stainless pipe market increase and accounted for 15% compared to 11% in 2013, with its domestic sales volumes up 37%.
