extends ../../layouts/english

block head
	- pageTitle = 'North american market';

block recommend
	- pageId = '0408';
	- recommend_lang = lang;

block content
	p.excerpt  According to Baker Hughes, the average rig count in the US increased by 6 % year-on-year to 1,862 in 2014 from 1,761 in 2013, due to an increase in oil drilling activity.
	+quote_3("GRAPH 4.13", "US oil and gas rig count", "• 2009 - 2014", "", "04/48/481_en.png", "Source:<br> Baker Hughes")

	p Further to an increase in rig count, more pipe per rig was used, as operators continued to drill more horizontal wells, which typically consume more pipe. Year-on-year, the combined horizontal and directional rig count grew from 75 % of total rigs in 2013 to 80 % in 2014.
	+quote_3("GRAPH 4.14", "US rigs by drilling type ", "• 2009 - 2014", "", "04/48/482_en.png", "Source:<br> Baker Hughes")
	p The growth in rig count, combined with an increase in the number of tonnes consumed per rig, due to greater drilling efficiencies and an increase in the number of horizontal wells, led to an estimated increase in US OCTG consumption of 18 %.
	+quote_3("GRAPH 4.15", "US OCTG consumption", "• 2010 - 2014", "/thousand tonnes/", "04/48/483_en.png", "Source: Preston Pipe<br> Report, TMK estimate")
	p A decision to impose anti-dumping duties on OCTG imports to the US from several countries taken in July enabled local producers to increase their share in the OCTG market.
	p A key development in both the oil and gas shale plays was a continuation in the improvement of technology, which allowed oil and natural gas producers to increase the number of frac-stages and the length of horizontal wells, which in turn allowed wells to become more productive. As a result, the demand for seamless pipe and higher value added premium connections increased, also from shale oil drillers, as they require better performing pipe for more complex well-designs.

	+quote_blue_revert('left', 'Premium connection pipe sales by our American facilities rose to ', '250 thousand tonnes')

	+quote_3("GRAPH 4.16", "Premium connection pipe sales by the American division", "• 2010 - 2014", "/thousand tonnes/", "04/48/484_en.png", "Source:<br>TMK estimate")

	p As a result, premium connection pipe sales by our American facilities rose to 250 thousand tonnes.
	p In 2014, TMK IPSCO finalized the design and prototyping of five new premium connections, which the Company expects to test and introduce to the market in 2015. These connections include improvements to legacy connections as well as the design of new connections.
	p The Company also successfully develops several proprietary steel grades for OCTG, as well as various corrosive resistant grades for OCTG and line pipe.
