extends ../../layouts/english

block head
	- pageTitle = 'European market';

block recommend
	- pageId = '0409';
	- recommend_lang = lang;

block content
	p.excerpt For the full year 2014,  the reduced demand and overcapacity led to stronger competition in the European market and downward pressure on prices. Additional challenges came from rising imports of seamless and welded pipe from non-EU countries. Despite the deteriorating market environment, the European division in 2014 sold 185 thousand tonnes of pipe, up 5 % year-on-year.
	+quote_circle("left" ,"CPE PIPE ROLLING LINE ", "at TMK-ARTROM (Slatina, Romania)", "04/49/491.png")
	p In 2014, the European division took the following steps to retain and strengthen its foothold in the European market:
		ul
			li launched production of new high-value added steel grades;
			li extended the share of products for energy and automotive industries;
			li and attested TMK-ARTROM as an authorised supplier for major companies, such as General Electric, Dacia (a subsidiary of Renault) and NIS (Petroleum Industry of Serbia).
