extends ../../layouts/english

block head
	- pageTitle = 'The Middle East market';

block recommend
	- pageId = '0410';
	- recommend_lang = lang;

block content
	p.excerpt We strive to expand our footprint  in major oil and gas regions, including the Middle East. In 2014, TMK’s facilities remained committed to building up their reputation with the local oil and gas majors.

	+quote_circle("left" ,"PIPE PRODUCTS  OF TMK GIPI ", "(Sohar, Oman)", "04/410/4101.png")
	p TMK GIPI welded line pipe was successfully tested by Kuwait-based Saudi Arabian Chevron and the UAE’s Masdar City project. In addition, a number of products by TMK’s Russian facilities were qualified by oil and gas companies of the Middle East and North Africa, including Abu Dhabi Company for Offshore Oil Operations (ADCO) based in the UAE, Missan Oil Company in Iraq, Cairn India, Gulf of Suez Petroleum Company (GUPCO), Mansoura Petroleum and East Zeit Petroleum Company (Zeitco) in Egypt.

	p TMK GIPI, a major producer of tubular products in Oman, continues to assert its leadership in the country and the Middle East supplying line pipe for the oil and gas industry.
	p.oh In 2013, TMK GIPI received a recognition award from Petroleum Development Oman (PDO) for the successful production and delivery of pipe for the 158 km South Oman Gas Line project. Controlled by the government of Oman, Petroleum Development Oman is a leading oil and gas producer accounting for over 70 % of oil and almost entire gas production in the country.
	p In 2014, TMK GIPI signed a contract to ship 18.4 thousand tonnes of casing pipe to be used by PDO for drilling and well development.
