extends ../../layouts/english

block head
	- pageTitle = 'Premium connections and oilfield services';

block recommend
	- pageId = '0411';
	- recommend_lang = lang;

block content
	p.excerpt We are one of the world’s largest premium connections producers  and the absolute leader in the Russian premium connections market. Pipe with premium connections is used for oil and gas wells under difficult operating conditions, including offshore, deep-sea and Far North locations, horizontal and directional wells, and hard-to-reach hydrocarbon (shale gas and oil sand) field development. This type of threaded connections offers high strength and tightness, along with enhanced resistance to considerable torsional, bending and tensile stresses.
	p In 2014, the demand for premium connections kept growing; shipments of OCTG with premium connections developed by our Russian and American facilities amounted to 421 thousand tonnes, up 17 % year-on-year.

	+img('04/411/4111.png').left

	p In 2014, TMK’s facilities implemented the technology of lubricant-free dry polymer coating for threaded connections — Green Well. The technology requires no lubricant for coupling of casing and tubing pipe, considerably reducing the sinking preparation time and cutting costs of oil and gas producers while developing resources.
	p TMK UP PF premium connections with Green Well coating successfully passed the ISO 13679 CAL IV test at TMK IPSCO R&D center in Houston, USA.
	p.cb Last year, TAGMET, TMK’s Russian facility, was qualified by Kuwait Oil Company (KOC), a Middle Eastern oil major, as an approved supplier of ТМК UP PF and ТМК UP PF ET premium connections, offering new opportunities to promote our premium products in the Middle East, one of the largest energy markets.

	p ТМК UP PF connections are used in tubing and casing pipe strings for wells with intense dogleg severity. ТМК UP PF ET connection ensures high tightness of the casing at extreme loads and torque, and can be used in complex oil and gas production technologies, such as casing drilling.
	p In 2014, TMK launched new TMK UP QX premium connection for high-viscosity oil production. Casing pipe with TMK UP QX connections is used by Tatneft at the Ashalchinskoye field in the Republic of Tatarstan.
	p This connection has high compressive, tensile and bending strength, is compliant with the CAL IV requirements and therefore can be used for hard-to-get oil production. Another distinctive feature of TMK UP QX threaded connection is that it allows inclined drill mast assembly.
	p The product is used to produce super-viscous oil with steam-assisted gravity drainage (SAGD), where a pair of parallel horizontal wells are drilled: one to inject steam into the formation to heat the oil viscosity, the other to pump out the oil.

	+img('04/411/4112.png').right

	p The shallow oil bearing formations at the Ashalchinskoye field make drift deviation impossible and directional drilling is used. The first sinking of casing with TMK connections was assisted by TMK NGSBuzuluk’s team.
	p Last year, ТМК UP CWB connections were used by Rospan International in casing drilling, which helps to avoid complications, for example, when drilling through formations with different pressures. It was the first time TMK’s premium threaded connections were used in this type of drilling.
	p TMK CWB connections are also used for reaming down to save time in horizontal well construction.
	p In 2014, we developed and successfully tested TMK UP Magna premium connection for 340-508 mm pipe, which can be used as surface casing. This connection has additional retainers to prevent excessive torsion in sinking and a specific thread profile to ensure easy and safe assembly of large diameter casing pipe.
	p Our oilfield services include drill, tubing and casing pipe production and repairs, heat treatment, protective coating, production of a vast selection of pipe string components and borehole equipment, as well as pipe threading, pipe and pump rod service and repairs, etc.


	+quote_3("PICT. 4.3", "Use of TMK Pipe Products for Oil and Gas Production and Transportation", "", "", "04/411/4113_en.png")
	+quote_3("PICT. 4.4", "Pipe string with TMK UP Premium Connections", "", "", "04/411/4114_en.png")
	+quote_3("PICT. 4.5", "Steam-assisted gravity drainage (SAGD) technology Steam chamber", "", "", "04/411/4115_en.png")
