extends ../../layouts/english

block head
	- pageTitle = 'R&D initiatives and cooperation';

block recommend
	- pageId = '0412';
	- recommend_lang = lang;

block content
	p.excerpt New technologies and innovative products introduction  is the key competitive drivers in the global pipe market. TMK’s research centers RosNITI located in Chelyabinsk (Russia) and TMK’s Houstonbased R&D center (USA) are engaged in extensive research liaising with specialised R&D organizations and universities and aligning scientific and technological cooperation with TMK’s major consumers. The centers assist TMK’s enterprises in developing new facilities, technologies and products.

	p The centers mainly focus on:
		ul
			li boosting economic efficiency of pipe and billets manufacturing;
			li streamlining pipe technologies to enhance the product’s operational properties, quality and exterior, cut costs, improve working conditions and mitigate environmental impact;
			li developing new production capacities of TMK’s enterprises;
			li creating new technologies to manufacture new products;
			li improving regulatory framework and technical documentation, developing national and corporate standards (the Company’s local standards) for pipe, billets and flat-rolled products.

	p We consistently build up our R&D activities. In 2014, TMK signed an agreement with the Skolkovo Joint Directorate on Assets and Services Management on the design and construction of ТМК’s R&D facility in the Skolkovo Innovation Center. Although completion is scheduled in 2016, the facility has already started its activities as a Skolkovo resident member. To pursue the top priority goals of the Skolkovo Energy Cluster, the center has started working on new technologies and materials for welded pipe used for highly efficient and safe long-haul transportation of hydrocarbons and designing pipe and threaded connections for unconventional and hard-to-reach hydrocarbon fields.

	p The developments piloted and brought on-stream in 2014 include:
		ul
			li production technologies for large diameter pipe with improved strain capacity designed for pipelines in seismically active fault zones and tectonically active regions. The new longitudinal welding technological conditions ensure high local viscosity around welded junctions. The pipe prototypes were tested and approved by Gazprom VNIIGAZ;
			li new design approaches adopted and applied to technological tools for electric pipe welding machines capable to handle high-strength steels on existing equipment ensuring high quality and consumer properties of small and medium diameter pipe;
			li more extensive use of computer simulation methods for the key technological processes of seamless pipe production to enhance the performance of the main pipe rolling mills. A new roll pass design was developed and tested for three-high rolling mills;
			li refined requirements for the chemical composition of steel and the production technology of seamless pipe suitable for drilling in adverse conditions based on the results of laboratory tests, tests of prototypes and on-site tests of the new types of pipe for linear pipeline segments;
			li optimal steel compositions and heat treatment methods for high-strength T95 and C110-grade tubing and casing pipe resistant to sulphide stress corrosion cracking;
			li effective chemical compositions successfully tested for commercial production of cold resistant L80 and C95-grade tubing made of new types of 13Cr steel highly resistant to carbon dioxide corrosion;
			li approaches to selecting the right steel compositions for tubing suitable for corroded wells. New steel compositions with various chrome contents were developed to improve pipe resistance to corrosion under typical conditions; tubing with polymer inner coating designed for high-temperature and corrosive environments was brought on-stream.

	+quote_circle("left" ,"IN DECEMBER 2014, ", "TMK entered into an R&D coop eration agreement with Gazprom for the period of 2015-2020", "04/412/4121.jpg")
	p In December 2014, we entered into an R&D cooperation agreement with Gazprom for the period of 2015-2020. The agreement outlines a cooperation programme focusing on the development of new tubular products, import substitution initiatives, best practices sharing and joint research. We are planning to develop and launch 25 products, including 10 new products and 15 import replacement products, such as pipe with improved strain capacity for deep water pipelines; tubing, casing and drilling pipe for wells in adverse conditions and offshore projects. The programme actively promotes further steps in the development of TMK’s premium products, including products with lubricantfree coating and in application of new compositions and materials. We have been successfully building up R&D cooperation with Gazprom since 2003. The companies signed medium-term R&D cooperation agreements in 2006 and 2012. These helped to launch dozens of new products, including vacuum insulated tubing), 13Cr-grade pipe, high-strength grade pipe used in aggressive environments, etc.
	p For many years, we have been cooperating with Gazprom Neft and supplying pipe for oil production and transportation, including those with premium threaded connections. Our R&D cooperation programme has been effective since 2013.
	p We have jointly concluded that TMK’s production capacity, product range and R&D potential as well as geography of its assets enables the Company to meet Gazprom Neft’s ongoing and future demand for any type of tubular products for both onshore and offshore projects. We decided to expand the scope of our cooperation with Gazprom Neft to set up a technological partnership, We signed a technological partnership programme for 2015-2017. The programme mainly focuses on developing and supplying new and import replacement products, providing services, supporting conceptual engineering for well construction equipment and technologies and looking into an opportunity to create a single R&D platform for the development of Gazprom Neft’s new complicated oil fields. Another work stream of the programme focuses on integrated well completion, also by applying multi-stage hydraulic fracturing.
