extends ../../layouts/english

block head
	- pageTitle = 'OAO TMK board of directors’ statement  of compliance with the corporate governance principles set out in the corporate governance code recommended by the bank of russia to issuers of securities accepted for trading on the official market';

block recommend
	- pageId = '0601';
	- recommend_lang = lang;

block content
	+img('06/06.jpg').inner_cover
	p.excerpt The scale of TMK’s operations and its engagement in both Russian and foreign stock markets impose a high degree of responsibility. We are systematically improving our corporate governance framework by introducing the best practices and fully complying with applicable laws and listing requirements.
	p 2011 saw TMK, a company with a London Stock Exchange standard listing, adopt the Corporate Governance Code of OAO TMK. The Company strictly complies with the Code in its business and annually confirms it in reports.
	p In 2014, we started aligning our internal documents and corporate governance procedures with the new MICEX Stock Exchange listing rules that were approved on 31 December 2013. Due to the Russian financial market regulator’s adopting a new Russian Corporate Governance Code, TMK needed more time to incorporate its provisions into its own framework.
	p The Corporate Governance System of OAO TMK is based on the Russian Corporate Governance Code principles, with certain implementation mechanisms to some extent different from the Code’s recommendations. TMK’s corporate governance practices are regulated by the Company’s internal policies available on TMK’s web site (<a href='http://www.tmk-group.ru/Documents'>http://www.tmk-group.ru/Documents</a>), and generally reflected in TMK’s Corporate Governance Code (<a href='http://www.tmk-group.ru/media_ru/files/51/corp_gov_code_ru.pdf'>http://www.tmk-group.ru/media_ru/files/51/corp_gov_code_ru.pdf</a>). In 2014, TMK’s corporate governance practices were in full compliance with the Company’s Corporate Governance Code.
	p This Report briefly describes the most significant aspects of TMK’s corporate governance model and practices, including the Report on the Company’s compliance with the principles and recommendations set out in the Corporate Governance Code. Compliance with the Russian Corporate Governance Code principles was assessed in accordance with the methodology reccomended by the MICEX (<a href='http://moex.com/s22'>http://moex.com/s22</a>).
	p We are steadfast in our commitment to the Russian Corporate Governance Code principles, which we are going to continue to roll out to the benefit of all stakeholders. Another step in this process will be the adoption of a new version of TMK’s Corporate Governance Code.
