extends ../../layouts/english

block head
	- pageTitle = 'OAO TMK’S corporate governance structure';

block recommend
	- pageId = '0602';
	- recommend_lang = lang;

block content
	p.excerpt The General Meeting of Shareholders  is OAO TMK’s supreme governance body, with the primary powers delegated by shareholders to the Board of Directors. In order to ensure the Company’s day-to-day management, the Board of Directors elects the CEO and approves the members of the Management Board as advised by the CEO. The Board of Directors also nominates candidates to executive bodies and to the boards of directors of OAO TMK’s controlled entities.
	p It establishes committees whose resolutions are of an advisory nature.
	p To ensure efficient control over the Company’s financial and economic activities, as well as compliance with the Russian laws and regulations, the General Meeting of Shareholders elects the Revision Committee and approves the Company’s auditor.


	+quote_3("SCHEME 6.1", "OAO TMK’s corporate governance structure", "", "", "06/62/621_en.png")
