extends ../../layouts/english

block head
	- pageTitle = 'Rights and equitable treatment of shareholders';

block recommend
	- pageId = '0603';
	- recommend_lang = lang;

block content
	p.excerpt Shareholders may exercise their rights  set forth in the Company’s Articles of Association primarily by participating in the General Meeting, as well as by determining the amount and procedures of dividend payment. We comply with all recommendations on material corporate actions, which allows us to protect the rights of shareholders and ensure equitable treatment.
	p The General Meeting of Shareholders is convened annually. In addition, extraordinary meetings may be held, if so resolved by the Board of Directors or requested by the Revision Committee, auditor or shareholder (s) holding at least ten per cent of shares.
	p Shareholders owning at least two per cent of shares may put forward proposals as regards the agenda for the Annual General Meeting, propose candidates to the Board of Directors, the Revision Committee, and the Counting Commission, as well as convene Board of Directors meetings.
	p In 2014, the Annual General Meeting of Shareholders was held along with one extraordinary meeting. The meetings’ agenda included, inter alia, approval of the Company’s annual report and annual financial statements, distribution of profits for 2013 and 1H 2014, election of the Board of Directors and the Revision Committee, auditor approval, and approval of relatedparty transactions.
	p Our Dividend Policy sets out the key terms for paying out dividends, the procedure for determining their amount and for a resolution to pay them, as well as responsibility for partial or delayed payment (<a href='http://www.tmk-group.ru/media_ru/files/51/divpolicy_150307_l.pdf'>http://www.tmk-group.ru/media_ru/files/51/divpolicy_150307_l.pdf</a>). See the Company’s Securities section for details on dividend payments in 2014.
