extends ../../layouts/english

block head
	- pageTitle = 'Board of Directors';

block recommend
	- pageId = '0604';
	- recommend_lang = lang;

block content
	h3 Members of the board
	p TMK’s Board of Directors is structured to ensure the balance of experience, qualifications and independence of directors, which enables the Board to manage the Company in an efficient and competent manner and make fair and independent judgements and decisions in line with the best interests of TMK and its shareholders. The Board of Directors is composed of persons with impeccable business and personal reputations, as well as skills and expertise to efficiently perform its functions. In 2014, the Board did not change and consisted of eleven directors.
	p As of the Annual Report date, five out of eleven directors were independent: they did not depend on the Company’s officials, affiliates, significant counterparties and competitors or state agencies that might challenge their impartiality. The directors are independent in accordance with both TMK’s and Russian Corporate Governance Codes. Their independent status is to be confirmed by the Nomination and Remuneration Committee each time they are elected to the Board.
	p Following the Annual General Meeting of Shareholders of 19 June 2014, the Board of Directors of TMK was reelected and as at 31 December 2014 it was composed as follows:

	+director_name("PUMPYANSKIY", "Dmitry")
	div
		h4 Chairman of the Board of Directors, nonexecutive director.
		+img('06/64/641.jpg', 'Dmitry Pumpyanskiy').left
		p.oh Born in 1964. Graduated from Kirov Urals Polytechnic Institute in 1986. PhD in Technical Sciences, Doctor of Economics. Founder and beneficial owner of TMK. Has been with TMK since 2002, Chairman of the Board of Directors since 2004. Mr Pumpyanskiy was awarded a second class Medal of the Order for Merit to the Fatherland, a forth class Order for Merit to the Fatherland and Order of Honour, is a Russian Government prize winner in Science and Technology, was conferred a Honorary Metallurgist title and pronounced the winner of the 6th Director of the Year National Award in Chairman of the Board: Contribution to the Development of Corporate Governance nomination in 2011. Currently actively engaged in public work aimed at fostering the Russian metals industry. Fields of interest: metals industry economics and physics of metals. Authored 4 monographs and over 70 scientific papers.

		h4 Principal place of employment:
		p President at Sinara Group.

		h4 Relevant experience:
		p Member of the Management Board of the Chamber of Commerce and Industry of the Russian Federation, Chairman of the Board of Trustees of the Russian Ski-Jumping and Nordic Combined Federation, Chairman of the Supervisory Board of the Ural Federal University, member of the Board of Directors of Sinara — Transport Machines, SKB-Bank and Non-profit Organisation Foundation for Development of the Center for Elaboration and Commercialisation of New Technologies, member of the Board of Trustees of the ISTOKI Endowment Fund, President of the Regional Employers’ Association — Sverdlovsk Regional Union Of Industrialists And Entrepreneurs (employers), Chairman of the Board of Directors of Sinara Group, member of the Management Board of the Russian Union of Industrialists and Entrepreneurs, member of the Supervisory Board of Non-Profit Partnership Russian Steel. Formerly, Board member at various industrial and financial companies, CEO at TMK, top executive at Russian metals and pipe companies.


		h4 Directly holds
		p 0,007%
			span.orange &nbsp;in the authorised capital of TMK.

	+director_name("ALEKSEEV", "Mikhail")
	div
		h4 Independent director, Chairman of the Nomination and Remuneration Committee, member of the Audit Committee.
		+img('06/64/642.jpg', 'Mikhail Alekseev').left
		p Member of the Board of Directors since 2011. Born in 1964. Graduated from the Moscow Finance Institute in 1986 and completed a postgraduate degree programme there in 1989, Doctor of Economics.

		h4 Principal place of employment:
		p Chairman of the Management Board of UniCredit Bank.

		h4 Relevant experience:
		p Chairman of the Board of Directors of RN Bank, member of the Board of Directors, member of Aeroflot’s Audit Committee, member of the Management Board of BARN B. V. (the Netherlands), member of the boards of the Association of Russian Banks and Association of Regional Banks of Russia, Chairman of the Supervisory Board of UniCredit Leasing, member of the Management Board of the Russian Union of Industrialists and Entrepreneurs. Formerly, member of the Board of Directors and the Board’s Strategy Committee at Rostelecom, member of the Board of Directors of MICEX, a number of financial companies, Chairman of the Board and CEO of Rosprombank, Senior Vice President and Deputy Chairman of the Management Board of Rosbank, Deputy Chairman of the Management Board of ONEXIM Bank, Board member at Intersectoral Commercial Bank (Mezhkombank), Deputy Head of the General Directorate of the Ministry of Finance of the USSR.

		h4 Holds no shares in TMK.

	+director_name("BLAGOVA", "Elena")
	div
		h4 Executive Director.
		+img('06/64/643.jpg', 'Elena Blagova').left
		p Has been with TMK simce 2007, member of the Board of Directors since 2013. Born in 1959. Graduated from the Chelyabinsk Lenin Komsomol Polytechnic Institute in 1982 and the Moscow State Open University in 1993, was awarded a second class Medal of the Order for Merit to the Fatherland and a Honorary Metallurgist title.

		h4 Principal place of employment:
		p Deputy CEO for Special and New Projects at TMK.

		h4 Relevant experience:
		p Member of the Board of Directors of the Volzhsky Pipe Plant, Managing Director of the Volzhsky Pipe Plant.


		h4 Holds
		p 0,003%
			span.orange &nbsp;in the authorised capital of TMK.


	+director_name("KAPLUNOV", "Andrey")
	div
		h4 Executive Director.
		+img('06/64/644.jpg', 'Andrey Kaplunov').left
		p Has been with TMK since 2001, member of the Board of Directors since 2005. Born in 1960. Graduated from the Moscow Finance Institute in 1982 and later completed a postgraduate degree programme there, PhD in Economics. Commended by the Ministry of Industry and Trade of the Russian Federation.

		h4 Principal place of employment:
		p First Deputy CEO of TMK.

		h4 Relevant experience:
		p Member of the Management Board of TMK, Board Chairman at TMK’s Russian pipe plants and TMK Trade House, member of the Board of Directors of Sinara Group, Deputy Chairman of the Board of Directors of SKB-Bank, Board member at the Big Pension Fund, member of the Board of Trustees of the Sinara Mini-Football Club (Sverdlovsk Regional Sports Non-Governmental Fund). Formerly, Director of the HR and Development at Inkombank and Rosbank, Vice President of Guta-Bank, Deputy Head of the Currency and Finance Department at Zarubezhneft, Associate Professor at the Economic Theory Department of the Moscow Finance Institute.

		h4 Holds
		p 0,0116%
			span.orange &nbsp;in the authorised capital of TMK.

	+director_name("O’BRIEN", "Peter")
	div
		h4 Independent Director, Chairman of the Audit Committee.
		+img('06/64/645.jpg', 'Peter O’Brien').left
		p Member of the Board of Directors since 2012. Born in 1969. Graduated from Duke University (USA) in 1991 and obtained an MBA from Columbia University Business School in 2000. Took a course in AMP (Advanced Management Program) at Harvard Business School in 2011. In 2008, Mr O’Brien won the National Award of the Independent Directors Association in a special category Contribution to the Improvement of Corporate Transparency.

		h4 Relevant experience:
		p Member of the Board of Directors and Chairman of the Audit Committee at IGSS, member of the Supervisory Board of the European Pension Fund. Formerly, Chairman of the Board of Directors at RusRailLeasing, member of the Board of Directors and Chairman of the Audit Committee at HRT Partipacoes, member of the Management Board, Vice President, Head of the Group of Financial Advisors to the President of Rosneft, Executive Director of Morgan Stanley in Russia, Vice President at Troika Dialog Investment Company, officer at the Press Center of the US Department of the Treasury.

		h4 Holds no shares in TMK.

	+director_name("PAPIN", "Sergey")
	div
		h4 Non-executive director.
		+img('06/64/646.jpg', 'Sergey Papin').left
		p Member of the Board of Directors since 2005, member of the Nomination and Remuneration Committee. Has been with TMK since 2002. Born in 1955. Graduated from the Donetsk Polytechnic Institute in 1977. Mr Papin was awarded a Badge of Honour and a certificate of merit from the Ministry of Industry and Energy of the Russian Federation.

		h4 Principal place of employment:
		p Vice President at Sinara Group.

		h4 Relevant experience:
		p Vice President, member of the Board of Directors of Sinara Group, member of the Management Board of the Russian Union of Industrialists and Entrepreneurs, member of the Boards of Directors of Kalugaputmash, Ural Locomotives, Burgas Resort, Arkhyz — Sinara, Sinara — Transport Machines. Formerly, member of the Boards of Directors of Intourist-Sinara, Lyudinovsky Locomotive Plant, Ural Locomotives (formerly, Ural Rolling Stock Manufacturing Plant), Deputy CEO for External and Special Projects at TMK, Vice President of Inkombank and Guta-Bank.

		h4 Holds
		p 0,008%
			span.orange &nbsp;in the authorised capital of TMK.

	+director_name("FORESMAN", "Robert Mark")
	div
		h4 Independent director.
		+img('06/64/647.jpg', 'Robert Mark Foresman').left
		p Member of the Nomination and Remuneration Committee. Member of the Board of Directors since 2012. Born in 1968. Graduated from Bucknell University (USA) in 1990 and Harvard University Graduate School of Arts and Sciences in 1993. Obtained a certificate from the Moscow Power Engineering Institute in 1989.

		h4 Principal place of employment:
		p Managing Director of Barclays PLC, Barclays Country Manager for Russia.

		h4 Relevant experience:
		p Head of Barclays Capital in Russia; formerly, member of the Supervisory Board of Vnesheconombank’s VEB Capital, Deputy Chairman of the Management Board at Renaissance Capital, member of the Supervisory Board of Evrofinance Mosnarbank, Chairman of the Management Committee for Russia and CIS at Dresdner Kleinwort Wasserstein, Head of Investment Banking for Russia and CIS at ING Barings. Worked for the International Finance Corporation on private equity transactions and project financing.
		h4 Holds no shares in TMK.

	+director_name("KHMELEVSKIY", "Igor")
	div
		h4 Non-executive director.
		+img('06/64/648.jpg', 'Igor Khmelevskiy').left
		p Member of the Audit Committee. Has been with TMK since 2003, member of the Board of Directors since 2004. Born in 1972. Graduated from the Ural State Law Academy and Shadrinsk State Pedagogical Institute in 1995, awarded a certificate of merit from the Ministry of Industry and Energy of the Russian Federation.

		h4 Principal place of employment:
		p Vice President at Sinara Group.

		h4 Relevant experience:
		p Member of the Board of Directors of Sinara Group, Director of Bravecorp Limited, Tirelli Holdings Limited, TMK Steel Limited and Sinara Capital Manаgement. Formerly, Director of Fudberg Holding Ltd and TMK Global AG, Member of the Administrative Board of TMK — Artrom S. A., Deputy CEO for Legal Practice at TMK, Head of the Legal Department at Sinara Group.

		h4 Holds no shares in TMK.

	+director_name("SCHEGOLEV", "Oleg")
	div
		h4 Independent director.
		+img('06/64/649.jpg', 'Oleg Schegolev').left
		p Member of the Strategy Committee. Member of the Board of Directors since 2012. Born in 1962. Graduated from the Moscow Finance Institute in 1984.

		h4 Relevant experience:
		p First Vice President at Russneft, First Deputy Chairman of the Management Board and First Deputy CEO at Itera, Executive Director at Slavneft, Chairman and Board member at various oil & oilfield service companies, Deputy Head of the Department for Long-term Planning of the Fuel and Energy Complex at the Ministry of Energy of the Russian Federation, chief expert, deputy head, head of department at Sibneft (now Gazprom Neft).
		p Member of the Supervisory Board of the Independent Directors Association (IND) of Russia.

		h4 Holds no shares in TMK.

	+director_name("SHIRYAEV", "Alexander")
	div
		h4 Executive director. Member of the Strategy Committee.
		+img('06/64/6410.jpg', 'Alexander Shiryaev').left
		p Has been with TMK since 2003, member of the Board of Directors since 2005. Born in 1952. Graduated from the Sverdlovsk Institute of National Economy in 1991. Mr Shiryaev was awarded by the Sverdlovsk Region with a second class Badge of Merit and an Honorary Metallurgist title.

		h4 Principal place of employment:
		p CEO of TMK.

		h4 Relevant experience:
		p Chairman of the Management Board of TMK, Board member at TMK’s Russian pipe plants, Chairman of the Board of Orsky Machine Building Plant, member of the Board of Sinara Group and TMK Trade House. Formerly, Deputy CEO for Development and CEO at Sinara Group, Chief Financial Officer at TMK, CEO at Uralshina.

		h4 Holds
		p 0,017%
			span.orange &nbsp;in the authorised capital of TMK.

	+director_name("SHOKHIN", "Alexander")
	div
		h4 Independent director, Chairman of the Strategy Committee.
		+img('06/64/6411.jpg', 'Alexander SHOKHIN').left
		p Member of the Board of Directors since 2008. Born in 1951. Graduated from Lomonosov Moscow State University in 1974. PhD, Doctor of Economics, Professor. Mr Shokhin was awarded with a third and a fourth class Orders for Merit to the Fatherland, Order of Honour, second class Order of Holy Prince Daniel of Moscow and a medal in commemoration of the 850th Anniversary of Moscow. In 2008, he won the National Award of the Independent Directors Association in the Independent Director nomination.

		h4 Principal place of employment:
		p President of the Russian Union of Industrialists and Entrepreneurs.

		h4 Relevant experience:
		p The Russian Union of Industrialists and Entrepreneurs, President of the National Research University Higher School of Economics, Chairman of the Renumeration and Personnel Committee at Russian Railways, member of the Board of Directors of UTLS, JSC, Chairman of the Audit Committee at Burovoya Kompaniya Eurasia (BKE), member of International Advisory Board — Senior Advisor at Bank of America Merrill Lynch,. Formerly, member of the Board of Directors of Russian Railways, member of the Board of Directors of Baltika Breweries, Fortum, TNK-ВР Limited, Lukoil, Burovaya Kompaniya Eurasia, member of the Public Chamber of the Russian Federation, Chairman of the Supervisory Board at Renaissance Capital Investment Group, deputy of the State Duma (three convocations), Minister of Labour and Employment and Minister of Economy, Head of the Russian Agency for International Cooperation and Development, worked as Deputy Head of the Russian Government twice, former Russia’s representative to the IMF and World Bank.
		h4 Holds no shares in TMK.


	p.mtb50 As at 31 December 2014, the members of the Board of Directors held no interests in affiliated companies and did not enter into TMK shares acquisition / disposal transactions; there is no conflict of interest.


	+director_name("KURBATOV", "Maxim ")
	div
		h4 Secretary of the Board of Directors (Corporate Secretary).
		+img('06/64/6412.jpg', 'Maxim KURBATOV').left
		p Born in 1967. Graduated from Kirov Urals Polytechnic Institute, the Academy of National Economy under the Government of the Russian Federation and the Moscow State Law Academy.
		p Has been with TMK since 2002. Headed the CEO’s Executive Office and the Corporate Governance function at TMK.
		p Has been the Secretary of the Board of Directors since 2005.


	.bbd.clearfix
	p According to the Independent Directors Association, four of TMK’s independent directors were on the list of the 50 best independent directors in 2014.


	h3 Activities of the Board of Directors in 2014
	p In 2014, the Board of Directors held 30 meetings, including eight meetings in person.

	p The most significant and complex issues discussed at the Board meetings:
	ul
		li TMK’s investment programme for 2015;
		li TMK’s target structure for 2015;
		li TMK’s consolidated budget for 2015;
		li TMK’s management accounts and consolidated financial statements;
		li development of a uniform compensation policy at TMK’s American Division;
		li approval of TMK’s Business Plan for 2014-2020;
		li implementation of the performance improvement programmes;
		li streamlining TMK’s governance structure;
		li adjustment of the 2014 investment programme;
		li independent assessment of the Board’s performance;
		li recommendations for the General Meeting of Shareholders on the dividend payout for 2013 and interim dividend payout for 1H 2014.


	h3 REMUNERATION TO THE MEMBERS OF THE BOARD OF DIRECTORS
	p In accordance with Russian laws (Article 64 of the Federal Law On Joint Stock Companies), members of the Board of Directors may be remunerated, if so resolved by the General Meeting of Shareholders. TMK shareholders have adopted the following principles and procedures outlined in the Regulations on the Board of Directors with respect to its remuneration:
	ul
		li only non-executive directors are entitled to remuneration for the performance of their duties;
		li the remuneration is to be fair and is to match longterm interests of shareholders;
		li the remuneration to be paid includes:
			ul
				li a fixed base remuneration of the Chairman or a member of the Board payable on a monthly basis in the amount of 1 / 12 of the fixed annual amount;
				li additional remuneration for the performance of the duties of the Chairman or a member of a Board Committee payable every six months in the amount of 1 / 2 of the approved annual additional remuneration; •
		li payments to the members of the Board of Directors are governed by the terms of the Standard Contract approved by the General Meeting of Shareholders.
		li the amount of remuneration payable to a member of the Board of Directors is to be decided by the General Meeting of Shareholders on the basis of the Board of Director’s recommendations.

	p The Board of Directors is comprised of 5 independent directors, 3 non-executive directors and 3 executive directors.
	p In 2014, the members of the Board of Directors received a total of USD 1.89 m of remuneration.
