extends ../../layouts/english

block head
	- pageTitle = 'Committees of the Board of Directors';

block recommend
	- pageId = '0605';
	- recommend_lang = lang;

block content
	p The Board of Directors has three standing committees: Audit Committee, Nomination and Remuneration Committee and Strategy Committee. The committees have been formed in compliance with the Corporate Governance Code of OAO TMK, which specifically requires that the Audit Committee and the Nomination and Remuneration Committee include independent directors only or, if reasonably impossible, independent directors and non-executive directors only.
	p Committee members remained unchanged in 2014.

	h4 Participation of board members in board and committee meetings in 2014
	table.table_0605_1
		tr
			th
			th Board of Directors
			th Audit  Committee
			th Nomination and Remuneration Committee
			th Strategy  Committee
		tr
			td
			td (30 meetings)
			td (9 + 1 joint meetings)
			td (7 + 1 joint meetings)
			td (5 + 2 joint meetings)
		tr
			td D. Pumpyanskiy (Chairman)
			td 30
			td
			td
			td
		tr
			td M. Alekseev
			td 30
			td 6
			td 8
			td
		tr
			td A. Kaplunov
			td 30
			td
			td
			td
		tr
			td Peter O’Brien
			td 30
			td 10
			td
			td
		tr
			td S. Papin
			td 30
			td
			td 8
			td
		tr
			td E. Blagova
			td 27
			td
			td
			td
		tr
			td R. Foresman
			td 28
			td
			td 6
			td
		tr
			td I. Khmelevskiy
			td 30
			td 10
			td
			td
		tr
			td A. Shiryaev
			td 30
			td
			td
			td 7
		tr
			td A. Shokhin
			td 30
			td
			td
			td 7
		tr
			td O. Schegolev
			td 30
			td
			td
			td 7

	h4.mtb50 Audit committee

	table.table_0605_2
		tr
			td Peter O’Brien
			td  Chairman of the Audit Committee, independent director
		tr
			td M. Alekseev
			td  Member of the Audit Committee and Chairman of the Nomination and Remuneration Committee, independent director
		tr
			td I. Khmelevskiy
			td Member of the Audit Committee, non-executive director

	p Peter O’Brien, Chairman of the Audit Committee, and M. Alekseev, Member of the Audit Committee, comply with the Russian Corporate Governance Code recommendations for the reporting review and assessment competencies.
	p In 2014 and from 1 January 2015 to 31 March 2015, the Audit Committee’s principal activities included the following:
	ul
		li analysis of the accounting policies and oversight of the Company’s financial statements;
		li review of the Company’s standards and procedures for internal control and risk management, assessment of the efficiency of the respective systems and development of recommendations for their improvement;
		li review of the plans and reports of the Internal Audit Department, including as regards preventing the abuse of the insider information, assessment of the Department’s performance;
		li cooperation with the Revision Committee;
		li presentation of recommendations to the Board of Directors as regards selecting an external auditor, assessment of the external auditor’s independence;
		li review of the audit plan and scope, active discussions with the external auditor of matters arising out of the audit.

	h4 Oversight of the external audit  by the audit committee
	p The Committee reviewed the following key matters regarding the preparation and audit of TMK’s FY 2014 and interim consolidated and separate accounting (financial) statements:
	ul
		li development of the audit plan for the consolidated financial statements of TMK Group (TMK and subsidiaries) prepared for the financial year in accordance with the International Financial Reporting Standards (IFRS);
		li external auditor’s opinion on TMK’s accounting (financial) statements prepared under the Russian law and on TMK Group’s consolidated financial statements in accordance with IFRS;
		li review of the letter from TMK’s external auditor regarding the internal control issues based on the results of the annual audit, assessment of the Company’s existing controls for the preparation of financial statements;
		li assessment of the external auditor’s performance and work quality;
		li selection of an external independent auditor of TMK’s consolidated and separate accounting (financial) statements for 2015-2017.
	p The Audit Committee has reviewed TMK’s financial statements prepared under the Russian accounting (financial reporting) standards together with the auditor’s opinion and has recommended that the Board of Directors submit the annual accounting (financial) statements for approval at the Annual General Meeting of Shareholders.
	p The Committee reviewed and gave a positive assessment of external and internal audit.

	h3 Nomination and remuneration committee
	table.table_0605_3
		tr
			td M. Alekseev
			td Chairman of the Nomination and Remuneration Committee and member of the Audit Committee, independent director
		tr
			td S. Papin
			td Member of the Audit Committee, non-executive director
		tr
			td Robert Mark Foresman
			td Member of the Nomination and Remuneration Committee, independent director

	p The Nomination and Remuneration Committee seeks to create a favourable environment for the engagement of qualified personnel in the Company’s governance and incentives for their efficient performance, as well as to streamline the corporate governance system and align it with the best international practices.
	p In the reporting period, the Committee reviewed and presented to the Board of Directors recommendations that included:
	ul
		li assessment of the performance of the Company’s top executives in the previous reporting period, core KPIs and incentive terms for the next planning period;
		li matters related to development of a uniform compensation policy at TMK’s American Division;
		li matters pertaining to standardising the corporate governance system, streamlining the organisational structure and optimising headcount of the management and various employees at TMK plants;
		li organisational and staff matters in the operation of TMK divisions;
		li matters related to the activities of the NGS* companies of TMK’s Russian Division;
		li matters pertaining to remuneration of the Company’s directors;
		li headcount and payroll indicators for TMK divisions’ budget for the planned period, monitoring of productivity indicators and quick response to changes in economic environment;
		li matters related to consistent employee training and development;
		li current and future HR focus areas, development of professional standards, assessment of working conditions, organisation of the youth scientific and technical conference;
		li activity planning of TMK’s corporate governance bodies, preparation and organisation of the Annual General Meeting of Shareholders.
	+quote_2("*   NGS companies  are oilfield service companies", "")

	p Additionally, the Committee presented to the Board of Directors recommendations on electing the Chairman and members of the Board and its Committees for the corporate year, as well as on the affirmation of the CEO’s authority for a new period and on electing the members of the Management Board.
	p The Committee carried out comprehensive assessment of the corporate governance framework and outlined its development objectives. The Committee’s recommendations aided the Board of Directors in making well-balanced decisions supported by effective implementation and control tools.
	p In the reporting period, the Committee followed the approved Regulations on the Nomination and Remuneration Committee and the Action Plan, which was duly amended on an as-needed basis to match the Company’s priorities.
	p The Committee meetings were regularly attended by TMK’s top executives and top managers, which facilitated efficient communication and resulted in more thought-out and constructive recommendations.

	h3 Strategy committee
	table.table_0605_4
		tr
			td A. Shokhin
			td Chairman of the Audit Committee, independent director
		tr
			td O. Schegolev
			td Committee member, independent director
		tr
			td A. Shiryaev
			td  Committee member, CEO, Chairman of the Management Board

	p The Strategy Committee’s duties are to develop recommendations on the Company’s business priorities and its growth strategy and present these to the Board of Directors.
	p In 2014, the Committee reviewed and presented to the Board of Directors recommendations on the following key matters:
	ul
		li implementation of TMK’s 2020 Business Plan;
		li analysis and monitoring of TMK’s target markets through 2017;
		li TMK’s investment programme for 2014;
		li TMK’s technical sales system;
		li TMK’s budget for 2014;
		li recommendations on M&A transactions, asset disposal and joint ventures;
		li risks map for 2014 and measures to mitigate key risks in 2014;
		li dividend payout recommendations based on the Company’s dividend policy.
