extends ../../layouts/english

block head
	- pageTitle = 'Assessment of the board’s performance';

block recommend
	- pageId = '0606';
	- recommend_lang = lang;

block content
	p.excerpt The Nomination and Remuneration Committee  meeting held in late April 2014 assessed the performance of the Board of Directors and the status of TMK’s corporate governance in 2013-2014 as follows.
	p The Company has all the key elements of efficient corporate governance in place and functioning in concert: the Board with a considerable number of independent directors, proactive Board Committees, efficient internal audit function, independent external audit, disclosure procedures. The performance of the Board on the whole and the Board’s Chairman personally has been deemed satisfactory.
	p The Board of Directors performance has been regularly assessed since 2006. The composition of the Board and its procedures meet the requirements of the modern corporate practices, which helps its members to make constructive and balanced decisions in a timely manner.
	p Based on the available information, the independent directors have been deemed compliant with the specified requirements, and their performance in the Board of Directors and its Committees — effective.
	p In the reporting period, non-executive directors were generally provided with adequate payments within the remuneration and cost compensation framework.
	p The matters reviewed by the Board’s Committees during the reporting period were aligned with TMK’s development priorities and fell within the Committees’ scopes of competence.
	p The Corporate Secretary’s performance was in line with the existing good corporate practice and can be deemed satisfactory.
	p Communications of the Board of Directors and its Committees with the Management Board and other top managers has been deemed effective. Prompt information sharing allowed the management to make constructive decisions in a timely manner and efficiently oversee their implementation.
