extends ../../layouts/english

block head
	- pageTitle = 'Executive management';

block recommend
	- pageId = '0607';
	- recommend_lang = lang;

block content
	p.excerpt TMK’s day-to-day operations are managed by the CEO and the Management Board.  The CEO also acts as the Chairman of the Management Board.

	h3 COMPOSITION OF THE MANAGEMENT BOARD
	p There were no changes in the Management Board in 2014. As at 31 December 2014, the Management Board consisted of eight members:

	+director_name("SHIRYAEV", "Alexander")
	div
		h4 Chairman of the Management Board.
		+img('06/67/671.jpg', 'SHIRYAEV Alexander').left
		p See the Board of Directors section for a detailed biography.

		h4 Principal place of employment:
		p CEO of TMK


	+director_name("BILAN", "Sergey ")
	div
		+img('06/67/672.jpg', 'BILAN Sergey').left
		p Born in 1962. Graduated from the Rostov Institute of Railway Transport Engineers in 1984 and from the Budget and Treasury Academy of the Russian Finance Ministry in 2004. Has been conferred an Honorary Metallurgist title and was awarded a Certificate of Merit from the Ministry of Industry, Science and Technologies of the Russian Federation.

		h4 Principal place of employment:
		p TMK Deputy CEO for Oilfield Services.

		h4 Relevant experience:
		p.oh Deputy CEO of TMK and TMK Trade House for Premium Products and Services, CEO of TMK NGS and member of the Board of Directors of Orsky Machine Building Plant. Formerly, TMK Deputy CEO for Marketing.

		h4 Holds
		p 0,005%
			span.orange &nbsp;in the authorised capital of TMK.

	+director_name("KAPLUNOV", "Andrey ")
	div
		+img('06/67/673.jpg', 'KAPLUNOV Andrey').left
		p See the Board of Directors section for a detailed biography.

		h4 Principal place of employment:
		p First Deputy CEO of TMK.

	+director_name("KLACHKOV", "Alexander")
	div
		+img('06/67/674.jpg', 'KLACHKOV Alexander').left
		p Has been with TMK since 2002. Born in 1957. Graduated from the Moscow Institute of Steel and Alloys in 1979. PhD in Technical Sciences. Mr Klachkov is a Russian Government prize winner in Science and Technology also awarded with a Certificate of Merit from the Ministry of Industry and Energy of the Russian Federation and conferred a Honorary Metallurgist title.

		h4 Principal place of employment:
		p Deputy CEO and Chief Engineer of TMK.

		h4 Relevant experience:
		p.oh Head of the Technological Development Directorate at TMK, member of the Board of Directors of the Institute for the Tube and Pipe Industries (RosNITI) and Seversky Tube Works; used to hold management positions at Oskol Electrometallurgical Plant

		h4 Holds
		p 0,003%
			span.orange &nbsp;in the authorised capital of TMK.


	+director_name("LYALKOV", "Alexander ")
	div
		+img('06/67/675.jpg', 'LYALKOV Alexander').left
		p Has been with TMK since 2003. Born in 1961. Graduated from the Volgograd Polytechnic Institute in 1989. Mr Lyalkov is a Russian Government prize winner in Science and Technology also awarded with a medal for the construction of the Baikal — Amur Mainline and an Honour and Benefit medal of the International Welfare Fund; he was conferred a Honorary Metallurgist title and a Russian Quality Leader title of the Russian Organisation for Quality.

		h4 Principal place of employment:
		p First Deputy CEO of TMK.

		h4 Relevant experience:
		p.oh member of the Board of Directors of Tagmet and Sinarsky Pipe Plant. Formerly, Deputy CEO for Operations, Deputy CEO for Operations, Technology and Quality at TMK, Managing Director and subsequently member of the Board of Directors at Volzhsky Pipe Plant, where he has held various positions since 1980.

		h4 Holds
		p 0,0037%
			span.orange &nbsp;in the authorised capital of TMK.

	+director_name("OBORSKY", "Vladimir")
	div
		+img('06/67/676.jpg', 'OBORSKY Vladimir').left
		p Has been with TMK since incorporation. Born in 1961. Graduated from the Mikhail Frunze Higher Combined-Arms Command Academy in Kiev in 1982 and the Mikhail Frunze Military Academy in 1994. Obtained an MBA from the International University in Moscow in 2009. PhD in Economics. Was awarded a Medal for Battle Merit, an Order of Military Merit and a Certificate of Merit from the Ministry of Industry and Energy of the Russian Federation.

		h4 Principal place of employment:
		p CEO of TMK Trade House. Executive Director — First Deputy CEO at TMK.

		h4 Relevant experience:
		p.oh Member of the Board of Directors at TMK Trade House and TMKCPW. Formerly, First Deputy CEO and Executive Director at TMK Trade House, Head of the Transneft and Gas Producers Customer Service Department at TMK Trade House, Head of the Strategic Customer Service Directorate and the Gas Producers Customer Service Directorate at Volzhsky Trade House.

		h4 Holds
		p 0,0008%
			span.orange &nbsp;in the authorised capital of TMK.

	+director_name("PETROSYAN", "Tigran")
	div
		+img('06/67/677.jpg', 'PETROSYAN Tigran').left
		p Has been with TMK since 2001. Born in 1968. Graduated from Yerevan State University in 1993. Has been conferred a Certificate of Merit from the Ministry of Industry, Science and Technologies of the Russian Federation.

		h4 Principal place of employment:
		p Chief Financial Officer at TMK.

		h4 Relevant experience:
		p Board member at TMK’s Russian pipe plants, Orsky Machine Building Plant, TMK-INOX and TMK Trade House. Formerly, Deputy CEO for Economy at TMK and TMK Trade House, Head of the Economic and Planning Directorate at TMK, Head of the Economic and Planning Department of Volzhsky Pipe Plant, Deputy CEO at Volzhsky Audit, officer at the Armenian Ministry of Economy.

		h4 Holds no shares in TMK.

	+director_name("SHMATOVICH", "Vladimir")
	div
		+img('06/67/678.jpg', 'SHMATOVICH Vladimir').left
		p Has been with TMK since 2005. Born in 1964. Graduated from the Moscow Finance Institute in 1989 and the University of Notre Dame USA (MBA) in 1993. Has been conferred a Certificate of Merit from the Ministry of Industry and Trade of the Russian Federation and awarded with a Tsiolkovsky Gold Medal. Has been conferred Udmurtneft’s Honorary Oil Worker title and an Honorary TMK Employee title.

		h4 Principal place of employment:
		p Deputy CEO for Strategy and Business Development at TMK.

		h4 Relevant experience:
		p.oh Board member of Lhoist — TMK B. V. and OFS Development SARL, Chairman of the Board of Directors of TMK GIPI, Class A Manager at Completions Development S.а r.l., Director at TMK Completions Ltd. Formerly, Board member of SKB-bank, CFO of TMK, Deputy CEO, CFO at various companies (Udmurtneft, Sidanco, RusPromAvto), CEO of Interros.

		h4 Holds no shares in TMK.

	.bbd.mtb50
	p As at 31 December 2014, the members of the Management Board held no interests in companies under control and did not enter into TMK shares acquisition / disposal transactions.

	h4 Executive management remuneration
	p The remuneration paid to the CEO and the members of the Management Board consists of:
	ul
		li fixed salaries determined in accordance with their employment contracts and payable on a monthly basis;
		li variable part (bonuses), based on individually established KPIs and approved by the Board of Directors each year. This bonus is paid to the CEO and the members of the Management Board if they deliver their KPIs, and subject to the approval of their performance reports by the Board of Directors.

	p In 2014, the aggregate remuneration of the CEO and the members of the Management Board amounted to USD 6.83 m, including insurance premiums paid.
