extends ../../layouts/english

block head
	- pageTitle = 'Information policy and disclosure';

block recommend
	- pageId = '0608';
	- recommend_lang = lang;

block content
	p.excerpt As an issuer of securities,  the Company is required to disclose information under the Russian law, security market regulations and listing rules of the stock exchanges where the Company’s securities are traded. Information is disclosed in Russian and English.
	p TMK publishes quarterly IFRS consolidated financial statements (<a href='http://ir.tmk-group.com/results-center/financial-results/'>http://ir.tmk-group.com/results-center/financial-results/</a>) and press releases describing its financial, operating and market performance on its corporate website. On the top of that, the Company provides market reviews and forward-looking statement. Conference calls for investors, analysts and media organised by TMK are attended by the Company’s senior executives.
	p In line with the international best practices, we conduct Capital Markets Days where the Company’s top management present TMK’s results and outlook, with webcasts available on the corporate website. The site’s section for investors features an IR calendar, presentations, reports, financial news and FAQ.
	p In January 2015, TMK launched its upgraded corporate web site featuring a new user-friendly interface and a mobile version to facilitate the search for and download of essential information. The new site offers a wide range of information on the Company, its divisions and plants and includes a quick data analyzer.
	p Disclosure and interaction between the Company’s divisions and entities in this process are governed by its Regulations on the Information Policy (<a href='http://www.tmk-group.ru/media_ru/files/51/inf_pol0612.pdf'>http://www.tmk-group.ru/media_ru/files/51/inf_pol0612.pdf</a>) and other internal regulations drafted on its basis. The Company has dedicated units to monitor the development of and pursuance of a uniform information policy and control compliance with insider dealing laws and regulations.
