extends ../../layouts/english

block head
	- pageTitle = 'Report on compliance with the principles and recommendations set out in the corporate governance code (as per micex guidance dated 13 march 2015)';

block recommend
	- pageId = '0610';
	- recommend_lang = lang;

block content
	table.table_0610_1
		tr
			th No.
			th Corporate governance principle(s) or key criterion (recommendation)
			th A brief description of non-compliance with the corporate governance principle or key criterion
			th Explanation of the key reasons, factors and circumstances due to which the principle or key criterion is not complied with or is complied with in part; a description of alternative corporate governance mechanisms and instruments. Planned actions and measures
		tr
			td.bold(colspan=4) I.  RIGHTS AND EQUITABLE TREATMENT OF SHAREHOLDERS
		tr
			td 1.1.
			td(colspan=3)  The company should ensure equitable and fair treatment of each shareholder exercising their right to take part in managing the company. Corporate governance framework and practices should ensure equality for the shareholders owning the same type (class) of shares, including minority and non-resident shareholders, and their equitable treatment by the company.
		tr
			td 1.1.1.
			td
				| The company should approve an internal regulation setting forth key procedures to prepare for, convene and hold general meetings of shareholders in compliance with recommendations of the Corporate Governance Code, including the company's obligations to:
				ul
					li notify shareholders of general meetings and provide access to the relevant materials, publish the notice and materials on the corporate website, at least 30 days prior to such meeting, unless required to do so earlier by the Russian law;
					li announce the record date at least 7 days prior to such date;
					li provide supplementary information and materials on the general meeting agenda as recommended by the Corporate Governance Code.
			td The Company's practices comply with these recommendations.
			td
				p The Company announces the record date as required by the Russian law. Supplementary information is included in the notice of the General Meeting of Shareholders published on TMK's website.
				p As part of the preparation for the annual General Meeting of Shareholders, the Company strives to provide shareholders with relevant notices and materials in soft copy.
		tr
			td 1.1.2.
			td The company should undertake to enable its shareholders to put questions on the company's operations to members of the management and control bodies, audit committee, chief accountant, company's auditors, and nominees to the management and control bodies, during the general meeting and in the course of relevant preparations. The said obligations should be set forth in the company's articles of association or internal regulations.
			td The Company's practices comply with these recommendations.
			td Shareholders are free to put questions on the Company's operations to members of the management and control bodies during the General Meeting.
		tr
			td 1.1.3.
			td The company should observe the principle of preventing any action that may result in an artificial redistribution of corporate control (for example, voting with quasi-treasury shares, decision to pay dividends on preferred shares regardless of limited financial capacities, decision not to pay dividends on preferred shares as required by the articles of association regardless of sources being sufficient for payment). The said obligations should be set forth in the company's articles of association or internal regulations.
			td The Company's practices reflect the principle of preventing artificial redistribution of corporate control.
			td The Company has neither quasi-treasury nor preferred shares.
		tr
			td 1.2
			td(colspan=3) Shareholders should be given equal and fair opportunities to receive a share of the company's profit in the form of dividends.
		tr
			td 1.2.1.
			td
				| The company should approve an internal regulation on its dividend policy compliant with recommendations of the Corporate Governance Code, including, inter alia:
				ul
					li procedures to determine a portion of the company's net profit (for companies issuing consolidated financial statements, a minimum portion (share) of consolidated net profit) to be distributed in the form of dividends, and conditions to declare dividends;
					li minimum dividends payable on different types (classes) of shares;
					li mandatory disclosure of the document governing the company's dividend policy on its corporate website.
			td Complied with.
			td
		tr
			td.bold(colspan=4) II.  THE COMPANY'S BOARD OF DIRECTORS
		tr
			td 2.1
			td(colspan=3) The board of directors' core responsibilities should include determining the company's long-term strategic targets, key performance indicators (KPIs), key risk governance and internal control principles and approaches, and remuneration paid to directors and executive body members, performing strategic governance, exercising control over the company's executive bodies, etc.
		tr
			td 2.1.1.
			td The company's board of directors should:
				ul
					li determine the company's long-term strategic targets and KPIs;
					li control the company's executive bodies;
					li determine the company's risk governance and internal control principles and approaches;
					li articulate the company's policy on remunerating its directors, executive body members and other key managers.
			td Complied with.
			td
		tr
			td 2.2.
			td(colspan=3) The board of directors should manage the company in an efficient and competent manner and make fair and independent judgements and decisions in line with the best interests of the company and its shareholders. The chairman of the board of directors should ensure that the board of directors discharges its duties efficiently and effectively by conducting meetings attended by its members and making relevant preparations.
		tr
			td 2.2.1.
			td The board should be chaired by an independent director, or a senior independent director supervising the activities of other independent directors and interacting with the board's chairman should be appointed from among the elected independent directors.
			td In accordance with the Company's Articles of Association, independent directors are free to interact with the Chairman of the Board of Directors on any matters related to the Company's business. All Committees of the Board of Directors are chaired by independent directors.
			td The Board of Directors is going to consider whether it may be reasonable to follow this recommendation.
		tr
			td 2.2.2.
			td The company's internal regulations should stipulate the procedure to prepare for and hold the board's meetings, enabling the directors to make proper preparations, including, inter alia:
				ul
					li meeting notice period;
					li deadlines for circulating voting ballots and submitting the completed ones in case of meetings held in absentia;
					li a possibility of submitting and taking into account a director's written opinion on the agenda items in case they are not present at an in-person meeting;
					li a possibility of participating in the meeting and voting via audio or video conferencing.
			td Complied with.
			td
		tr
			td 2.2.3.
			td Resolutions on the most important matters should be passed at the board's in-person meetings. The list of such matters should be compliant with recommendations of the Corporate Governance Code.
			td Complied with.
			td
		tr
			td 2.3.
			td(colspan=3) The board of directors should include a sufficient number of independent directors.
		tr
			td 2.3.1.
			td Independent directors should make up al least one third of the elected board members.
			td(rowspan=3) Complied with.
			td(rowspan=3)
		tr
			td 2.3.2.
			td Independent directors should fully meet the independence criteria set forth in the Corporate Governance Code.
		tr
			td 2.3.3.
			td The board of directors (nomination/HR committee) should verify a board nominee's compliance with the independence criteria.
		tr
			td 2.4.
			td(colspan=3) The board of directors should set up committees for preliminary consideration of key matters related to the company's operations.
		tr
			td 2.4.1.
			td The board of directors should establish an audit committee made up of independent directors. Its responsibilities should be set forth in the company's procedures and be compliant with recommendations of the Corporate Governance Code.
			td The Audit Committee includes two independent directors, one of them chairing the Committee.
			td The Committee is responsible for combating misconduct of the Company's employees and third parties, including as regards insider information, by means of reviewing reports from the heads of the Internal Audit Department and Committee on Regulating Compliance Risks.
		tr
			td 2.4.2.
			td The board of directors should establish a remuneration committee made up of independent directors, which may be combined with the nomination/HR committee. Its responsibilities should be compliant with recommendations of the Corporate Governance Code.
			td(rowspan=2) The Committee for Appointment and Remuneration includes two independent directors, one of them chairing the Committee.
			td(rowspan=2)
		tr
			td 2.4.3.
			td The board of directors should establish a nomination/HR committee predominantly made up of independent directors, which may be combined with the remuneration committee. Its responsibilities should be compliant with recommendations of the Corporate Governance Code.
		tr
			td 2.5.
			td(colspan=3) The board of directors should provide for assessing its own, along with its members' and committees', performance.
		tr
			td 2.5.1.
			td The board's performance should be assessed regularly at least once a year, and at least once in three years the company should engage an external advisor to conduct such assessment.
			td Complied with.
			td The Company plans to keep engaging external advisors to assess the Board's performance.
		tr
			td.bold(colspan=4) III. THE COMPANY'S CORPORATE SECRETARY
		tr
			td 3.1.
			td(colspan=3) The company's corporate secretary (or a dedicated business unit headed by such) should ensure efficient ongoing interaction with shareholders, coordinate the company's efforts to protect shareholder rights and interests and support the board's activities.
		tr
			td 3.1.1.
			td The corporate secretary should report to the board of directors and should be appointed or removed from office by the board's resolution or approval.
			td Complied with.
			td
		tr
			td 3.1.2.
			td The company should approve an internal regulation setting forth the corporate secretary's rights and obligations (Regulation on the Corporate Secretary) as recommended by the Corporate Governance Code.
			td The rights and obligations of the Secretary of the Board of Directors (Corporate Secretary) are set forth in the Regulations on the Board of Directors.
			td The Board of Directors plans to approve the Regulations on the Corporate Secretary.
		tr
			td 3.1.3.
			td The corporate secretary should hold no concurrent positions in the company. Their responsibilities should be compliant with recommendations of the Corporate Governance Code. The corporate secretary should have sufficient resources to discharge their duties.
			td Complied with.
			td
		tr
			td.bold(colspan=4) IV. REMUNERATION OF DIRECTORS, EXECUTIVE BODY MEMBERS AND OTHER KEY MANAGERS
		tr
			td 4.1.
			td(colspan=3)  Remuneration paid by the company should be sufficient to attract, motivate and retain persons that have competencies and qualifications required by the company. Directors, executive body members and other key managers should be remunerated as per the company's remuneration policy.
		tr
			td 4.1.1
			td Payments, benefits and privileges available to directors, executive body members and other key managers should be specified in the company's internal regulations.
			td Complied with.
			td
		tr
			td 4.2.
			td(colspan=3)  Directors' remuneration should ensure that their financial interests are aligned with long-term financial interests of shareholders.
		tr
			td 4.2.1.
			td A fixed annual compensation should be the preferred form of cash remuneration for directors.
			td Complied with.
			td
		tr
			td 4.2.2.
			td Directors should not be entitled to participate in the company's stock option plans, and their right to dispose of the company's shares owned by them should not be linked to their performance targets.
			td Independent directors do not participate in the Company's stock option plan.
			td
		tr
			td 4.3.
			td(colspan=3) Remuneration of executive body members and other key managers should be linked to the company's results and their personal contribution to those.
		tr
			td 4.3.1
			td The company should implement a long-term incentive programme for executive body members and other key managers.
			td The Company is running an annual incentive programme based on the Company's long-term strategy.
			td The Company is running an incentive programme for executive body members and other key managers using KPIs, which are set and reviewed by the Board of Directors on an annual basis. Proposals for a new incentive programme based on strategic objectives are being developed.
		tr
			td.bold(colspan=4) V.  RISK GOVERNANCE AND INTERNAL CONTROL
		tr
			td 5.1.
			td(colspan=3) The company should implement effective risk governance and internal control to guarantee, to a reasonable extent, fulfilment of the company's goals.
		tr
			td 5.1.1.
			td The board of directors should determine the company's risk governance and internal control principles and approaches.
			td Complied with.
			td
		tr
			td 5.1.2.
			td The company should establish a standalone risk management and internal control unit.
			td Complied with.
			td
		tr
			td 5.1.3.
			td The company should draft and implement an anti-corruption policy specifying measures to bring its culture, organisational structure, relevant rules and regulations to prevent corruption.
			td Complied with.
			td
		tr
			td 5.2.
			td(colspan=3) The company should arrange for internal audits, to assess reliability and performance of the risk governance, internal control and corporate governance framework, on a regular and independent basis.
		tr
			td 5.2.1
			td The company should set up a standalone internal audit unit functionally reporting to the board of directors. The said unit's functions should be compliant with recommendations of the Corporate Governance Code and include:
				ul
					li assessing internal control performance;
					li assessing risk governance performance;
					li assessing corporate governance framework (in case there is no corporate governance committee).
			td Complied with.
			td
		tr
			td 5.2.2.
			td Head of internal audit should report to the board of directors and should be appointed or removed from office by the board's resolution.
			td Complied with.
			td
		tr
			td 5.2.3.
			td The company should approve an internal audit policy (Regulation on Internal Audit) specifying internal audit goals, objectives and functions.
			td Internal audit goals, objectives and functions are specified in the Regulations on Internal Control and Regulations on the Internal Audit Department.
			td The Company plans to approve its Internal Audit Policy in 2015.
		tr
			td.bold(colspan=4) VI. INFORMATION POLICY AND DISCLOSURE
		tr
			td 6.1.
			td(colspan=3) The company and its operations should be transparent for its shareholders, investors and other stakeholders.
		tr
			td 6.1.1.
			td The company should approve an internal regulation on its information policy as recommended by the Corporate Governance Code. The company's information policy should provide for the following ways of communication with investors and other stakeholders:
				ul
					li a dedicated page on the corporate website featuring FAQs from investors and shareholders with respective answers, a regularly updated corporate calendar, and other useful information;
					li regular meetings of executive body members and other key managers with analysts;
					li regular presentations, including via teleconferences and webcasts, and meetings attended by governance body members and other key managers, including those related to releases of financial statements or the company's key investment projects and strategic plans.
			td Complied with.
			td
		tr
			td 6.1.2.
			td The company's executive bodies should be in charge of implementing its information policy, while the board of directors should oversee proper compliance therewith and information disclosure.
			td Complied with.
			td
		tr
			td 6.1.3.
			td The company should implement procedures to align all its functions and structural units whose activities are related to or may require information disclosure.
			td Complied with.
			td
		tr
			td 6.2.
			td(colspan=3) The company should ensure timely disclosure of up-to-date, complete and reliable information on its operations to enable its shareholders and investors to make informed decisions.
		tr
			td 6.2.1.
			td If foreign investors hold a substantial share of the company's capital, the company should, along with disclosure of information in Russian, disclose key information (including notices of general meetings and annual reports) in a foreign language generally accepted in the financial market.
			td Complied with.
			td
		tr
			td 6.2.2.
			td The company should disclose information about both itself and legal entities controlled by and material to the company.
			td Complied with.
			td
		tr
			td 6.2.3.
			td The company should disclose annual and interim (semi-annual) consolidated or individual financial statements prepared in accordance with the International Financial Reporting Standards (IFRS). The company's annual consolidated or individual financial statements should be disclosed together with the auditor's report, while its interim (semi-annual) consolidated or individual financial statements should be disclosed together with the auditor's review report or the auditor's opinion.
			td Complied with.
			td
		tr
			td 6.2.4.
			td The company should disclose a special memorandum setting out the controlling person's plans for the company. The said memorandum should comply with recommendations of the Corporate Governance Code.
			td Complied with as required by the applicable law.
			td The Company discloses information on its governance bodies, capital structure, and persons controlling or having significant influence on the Company.
		tr
			td 6.2.5.
			td The company should ensure disclosure of detailed biographies of its directors, including information as to whether they are independent directors, and timely disclosure of information as to whether a director has lost their independent status.
			td Complied with.
			td
		tr
			td 6.2.6.
			td The company should disclose information on its capital structure in compliance with recommendations of the Corporate Governance Code.
			td Complied with.
			td
		tr
			td 6.2.7.
			td The company's annual report should include the following additional information recommended by the Corporate Governance Code:
				ul
					li a brief review of the most significant transactions entered into by the company and by legal entities controlled by it, including associated transactions, during the past year;
					li a report by the board of directors and its committees for the year, containing, inter alia, information on the number of meetings held in person (in absentia), attendance of each director, the most important and complicated matters discussed by the board and its committees, and principal recommendations by the committees to the board;
					li information on shares in the company directly or indirectly owned by its directors and/or executive body members;
					li information on whether the company's directors and/or executive body members have conflicts of interest (including those linked to their membership in competitors' governance bodies);
					li a description of remuneration of directors, including the amount of individual remuneration payable to each director based on annual performance (broken down into the base fee, additional remuneration for the chairing of the board of directors and chairing of / membership in its committees, the extent of participation in a long-term incentive programme, the amount of each director's participation in an option plan, if any), reimbursement of related expenses, and costs incurred by the company in connection with liability insurance for its directors in their capacity of governance body members;
					li information on the total remuneration for the year:
						ul
							li in respect of a group of at least five top paid executive body members and other key managers of the company, broken down by type of remuneration;
							li in respect of all executive body members and other key managers covered by the company's remuneration policy, broken down by type of remuneration;
					li  information on the sole executive body's remuneration for the year, which they have received or are to receive from the company (legal entity from a group that includes the company), broken down by type of remuneration, both for performing their duties of the sole executive body and on other grounds.
			td Complied with subject to the applicable law, including the Federal Law on Personal Data.
			td Information on transactions entered into by legal entities controlled by the Company is published on both TMK's website and Interfax information disclosure website as corporate action notices, and summarised in annual reports of legal entities controlled by the Company, also published on TMK's website. Information on remuneration of governance bodies is disclosed in annual reports in full compliance with the Russian law.
		tr
			td 6.3.
			td(colspan=3) The company should provide information and documents requested by its shareholders in accordance with the principle of equal and unhindered accessibility.
		tr
			td 6.3.1.
			td In accordance with the company's information policy, shareholders with an equal number of the company's voting shares should be given equal access to the company's information and documents.
			td Complied with.
			td
		tr
			td.bold(colspan=4) VII. MATERIAL CORPORATE ACTIONS
		tr
			td 7.1.
			td(colspan=3)  Actions which will or may materially affect the company's share capital structure and its financial position and, accordingly, the position of its shareholders (“material corporate actions”) should be taken on fair terms, ensuring that the rights and interests of the shareholders and other stakeholders are observed.
		tr
			td 7.1.1.
			td  The company's articles of association should include a list (criteria) of transactions or other actions deemed to be material corporate actions, the consideration of which should be referred to the jurisdiction of the board of directors, including:
				ul
					li reorganisation of the company, acquisition of at least 30% of its voting shares (takeover), increase or reduction of the company's authorised capital, listing and delisting of its shares;
					li sale of shares (interests) in legal entities controlled by and material to the company, as a result of which the company loses control over such legal entities;
					li transactions, including associated transactions, with the property of the company or legal entities controlled by the company, where the value of such assets exceeds the amount specified in the company's articles of association or is material to the business of the company;
					li creation of a legal entity controlled by and material to the business of the company;
					li disposal by the company of its treasury or quasi-treasury shares.
			td Complied with.
			td
		tr
			td 7.2.
			td(colspan=3) The company should establish a procedure for taking material corporate actions that would enable its shareholders to receive full information about such actions in due time and influence them, and also would guarantee that shareholder rights are observed and duly protected when such actions are taken.
		tr
			td 7.2.1.
			td The company's internal regulations should provide for equitable treatment of all the shareholders of the company when taking material corporate actions affecting their rights and legitimate interests, and establish additional measures to protect rights and legitimate interests of the company's shareholders stipulated by the Corporate Governance Code, including:
				ul
					li engagement of an independent appraiser with an impeccable reputation and relevant experience, or justification of otherwise, to estimate the value of the property disposed of or acquired pursuant to a major transaction or a relatedparty transaction;
					li valuation of the company's shares at their repurchase or redemption by an independent appraiser with an impeccable reputation and relevant experience, taking into account the weighted average share price over a reasonable period of time, ignoring potential effect of the transaction (including potential changes in the share price resulting from the relevant information disclosure), and ignoring minority discount;
					li introduction of additional related party criteria for the company's directors and other persons as per the applicable law, to assess their actual relationships.
			td Complied with as required by the applicable law.
			td

