extends ../../layouts/english

block head
	- pageTitle = 'Human resources and social policy';

block recommend
	- pageId = '0701';
	- recommend_lang = lang;

block content
	+img('07/07.jpg').inner_cover
	p: b Goals of TMK’s HR Strategy for 2011-2020 are as follows:
	ul
		li recruiting and retaining top quality personnel whose productivity matches the best industry and international practices;
		li promoting employees’ professional competencies;
		li implementing social programmes to improve living standards of employees and their families, maintain stable and long-term employment relationships at our enterprises.

	p: b Key priorities of TMK’s HR Strategy in 2014:
	h3 Corporate development and hr management
	p In 2014, our focus was on streamlining business processes and governance system and standardising the organisational structure at TMK’s entities. Thus, we:
	ul
		li standardised organisational structure of the production, sales, financial and economic and technical units at TMK’s Russian pipe plants;
		li finalised the structure of the governance, reporting and workflow systems for the four divisions, with TMK being the core management center;
		li restructured the Company’s sales units;
		li introduced the Regulations on TMK Project Management and established the Project Database in order to encourage our employees to participate in initiating and developing new projects;
		li launched a pilot project for TMK’s Romanian plants to build a pool of young talents holding qualifications rare in the local labour market.
	p Improved productivity is a key tool to fine-tune headcount at our enterprises. We can increase productivity of our employees by continuously raising their qualification and professional level while eliminating inefficient functions and reducing non-production losses. Despite the growing number of TMK’s entities, the average total headcount goes down.

	h4 TMK’S average headcount
	table.table_0701_1
		tr
			th
			th 2012
			th 2013
			th 2014
		tr.bold
			td AVERAGE TOTAL HEADCOUNT
			td 44 266
			td 44 025
			td 43 373
		tr
			td including:
			td
			td
			td
		tr
			td Russian Division
			td 39 569
			td 39 097
			td 38 473
		tr
			td European Division
			td 1 998
			td 2 019
			td 2 049
		tr
			td American Division
			td 2 699
			td 2 909
			td 2 851

	h3.mtb50 Employee compensation and incentives
	p In 2014, we continued improving our remuneration system to make it even more competitive and motivating. We went on implementing a bonus system based on the Management by Objectives (MBO) method at TMK’s plants. This system proved efficient at TMK’s enterprises since we began rolling it out in 2013.
	+quote_3("GRAPH 7.1", "Average wages and salaries at TMK", "2013-2014", "/ % vs 2012 /", "07/71/711.png", "")
	p In 2014, wages and salaries at TMK grew by an average of 15.1 % year-on-year. We compensated for inflation losses in the regions and countries where we operate and enabled the Company to live up to its commitments. Efficient headcount management helped us adjust our employees’ salaries for inflation without increasing the Company’s payroll.

	h3.cb Employee development and training
	p Modern pipe production sets even higher standards of employee qualifications and skills. To meet these standards, we keep improving our employees’ professional competencies systemically and systematically, developing and rolling out corporate training programmes. In 2014, TMK invested about USD 3.5 m in corporate training programmes, which enabled us to:
	ul
		li achieve the target of 70 % for training the Company’s top executives under the Efficient Manager Programme in line with TMK’s 2014 HR Strategy;
		li develop the TMK IPSCO Way remuneration and reward programme for employees of the American division, the programme relies on assessment of the expected results achievment and the analysis if performance quality exactly matches the requirements and parameters;
		li introduce a training course for a group of in-house business trainers to master the Six Sigma training programme designed to roll out quality management methods across the Group;
		li arrange about 200 internships for our employees to facilitate sharing best manufacturing practices between TMK’s facilities; more programmes were introduced and more facilities were invited to take part in the internship initiative.

	+quote_circle("left", "AWARD CEREMONY", "of winners of the tenth TMK Youth Scientific and Technical Conference", "07/71/712.jpg")
	p The Company actively participates in national educational programmes across Russia, developing Russian professional standards and WorldSkills Competitions:
	ul
		li we invested USD 5.5 m (82 % of the total investments in the programme) under the agreement between TMK and the Government of the Sverdlovsk Region for the construction of training grounds and development of vocational training programmes for the colleges in Polevskoy (the Seversky Tube Works) and KamenskUralsky (the Sinarsky Pipe Plant);
		li TMK’s working group drafted Russian professional standards to the following jobs essential for TMK: hot rolling mill operators, cold rolling mill operators and heat-treaters for rolled steel and pipe;
		li teams of the Sinarsky Pipe Plant, the Seversky Tube Works and TAGMET for the first time took part in the national WorldSkills Competition for staff holding qualifications widely required in high-tech industries.
		li the tenth TMK Youth Scientific and Technical Conference held by the Company and attended by recent graduates employed by TMK’s Russian, European and American divisions.

	p.cb We lay emphasis on developing our new employees’ professional skills and encouraging best graduates to start their career with TMK. TMK closely cooperates with universities located in the regions where TMK operates, including:
	+quote_circle("left", "THE STUDENTS OF THE MISIS UNIVERSITY — ", "participants of TMK’s scholarship program", "07/71/713.jpg")
	ul
		li the Ural Federal University named after B. N. Yeltsin, the first President of Russia (UrFU) and the National University of Science and Technology (MISiS) in Russia;
		li with the University Of Applied Sciences — Sohar (the Faculty of Engineering: Electrical and Information Technology), Shinas College of Technology (Engineering Faculty: Electrical and Mechanical Engineering), Sohar University (Engineering Faculty: Electrical and Mechanical Engineering) in the Middle East (Oman);
		li with the Massachusetts Institute of Technology, the Colorado School of Mines, the University of Oklahoma, the University of Pittsburgh, the University of Iowa, Missouri University of Science and Technology, Texas A&M and Texas Tech University in North America.

	p Since 2013, TMK has been awarding A. D. Deineko scholarship to top students of the Piping Engineering and Equipment Department of the MISiS University. The scholarship was established to encourage students to pursue a career in production and attract them to TMK’s facilities.

	h3.cb SOCIAL PARTNERSHIP
	p The Company’s sustainable and successful development relies heavily on social partnership, including cooperation with trade unions as well as participation in regional economic development and social programmes.
	p We take an active part in negotiating on new legislative initiatives and key provisions of the Branch Tariff Agreement as part of cooperation with the Russian Mining and Metallurgical Trade Union (GMPR), Russian Metallurgists Association (RASMET) and Russian Union of Industrialists and Entrepreneurs (RSPP). This cooperation enables us to balance the interests of the social partnership members.
	p In 2014, TMK IPSCO and the US United Steelworkers Union (USW) signed a collective bargaining agreement for its Ambridge and Koppel plants, while TMK-ARTROM entered into a new collective bargaining agreement for years 2015-2016 adjusted for the region’s economic development and based on the social partnership principles.
	p To promote health of its staff, the Company cofinances their recreation and treatment. In 2014, over 2,200 employees and members of their families spent their holiday at the Burgas Resort in Sochi and 450 employees received health resort treatment at the Westend Resort in the Czech Republic.
	p A total of 152 employees and members of their families visited the Sochi Winter Olympics in early 2014, and 51 employees were rewarded with a free trip to this spectacular sports event.
	+quote_circle("left", "A TOTAL OF 152 EMPLOYEES ", "and members of their families visited the Sochi Winter Olympics in early 2014", "07/71/714.jpg")
	p TMK attaches a great importance to the various forms of non-financial motivation, such as corporate awards to the best employees as well as government and industry awards.
	p In 2014, 16 employees were conferred government awards, with 91 employees receiving industry awards, including 27 Honorary Metallurgist titles. A total of 286 employees were recognised with corporate awards, including Honorary TMK Employee title conferred to 54 employees, TMK badge of merit awarded to 29 employees and TMK Certificate of Merit presented to 203 employees.
	p In the reporting period, TMK conferred Badges and Certificates for Business Cooperation with TMK to 32 employees of its partners, including technological solution providers, transport and media companies in recognition of their active participation in promoting stable, reliable and mutually beneficial relationship with the Company.

