extends ../../layouts/english

block head
	- pageTitle = 'Occupational safety';

block recommend
	- pageId = '0702';
	- recommend_lang = lang;

block content
	p.excerpt TMK’s occupational safety policy  promotes health and safety of the Company’s employees, mitigates risks of emergencies which might have an adverse effect on the employees’ health and occupational safety.
	p TMK complies with any applicable laws and international health and safety standards.
	p Our occupational safety and health management systems are OHSAS 18001 certified, and their efficiency is acknowledged by annuals audits conducted by the world’s leading audit firms, such as Bureau Veritas Certification, SAI Global and Lloyd’s Register.
	p Pursuant to the amendments to the occupational safety laws of the Russian Federation effective since 1 January 2014, we have worked out and begun deploying a phased implementation plan for a new occupational safety system providing for a Special Health and Safety Assessment and ensuring guarantees and benefits for employees in accordance with the amended law.
	p We strive to continuously improve working conditions, with our facilities enjoying a stable low rate of workplace injuries and occupational diseases. In 2014, we invested over USD 28 m in occupational health and safety initiatives. Our key focus is on prevention of accidents and emergencies, including:
	ul
		li planning measures to ensure occupational health by eliminating adverse factors and preventing occupational diseases;
		li reducing the number of hazardous and harmful operational factors;
		li training personnel to comply with health and safety rules and meet strict requirements for personal responsibility with further certification.
	p In 2014, TMK’s Russian plants received the following awards for health and safety excellence:
	ul
		li the Sinarsky Pipe Plant became the winner in the category of the Occupational Health and Safe Working Environment of the Mining and Metallurgical Enterprise of High Social Efficiency, a Russian industry contest;
		li the Seversky Tube Works ranked second in the industrial standards and occupational health and safety contest held in the Sverdlovsk Region.

	p In 2014, TMK IPSCO facilities demonstrated excellent industrial safety performance:
	ul
		li Blytheville and Koppel logged 2.4 m man hours without an accident leading to disability;
		li Ambridge and Brookfield were recognised the best in class in terms of accident rate and operating safety;
		li Baytown and Odessa recorded a more than 70 % accidents reduction coupled with a 22 % increase in output;
		li Geneva enjoys eight years without any reportable accidents;
		li Houston ULTRA sees a reduction in reportable accidents by more than 70 %.
