extends ../../layouts/english

block head
	- pageTitle = 'Environmental management';

block recommend
	- pageId = '0703';
	- recommend_lang = lang;

block content
	p.excerpt Pursuant to TMK’s environmental policy  aimed at maintaining environmental safety of the rapidly growing production, our efforts during the year were traditionally focused on improving the environmental efficiency of production processes and reducing water consumption.
	+img('07/73/731.jpg').left
	p In its operations, TMK follows international environmental protection initiatives and treaties and complies with national environmental standards and regulations. We continue focusing on systemic environmental activities. Eleven plants of the Company have been ISO 14001:2004 certified (Environmental Management System standard). International auditors once again confirmed continuous improvement of environmental management in the reporting period.

	h3.cb ENVIRONMENTAL INVESTMENTS: TRANSITION TO THE BEST AVAILABLE TECHNOLOGIES
	p Environmental issues are an essential component of all strategic documents of the Company, including the Strategic Investment Programme in effect. In 2014, TMK invested USD 20.8 m in a range of initiatives designed to ensure legal compliance and environmental protection, such as reducing pollutant emissions, noise level and waste water disposal as well as improving waste management and soil reclamation.
	p Key activities and results:
	ul
		li the Seversky Tube Works completed a modern gas cleaning system and a treatment facility for the continuous rolling mill;
		li TAGMET commissioned a highly efficient gas cleaning system for the EAFs;
		li the Volzhsky Pipe Plant reconstructed the conditionally clean water discharge pipeline of the storm water pumping drainage system and eliminated leakages;
		li the Sinarsky Pipe Plant completed a local water recycling system for its gas processing shop.

	h3 EMISSIONS CONTROL
	+quote_3("GRAPH 7.2", "Water intake from surface water bodies at TMK ", "2012-2014", "/ mcm /", "07/73/732.png", "")
	p We use advanced technologies ensuring a high-degree treatment of industrial emissions to reduce negative impact on the atmosphere. Measures in this area are annual, including routine maintenance and overhaul of treatment facilities to improve the efficiency of gas cleaning, which helps the Company meet the approved standards. The total atmospheric emissions control expenses were USD 6.4 m. In 2014, the treatment facilities of TMK’s Russian Division captured and neutralised 1.7 times more pollutants year-on-year.
	p.cb Key activities and results:
	ul
		li the Volzhsky Pipe Plant ensured a continuous operation of the gas cleaning system for EAF-150 and replaced 8,100 bag filters;
		li TAGMET eliminated 48 pollution sources as part of an upgrade programme;
		li Koppel (TMK’s American division) rehabilitated its dust control system.

	h3.cb WATER MANAGEMENT
	+quote_3("GRAPH 7.3", "Industrial water consumption at TMK ", "2012-2014", "/ mcm /", "07/73/733.png", "")
	p Pursuant to TMK’s Environmental Policy, the Company’s water management strategy focuses on reducing water consumption and mitigating negative impact on water bodies. TMK’s plants are implementing an integrated approach to water resource management, which, over time, results in optimised consumption, distribution and sustainable use of water and reduced sewage. A recycling water supply system is essential for any of TMK’s new, upgraded or reconstructed facilities.
	p.cb In 2014, consistent water management activities enabled TMK to reduce (year-on-year):
	ul
		li water intake from surface water bodies by 8 %
		li industrial water consumption by 6.3 %
		li concentration of pollutants in industrial effluents discharged to open water bodies by 1.6 %
		li waste water by 3.6 %
		li the share of recycling water supply amounted to 95.28 %

	p Key activities and results:
	ul
		li the Sinarsky Pipe Plant took actions to minimise losses of water during transportation, which enabled the plant to reduce water consumption by 339 thousand cu m (3.3 %);
		li TAGMET installed a recycling water supply system for the EAF. This increased water volume in the recycling water supply systems by 8.5 %;
		li the Volzhsky Pipe Plant cleaned waste water pits at ENTs-2 (energy shop) and the scale pit of the recycling water supply system of SR-9 TPTs-3 (tube rolling shop), reducing the level of oil sediment in the conditionally clean water discharge;
		li the Seversky Tube Works reconstructed its aeration and biological treatment station and repaired the aeration tank;
		li the Sinarsky Pipe Plant cleaned the settling pond at the Iset River;
		li TAGMET repaired and cleaned the water intake screens of the Beregovaya pumping station and fish protection systems;
		li the Orsky Machine Building Plant cleaned waste water wells, pipelines of the plant’s waste water discharge system;
		li Houston ULTRA (TMK’s American division) completed upgrading its household waste water treatment facilities.

	+quote_3("GRAPH 7.4", "Waste water discharged  into water bodies  and to waste water collectors", "2012-2014", "/ mcm /", "07/73/734.png", "")
	+quote_3("GRAPH 7.5", "Share of recycling water supply at TMK ", "2012-2014", "/ % /", "07/73/735.png", "")

	h3.cb WASTE MANAGEMENT
	p In line with its environmental policy, TMK implements initiatives to reduce, recycle, reuse and neutralise waste and reduce its disposal, as well as land reclamation initiatives.
	p Key results of TMK’s consistent environmental activities in 2014:
	ul
		li total waste decreased by 7.5 %;
		li only 6.8 % of the total waste was positioned in the designated facilities, which clearly demonstrates high efficiency of TMK’s waste management strategy;
		li 1.8 million tonnes was recycled;
		li recycled waste utilisation by TMK’s facilities went up by 30 %;
		li sales of waste as a raw material to other industries increased 4.2 times.

	p Throughout the reporting period, we continued recycling previously accumulated waste. In 2012-2014, TMK recycled more than 1.4 mt of accumulated waste.
	p A total of USD 8.4 m was spent to minimise the impact of waste on the environment.
	p TMK’s land protection expenses, including land reclamation, amounted to USD 1.29 m.
	+quote_3("GRAPH 7.6", "Reuse of industrial  waste at TMK", "2012-2014", "/ thousand tonnes /", "07/73/736.png", "")
	p Activities and results:
	ul
		li the Volzhsky Pipe Plant commissioned and registered a new landfill site;
		li the Seversky Tube Works constructed a site for processing oily scale for sales;
		li the Sinarsky Pipe Plant reclaimed basins 2 and 3 of its sludge collector and industrial waste landfill;
		li TMK-ARTROM increased reusing recycled paper by 30 %;
		li TMK IPSCO implemented an enterprise-wide waste reporting and management information system.
