extends ../../layouts/english

block head
	- pageTitle = 'Sponsorship and charity';

block recommend
	- pageId = '0704';
	- recommend_lang = lang;

block content
	p.excerpt Through sponsorship and charity,  TMK seeks to foster a favourable social climate and to create an environment for sustainable development of the regions hosting our plants.
	p TMK implements its Russian charity projects via the Sinara Charity Foundation, a professional operator. In 2014, 122 non-profit organisations benefited from the Company’s financial support, with 33 of them winning various grant competitions. The Foundation has improved of project methods of career advising to attract students to be employed as engineers and workers: Tochka Opory (Foothold), a series of interactive events, including creative contests, a series of on-site natural science lectures and Bilet v Professiyu (Ticket to Vocation) television reality show were arranged for teenagers; a number of classrooms were equipped to host scientific and technical educational programmes for children and youth.
	p In 2014, as a trustee of the ISTOKI Endowment Fund, TMK supported Svyatost Materinstva (The Sanctity of Maternity), a nation-wide programme aimed at promoting family values in 21 Russian regions.
	p We take part in financing charity campaigns to support vulnerable social groups, such as veterans and disabled children. In 2014, TMK rendered financial support to social, medical, educational, cultural and children sports institutions, including the Taganrog orphanage and infant care center and the Volzhsky nursery school for children with special needs and the Volzhsky rehab center for disabled children.
	p To promote sports values, TMK renders sponsorship to the Russian Ski-Jumping and Nordic Combined Federation, the Russian Olympians Foundation and a number of professional sports clubs in the regions where TMK operates, including:
	ul
		li the Ural Football Club of the Russian Premier League, based in Yekaterinburg;
		li the Sinara Mini-Football Club, based in Yekaterinburg, a two-times Russian champion;
		li the Dinamo Women’s Handball Club, based in Volgograd, a twelve-times Russian champion;
		li the TMK-TAGMET Tennis Club based in Taganrog; and
		li the Sinara Rifle Club in Kamensk-Uralsky.

	p We also sponsor amateur teams representing TMK’s entities competing in various sports, including children’s and youth sports.
	p TMK’s American Division was a major corporate sponsor for the Age of Impressionism: Great French Paintings from the Sterling and Francine Clark Art Institute, an exhibition hosted by the Houston Museum of Fine Arts from December 2013 to May 2014. The exhibition ran for five months and was visited by over 75 thousand people. On top of that, the Company sponsored an art educational programme for 1,000 primary school students. TMK IPSCO’s employees and members of their families take an active part in sponsoring local communities, collecting Christmas presents and food for economically disadvantaged families and supporting disabled children.
	p In 2014, TMK’s European Division became the general sponsor of a series of events to mark 100th anniversary of Nikolas II’s last visit to Romania. The National Historic Museum of Romania in Bucharest hosted an exhibition bringing together unique video materials and photographs from St Petersburg’s state archives. The exhibits were used to create photo albums telling the reader a story of the Russian-Romanian relations of those times.
	p TMK GIPI sponsors Al Wafa volunteer center (Oman) holding charity events to support economically disadvantaged people. TMK GIPI also supports educational institutions, including primary schools in Sohar and Liwa, and provides scholarship to university graduates. Employees of TMK GIPI traditionally participate in blood donation campaigns in support of cancer and HIV sufferers.
