extends ../../layouts/english

block head
	- pageTitle = 'MD&A';

block recommend
	- pageId = '08';
	- recommend_lang = lang;

block content
	+img('08/08.jpg').inner_cover
	p.excerpt The following review of our financial position and results of operations is based on, and should be read in conjunction with, our consolidated financial statements and related notes for the year ended 31 December 2014.
	p.excerpt Certain information, including our forecasts and strategy, contains forwardlooking statements and is subject to risks and uncertainties, domestically and internationally. In assessing these forward-looking statements, readers should consider various risk factors as the company’s actual results may differ materially from the expected results discussed in this report.

	+quote_2("ROUNDING<br> Certain monetary amounts, percentages and other figures included in this report are subject to rounding adjustments. On occasion, therefore, amounts shown in tables may not be the arithmetic accumulation of the figures that precede them, and figures expressed as percentages in the text and in tables may not total 100 percent. Changes for periods between monetary amounts are calculated based on the amounts in thousands of U.S. dollars stated in our consolidated financial statements, and then rounded to the nearest million or percent.", "")
