extends ../../layouts/english

block head
	- pageTitle = 'Executive overview';

block recommend
	- pageId = '0801';
	- recommend_lang = lang;

block content
	p.excerpt We are one of the world’s leading producers of steel pipes for the oil and gas industry, a global company with extensive network of production facilities, sales companies and representative offices.
	p The principal activities of our company are the production and distribution of seamless and welded pipes, including pipes with the entire range of premium connections backed by extensive technical support.
	+quote_blue_revert("left", "In 2014 sales of seamless  and welded OCTG  increased", "by 7% YoY")
	p Our plants produce almost the entire range of existing pipes used in the oil-and-gas sector, the chemical and petrochemical industries, energy and machine-building, construction and municipal housing, shipbuilding, aviation and aerospace, and agriculture.
	p.cb We created an up-to date technological complex based on advanced scientific research, manufacturing high-quality competitive products.
	p Our operations are geographically diversified with manufacturing facilities in Russia, the United States, Canada, Romania, Kazakhstan and the Sultanate of Oman. We operate R&D centers in Russia and the U.S. Our global market presence is supported by a wide distribution network. In 2014, we delivered 59% of our tubular products to our customers located in Russia and 28% in North America. We estimate our share on global market of seamless OCTG at 10%.
	p We are the largest exporter of pipes in Russia. Exports of pipes produced by our Russian plants accounted for 14% of our total sales in 2014.
	p In 2014, we sold 4,402 thousand tonnes of steel pipes. Seamless pipes comprised 58% of our sales volumes. Sales of seamless and welded OCTG reached 1,948 thousand tonnes, a 7% year-on-year increase, sales of LD pipe grew by 6% year-on-year to 468 thousand tonnes.
	p Our total consolidated revenue decreased by 7% to $6,009 million as compared to 2013. Adjusted EBITDA  declined to $804 million as compared to $952 million in the previous year. Adjusted EBITDA* margin decreased to 13% from 15% in 2013.
	+quote_2("*  Adjusted EBITDA —  See «Selected financial data»", "")
