extends ../../layouts/english

block head
	- pageTitle = 'Business structure';

block recommend
	- pageId = '0802';
	- recommend_lang = lang;

block content
	p Our operating segments reflect TMK’s management structure and the way financial information is regularly reviewed. For management purposes, TMK is organised into business divisions based on geographical location and has three reporting segments:
	ul
		li
			b.orange RUSSIAN DIVISION:
			br
			| manufacturing facilities located in the Russian Federation, Kazakhstan and the Sultanate of Oman, and oilfield service companies and trading companies in Russia, Kazakhstan, Switzerland, the United Arab Emirates and South Africa. The Russian division is engaged in the production and supply of seamless and welded pipe, premium products and the provision of related services to oil and gas companies;
		li
			b.orange AMERICAN DIVISION:
			br
			| manufacturing facilities and trading companies located in the United States and Canada. The American division is engaged in the production and supply of seamless and welded pipe and premium products, including ULTRA™ connections and the provision of related services to oil and gas companies;
		li
			b.orange EUROPEAN DIVISION:
			br
			| manufacturing facilities located in Romania and trading companies located in Italy and Germany. The European division is engaged in the production and supply of seamless pipe and steel billets.

