extends ../../layouts/english

block head
	- pageTitle = 'Year ended 31 december 2014 results';

block recommend
	- pageId = '0803';
	- recommend_lang = lang;

block content
	h3 RESULTS OF OPERATIONS
	p In 2014, our sales volumes slightly increased, however our main financial indicators decreased year-on-year.

	table.table_0803_1
		tr
			th
			th 2014
			th 2013
			th Change
		tr
			td
			td in million dollars
			td in million dollars
			td
		tr
			td Sales volume (in thousand tonnes)
			td 4 402
			td 4 287
			td 115
		tr
			td Revenue
			td 6 009
			td 6 432
			td (423)
		tr
			td Cost of sales
			td (4 839)
			td (5 074)
			td 235
		tr.bold
			td GROSS PROFIT
			td 1 169
			td 1 358
			td (188)
		tr
			td Gross profit MARGIN
			td 19 %
			td 21 %
			td
		tr
			td Net operating expenses
				sup *
			td (693)
			td (754)
			td 61
		tr
			td (Impairment) / Reversal of impairment of assets
			td (153)
			td (5)
			td (147)
		tr
			td Foreign exchange gain/(loss), net
			td (301)
			td (49)
			td (252)
		tr
			td (Loss)/gain on changes in fair value of derivative financial instrument
			td 2
			td 8
			td (6)
		tr
			td FINANCE COSTS, NET
			td (226)
			td (245)
			td 19
		tr.bold
			td Income before tax
			td (201)
			td 312
			td (514)
		tr
			td Income tax expense
			td (15)
			td (98)
			td 83
		tr.bold
			td NET INCOME
			td (217)
			td 215
			td (431)
		tr
			td NET INCOME MARGIN
			td (4) %
			td 3 %
			td
		tr
			td ADJUSTED EBITDA
			td 804
			td 952
			td (148)
		tr
			td ADJUSTED EBITDA MARGIN
			td 13 %
			td 15 %
			td

	+quote_2("*  Net operating expenses include selling and distribution, general and administrative, advertising and promotion, research and development, share of profit in associate, gain on disposal of subsidiary and net other operating income/ (expense).", "")

	h3 SALES
	p In 2014, our consolidated revenue decreased by $423 million or 7% as a result of a negative currency translation effect* in the amount of $790 million. Excluding this effect our revenue increased by $367 million year-on-year.
	+quote_2("*  The currency translation effect on income/expense items illustrates the influence of different exchange rates we use to convert these items from functional currencies into the presentation currency, the U.S. dollar, in different reporting periods for financial reporting purposes.", "")

	h4 Sales by reporting segments are as follows:
	table.table_0803_2
		tr
			th
			th 2014
			th 2013
			th Change
			th Change
		tr
			td
			td in million dollars
			td in million dollars
			td  in %
			td  in %
		tr
			td Russia
			td 3 973
			td 4 483
			td (510)
			td (11) %
		tr
			td America
			td 1 766
			td 1 665
			td 102
			td 6 %
		tr
			td Europe
			td 270
			td 284
			td (15)
			td (5) %
		tr.bold
			td TOTAL REVENUE
			td 6 009
			td 6 432
			td (423)
			td (7) %

	table.table_0803_3
		tr
			th
			th 2014
			th 2013
			th Change
			th Change
		tr
			td
			td in thousand tonnes
			td in thousand tonnes
			td  in %
			td  in %
		tr
			td Russia
			td 3 198
			td 3 085
			td 113
			td 4 %
		tr
			td America
			td 1 019
			td 1 027
			td (8)
			td (1) %
		tr
			td Europe
			td 185
			td 175
			td 9
			td 5 %
		tr.bold
			td TOTAL PIPE
			td 4 402
			td 4 287
			td 115
			td 3 %

	h4.mtb50 SALES BY GROUP OF PRODUCTS ARE AS FOLLOWS:
	table.table_0803_4
		tr
			th
			th 2014
			th 2013
			th Change
			th Change
		tr
			td
			td in million dollars
			td in million dollars
			td  in %
			td  in %
		tr
			td Seamless pipe
			td 3 748
			td 3 960
			td (211)
			td (5) %
		tr
			td Welded pipe
			td 1 998
			td 2 201
			td (202)
			td (9) %
		tr.bold
			td TOTAL PIPE
			td 5 747
			td 6 160
			td (413)
			td (7) %
		tr
			td Other operations
			td 262
			td 272
			td (10)
			td (4) %
		tr.bold
			td TOTAL REVENUE
			td 6 009
			td 6 432
			td (423)
			td (7) %

	table.table_0803_5
		tr
			th
			th 2014
			th 2013
			th Change
			th Change
		tr
			td
			td in thousand tonnes
			td in thousand tonnes
			td  in %
			td  in %
		tr
			td Seamless pipe
			td 2 560
			td 2 422
			td 138
			td 6 %
		tr
			td Welded pipe
			td 1 842
			td 1 866
			td (23)
			td (1) %
		tr.bold
			td TOTAL PIPE
			td 4 402
			td 4 287
			td 115
			td 3 %


	h4.mtb50 RUSSIA.
	p The division’s revenue decreased by $510 million or 11% year-on-year as a result of a negative currency translation effect in the amount of $788 million. Excluding this effect revenue increased by $278 million.
	p Revenue from sales of seamless pipe increased by $141 million mainly due to higher sales volumes of line pipe and OCTG.
	+quote_blue("left", "by $141 million", "increased revenue from sales of seamless pipe")
	p Revenue from sales of welded pipe grew by $83 million due to higher sales volumes of large diameter pipe also resulted in a better product mix.
	p Revenue from other operations increased by $53 million reflecting a significant growth in billets sales.

	h4 AMERICA.
	p In the American division, revenue increased by $102 million or 6% year-on-year.
	p Revenue from sales of seamless pipe increased by $141 million as a result of higher OCTG sales volumes, including a significant growth in sales of pipes, produced by our Russian plants, and better pricing environment.
	p Revenue from sales of welded pipe fell by $38 million mainly due to lower sales volumes, which was not fully compensated by better sales mix.
	p Revenue from other operations decreased by $2 million.

	h4 EUROPE.
	p In the European division revenue decreased by $15 million or 5% year-on-year, primarily on a significant decline in billets sales. Unfavourable currency translation effect amounted to $3 million.
	p Revenue from sales of seamless pipe increased by $17 million as compared to the last year mostly as a result of higher sales volumes.
	p Revenue from other operations, mostly from billets sales, declined by $29 million as compared to previous year following lower sales volumes.

	h3.mtb50 GROSS PROFIT
	p In 2014, our consolidated gross profit decreased by $188 million or 14% year-on-year and amounted to $1,169 million. The unfavourable currency translation effect was $178 million. Gross profit margin decreased to 19% from 21% in the previous year.

	h4 GROSS PROFIT RESULTS BY REPORTING SEGMENTS ARE AS FOLLOWS:

	table.table_0803_6
		tr
			th
			th 2014
			th 2014
			th 2013
			th 2013
			th Change
		tr
			td
			td in million dollars
			td in % to revenue
			td in million dollars
			td in % to revenue
			td in million dollars
		tr
			td Russia
			td 891
			td 22 %
			td 1 092
			td 24 %
			td (201)
		tr
			td America
			td  223
			td 13 %
			td 212
			td 13 %
			td 12
		tr
			td Europe
			td 55
			td 21 %
			td 54
			td 19 %
			td 1
		tr.bold
			td TOTAL GROSS PROFIT
			td 1 169
			td 19 %
			td 1 358
			td 21 %
			td (188)

	h4.mtb50 GROSS PROFIT RESULTS BY GROUP OF PRODUCTS ARE AS FOLLOWS:
	table.table_0803_7
		tr
			th
			th 2014
			th 2014
			th 2013
			th 2013
			th Change
		tr
			td
			td in million dollars
			td in % to revenue
			td in million dollars
			td in % to revenue
			td in million dollars
		tr
			td Seamless pipe
			td 907
			td 24 %
			td 1 077
			td 27 %
			td (170)
		tr
			td Welded pipe
			td 239
			td 12 %
			td 246
			td 11 %
			td (7)
		tr.bold
			td TOTAL PIPE
			td 1 146
			td 20 %
			td 1 323
			td 21 %
			td (176)
		tr
			td Other operations
			td 23
			td 9 %
			td 35
			td 13 %
			td (12)
		tr.bold
			td TOTAL GROSS PROFIT
			td 1 169
			td 19 %
			td 1 358
			td 21 %
			td (188)

	h4.mtb50 RUSSIA.
	p The division’s gross profit decreased by $201 million mostly as a result of a negative currency translation effect in the amount of $178 million. Gross profit margin decreased from 24% to 22%.
	p A negative effect of higher raw material prices was not compensated by the favourable effect of higher sales volumes and resulted in a $81 million decrease in gross profit of seamless pipe.
	p Gross profit of welded pipe increased by $60 million due to favourable sales mix following higher LD share in sales volumes.
	p Gross profit from other operations decreased by $2 million.

	h4 AMERICA.
	p The American division’s gross profit increased by $12 million as compared to 2013. Gross profit margin remained almost flat at 13%.
	p Gross profit from seamless pipe sales grew by $41 million as a result of higher OCTG sales volumes.
	p Higher raw material prices and lower sales volumes resulted in a $20 million decrease in gross profit of welded pipe.
	p Gross profit from other operations decreased by $9 million.

	h4 EUROPE.
	p Gross profit in the European division increased by $1 million. Gross profit margin grew from 19% to 21% as a result of higher seamless pipe share in total sales volume.


	h3.mtb50 NET OPERATING EXPENSES
	p Net operating expenses were lower by $61 million or 8% due to a negative currency translation effect. The share of net operating expenses, expressed as a percentage of revenue, stayed almost flat at 12%.

	h3 ADJUSTED EBITDA
	p In 2014, adjusted EBITDA margin decreased to 13% from 15% in the previous year.

	table.table_0803_8
		tr
			th
			th 2014
			th 2014
			th 2013
			th 2013
			th Change
		tr
			td
			td in million dollars
			td in % to revenue
			td in million dollars
			td in % to revenue
			td in million dollars
		tr
			td Russia
			td 614
			td 15 %
			td 776
			td 17 %
			td (162)
		tr
			td America
			td 159
			td 9 %
			td 145
			td 9 %
			td 14
		tr
			td Europe
			td 32
			td 12 %
			td 31
			td 11 %
			td 1
		tr.bold
			td TOTAL ADJUSTED EBITDA
			td 804
			td 13 %
			td 952
			td 15 %
			td (148)

	h4.mtb50 RUSSIA.
	p Adjusted EBITDA was lower by $162 million or 21%. Gross profit decrease was partly compensated by decrease in selling, general and administrative expenses. Adjusted EBITDA margin decreased from 17% to 15%.

	h4 AMERICA.
	p Adjusted EBITDA increased by $14 million or 10% as a result of higher gross profit and lower selling, general and administrative expenses and other operating expenses. Adjusted EBITDA margin stayed almost flat at 9%.

	h4 EUROPE.
	p Adjusted EBITDA stayed almost flat as compared to 2013. Adjusted EBITDA margin improved from 11% to 12%.

	+quote_3("GRAPH 8.1", "Our quarterly Adjusted EBITDA in 2014 by operating segment was as follows:", "", "/ USD m /", "08/83/831_en.png", "")

	h3 IMPAIRMENT OF ASSETS
	p We tested our assets for impairment during the year. As at December 31, 2014, we recognised the impairment loss of $153 million, which mostly related to impairment of American division goodwill. In 2013, the impairment loss was $5 million.

	h3 FOREIGN EXCHANGE MOVEMENTS
	p In 2014, we recorded a foreign exchange loss in the amount of $301 million as compared to a $49 million loss in 2013. In addition, we recognised a foreign exchange loss from exchange rate fluctuations in the amount of $482 million (net of income tax) in 2014 as compared to a $65 million loss (net of income tax) in 2013 in the statement of other comprehensive income. The amount in the statement of comprehensive income represents the effective portion of foreign exchange gains or losses on our hedging instruments.

	h3 NET FINANCE COSTS
	p Net finance costs decreased $19 million or 8% mainly following lower interest expense influenced by the depreciation of the Rouble against the U.S. dollar. The weighted average nominal interest rate was 7.26% as of 31 December 2014 as compared to 6.72% as of 31 December 2013.

	h3 INCOME TAX
	p TMK, as a global company with production facilities and trading companies located in Russia, the CIS, the United States, and Europe, is exposed to local taxes charged to businesses. In 2013 and 2014, the following corporate income tax rates were in force in the countries where our production facilities are located: 20% in Russia, 35% (federal rate) in the United States and 16% in Romania.
	p In 2014, a pre-tax loss of $201 million was reported as compared to $312 million pre-tax income in 2013. Income tax expense of $15 million was recognised as compared to $98 million in 2013.

	h3 CASH FLOWS
	h4 THE FOLLOWING TABLE ILLUSTRATES OUR CASH FLOWS:

	table.table_0803_9
		tr
			th
			th 2014
			th 2013
			th Change
		tr
			td
			td in million dollars
			td in million dollars
			td
		tr.bold
			td NET CASH PROVIDED BY OPERATING ACTIVITIES
			td 595
			td 703
			td (109)
		tr
			td Payments for property and equipment
			td (293)
			td (397)
			td 104
		tr
			td Acquisition of subsidiaries
			td (60)
			td (38)
			td (21)
		tr
			td Dividends received
			td 0
			td 3
			td (3)
		tr
			td Other investments
			td 10
			td 9
			td 1
		tr.bold
			td FREE CASH FLOW
			td 252
			td 280
			td (28)
		tr
			td Change in loans
			td 154
			td (93)
			td 247
		tr
			td Interest paid
			td (251)
			td (254)
			td 3
		tr
			td Other financial activities
			td 95
			td (3)
			td 98
		tr.bold
			td FREE CASH FLOW TO EQUITY
			td 251
			td (70)
			td 320
		tr
			td Dividends paid
			td (51)
			td (57)
			td 6
		tr
			td Effect of exchange rate changes
			td (40)
			td (5)
			td (35)
		tr
			td Cash and cash equivalents at the beginning of period
			td 93
			td 225
			td (132)
		tr
			td Cash and cash equivalents at period end
			td 253
			td 93
			td 160

	p Net cash flows provided by operating activities decreased by 15% to $595 million from $703 million in 2013, mainly due to a decline in operating profit. In 2014, working capital increase stayed almost flat at $159 million.
	p Net proceeds of borrowings totalled $154 million as compared to $93 million of net repayment of borrowings in 2013.
	p Significant growth in other financial activities was caused by proceeds from issue of share capital in December, 2014.
	p Cash spent for acquisition of subsidiaries in 2014 relates to the advance payment for ChermetServisSnabzhenie, one of the leaders in the Russian steel scrap market. Cash spent for acquisition of subsidiaries in 2013 relates primarily to the acquisition of Pipe Services and Precision Manufacturing Business in the U.S. and final payment for 55% of the voting shares of Gulf International Pipe Industry LLC, a company based in the Sultanate of Oman and specialising in the manufacturing of welded steel pipes.
	p In 2014, we paid a full year dividend in respect of 2013 in the total amount of $47 million to the shareholders of OAO TMK. In 2013, we paid a full year dividend in respect of 2012 in the total amount of $53 million to the shareholders of OAO TMK.  We paid dividends in the amount of $4 million to our non-controlling interest owners in 2014 and 2013.
	p Cash and cash equivalents at the end of the period showed a significant growth and amounted to $253 million as compared to $93 million at the end of 2013.


	h3 INDEBTEDNESS
	h4 THE FOLLOWING TABLE ILLUSTRATES THE MATURITY PROFILE OF OUR TOTAL FINANCIAL DEBT:

	table.table_0803_10
		tr
			th
			th 1 year or less
			th  1 to 3 years
			th  Over 3 years
			th Unamortised debt issue costs
			th Total debt
		tr
			td
			td(colspan=4) (in millions of U.S. dollars )
			td
		tr
			td As of 31 December 2014
			td 765
			td 1 173
			td 1 294
			td (9)
			td 3 223
		tr
			td As of 31 December 2013
			td 399
			td 1 471
			td 1 837
			td (12)
			td 3 694

	p Our overall financial debt decreased from $3,694 million as of 31 December 2013 to $3,223 million as of 31 December 2014 influenced by the depreciation of the Rouble against the U.S. dollar. Net proceed of borrowings in 2014 was $154 million. Our net debt decreased to $2,969 million as compared to $3,600 million as of 31 December 2013.
	p As of 31 December 2014, our debt portfolio comprised diversified debt instruments, including bank loans, bonds, convertible bonds and other credit facilities. As of 31 December 2014, the U.S. dollar-denominated portion of our debt represented 67%, Rouble-denominated portion of debt represented 30%, euro-denominated portion of debt represented 3% of our total debt.
	p The share of our short-term debt increased to 24% as of 31 December 2014 compared to 11% as of 31 December 2013 as our convertible bonds matured in February 2015.
	p As of 31 December 2014, our debt portfolio comprised fixed and floating interest rate debt facilities. Borrowings with a floating interest rate represented $461 million or 15% of total debt, and borrowings with a fixed interest rate represented $2,709 million or 85% of our total debt.
	p As of 31 December of 2014, our weighted average nominal interest rate was 7.26%, which was a 54 basis point increase compared to 31 December 2013.


	h4 OUR MOST SIGNIFICANT CREDIT FACILITIES AS OF 31 DECEMBER 2014 WERE AS FOLLOWS:

	table.table_0803_11
		tr
			th Type  of borrowing
			th Bank
			th Original  currency
			th Outstanding principal amount
			th Maturity  period
		tr
			td
			td
			td
			td (in millions of U.S. dollars)
			td
		tr
			td 7,75 % bonds
			td
			td USD
			td 500
			td January 2018
		tr
			td 6,75 % bonds
			td
			td USD
			td 500
			td  April 2020
		tr
			td Loan
			td Gazprombank
			td USD
			td 400
			td  June 2017
		tr
			td 5,25 %  convertible bonds
			td
			td USD
			td 311
			td February 2015
		tr
			td Loan
			td  Sberbank of Russia
			td RUR
			td 231
			td December 2016
		tr
			td Loan
			td Nordea Bank
			td USD
			td 160
			td January 2017
		tr
			td Loan
			td Gazprombank
			td RUR
			td 160
			td March 2019
		tr
			td Loan
			td Wells Fargo
			td USD
			td 128
			td August 2016
		tr
			td Loan
			td Sberbank of Russia
			td RUR
			td 107
			td July 2015
		tr
			td Loan
			td VTB
			td RUR
			td 89
			td November  2015
		tr.bold
			td
			td
			td
			td 2 585
			td
		tr
			td Other credit facilities
			td
			td
			td 563
			td
		tr.bold
			td TOTAL LOANS AND BORROWINGS
			td
			td
			td 3 148
			td

