extends ../../layouts/english

block head
	- pageTitle = 'Capital expenditure';

block recommend
	- pageId = '0804';
	- recommend_lang = lang;

block content
	p Throughout 2014, we continued our capital expenditure projects, which are focused on increasing our share of high value-added products, enhancing our production capacity for premium products, and reducing unit costs.

	table.table_0804_1
		tr
			th
			th 2014
			th 2013
			th Change
			th Change
		tr
			td
			td in millions dollars
			td in millions dollars
			td
			td in %
		tr
			td Russia
			td 293
			td 450
			td (157)
			td (35) %
		tr
			td America
			td 41
			td 44
			td (3)
			td (7) %
		tr
			td Europe
			td 17
			td 22
			td (5)
			td (21) %
		tr.bold
			td CAPITAL EXPENDITURE
			td 351
			td 516
			td (165)
			td (32) %

	p Our key projects are the following:
	ul
		li construction of a new Fine Quality Mill (“FQM”) at STZ: main equipment of the mill was commissioned in the 4th quarter of 2014, currently the construction and commissioning of auxiliary facilities are continued;
		li implementation of complex Pipe Rolling Shop-3 development program at VTZ which aims to meet increasing customers’ requirements for product quality control and to increase the share of OCTG pipes with premium connections;
		li installation of the threading equipment and modern hydraulic press installation as a part of the program to improve the quality of OCTG at SinTZ;
		li completion of the main phase of the modernization of the production of seamless and welded pipes of stainless steels at ТМК-INOX;
		li organization of the site for the production of pipes for hydraulic cylinders on TMK-ARTROM as framework of development of production for mechanical engineering;
		li expanding finishing capacities at Koppel plant of TMKIPSCO, PA, including heat treatment capacity increase and installation of additional non-destructive testing equipment.
