extends ../../layouts/english

block head
	- pageTitle = 'Development trends';

block recommend
	- pageId = '0805';
	- recommend_lang = lang;

block content
	p In the first quarter of 2015, we observe a high utilization rate of our production facilities in Russia as a result of a seasonally stronger demand from the oil and gas majors and a higher pipeline construction activity. For the full year 2015, we expect the Russian pipe market to remain stable, largely due to a further growth of LD pipe market as a result of the commencement of Power of Siberia project, continued construction of Bovanenkovo-Ukhta, South Corridor and a number of other projects along with a substantial demand for maintenance needs of Gazprom and Transneft.
	p For the full year 2014, pipe imports in Russia fell by more than 20% year-on-year and we believe the market share of imported pipe will continue to decrease throughout 2015. This will enable us to substitute the majority of the imported products in the short-term and increase our pipe sales on the Russian market.
	p In the U.S., a drop of around 500 rigs since the beginning of 2015 led to a sharp decline in demand for OCTG, as companies adjust inventories to lower drilling activity. Assuming oil and gas prices recover from the current level, we expect to see a slight OCTG demand improvement during the second half of 2015, as companies begin to restock in anticipation of a recovery in oil and natural gas drilling activity. However, given excess of a domestic capacity and a stronger U.S. dollar, which favors imports, we expect pipe prices to remain under pressure throughout 2015. Outside of the energy industry, as the U.S. economy continues to expand, we expect to see an increase in demand for industrial products.
	p For the full year 2015, we expect the situation on the European pipe market to remain challenging due to lower end-users consumption and market overcapacity.
