extends ../../layouts/english

block head
	- pageTitle = 'Independent auditors’ report';

block recommend
	- pageId = '0901';
	- recommend_lang = lang;

block content
	+img('09/09.jpg').inner_cover

	p
		| To the shareholders and Board of Directors
		br
		| OAO TMK

	p.mtb50 We have audited the accompanying consolidated financial statements of OAO TMK and its subsidiaries (the Group), which comprise the consolidated statement of financial position as at December 31, 2014, and the consolidated income statement, consolidated statement of comprehensive income, consolidated statement of changes in equity and consolidated statement of cash flows for the year then ended, and a summary of significant accounting policies and other explanatory information.

	p.bold Management’s responsibility for the consolidated financial statements
	p Management is responsible for the preparation and fair presentation of these consolidated financial statements in accordance with International Financial Reporting Standards, and for such internal control as management determines is necessary to enable the preparation of consolidated financial statements that are free from material misstatement, whether due to fraud or error.

	p.bold Auditors’ responsibility
	p Our responsibility is to express an opinion on these consolidated financial statements based on our audit. We conducted our audit in accordance with International Standards on Auditing. Those standards require that we comply with ethical requirements and plan and perform the audit to obtain reasonable assurance about whether the financial statements are free from material misstatement.
	p An audit involves performing procedures to obtain audit evidence about the amounts and disclosures in the consolidated financial statements. The procedures selected depend on the auditor’s judgement, including the assessment of the risks of material misstatement of the consolidated financial statements, whether due to fraud or error. In making those risk assessments, the auditor considers internal control relevant to the entity’s preparation and fair presentation of the consolidated financial statements in order to design audit procedures that are appropriate in the circumstances, but not for the purpose of expressing an opinion on the effectiveness of the entity’s internal control. An audit also includes evaluating the appropriateness of accounting policies used and the reasonableness of accounting estimates made by management, as well as evaluating the overall presentation of the consolidated financial statements.
	p We believe that the audit evidence we have obtained is sufficient and appropriate to provide a basis for our audit opinion.

	p.bold Opinion
	p In our opinion, the consolidated financial statements present fairly, in all material respects, the financial position of the Group as at December 31, 2014, and its financial performance and cash flows for the year then ended in accordance with International Financial Reporting Standards.

	+img('09/91/signature.png')
	p.mtb50 March 4, 2015
	p Moscow, Russia
