extends ../../layouts/english

block head
	- pageTitle = 'Consolidated Income Statement for the year ended December 31, 2014';

block recommend
	- pageId = '0902';
	- recommend_lang = lang;

block content
	p
		i (All amounts in thousands of US dollars, unless specified otherwise)

	table.table_09.table_0902_1
		tr
			th
			th
			th.bold.bb2(colspan=2) Year ended December 31,
		tr
			td
			td.bold NOTES
			td.bold.bb2 2014
			td.bold.bb2 2013
		tr
			td Revenue:
			td 1
			td 6 008 946
			td 6 431 903
		tr
			td.pl
				i Sales of goods
			td
			td 5 921 889
			td 6 328 930
		tr
			td.pl
				i Rendering of services
			td
			td 87 057
			td 102 973
		tr
			td Cost of sales
			td 2
			td.bb1 (4 839 470)
			td.bb1 (5 074 311)
		tr.bold
			td Gross profit
			td
			td 1 169 476
			td 1 357 592
		tr
			td Selling and distribution expenses
			td 3
			td (349 949)
			td (379 205)
		tr
			td Advertising and promotion expenses
			td 4
			td (14 468)
			td (12 481)
		tr
			td General and administrative expenses
			td 5
			td (278 423)
			td (317 288)
		tr
			td Research and development expenses
			td 6
			td (15 214)
			td (12 733)
		tr
			td Other operating income
			td 7
			td 7 604
			td 17 779
		tr
			td Other operating expenses
			td 7
			td (42 958)
			td (52 101)
		tr
			td Impairment of goodwill
			td 17
			td (151 369)
			td (1 080)
		tr
			td Impairment of property, plant and equipment
			td 16
			td (1 135)
			td (4 243)
		tr
			td Foreign exchange loss, net
			td
			td (301 246)
			td (49 189)
		tr
			td Finance costs
			td
			td (232 685)
			td (252 247)
		tr
			td Finance income
			td
			td 6 641
			td 7 164
		tr
			td Gain on changes in fair value of derivative financial instruments
			td
			td 2 080
			td 8 377
		tr
			td Share of profit of assoсiates
			td 11
			td 273
			td 176
		tr
			td Gain on disposal of subsidiary
			td 10
			td.bb1 –
			td.bb1 1 862
		tr.bold
			td Profit/(loss) before tax
			td
			td (201 373)
			td 312 383
		tr
			td Income tax expense
			td 8
			td.bb1 (15 276)
			td.bb1 (97 843)
		tr.bold
			td Profit/(loss) for the period
			td
			td.bb2fff (216 649)
			td.bb2fff 214 540
		tr.bold
			td Attributable to:
			td
			td
			td
		tr
			td.pl Equity holders of the parent entity
			td
			td (215 559)
			td 213 929
		tr
			td.pl Non-controlling interests
			td
			td.bb1 (1 090)
			td.bb1 611
		tr.bold
			td(colspan=2)
			td.bb2fff (216 649)
			td.bb2fff 214 540
		tr.bold
			td Earnings/(loss) per share attributable to the equity holders of the parent entity, basic and diluted (in US dollars)
			td 9
			td (0,25)
			td 0,25

	p.mtb50
		i The accompanying notes are an integral part of these consolidated financial statements.
