extends ../../layouts/english

block head
	- pageTitle = 'Consolidated Statement of Comprehensive Income for the year ended December 31, 2014';

block recommend
	- pageId = '0903';
	- recommend_lang = lang;

block content
	p
		i (All amounts in thousands of US dollars)

	table.table_09.table_0903_1
		tr
			td
			td.bold NOTES
			td.bold.bb1 2014
			td.bold.bb1 2013
		tr.bold
			td Profit/(loss) for the period
			td
			td (216 649)
			td 214 540
		tr
			td
				i Items that may be reclassified subsequently to profit or loss:
			td
			td
			td
		tr
			td Exchange differences on translation to presentation currency
				sup (a)
			td
			td (246 350)
			td (50 160)
		tr
			td Foreign currency loss on hedged net investment in foreign operations
				sup (b)
			td 29 (viii)
			td (602 032)
			td (81 742)
		tr
			td Income tax
				sup (b)
			td 29 (viii)
			td.bb1 120 406
			td.bb1 16 348
		tr.bold
			td
			td
			td (481 626)
			td (65 394)
		tr
			td Movement on cash flow hedges
				sup (a)
			td 29 (ix)
			td 1 758
			td 546
		tr
			td Income tax
				sup (a)
			td 29 (ix)
			td.bb1 (406)
			td.bb1 (163)
		tr.bold
			td
			td
			td 1 352
			td 383
		tr
			td: i Items that may not bereclassified subsequently to profit or loss:
			td
			td
			td
		tr
			td Net actuarial gains
				sup (a)
			td 24
			td.bold 6 484
			td.bold 3 268
		tr.bold
			td Other comprehensive income/(loss) for the period, net of tax
			td
			td.bb1 (720 140)
			td.bb1 (111 903)
		tr.bold
			td Total comprehensive income/(loss) for the period, net of tax
			td
			td.bb2fff (936 789)
			td.bb2fff 102 637
		tr
			td.bold Attributable to:
			td
			td
			td
		tr
			td Equity holders of the parent entity
			td
			td (907 689)
			td 106 866
		tr
			td Non-controlling interests
			td
			td.bb1 (29 100)
			td.bb1 (4 229)
		tr.bold
			td
			td
			td.bb2fff (936 789)
			td.bb2fff 102 637

	p a) Other comprehensive income/(loss) for the period, net of tax, was attributable to equity holders of the parent entity and to non-controlling interests as presented in the table below:

	table.table_09.table_0903_2
		tr
			td
			td
			td.bold.bb1 2014
			td.bold.bb1 2013
		tr.bold
			td Exchange differences on translation to presentation currency attributable to:
			td
			td
			td
		tr
			td Equity holders of the parent entity
			td
			td (218 161)
			td (45 277)
		tr
			td Non-controlling interests
			td
			td (28 189)
			td (4 883)
		tr.bold
			td
			td
			td.bb2fff (246 350)
			td.bb2fff (50 160)
		tr.bold
			td Movement on cash flow hedges attributable to:
			td
			td
			td
		tr
			td Equity holders of the parent entity
			td
			td 1 352
			td 381
		tr
			td Non-controlling interests
			td
			td –
			td 2
		tr.bold
			td
			td
			td.bb2fff 1352
			td.bb2fff 383
		tr.bold
			td Net actuarial gains attributable to:
			td
			td
			td
		tr
			td Equity holders of the parent entity
			td
			td 6 305
			td 3 227
		tr
			td Non-controlling interests
			td
			td 179
			td 41
		tr.bold
			td
			td
			td.bb2fff 6 484
			td.bb2fff 3 268

	p b) The amount of foreign currency loss on hedged net investment in foreign operation, net of income tax, was attributable to equity holders of the parent entity.

	p.mtb50
		i The accompanying notes are an integral part of these consolidated financial statements.
