extends ../../layouts/english

block head
	- pageTitle = 'Consolidated Statement of Financial Position as at December 31, 2014';

block recommend
	- pageId = '0904';
	- recommend_lang = lang;

block content
	p
		i (All amounts in thousands of US dollars)

	table.table_09.table_0904_1
		tr
			td
			td.bold NOTES
			td.bold.bb1(colspan=2) 2014
			td.bold.bb1(colspan=2) 2013
		tr.bold
			td ASSETS
			td
			td
			td
			td
			td
		tr.bold
			td Current assets
			td
			td
			td
			td
			td
		tr
			td.pl Cash and cash equivalents
			td 12
			td 252 898
			td
			td 93 298
			td
		tr
			td.pl Trade and other receivables
			td 13
			td 728 340
			td
			td 995 371
			td
		tr
			td.pl Inventories
			td 14
			td 1 046 907
			td
			td 1 324 475
			td
		tr
			td.pl Prepayments and input VAT
			td 15
			td 105 143
			td
			td 136 630
			td
		tr
			td.pl Prepaid income taxes
			td
			td 7 939
			td
			td 11 276
			td
		tr
			td.pl Other financial assets
			td
			td.bb1 596
			td.bb1.bold 2 141 823
			td.bb1 155
			td.bb1.bold 2 561 205
		tr
			td.bold Non-current assets
			td
			td
			td
			td
			td
		tr
			td.pl Investments in associates
			td 11
			td 1 247
			td
			td 1 900
			td
		tr
			td.pl Property, plant and equipment
			td 16
			td 2 610 170
			td
			td 3 845 355
			td
		tr
			td.pl Goodwill
			td 17
			td 403 861
			td
			td 584 904
			td
		tr
			td.pl Intangible assets
			td 17
			td 273 242
			td
			td 311 428
			td
		tr
			td.pl Deferred tax asset
			td 8
			td 144 843
			td
			td 63 624
			td
		tr
			td.pl Other non-current assets
			td 18
			td.bb1 74 202
			td.bb1.bold 3 507 565
			td.bb1 50 252
			td.bb1.bold 4 857 463
		tr.bold
			td TOTAL ASSETS
			td
			td
			td.bb1 5 649 388
			td
			td.bb1 7 418 668
		tr.bold
			td LIABILITIES AND EQUITY
			td
			td
			td
			td
			td
		tr.bold
			td Current liabilities
			td
			td
			td
			td
			td
		tr
			td.pl Trade and other payables
			td 19
			td 722 696
			td
			td 944 165
			td
		tr
			td.pl Advances from customers
			td
			td 63 162
			td
			td 59 936
			td
		tr
			td.pl Accounts payable to related parties
			td 27
			td 43 484
			td
			td 101 151
			td
		tr
			td.pl Provisions and accruals
			td 20
			td 41 397
			td
			td 51 184
			td
		tr
			td.pl Interest-bearing loans and borrowings
			td 21
			td 758 805
			td
			td 393 941
			td
		tr
			td.pl Finance lease liability
			td 23
			td 5 545
			td
			td 3 796
			td
		tr
			td.pl Derivative financial instruments
			td 30
			td –
			td
			td 2 080
			td
		tr
			td.pl Dividends payable
			td
			td 1 889
			td
			td 5 863
			td
		tr
			td.pl Income tax payable
			td
			td 6 483
			td.bold 1 643 461
			td 8 504
			td.bold 1 570 620
		tr.bold
			td Non-current liabilities
			td
			td
			td
			td
			td
		tr
			td.pl Interest-bearing loans and borrowings
			td 21
			td 2 410 900
			td
			td 3 248 077
			td
		tr
			td.pl Finance lease liability
			td 23
			td 47 641
			td
			td 47 969
			td
		tr
			td.pl Deferred tax liability
			td 8
			td 205 667
			td
			td 297 874
			td
		tr
			td.pl Provisions and accruals
			td 20
			td 22 916
			td
			td 33 327
			td
		tr
			td.pl Employee benefits liability
			td 24
			td 21 044
			td
			td 45 067
			td
		tr
			td.pl Other liabilities
			td 25
			td.bb1 26 899
			td.bb1.bold 2 735 067
			td.bb1 46 115
			td.bb1.bold 3 718 429
		tr.bold
			td Total liabilities
			td
			td
			td 4 378 528
			td
			td 5 289 049
		tr
			td.bold Equity
			td 29
			td
			td
			td
			td
		tr
			td Parent shareholders’ equity
			td
			td
			td
			td
			td
		tr
			td.pl Issued capital
			td
			td 336 448
			td
			td 326 417
			td
		tr
			td.pl Treasury shares
			td
			td (319 149)
			td
			td (319 149)
			td
		tr
			td.pl Additional paid-in capital
			td
			td 485 756
			td
			td 391 192
			td
		tr
			td.pl Reserve capital
			td
			td 16 390
			td
			td 16 390
			td
		tr
			td.pl Retained earnings
			td
			td 1 495 465
			td
			td 1 737 098
			td
		tr
			td.pl Foreign currency translation reserve
			td
			td (820 254)
			td
			td (120 467)
			td
		tr
			td.pl Other reserves
			td
			td 9 968
			td 1 204 624
			td 2 311
			td 2 033 792
		tr
			td Non-controlling interests
			td 26
			td.bb1
			td.bb1 66 236
			td.bb1
			td.bb1 95 827
		tr.bold
			td Total equity
			td
			td
			td.bb1 1 270 860
			td
			td.bb1 2 129 619
		tr.bold
			td TOTAL LIABILITIES AND EQUITY
			td
			td
			td.bb2fff 5 649 388
			td
			td.bb2fff 7 418 668

	p.mtb50
		i The accompanying notes are an integral part of these consolidated financial statements.
