extends ../../layouts/english

block head
	- pageTitle = 'Consolidated Statement of Changes in Equity for the year ended December 31, 2014';

block recommend
	- pageId = '0905';
	- recommend_lang = lang;

block content
	p
		i  (All amounts in thousands of US dollars)

	table.table_09.table_0905_1.lightbox
		tr
			td
			td.bb1
			td.bb1
			td.bb1(colspan=4) Attributable to equity holders of the parent
			td.bb1
			td.bb1
			td
			td
		tr.bold
			td
			td.bb1 Issued capital
			td.bb1 Treasury shares
			td.bb1 Additional paid-in capital
			td.bb1 Reserve capital
			td.bb1 Retained earnings
			td.bb1 Foreign currency translation reserve
			td.bb1 Other reserves
			td.bb1 Total
			td.bb1 Non-<br>controlling interests
			td.bb1 TOTAL
		tr.bold
			td.bb1 At January 1, 2014
			td.bb1 326 417
			td.bb1 (319 149)
			td.bb1 391 192
			td.bb1 16 390
			td.bb1 1 737 098
			td.bb1 (120 467)
			td.bb1 2 311
			td.bb1 2 033 792
			td.bb1 95 827
			td.bb1 2 129 619
		tr
			td Loss for the period
			td –
			td –
			td –
			td –
			td (215 559)
			td –
			td –
			td (215 559)
			td (1 090)
			td (216 649)
		tr
			td Other comprehensive income/(loss) for the period, net of tax
			td.bb1 –
			td.bb1 –
			td.bb1 –
			td.bb1 –
			td.bb1 –
			td.bb1 (699 787)
			td.bb1 7 657
			td.bb1 (692 130)
			td.bb1 (28 010)
			td.bb1 (720 140)
		tr
			td.bold Total comprehensive income/(loss) for the period, net of tax
			td.bb1 –
			td.bb1 –
			td.bb1 –
			td.bb1 –
			td.bb1.bold (215 559)
			td.bb1.bold (699 787)
			td.bb1.bold 7 657
			td.bb1.bold (907 689)
			td.bb1.bold (29 100)
			td.bb1.bold (936 789)
		tr
			td Issue of share capital (Note 29 i)
			td 10 031
			td –
			td 91 505
			td –
			td –
			td –
			td –
			td.bold 101 536
			td –
			td.bold 101 536
		tr
			td Dividends declared by the parent entity to its shareholders (Note 29 iv)
			td –
			td –
			td –
			td –
			td (26 074)
			td –
			td –
			td.bold (26 074)
			td –
			td.bold (26 074)
		tr
			td Dividends declared by subsidiaries of the Group to the non-controlling interest owners (Note 29 v)
			td –
			td –
			td –
			td –
			td –
			td –
			td –
			td –
			td (1 367)
			td.bold (1 367)
		tr
			td Acquisition of non-controlling interests in subsidiaries (Note 29 vi)
			td –
			td –
			td 383
			td –
			td –
			td –
			td –
			td.bold 383
			td (576)
			td.bold (193)
		tr
			td Contributions from non-controlling interest owners (Note 27)
			td –
			td –
			td –
			td –
			td –
			td –
			td –
			td –
			td 1 013
			td.bold 1 013
		tr
			td Recognition of the change in noncontrolling interests in the subsidiary as an equity transaction (Note 29 vii)
			td.bb1 –
			td.bb1 –
			td.bb1 2 676
			td.bb1 –
			td.bb1 –
			td.bb1 –
			td.bb1 –
			td.bb1.bold 2 676
			td.bb1 439
			td.bb1.bold 3 115
		tr.bold
			td At December 31, 2014
			td.bb2fff 336 448
			td.bb2fff (319 149)
			td.bb2fff 485 756
			td.bb2fff 16 390
			td.bb2fff 1 495 465
			td.bb2fff (820 254)
			td.bb2fff 9 968
			td.bb2fff 1 204 624
			td.bb2fff 66 236
			td.bb2fff 1 270 860


	table.table_09.table_0905_2.lightbox.mtb50
		tr
			td
			td.bb1
			td.bb1
			td.bb1(colspan=4) Attributable to equity holders of the parent
			td.bb1
			td.bb1
			td
			td
		tr.bold
			td
			td.bb1 Issued capital
			td.bb1 Treasury shares
			td.bb1 Additional paid-in capital
			td.bb1 Reserve capital
			td.bb1 Retained earnings
			td.bb1 Foreign currency translation reserve
			td.bb1 Other reserves
			td.bb1 Total
			td.bb1 Non-<br>controlling interests
			td.bb1 TOTAL
		tr.bold
			td At January 1, 2013
			td.bb1 326 417
			td.bb1 (319 149)
			td.bb1 391 192
			td.bb1 16 390
			td.bb1 1 581 001
			td.bb1 (9 796)
			td.bb1 (1 297)
			td.bb1 1 984 758
			td.bb1 98 868
			td.bb1 2 083 626
		tr
			td Profit for the period
			td –
			td –
			td –
			td –
			td 213 929
			td –
			td –
			td.bold 213 929
			td 611
			td.bold 214 540
		tr
			td Other comprehensive income/(loss) for the period, net of tax
			td.bb1 –
			td.bb1 –
			td.bb1 –
			td.bb1 –
			td.bb1 –
			td.bb1 (110 671)
			td.bb1 3 608
			td.bb1.bold (107 063)
			td.bb1 (4 840)
			td.bb1.bold (111 903)
		tr
			td Total comprehensive income/(loss) for the period, net of tax
			td.bb1 –
			td.bb1 –
			td.bb1 –
			td.bb1 –
			td.bb1.bold 213 929
			td.bb1.bold (110 671)
			td.bb1.bold 3 608
			td.bb1.bold 106 866
			td.bb1.bold (4 229)
			td.bb1.bold 102 637
		tr
			td Dividends declared by the parent entity to its shareholders
			td –
			td –
			td –
			td –
			td (49 719)
			td –
			td –
			td.bold (49 719)
			td –
			td.bold (49 719)
		tr
			td Dividends declared by subsidiaries of the Group to the non-controlling interest owners (Note 29 v)
			td –
			td –
			td –
			td –
			td –
			td –
			td –
			td –
			td (1 554)
			td.bold (1 554)
		tr
			td Contributions from non-controlling interest owners (Note 27)
			td –
			td –
			td –
			td –
			td –
			td –
			td –
			td –
			td 2 525
			td.bold 2 525
		tr
			td Recognition of the change in noncontrolling interests in the subsidiary as an equity transaction (Note 29 vii)
			td.bb1 –
			td.bb1 –
			td.bb1 –
			td.bb1 –
			td.bb1 (8 113)
			td.bb1 –
			td.bb1 –
			td.bb1.bold (8 113)
			td.bb1 217
			td.bb1.bold (7 896)
		tr.bold
			td At December 31, 2013 г.
			td.bb2fff 326 417
			td.bb2fff (319 149)
			td.bb2fff 391 192
			td.bb2fff 16 390
			td.bb2fff 1 737 098
			td.bb2fff (120 467)
			td.bb2fff 2 311
			td.bb2fff 2 033 792
			td.bb2fff 95 827
			td.bb2fff 2 129 619
