extends ../../layouts/english

block head
	- pageTitle = 'Consolidated Statement of Cash Flows for the year ended December 31, 2014';

block recommend
	- pageId = '0906';
	- recommend_lang = lang;

block content
	p
		i (All amounts in thousands of US dollars)

	table.table_09.table_0906_1
		tr.bold
			th
			th NOTES
			th.bb1 2014
			th.bb1 2013
		tr
			td
				.bold Operating activities
				| Profit/(loss) before tax
			td
			td (201 373)
			td 31 238
		tr.bold
			td Adjustments to reconcile profit/(loss) before tax to operating cash flows:
			td
			td
			td
		tr
			td Depreciation of property, plant and equipment
			td
			td 266 574
			td 276 787
		tr
			td Amortisation of intangible assets
			td 17
			td 37 081
			td 49 102
		tr
			td Loss on disposal of property, plant and equipment
			td 7
			td 4 395
			td 5 861
		tr
			td Impairment of goodwill
			td 17
			td 151 369
			td 1 080
		tr
			td Impairment of property, plant and equipment
			td 16
			td 1 135
			td 4 243
		tr
			td Foreign exchange loss, net
			td
			td 301 246
			td 49 189
		tr
			td Finance costs
			td
			td 232 685
			td 252 247
		tr
			td Finance income
			td
			td (6 641)
			td (7 164)
		tr
			td Gain on disposal of subsidiary
			td 10
			td –
			td (1 862)
		tr
			td Gain on changes in fair value of derivative financial instruments
			td
			td (2 080)
			td (8 377)
		tr
			td Share of profit of assoсiates
			td 11
			td (273)
			td (176)
		tr
			td Allowance for net realisable value of inventory
			td
			td 8 782
			td 1 246
		tr
			td Allowance for doubtful debts
			td
			td 7 943
			td 15 628
		tr
			td Movement in provisions
			td
			td.bb1 6 550
			td.bb1 (5 989)
		tr.bold
			td Operating cash flows before working capital changes
			td
			td 807 393
			td 944 198
		tr.bold
			td Working capital changes:
			td
			td
			td
		tr
			td Increase in inventories
			td
			td (129 879)
			td (65 273)
		tr
			td Increase in trade and other receivables
			td
			td (75 990)
			td (158 946)
		tr
			td (Increase)/decrease in prepayments
			td
			td (20 801)
			td 22 900
		tr
			td Increase in trade and other payables
			td
			td 41 362
			td 162 818
		tr
			td Increase/(decrease) in advances from customers
			td
			td.bb1 25 981
			td.bb1 (120 060)
		tr.bold
			td Cash generated from operations
			td
			td 648 066
			td 785 637
		tr
			td Income taxes paid
			td
			td.bb1 (53 316)
			td.bb1 (82 204)
		tr.bold
			td Net cash flows from operating activities
			td
			td.bb1 594 750
			td.bb1 703 433
		tr.bold
			td Investing activities
			td
			td
			td
		tr
			td Purchase of property, plant and equipment and intangible assets
			td
			td (293 061)
			td (396 794)
		tr
			td Proceeds from sale of property, plant and equipment
			td
			td 5 623
			td 6 451
		tr
			td Acquisition of subsidiaries
			td
			td (59 750)
			td (38 300)
		tr
			td Disposal of subsidiary
			td
			td –
			td (1 906)
		tr
			td Issuance of loans
			td
			td (557)
			td (580)
		tr
			td Proceeds from repayment of loans issued
			td
			td 1 765
			td 1 610
		tr
			td Interest received
			td
			td 3 196
			td 3 456
		tr
			td Dividends received
			td
			td.bb1 80
			td.bb1 2 674
		tr.bold
			td Net cash flows used in investing activities
			td
			td.bb1 (342 704)
			td.bb1 (423 389)
		tr.bold
			td Financing activities
			td
			td
			td
		tr
			td Proceeds from share capital increase
			td 29 (i)
			td 101 536
			td –
		tr
			td Proceeds from borrowings
			td
			td 1 576 886
			td 1 562 500
		tr
			td Repayment of borrowings
			td
			td (1 422 984)
			td (1 655 971)
		tr
			td Interest paid
			td
			td (250 654)
			td (253 616)
		tr
			td Payment of finance lease liabilities
			td
			td (7 117)
			td (5 337)
		tr
			td Acquisition of non-controlling interests
			td 29 (vi)
			td (193)
			td –
		tr
			td Contributions from non-controlling interest owners
			td 27
			td 1 013
			td 2 525
		tr
			td Dividends paid to equity holders of the parent
			td
			td (46 950)
			td (52 727)
		tr
			td Dividends paid to non-controlling interest shareholders
			td
			td.bb1 (4 083)
			td.bb1 (4 185)
		tr.bold
			td Net cash flows used in financing activities
			td
			td.bb1 (52 546)
			td.bb1 (406 811)
		tr.bold
			td Net increase/(decrease) in cash and cash equivalents
			td
			td 199 500
			td (126 767)
		tr
			td Net foreign exchange difference
			td
			td (39 900)
			td (4 996)
		tr
			td Cash and cash equivalents at January 1
			td
			td.bb1 93 298
			td.bb1 225 061
		tr.bold
			td Cash and cash equivalents at December 31
			td
			td.bb2fff 252 898
			td.bb2fff 93 298
