extends ../../layouts/english

block head
	- pageTitle = 'Basis of Consolidation';

block recommend
	- pageId = '09070501';
	- recommend_lang = lang;

block content
	p A subsidiary is an entity in which the Group has power to exercise control over its operations. The Group controls an entity when it is exposed, or has rights, to variable returns from its involvement with the entity and has the ability to affect those returns through its power over the entity. Subsidiaries are consolidated from the date when control over their activities is transferred to the Group and are no longer consolidated from the date when control ceases.
	p All intragroup balances, transactions and unrealised gains on transactions between Group companies are eliminated. Unrealised losses are also eliminated unless the transactions provide evidence of an impairment of the asset transferred. Where necessary, accounting policies in subsidiaries have been changed to ensure consistency with the policies adopted by the Group.
	p Non-controlling interest is the equity in a subsidiary not attributable, directly or indirectly, to a parent. Non-controlling interests at the end of the reporting period represent the non-controlling interest shareholders’ portion of the fair values of the identifiable assets and liabilities of the subsidiary at the acquisition date and the non-controlling interests’ portion of movements in equity since the date of the combination. Non-controlling interest is presented within equity, separately from the parent’s shareholders’ equity.
	p Losses within subsidiary are attributed to the non-controlling interest even if that results in deficit balance.
	p When the Group increases its ownership interests in subsidiaries, the differences between the carrying values of net assets attributable to interests in subsidiaries acquired and the consideration given for such increases is either added to additional paid-in capital, if positive, or charged to accumulated profits, if negative.
	p When the Group grants put options to non-controlling interest shareholders at the date of acquiring control of a subsidiary the Group considers the terms of transaction to conclude on accounting treatment.
	p Where the terms of the put option provide the Group with a present ownership interest in the shares subject to the put, the shares are accounted for as acquired. Financial liabilities in respect of put options are recorded at fair value at the time of entering into the options, and are subsequently remeasured to fair value with the change in fair value recognised in the income statement.
	p When the terms of the put option do not provide a present ownership interest in the shares subject to the put, the Group determined that its accounting policy is to partially recognise non-controlling interests and to account such put options as the following:
	ul
		li the Group determines the amount recognised for the non-controlling interest, including its share of profits and losses (and other changes in equity) of the subsidiary for the period;
		li the Group derecognises the non-controlling interest as if it was acquired at that date;
		li the Group records the fair value of financial liability in respect of put options; and
		li the Group accounts for the difference between the non-controlling interest derecognised and the fair value of financial liability as a change in the non-controlling interest as an equity transaction (in accordance with the Group’s policy for the increase of its ownership interests in subsidiaries).

	p When the Group loses control over a subsidiary, it:
	ul
		li Derecognises the assets (including goodwill) and liabilities of the subsidiary;
		li Derecognises the carrying amount of any non-controlling interest;
		li Derecognises the cumulative translation differences, recorded in equity;
		li Recognises the fair value of the consideration received;
		li Recognises the fair value of any investment retained;
		li Recognises any surplus or deficit in profit or loss;
		li Reclassifies the parent’s share of components previously recognised in other comprehensive income to profit or loss or retained earnings, as appropriate.
