extends ../../layouts/english

block head
	- pageTitle = 'Goodwill and Other Intangible Assets';

block recommend
	- pageId = '09070619';
	- recommend_lang = lang;

block content
	p Movement in intangible assets for the year ended December 31, 2014 was as follows:

	table.table_09.table_09070619_1.lightbox
		tr.bold
			td
			td.bb1 Patents and trademarks
			td.bb1 Goodwill
			td.bb1 Software
			td.bb1 Customer relationships
			td.bb1 Proprietary technology
			td.bb1 Other
			td.bb1 TOTAL
		tr
			td(colspan=7)
				h3 COST
		tr.bold
			td Balance at January 1, 2014
			td 211 881
			td 601 341
			td 21 858
			td 472 300
			td 14 100
			td 8 599
			td 1 330 079
		tr
			td Additions
			td 528
			td –
			td 19
			td –
			td –
			td 1 748
			td.bold 2 295
		tr
			td Disposals
			td (51)
			td –
			td (22)
			td –
			td –
			td (829)
			td.bold (902)
		tr
			td Currency translation adjustments
			td.bb1 (767)
			td.bb1 (36 548)
			td.bb1 (9 022)
			td.bb1 –
			td.bb1 –
			td.bb1 (3 855)
			td.bb1.bold (50 192)
		tr.bold
			td BALANCE AT DECEMBER 31, 2014
			td.bb1 211 591
			td.bb1 564 793
			td.bb1 12 833
			td.bb1 472 300
			td.bb1 14 100
			td.bb1 5 663
			td.bb1 1 281 280
		tr
			td(colspan=7)
				h3 ACCUMULATED AMORTISATION AND IMPAIRMENT
		tr.bold
			td Balance at January 1, 2014
			td (456)
			td (16 437)
			td (20 773)
			td (382 718)
			td (9 786)
			td (3 577)
			td (433 747)
		tr
			td Amortisation charge
			td (149)
			td –
			td (450)
			td (33 399)
			td (1 762)
			td (1 321)
			td.bold (37 081)
		tr
			td Impairment
			td –
			td (151 369)
			td –
			td –
			td –
			td –
			td.bold (151 369)
		tr
			td Disposals
			td 44
			td –
			td 22
			td –
			td –
			td 402
			td.bold 468
		tr
			td Currency translation adjustments
			td.bb1 193
			td.bb1 6 874
			td.bb1 8 724
			td.bb1 –
			td.bb1 –
			td.bb1 1 761
			td.bb1.bold 17 552
		tr.bold
			td BALANCE AT DECEMBER 31, 2014
			td.bb1 (368)
			td.bb1 (160 932)
			td.bb1 (12 477)
			td.bb1 (416 117)
			td.bb1 (11 548)
			td.bb1 (2 735)
			td.bb1 (604 177)
		tr.bold
			td NET BOOK VALUE AT DECEMBER 31, 2014
			td.bb1 211 223
			td.bb1 403 861
			td.bb1 356
			td.bb1 56 183
			td.bb1 2 552
			td.bb1 2 928
			td.bb1 677 103
		tr.bold
			td NET BOOK VALUE AT JANUARY 1, 2014
			td.bb2fff 211 425
			td.bb2fff 584 904
			td.bb2fff 1 085
			td.bb2fff 89 582
			td.bb2fff 4 314
			td.bb2fff 5 022
			td.bb2fff 896 332

	p.mtb50 Movement in intangible assets for the year ended December 31, 2013 was as follows:


	table.table_09.table_09070619_2.lightbox
		tr.bold
			td
			td.bb1 Patents and trademarks
			td.bb1 Goodwill
			td.bb1 Software
			td.bb1 Customer relationships
			td.bb1 Proprietary technology
			td.bb1 Other
			td.bb1 TOTAL
		tr
			td(colspan=7)
				h3 COST
		tr.bold
			td Balance at January 1, 2013
			td 209 746
			td 607 742
			td 23 420
			td 472 300
			td 14 104
			td 7 380
			td 1 334 692
		tr
			td Additions
			td 606
			td –
			td 88
			td –
			td –
			td 2 690
			td.bold 3 384
		tr
			td Disposals
			td (1)
			td –
			td –
			td –
			td –
			td (905)
			td.bold (906)
		tr
			td Increase due to acquisition of subsidiaries (Note 10)
			td 1 606
			td –
			td –
			td –
			td –
			td –
			td.bold 1 606
		tr
			td Currency translation adjustments
			td.bb1 (76)
			td.bb1 (6 401)
			td.bb1 (1 650)
			td.bb1 –
			td.bb1 (4)
			td.bb1 (566)
			td.bb1.bold (8 697)
		tr.bold
			td BALANCE AT DECEMBER 31, 2013
			td.bb1 211 881
			td.bb1 601 341
			td.bb1 21 858
			td.bb1 472 300
			td.bb1 14 100
			td.bb1 8 599
			td.bb1 1 330 079
		tr
			td(colspan=8)
				h3 ACCUMULATED AMORTISATION AND IMPAIRMENT
		tr.bold
			td Balance at January 1, 2013
			td (370)
			td (16 548)
			td (18 025)
			td (341 374)
			td (8 024)
			td (2 555)
			td (386 896)
		tr
			td Amortisation charge
			td (111)
			td –
			td (4 128)
			td (41 344)
			td (1 762)
			td (1 757)
			td.bold (49 102)
		tr
			td Impairment
			td –
			td (1 080)
			td –
			td –
			td –
			td –
			td.bold (1 080)
		tr
			td Disposals
			td 1
			td –
			td –
			td –
			td –
			td 525
			td.bold 526
		tr
			td Currency translation adjustments
			td.bb1 24
			td.bb1 1 191
			td.bb1 1 380
			td.bb1 –
			td.bb1 –
			td.bb1 210
			td.bb1.bold 2 805
		tr.bold
			td BALANCE AT DECEMBER 31, 2013
			td.bb1 (456)
			td.bb1 (16 437)
			td.bb1 (20 773)
			td.bb1 (382 718)
			td.bb1 (9 786)
			td.bb1 (3 577)
			td.bb1.bold (433 747)
		tr.bold
			td NET BOOK VALUE AT DECEMBER 31, 2013
			td.bb1 211 425
			td.bb1 584 904
			td.bb1 1 085
			td.bb1 89 582
			td.bb1 4 314
			td.bb1 5 022
			td.bb1 896 332
		tr.bold
			td NET BOOK VALUE AT JANUARY 1, 2013
			td.bb2fff 209 376
			td.bb2fff 591 194
			td.bb2fff 5 395
			td.bb2fff 130 926
			td.bb2fff 6 080
			td.bb2fff 4 825
			td.bb2fff 947 796

	p.mtb50 Customer relationships represent non-contracted interactions with clients. Remaining amortisation period for customer relationships is 2-4 years. Customer relationships are amortised using the diminishing balance method which reflects the pattern of consumption of the economic benefits that customer relationships provide.
	p Goodwill relates to the assembled workforce and synergy from integration of the acquired subsidiaries into the Group.
	p Patents and trademarks include intangible assets with indefinite useful lives with the carrying value of 210,306 (December 31, 2013: 208,700).
	p The carrying amount of goodwill and intangible assets with indefinite useful lives were allocated among cash-generating units as follows as at December 31:

	table.table_09.table_09070619_3
		tr.bold
			td
			td(colspan=2).bb1 2014 г.
			td(colspan=2).bb1 2013 г.
		tr.bold
			td
			td.bb1 Goodwill
			td.bb1 Intangible assets with indefinite useful lives
			td.bb1 Goodwill
			td.bb1 Intangible assets with indefinite useful lives
		tr
			td American division
			td 322 572
			td 208 700
			td 472 968
			td 208 700
		tr
			td Middle East division
			td 36 241
			td –
			td 36 241
			td –
		tr
			td Oilfield division
			td 17 143
			td –
			td 29 468
			td –
		tr
			td European division
			td 5 805
			td –
			td 6 566
			td –
		tr
			td.bb1 Other cash-generating units
			td.bb1 22 100
			td.bb1 1 606
			td.bb1 39 661
			td.bb1 –
		tr.bold
			td
			td.bb2fff 403 861
			td.bb2fff 210 306
			td.bb2fff 584 904
			td.bb2fff 208 700
	p The Group determines whether goodwill and intangible assets with indefinite useful lives are impaired on an annual basis and when circumstances indicate the carrying value may be impaired.
	p Goodwill and intangible assets with indefinite useful lives were tested for impairment as at December 31, 2014. For the purpose of impairment testing of goodwill the Group determines value in use of each of its cash-generating units. The value in use was calculated using cash flow projections based on operating plans approved by management covering a period of five years with the adjustments to reflect the expected market conditions. Cash flows beyond five-year period were extrapolated using zero growth rate. The projected cash flows of American division for 2015-2017 were updated to reflect the current analysts’ expectations about the decrease of demand for oil pipes in the US market.

	p The discount rates used in the calculations are presented in the table below:

	table.table_09.table_09070619_4
		tr.bold
			td Cash-generating units
			td.bb1 Pre-tax discount rate, %
		tr
			td American division
			td 10,83%
		tr
			td Middle East division
			td 10,88%
		tr
			td Oilfield division
			td 15,75%
		tr
			td European division
			td 12,49%
		tr
			td Other cash-generating units
			td 11,89%-15,21%

	p As at December 31, 2014, the Group determined that the recoverable amount of American division was 1,054,894 (December 31, 2013: 1,270,592 using the pre-tax discount rate of 11.38%). The Group recognised the impairment loss of 150,396 in respect of American division goodwill in the year ended December 31, 2014.
	p The impairment of American division goodwill was primarily driven by expected decline in consumption of OCTG products in the US market due to the drop of oil prices in the past few months.
	p Based on external sources of information and management judgment the Group made the following assumption to calculate value in use of American division:
	ul
		li forecast OCTG prices decrease by 9% in 2015 compared to 2014;
		li forecast OCTG volumes decrease by 26% in 2015 compared to 2014;
		li forecast raw materials costs (both scrap and HRC) decrease by $150 in 2015 compared to 2014;
		li OCTG volumes and prices are expected to steadily recover to the 2014 levels by 2017.
	p The reasonably possible deviations of assumptions from the underlying operating plans could affect the recoverable amount of American division. American division recoverable amount was the most sensitive to the growth of discount rate, changes in sales volumes, prices and costs. A 10% increase in the discount rate would result in an additional decrease of the recoverable amount by 123,563; a 5% rise in costs would result in an additional decrease of the recoverable amount by 801,007; a decrease in sales prices by 5% would result in an additional decrease of the recoverable amount by 990,120; a decrease in sales volume by 5% would result in an additional decrease of the recoverable amount by 197,585.
