extends ../../layouts/english

block head
	- pageTitle = 'Provisions';

block recommend
	- pageId = '09070511';
	- recommend_lang = lang;

block content
	p Provisions are recognised when the Group has a present legal or constructive obligation as a result of past events, it is probable that outflow of resources will be required to settle obligation, and a reliable estimate of the amount can be made. Where the Group expects a provision to be reimbursed, for example under an insurance contract, the reimbursement is recognised as a separate asset but only when the reimbursement is virtually certain.
	p If the effect of time value of money is material, provisions are determined by discounting expected future cash flows at a pre-tax rate that reflects current market assessments of time value of money and where appropriate, risks specific to the liability. Where discounting is used, increase in provision due to the passage of time is recognised as a finance cost.
