extends ../../layouts/english

block head
	- pageTitle = 'Leases';

block recommend
	- pageId = '09070510';
	- recommend_lang = lang;

block content
	p The determination of whether an arrangement is, or contains a lease is based on the substance of the arrangement at inception date of whether the fulfilment of the arrangement is dependent on the use of a specific asset or assets or the arrangement conveys a right to use the asset.
	p Finance leases, which transfer to the Group substantially all the risks and benefits incidental to ownership of the leased item, are capitalised at the inception of the lease at the fair value of the leased property or, if lower, at the present value of the minimum lease payments. Lease payments are apportioned between the finance charges and reduction of the lease liability so as to achieve a constant rate of interest on the remaining balance of the liability. Finance charges are charged to finance costs in the income statement.
	p The depreciation policy for depreciable leased assets is consistent with that for depreciable assets which are owned. If there is no reasonable certainty that the Group will obtain ownership by the end of the lease term, the asset is fully depreciated over the shorter of the lease term or its useful life.
	p Leases where the lessor retains substantially all the risks and benefits of ownership of the asset are classified as operating leases. Operating lease payments are recognised as an expense in the income statement on a straight-line basis over the lease term.
