extends ../../layouts/english

block head
	- pageTitle = 'Acquisition and Disposal of Subsidiaries';

block recommend
	- pageId = '09070612';
	- recommend_lang = lang;

block content
	h3 Acquisition of Pipe Services and Precision Manufacturing Business in the U.S.
	p In April 2013, the Group acquired pipe services and precision manufacturing business located in the U.S. for 26,600.
	p The fair values of assets acquired, liabilities assumed and purchase consideration were as follows at the acquisition date:

	table.table_09.table_09070612_1
		tr.bold
			td
			td.bb1 Initial estimation of fair values
			td.bb1 Final estimation of fair values
		tr
			td Property, plant and equipment
			td 23 522
			td 22 705
		tr
			td Intangible assets
			td 648
			td 1 606
		tr
			td Trade and other receivables
			td 1 171
			td 1 152
		tr
			td Inventories
			td 1 823
			td 1 660
		tr
			td Deferred tax asset
			td.bb1 438
			td.bb1 479
		tr.bold
			td Total assets
			td.bb1 27 602
			td.bb1 27 602
		tr
			td Trade and other payables
			td.bb1 (1 002)
			td.bb1 (1002)
		tr.bold
			td Total liabilities
			td.bb1 (1 002)
			td.bb1 (1 002)
		tr.bold
			td Total identifiable net assets
			td.bb1 26 600
			td.bb1 26 600
		tr.bold
			td Purchase consideration
			td.bb2fff (26 600)
			td.bb2fff (26 600)

	p During 2013, the Group paid the full amount of purchase consideration for the acquisition of the business.
	p Acquisition-related costs of 1,282 were charged to general and administrative expenses in the consolidated income statement for the year ended December 31, 2013.

	h3 Disposal of ООО “Skladskoy Kompleks ТМК”
	p On March 27, 2013, the Group sold 81% ownership interest in OOO “Skladskoy Kompleks ТМК”. The following table summarises the carrying values of assets and liabilities of OOO “Skladskoy Kompleks ТМК”, cash flows on disposal of subsidiary and the carrying value of investments retained by the Group as at the date of disposal:

	table.table_09.table_09070612_2
		tr.bold
			td
			td.bb1 Carrying values
		tr
			td Cash and cash equivalents
			td 1 932
		tr
			td Trade and other receivables
			td 12 525
		tr
			td Inventories
			td 7 927
		tr
			td Other assets
			td.bb1 907
		tr.bold
			td Total assets
			td.bb1 23 291
		tr
			td Trade and other payables
			td (25 082)
		tr
			td Other liabilties
			td.bb1 (39)
		tr.bold
			td Total liabilities
			td.bb1 (25 121)
		tr.bold
			td Net liabilties
			td.bb2fff (1 830)
		tr
			td Cash consideration
			td (26)
		tr
			td 19% ownership interest retained
			td.bb1 (6)
		tr.bold
			td Gain on disposal of subsidiary
			td.bb2fff 1 862
