extends ../../layouts/english

block head
	- pageTitle = 'Other Non-Current Liabilities';

block recommend
	- pageId = '09070627';
	- recommend_lang = lang;

block content
	p Other non-current liabilities consisted of the following:

	table.table_09.table_09070627_1
		tr
			td
			td.bb1 2014
			td.bb1 2013
		tr
			td Liabilities under put options of non-controlling interest shareholders in subsidiaries
			td 15 326
			td 31 697
		tr
			td Derivative financial instruments
			td 2 076
			td 3 501
		tr
			td Deferred government grants
			td 1 198
			td 2 138
		tr
			td Other long-term liabilities
			td.bb1 8 299
			td.bb1 8 779
		tr.bold
			td
			td.bb2fff 26 899
			td.bb2fff 46 115
