extends ../../layouts/english

block head
	- pageTitle = 'Prepayments and Input VAT';

block recommend
	- pageId = '09070617';
	- recommend_lang = lang;

block content
	p Prepayments and input VAT consisted of the following:

	table.table_09.table_09070617_1
		tr.bold
			td
			td.bb1 2014 г.
			td.bb1 2013 г.
		tr
			td Prepayment for VAT, input VAT
			td 59 034
			td 79 520
		tr
			td Prepayment for services, inventories
			td 33 164
			td 38 602
		tr
			td Prepayment for other taxes
			td 8 568
			td 13 974
		tr
			td Prepayment for insurance
			td 3 843
			td 3 890
		tr
			td Other prepayments
			td.bb1 534
			td.bb1 644
		tr.bold
			td
			td.bb2fff 105 143
			td.bb2fff 136 630
