extends ../../layouts/english

block head
	- pageTitle = 'Cost of Sales';

block recommend
	- pageId = '09070602';
	- recommend_lang = lang;

block content
	p Cost of sales for the year ended December 31 was as follows:
	table.table_09.table_09070602_1
		tr.bold
			td
			td.bb1 2014 г.
			td.bb1 2013 г.
		tr
			td Raw materials and consumables
			td 3 080 247
			td 3 384 212
		tr
			td Staff costs including social security
			td 687 066
			td 721 647
		tr
			td Energy and utilities
			td 386 677
			td 409 374
		tr
			td Depreciation and amortisation
			td 252 048
			td 266 218
		tr
			td Repairs and maintenance
			td 118 165
			td 136 403
		tr
			td Contracted manufacture
			td 102 385
			td 76 318
		tr
			td Freight
			td 70 683
			td 66 710
		tr
			td Taxes
			td 40 081
			td 44 769
		tr
			td Professional fees and services
			td 39 358
			td 39 736
		tr
			td Rent
			td 15 101
			td 13 338
		tr
			td Travel
			td 3 159
			td 3 415
		tr
			td Insurance
			td 737
			td 834
		tr
			td Communications
			td 623
			td 905
		tr
			td Other
			td.bb1 3 744
			td.bb1 5 593
		tr.bold
			td Total production cost
			td 4 800 074
			td 5 169 472
		tr
			td Change in own finished goods and work in progress
			td 3 883
			td (115 467)
		tr
			td Cost of sales of externally purchased goods
			td 21 573
			td 18 066
		tr
			td Obsolete stock, write-offs
			td.bb1 13 940
			td.bb1 2 240
		tr.bold
			td Cost of sales
			td.bb2fff 4 839 470
			td.bb2fff 5 074 311
