extends ../../layouts/english

block head
	- pageTitle = 'Property, Plant and Equipment';

block recommend
	- pageId = '09070506';
	- recommend_lang = lang;

block content
	p Property, plant and equipment, except for the items acquired prior to January 1, 2003, are stated at historical cost, excluding the costs of day-to-day servicing, less accumulated depreciation and any impairment in value.
	p The items of property, plant and equipment acquired prior to January 1, 2003, the date of transition to IFRS, were accounted for at deemed cost being their fair value as at January 1, 2003.
	p Depreciation is calculated on a straight-line basis. Average depreciation periods, which represent estimated useful economic lives of respective assets, are as follows:

	table.09
		tr
			td Land
			td Not depreciated
		tr
			td Buildings
			td 8-100 years
		tr
			td Machinery andequipment
			td 5-30 years
		tr
			td Other
			td 2-15 years

	p Expenditure incurred to replace a component of an item of property, plant and equipment that is accounted for separately, including major inspection and overhaul expenditure, is capitalised. Subsequent expenditure is capitalised only when it increases the future economic benefits embodied in the item of property, plant and equipment and can be measured reliably. All other expenditures are recognised in the profit or loss as an expense when incurred.
