extends ../../layouts/english

block head
	- pageTitle = 'Financial Assets';

block recommend
	- pageId = '09070504';
	- recommend_lang = lang;

block content
	h3 Initial Recognition and Measurement
	p The Group classifies its financial assets into the following categories: loans and receivables, financial assets at fair value through profit or loss, held-to-maturity investments and available-forsale financial assets, or as derivatives designated as hedging instruments in an effective hedge, as appropriate. The Group determines the classification of its financial assets on initial recognition and, where allowed and appropriate, reassesses this designation at each reporting date.
	p Financial assets are initially recognised at fair value plus directly attributable transaction costs. However when a financial asset at fair value through profit or loss is recognised, the transaction costs are expensed immediately.

	h3 Subsequent Measurement
	p The subsequent measurement of financial assets depends on their classification as described below:

	h4 Loans and Receivables
	p Loans and receivables are non-derivative financial assets with fixed or determinable payments not quoted in an active market. Subsequent to initial measurement, such assets are carried at amortised cost using the effective interest method less any allowance for impairment. Gains and losses are recognised in the income statement when the loans and receivables are derecognised or impaired, as well as through the amortisation process.
	p Trade receivables, which generally are short term, are carried at original invoice amount less an allowance for doubtful debts. An allowance for doubtful debts is established in case of objective evidence that the Group will not be able to collect amounts due according to the original terms of contract. The Group periodically analyses trade receivables and makes adjustments to the amount of the allowance. The amount of the allowance is the difference between the carrying amount and recoverable amount. The amount of the doubtful debts expense is recognised in the income statement.

	h4 Financial Assets at Fair Value through Profit or Loss
	p Financial assets at fair value through profit or loss include financial assets held for trading and financial assets designated upon initial recognition at fair value through profit or loss. Financial assets are classified as held for trading if they are acquired for the purpose of selling or repurchasing in the near term. Derivatives, including separated embedded derivatives are also classified as held for trading unless they are designated as effective hedging instruments as defined by IAS 39. Gains or losses on held for trading assets are recognised in the income statement.

	h4 Held-to-Maturity Investments
	p Non-derivative financial assets with fixed or determinable payments and fixed maturity are classified as held-to-maturity, when the Group has the positive intention and ability to hold to maturity. Subsequent to initial recognition, held-to-maturity investments are recognised at amortised cost using the effective interest method less any allowance for impairment.

	h4 Available-for-Sale Financial Assets
	p Available-for-sale financial assets are those non-derivative financial assets that are designated as available-for-sale or are not classified in any of the three preceding categories. After initial recognition, available-for-sale financial assets are measured at fair value with unrealised gains or losses being recognised as other comprehensive income until the financial assets are derecognised or determined to be impaired, at which time the cumulative gain or loss is included in the income statement.

	h4 Derivatives
	p Derivatives are financial instruments that change their values in response to changes in the underlying variable, require no or little net initial investment and are settled at a future date. Derivatives are primarily used to manage exposures to foreign exchange risk, interest rate risk and other market risks. Derivatives are subsequently remeasured at fair value on a regular basis and at each reporting date. The method of the resulting gain or loss recognition depends on whether the derivative is designated as a hedging instrument.

	h4 Hedge Accounting
	p For the purpose of hedge accounting, derivatives are designated as instruments hedging the exposure to changes in the fair value of a recognised asset or liability (fair value hedges) and as instruments hedging the exposure to variability in cash flows attributable to a particular risk associated with a recognised asset or liability or a highly probable forecast transaction (cash flow hedges). At the inception of a hedge relationship, the Group formally designates and documents the hedge relationship to which the Group applies hedge accounting and the risk management objective and strategy for undertaking the hedge. The Group assesses effectiveness of the hedges at inception and verifies at regular intervals and at least on a quarterly basis, using prospective and retrospective testing.
	p The Group’s derivatives consist of interest rate swaps and currency forwards and their use is governed by the Group’s policies which are consistent with Group’s overall risk management strategy. These derivatives are designated as hedging instruments in cash flow hedges.

	h4 Impairment of Financial Assets
	p The Group assesses at each reporting date whether there is any objective evidence that a financial asset or a group of financial assets is impaired. A financial asset or a group of financial assets is deemed to be impaired if, and only if, there is objective evidence of impairment as a result of one or more events that has occurred after the initial recognition of the asset (an incurred “loss event”) and that loss event has an impact on the estimated future cash flows of the financial asset or the group of financial assets that can be reliably estimated. Evidence of impairment may include observable data about the following loss events: significant financial difficulties of the debtor, default or delinquency in interest or principal payments, the probability that the debtor will enter bankruptcy or other financial reorganisation.
	p The amount of the impairment loss is measured as a difference between the asset’s carrying amount and it’s recoverable amount. The carrying amount of financial assets other than loans and receivables is reduced directly without the use of an allowance account and the amount of loss is recognised in the income statement.

