extends ../../layouts/english

block head
	- pageTitle = 'Other Operating Income and Expenses';

block recommend
	- pageId = '09070607';
	- recommend_lang = lang;

block content
	p Other operating expenses for the year ended December 31 were as follows:
	table.table_09.table_09070607_1
		tr.bold
			td
			td.bb1 2014 г.
			td.bb1 2013 г.
		tr
			td Social and social infrastructure maintenance expenses
			td 16 215
			td 19 459
		tr
			td Sponsorship and charitable donations
			td 8 540
			td 14 863
		tr
			td Penalties, fines and claims
			td 7 614
			td 9 224
		tr
			td Loss on disposal of property, plant and equipment
			td 4 517
			td 5 861
		tr
			td Other
			td.bb1 6 072
			td.bb1 2 694
		tr.bold
			td
			td.bb2fff 42 958
			td.bb2fff 52 101
