extends ../../layouts/english

block head
	- pageTitle = 'Employee Benefits Liability';

block recommend
	- pageId = '09070512';
	- recommend_lang = lang;

block content
	h3 Short-Term Employee Benefits
	p Short-term employee benefits paid by the Group include wages, salaries, social security contributions, paid annual leave and paid sick leave, bonuses and non-monetary benefits (such as medical care). Such employee benefits are accrued in the year in which the associated services are rendered by employees of the Group.

	h3 Defined Benefit Obligations
	p The Group companies provide a number of post-employment and other long-term benefits to their employees (pensions, lump-sum post-employment payments, financial support to pensioners, jubilee payments, etc.).
	p All post-employment benefit plans are unfunded. The entitlement to these benefits is usually conditional on the employee remaining in service up to retirement age, the completion of a minimum service period and the amount of the benefits stipulated in the collective bargaining agreements. The liability recognised in the statement of financial position in respect of post-employment and other long-term employee benefits is the present value of the defined benefit obligation at the end of the reporting period less the fair value of plan assets. The defined benefit obligation is calculated by external consultants using the projected unit credit method. The present value of the defined benefit obligation is determined by discounting the estimated future cash outflows using yields on highquality corporate bonds or, in countries where there is no deep market in such bonds, yields on government bonds that are denominated in the currency in which the benefits will be paid, and that have terms to maturity approximating to the terms of the related obligation.
	p Net benefit expense charged to the income statement consists of current service cost, interest expense, past service cost, gains and losses from settlement. Past service costs are recognised in profit or loss on the earlier of: the date of the plan amendment or curtailment, and the date when the Group recognises restructuring-related costs. Actuarial gains and losses arising from experience adjustments and changes in actuarial assumptions are reflected in other comprehensive income/loss in the period in which they arise.
	p Чистые расходы на выплаты в отчете о прибылях и убытках включают стоимость услуг текущего периода, процентные расходы, стоимость услуг прошлых периодов, а также прибыли и убытки, возникающие в результате урегулирования обязательств. Стоимость услуг прошлых лет отражается в составе прибыли или убытка на более раннюю из следующих дат: дату изменения плана (секвестра плана) или дату признания Группой расходов по реструктуризации. Актуарные прибыли и убытки, возникающие вследствие корректировок на основе опыта и изменений актуарных допущений, отражаются в составе прочего совокупного дохода/убытка в том периоде, в котором они возникают.

	h3 Defined Contribution Plans
	p For defined contribution plans, the Group pays contributions to publicly or privately administered pension insurance plans on a mandatory, contractual or voluntary basis. The Group has no further payment obligations once the contributions have been paid. The contributions are recognised as employee benefit expense when they are due. Prepaid contributions are recognised as an asset to the extent that a cash refund or a reduction in the future payments is available.
