extends ../../layouts/english

block head
	- pageTitle = 'Other Non-Current Assets';

block recommend
	- pageId = '09070620';
	- recommend_lang = lang;

block content
	p Other non-current assets consisted of the following:

	table.table_09.table_09070620_1
		tr.bold
			td
			td.bb1 2014 г.
			td.bb1 2013 г.
		tr
			td Prepayment for acquisition of subsidiary (Note 27)
			td 48 506
			td –
		tr
			td Prepayments for acquisition of property, plant and equipment
			td 15 627
			td 34 987
		tr
			td Loans to employees
			td 2 497
			td 5 193
		tr
			td Restricted cash deposits for fulfillment of guaranties
			td 1 143
			td 351
		tr
			td Long-term trade receivables
			td 287
			td 13 356
		tr
			td Other
			td.bb1 6 180
			td.bb1 15 184
		tr.bold
			td
			td.bb1 74 240
			td.bb1 69 071
		tr
			td Allowance for doubtful debts
			td.bb1 (38)
			td.bb1 (18 819)
		tr.bold
			td
			td.bb2fff 74 202
			td.bb2fff 50 252
