extends ../../layouts/english

block head
	- pageTitle = 'Significant Estimates and Assumptions';

block recommend
	- pageId = '090703';
	- recommend_lang = lang;

block content
	p The preparation of the consolidated financial statements requires management to exercise judgement and to make estimates and assumptions that affect the reported amounts of assets and liabilitiesas well as disclosures. These estimates and judgements are based on historical experience and various other factors that are believed to be reasonable under the circumstances. Actual results may differ from such estimates, and estimates can be revised in the future, either negatively or positively, depending upon the outcome or changes in expectations based on the facts surrounding each estimate.
	p The estimates and assumptions which can cause a significant adjustment to the carrying amount of assets and liabilities within the next financial year are discussed below:

	h3 Impairment of Property, Plant and Equipment
	p The Group assesses at each reporting date whether there is any indication that an asset may be impaired. If any such indication exists, the Group estimates the asset’s recoverable amount. This requires an estimation of the value in use of the cash-generating unit to which the item is allocated.
	p The value in use calculation is based on discounted cash flow-based (DCF) methods, which require the Group to make estimates of the expected future cash flows and to choose the suitable discount rate. These estimates may have a material impact on the recoverable value and the amount of the property, plant and equipment impairment.
	p Assets that suffered an impairment loss are tested for possible reversal of the impairment at each reporting date if indications exist that impairment losses recognised in prior periods no longer exist or have decreased.

	h3 Useful Lives of Items of Property, Plant and Equipment
	p The Group assesses the remaining useful lives of items of property, plant and equipment at least at each financial year-end. If expectations differ from previous estimates, the changes accounted for as changes in accounting estimates in accordance with IAS 8 Accounting Policies, Changes in Accounting Estimates and Errors.

	h3 Fair Value of Assets and Liabilities Acquired in Business Combinations
	p The Group is required to recognise separately, at the acquisition date, the identifiable assets, liabilities and contingent liabilities acquired or assumed in the business combination at their fair values, which involves estimates. Such estimates are based on valuation techniques, which require considerable judgment in forecasting future cash flows and developing other assumptions.

	h3 Impairment of Goodwill and Intangible Assets with Indefinite Useful Lives
	p The group tests at least annually whether goodwill and intangible assets with indefinite useful lives have suffered any impairment. The recoverable amount of cash-generating unit to which goodwill and intangible assets with indefinite useful lives allocated is determined based on value in use calculations. These calculations require the use of estimates. Revisions to the estimates may significantly affect the recoverable amount of the cash-generating unit.

	h3 Employee Benefits Liability
	p The Group companies provide a number of post-employment and other long-term benefits to their employees (pensions, lump-sum post-employment payments, jubilee payments, etc.). Such benefits are recognised as defined benefit obligations. The Group uses the actuarial valuation method for measurement of the present value of defined benefit obligations and related current service cost. An actuarial valuation involves making various assumptions that may differ from actual developments in the future. These include the determination of the discount rate, future salary increases, mortality rates, rates of employee turnover and others. In the event that further changes in the key assumptions are required, the future amounts of the employment benefit costs may be affected materially.

	h3 Allowance for Doubtful Debts
	p Allowances for doubtful debts represent the Group’s estimates of losses that could arise from the failure and inability of customers to make payments when due. These estimates are based on the ageing of customers’ balances, specific credit circumstances and the Group’s historical doubtful debts experience. Changes in the economy, industry or specific customer conditions may require adjustments to the allowance for doubtful accounts recorded in the consolidated financial statements.

	h3 Net Realisable Value Allowance
	p Inventories are stated at the lower of cost and net realisable value. Estimates of the net realisable value are based on the most reliable information available at the time the estimates are made. These estimates take into consideration fluctuations of price or cost directly relating to events occurring subsequent to the end of reporting period to the extent that such events confirm conditions existing at the end of the period.

	h3 Taxes
	p The Group is subject to taxes in different countries all over the world. Taxes and fiscal risks recognised in these consolidated financial statements reflect management’s best estimate of the outcome based on the facts known at each reporting date in each individual country. These facts may include but are not limited to change in tax laws and interpretation thereof in the various jurisdictions where the Group operates.
	p Tax, currency and customs legislation is subject to varying interpretations and changes occur frequently. Furthermore, the interpretation of tax legislation by tax authorities as applied to the transactions and activity of the Group’s entities may not coincide with that of management. As a result, tax authorities may challenge transactions and Group’s entities may be assessed additional taxes, penalties and interest, which can be significant. The final taxes paid are dependent upon many factors, including negotiations with tax authorities in various jurisdictions, outcomes of tax litigation and resolution of disputes arising from tax audits.As at December 31, 2014, management believes that its interpretation of the relevant legislation is appropriate and that it is probable that the Group’s tax, currency and customs positions will be sustained.
