extends ../../layouts/english

block head
	- pageTitle = 'Basis of Preparation of the Financial Statements';

block recommend
	- pageId = '090702';
	- recommend_lang = lang;

block content
	h3 Basis of Preparation
	p These consolidated financial statements have been prepared in accordance with International Financial Reporting Standards (“IFRS”) issued by the International Accounting Standards Board (“IASB”).
	p The consolidated financial statements have been prepared on an accrual basis and under the historical cost convention, except as disclosed in the accounting policies below.
	p All Group’s subsidiaries and associates have a December 31 accounting year-end.

	h3 Functional and Presentation Currency
	p The presentation currency for the purpose of these consolidated financial statements of the Group is the US dollar because the presentation in US dollars is convenient for the major current and potential users of the Group’s financial statements.
	p The functional currency of the Group’s entities is the currency of their primary economic environment. The functional currencies of the Group’s entities are the Russian rouble, US dollar, Euro, Romanian lei and Canadian dollar.
	p On consolidation, assets and liabilities of Group companies reported in their functional currencies are translated into US dollars, the Group’s presentation currency, at year-end exchange rates. Income and expense items are translated into US dollars at the weighted average rates of exchange or at the rate on the date of the transaction for significant items.
	p Transactions in foreign currencies are initially recorded in the functional currency at the rate ruling at the date of transaction. Monetary assets and liabilities denominated in foreign currencies are retranslated at the functional currency spot rate of exchange ruling at the end of reporting period. All resulting differences are taken to the income statement with the exception of differences on foreign currency borrowings accounted for as hedges of net investment in foreign operations. Nonmonetary items that are measured in terms of historical cost in a foreign currency are translated using the exchange rates as at the dates of the initial transactions. Non-monetary items measured at fair value in a foreign currency are translated using the exchange rates at the date when the fair value was determined.
