extends ../../layouts/english

block head
	- pageTitle = 'Interests in Subsidiaries';

block recommend
	- pageId = '09070628';
	- recommend_lang = lang;

block content
	h3 Principal Subsidiaries
	p The major subsidiaries included in these consolidated financial statements are presented in the following table:
	table.table_09.table_09070628_1
		tr.bold
			td(rowspan=2).bb1 Company
			td(rowspan=2).bb1 Location
			td(colspan=2).bb1 Effective ownership interest
		tr.bold
			td.bb1 2014
			td.bb1 2013
		tr
			td
				h3 Manufacturing facilities
			td
			td
			td
		tr
			td OAO “Seversky Tube Works”
			td Russia
			td 96,54%
			td 96,33%
		tr
			td OAO “Sinarsky Pipe Plant”
			td Russia
			td 97,28%
			td 97,28%
		tr
			td OAO “Taganrog Metallurgical Works”
			td Russia
			td 96,38%
			td 96,38%
		tr
			td OAO “Volzhsky Pipe Plant”
			td Russia
			td 100,00%
			td 100,00%
		tr
			td OOO “TMK-INOX”
			td Russia
			td 49,61%
			td 49,61%
		tr
			td ZAO “TMK-CPW”
			td Russia
			td 49,23%
			td 49,13%
		tr
			td OAO “Orsky Machine Building Plant”
			td Russia
			td 75,00%
			td 75,00%
		tr
			td IPSCO Tubulars Inc.
			td USA
			td 100,00%
			td 100,00%
		tr
			td IPSCO Koppel Tubulars, L.L.C.
			td USA
			td 100,00%
			td 100,00%
		tr
			td IPSCO Tubulars (KY) Inc.
			td USA
			td 100,00%
			td 100,00%
		tr
			td IPSCO Tubulars (OK) Inc.
			td USA
			td 100,00%
			td 100,00%
		tr
			td Ultra Premium Oilfield Services, Ltd
			td USA
			td 100,00%
			td 100,00%
		tr
			td S.C. TMK-ARTROM S.A.
			td Romania
			td 92,73%
			td 92,73%
		tr
			td S.C. TMK-RESITA S.A.
			td Romania
			td 100,00%
			td 100,00%
		tr
			td TOO “ТМК-Kaztrubprom”
			td Kazakhstan
			td 100,00%
			td 100,00%
		tr
			td TMK Gulf International Pipe Industry LLC
			td Oman
			td 55,00%
			td 55,00%
		tr
			td(colspan=2)
				h3 Services for oilfield and gas industries
			td
			td
		tr
			td OOO “Predpriyatiye “Truboplast”
			td Russia
			td 100,00%
			td 100,00%
		tr
			td TMK NGS-Nizhnevartovsk
			td Russia
			td 100,00%
			td 100,00%
		tr
			td LLC TMK NGS-Buzuluk
			td Russia
			td 100,00%
			td 100,00%
		tr
			td OFS International LLC
			td USA
			td 75,00%
			td 75,00%
		tr
			td Threading & Precision Manufacturing LLC
			td USA
			td 75,00%
			td 75,00%
		tr
			td Independent Inspection Services LLC
			td USA
			td 75,00%
			td 75,00%
		tr
			td Oilfield Services & Technologies LLC
			td USA
			td 75,00%
			td 0,00%
		tr
			td
				h3 Trading companies
			td
			td
			td
		tr
			td ZAO “Trade House TMK”
			td Russia
			td 100,00%
			td 100,00%
		tr
			td TMK IPSCO International L.L.C.
			td USA
			td 100,00%
			td 100,00%
		tr
			td TMK IPSCO Canada, Ltd.
			td Canada
			td 100,00%
			td 100,00%
		tr
			td TMK Europe GmbH
			td Germany
			td 100,00%
			td 100,00%
		tr
			td TMK Italia s.r.l.
			td Italy
			td 100,00%
			td 100,00%
		tr
			td TMK Middle East FZCO
			td UAE
			td 100,00%
			td 100,00%
		tr
			td TOO "TMK-Kazakhstan"
			td Kazakhstan
			td 100,00%
			td 100,00%
		tr
			td TMK Global S.A.
			td Switzerland
			td 100,00%
			td 100,00%
		tr
			td(colspan=3)
				h3 Research and development
			td
		tr
			td OAO “Russian Research Institute of the Tube and Pipe Industries”
			td Russia
			td 97,36%
			td 97,36%
		tr
			td TMK R&D
			td Russia
			td 100,00%
			td 100,00%

	h3.mtb50 Non-controlling Interests
	p The information about material non-controlling interests in subsidiaries is presented in the following table:

	table.table_09.table_09070628_2
		tr.bold
			td(rowspan=2) Company
			td(colspan=2).bb1 2014
			td(colspan=2).bb1 2013
		tr.bold
			td.bb1 Noncontrolling interest, %
			td.bb1 Noncontrolling interest in net assets
			td.bb1 Noncontrolling interest, %
			td.bb1 Noncontrolling interest in net assets
		tr
			td TMK Gulf International Pipe Industry LLC
			td 45,00%
			td 16 879
			td 45,00%
			td 17 838
		tr
			td OAO “Sinarskaya heat and power plant”
			td 33,08%
			td 11 476
			td 33,08%
			td 20 740
		tr
			td S.C. TMK-ARTROM S.A.
			td 7,27%
			td 8 502
			td 7,27%
			td 8 716
		tr
			td OAO “Orsky Machine Building Plant”
			td 25,00%
			td 6 799
			td 25,00%
			td 11 270
		tr
			td OAO “Seversky Tube Works”
			td 3,46%
			td 6 364
			td 3,67%
			td 12 720
		tr
			td OAO “Taganrog Metallurgical Works”
			td 3,62%
			td 6 245
			td 3,62%
			td 10 971
		tr
			td OAO “Sinarsky Pipe Plant”
			td 2,72%
			td 5 784
			td 2,72%
			td 11 272
		tr
			td Other
			td –
			td.bb1 4 187
			td –
			td.bb1 2 300
		tr.bold
			td
			td
			td.bb2fff 66 236
			td
			td.bb2fff 95 827
