extends ../../layouts/english

block head
	- pageTitle = 'Related Parties Disclosures';

block recommend
	- pageId = '09070629';
	- recommend_lang = lang;

block content
	h3 Compensation to Key Management Personnel of the Group
	p Key management personnel comprise members of the Board of Directors, the Management Board and certain executives of the Group.
	p The compensation to key management personnel comprised of:
	ul
		li Wages, salaries, social security contributions and other short-term benefits in the amount of 15,780 for the year ended December 31, 2014 (2013: 19,166);
		li Provision for performance bonuses in the amount of 4,123 for the year ended December 31, 2014 (2013: 5,029).
	p The amounts disclosed above were recognised as general and administrative expenses in the income statement for the years ended December 31, 2014 and 2013.
	p The balance of loans issued to key management personnel amounted to 517 as at December 31, 2014 (December 31, 2013: 1,055). The Group guaranteed debts of key management personnel outstanding as at December 31, 2014 in the amount of 215 with maturity in 2016 (December 31, 2013: 2,323).

	h3 Transactions with the Parent of the Company
	p In December 2014, the Group approved interim dividends in respect of six months 2014, from which 266,796 thousand Russian roubles (4,896 at the exchange rate at the date of approval) related to the parent of the Company. As at December 31, 2014, no interim dividends were paid.

	p In June 2014, the Group approved the distribution of final dividends in respect of 2013, from which 524,184 thousand Russian roubles (15,053 at the exchange rate at the date of approval) related to the parent of the Company. In July 2014, these dividends were fully paid.
	p In November 2013, the Group approved interim dividends in respect of six months 2013, from which 698,912 thousand Russian roubles (21,473 at the exchange rate at the date of approval) related to the parent of the Company. In January 2014, these dividends were paid in full amount.
	p In June 2013, the Group approved the distribution of final dividends in respect of 2012, from which 564,506 thousand Russian roubles (17,153 at the exchange rate at the date of approval) related to the parent of the Company. In August 2013, these dividends were paid in full amount.
	p On June 11, 2014 and April 16, 2013, the Group increased share capital of the subsidiary, OFS Development S.a r.l. The share capital increase was partially financed by the parent of the Company, an owner of non-controlling interest in OFS Development S.a r.l. Contribution received from the parent of the Company amounted to 1,013 in the year ended December 31, 2014 (2013: 2,525).

	h3 Transactions with Entities under Common Control with the Company and Other Related Parties
	p The following table provides balances with entities under common control with the Company and other related parties as at December 31:

	table.table_09.table_09070629_1
		tr.bold
			td
			td.bb1 2014
			td.bb1 2013
		tr
			td Cash and cash equivalents
			td 80 550
			td 3 730
		tr
			td Prepayment for acquisition of subsidiary
			td 48 506
			td –
		tr
			td Accounts receivable
			td 4 731
			td 4 576
		tr
			td Prepayments
			td 10
			td 30
		tr
			td Accounts payable for raw materials
			td (38 262)
			td (79 154)
		tr
			td Advances received
			td (2 825)
			td (6)
		tr
			td Other accounts payable
			td (480)
			td (643)

	p In the year ended December 31, 2014, the Group paid 2,729 million Russian roubles (59,750 at the historical exchange rates) to a related party as a consideration for 100% ownership interest in ChermetServis-Snabzhenie, one of the leaders in the Russian steel scrap market. As at December 31, 2014, the acquisition was not finalised, the prepaid amount was included in other non-current assets.

	p.mtb50 The following table provides the total amount of transactions with entities under common control with the Company and other related parties for the years ended December 31:
	table.table_09.table_09070629_2
		tr.bold
			td
			td.bb1 2014
			td.bb1 2013
		tr
			td Purchases of raw materials
			td 604 690
			td 606 506
		tr
			td Purchase of property, plant and equipment
			td 5 359
			td –
		tr
			td Purchases of other goods and services
			td 7 061
			td 10 260
		tr
			td Sales revenue
			td 14 195
			td 11 382
		tr
			td Other income
			td 702
			td 86
