extends ../../layouts/english

block head
	- pageTitle = 'Inventories';

block recommend
	- pageId = '09070616';
	- recommend_lang = lang;

block content
	p Inventories consisted of the following:

	table.table_09.table_09070616_1
		tr.bold
			td
			td.bb1 2014 г.
			td.bb1 2013 г.
		tr
			td Raw materials
			td 288 597
			td 287 247
		tr
			td Work in process
			td 344 731
			td 467 909
		tr
			td Finished goods and finished goods in transit
			td 268 246
			td 368 857
		tr
			td Goods for resale
			td 4 377
			td 6 677
		tr
			td Supplies
			td.bb1 164 185
			td.bb1 216 681
		tr.bold
			td Gross inventories
			td 1 070 136
			td 1 347 371
		tr
			td Allowance for net realisable value of inventory
			td.bb1 (23 229)
			td.bb1 (22 896)
		tr.bold
			td Net inventories
			td 1 046 907
			td 1 324 475

	p The amount of inventories carried at net realisable value was 290,851 as at December 31, 2014 (December 31, 2013: 343,047).
	p As at December 31, 2014, certain items of inventory with a carrying amount of 40,489 were pledged as security for borrowings (December 31, 2013: 100,000).
	p The following table summarises the changes in the allowance for net realisable value of inventory:

	table.table_09.table_09070616_2
		tr.bold
			td
			td.bb1 2014 г.
			td.bb1 2013 г.
		tr.bold
			td Balance at the beginning of the year
			td 22 896
			td 23 044
		tr
			td Increase in allowance
			td 8 782
			td 1 008
		tr
			td Currency translation adjustments
			td.bb1 (8 449)
			td.bb1 (1 156)
		tr.bold
			td Balance at the end of the year
			td 23 229
			td 22 896
