extends ../../layouts/english

block head
	- pageTitle = 'Corporate Information';

block recommend
	- pageId = '090701';
	- recommend_lang = lang;

block content
	p These consolidated financial statements of OAO TMK and its subsidiaries (the “Group”) for the year ended December 31, 2014 were authorised for issue in accordance with a resolution of the General Director on March 4, 2015.
	p OAO TMK (the “Company”), the parent company of the Group, is an open joint stock company (“OAO”). Both registered and principal office of the Company is 40/2a Pokrovka Street, Moscow, the Russian Federation.
	p As at December 31, 2014, the Company’s controlling shareholder was TMK Steel Limited. TMK Steel Limited is ultimately controlled by D.A. Pumpyanskiy.
	p The Group is one of the world’s leading producers of steel pipes for the oil and gas industry, a global company with extensive network of production facilities, sales companies and representative offices.
	p The principal activities of the Group are the production and distribution of seamless and welded pipes, including pipes with the entire range of premium connections backed by extensive technical support. Research centres established in Russia and in the United States are involved in new product design and development, experimental and validation testing and advanced metallurgical research.
