extends ../../layouts/english

block head
	- pageTitle = 'Government Grants';

block recommend
	- pageId = '09070513';
	- recommend_lang = lang;

block content
	p Grants from the government are recognised when there is a reasonable assurance that the grant will be received and the Group will comply with all conditions attached to it.
	p When the grant relates to an expense item, it is recognised as the decrease of respective expenses over the periods when the costs, which it is intended to compensate, are incurred.
	p Government grants relating to assets are included in non-current liabilities as deferred government grants and are credited to other income in the income statement on a straight-line basis over the expected lives of the related assets.
