extends ../../layouts/english

block head
	- pageTitle = 'Borrowings';

block recommend
	- pageId = '09070509';
	- recommend_lang = lang;

block content
	p Borrowings are initially recognised at fair value less directly attributable transaction costs. In subsequent periods, borrowings are measured at amortised cost using the effective interest method. Any difference between the initial fair value less transaction costs and the redemption amount is recognised within finance costs over the period of the borrowings.
	p Borrowing costs directly attributable to the acquisition, construction or production of an asset that necessarily takes a substantial period of time to get ready for its intended use or sale are capitalised as part of cost of respective assets. All other borrowing costs are expensed in the period they occur. Borrowing costs consist of interest and other costs that an entity incurs in connection with the borrowing of funds.
