extends ../../layouts/english

block head
	- pageTitle = 'Equity';

block recommend
	- pageId = '09070515';
	- recommend_lang = lang;

block content
	h3 Share Capital
	p Ordinary shares are classified as equity. External costs directly attributable to the issue of new shares, other than on a business combination, are shown as a deduction from proceeds in equity.

	h3 Treasury Shares
	p Own equity instruments which are acquired by the Group (treasury shares) are deducted from equity. No gain or loss is recognised in the income statement on the purchase, sale, issue or cancellation of treasury shares.

	h3 Dividends
	p Dividends are recognised as a liability and deducted from equity at the end of the reporting period only if they are declared before or on the end of the reporting period. Dividends are disclosed in the financial statements when they are proposed before the end of the reporting period or proposed or declared after the end of the reporting period but before the financial statements are authorised for issue.
