extends ../../layouts/english

block head
	- pageTitle = 'Income Tax';

block recommend
	- pageId = '09070610';
	- recommend_lang = lang;

block content
	p Income tax expense for the year ended December 31 was as follows:
	table.table_09.table_09070610_1
		tr.bold
			td
			td.bb1 2014 г.
			td.bb1 2013 г.
		tr
			td Current income tax expense
			td 61 721
			td 77 059
		tr
			td Adjustments in respect of income tax of previous periods
			td (5 358)
			td 3 306
		tr
			td Deferred tax expense/(benefit) related to origination and reversal of temporary differences
			td.bb1 (41 087)
			td.bb1 17 478
		tr.bold
			td Total income tax expense
			td.bb2fff 15 276
			td.bb2fff 97 843

	p.mtb50 Profit/(loss) before tax is reconciled to tax expense as follows:
	table.table_09.table_09070610_2
		tr.bold
			td
			td.bb1 2014 г.
			td.bb1 2013 г.
		tr
			td Profit/(loss) before tax
			td (201 373)
			td 312 383
		tr
			td Theoretical tax charge at statutory rate in Russia of 20%
			td (40 275)
			td 62 477
		tr
			td Adjustments in respect of income tax of previous periods
			td (5 358)
			td 3 306
		tr
			td Effect of items which are not deductible for taxation purposes or not taxable
			td 70 525
			td 20 021
		tr
			td Effect of different tax rates in countries other than Russia
			td (14 005)
			td 10 551
		tr
			td Tax on dividends distributed inside the Group
			td 1 326
			td 904
		tr
			td Effect of differences in tax rates on dividend income
			td (9)
			td (326)
		tr
			td Increase due to acquisition of subsidiaries
			td –
			td 479
		tr
			td Effect of unrecognised tax credits, tax losses and temporary differences of previous periods
			td 3 210
			td 145
		tr
			td Other
			td.bb1 (138)
			td.bb1 286
		tr.bold
			td Total income tax expense
			td.bb2fff 15 276
			td.bb2fff 97 843

	p.mtb50 Deferred income tax assets and liabilities, their movements for the year ended December 31, 2014 were as follows:
	table.table_09.table_09070610_3
		tr.bold
			td
			td.bb1 2014 г.
			td.bb1 Change recognised in income statement
			td.bb1 Change recognised in other comprehensive income/ (loss)
			td.bb1 Currency translation adjustments
			td.bb1 2013 г.
		tr
			td Valuation and depreciation of property, plant and equipment
			td (246 057)
			td (25 888)
			td –
			td 79 252
			td (299 421)
		tr
			td Valuation and amortisation of intangible assets
			td (31 617)
			td 1 707
			td –
			td (134)
			td (33 190)
		tr
			td Tax losses available for offset
			td 169 140
			td 48 957
			td 120 406
			td (53 121)
			td 52 898
		tr
			td Provisions and accruals
			td 18 246
			td 4 132
			td –
			td (4 684)
			td 18 798
		tr
			td Finance lease obligations
			td 8 319
			td 2 827
			td –
			td (3 650)
			td 9 142
		tr
			td Valuation of inventory
			td 15 396
			td 10 106
			td –
			td (2 800)
			td 8 090
		tr
			td Valuation of accounts receivable
			td 4 549
			td 1 154
			td –
			td (1 876)
			td 5 271
		tr
			td Other
			td.bb1 1 200
			td.bb1 (1 908)
			td.bb1 (406)
			td.bb1 (648)
			td.bb1 4 162
		tr.bold
			td.bb1
			td.bb1 (60 824)
			td.bb1 41 087
			td.bb1 120 000
			td.bb1 12 339
			td.bb1 (234 250)
		tr
			td.bb1 Reflected in the statement of financial position as follows:
			td.bb1(colspan=5)
		tr
			td Deferred tax liability
			td (205 667)
			td 33 938
			td –
			td 58 269
			td (297 874)
		tr
			td Deferred tax asset
			td 144 843
			td 7 149
			td 120 000
			td (45 930)
			td 63 624

	p.mtb50 Deferred income tax assets and liabilities, their movements for the year ended December 31, 2013 were as follows:
	table.table_09.table_09070610_4
		tr.bold
			td
			td.bb1 2013 г.
			td.bb1 Change recognised in income statement
			td.bb1 Change recognised in other comprehensive income/ (loss)
			td.bb1 Acquisition and disposal of subsidiaries
			td.bb1 Currency translation adjustments
			td.bb1 2012 г.
		tr
			td Valuation and depreciation of property, plant and equipment
			td (299 421)
			td (16 486)
			td –
			td 479
			td 14 823
			td (298 237)
		tr
			td Valuation and amortisation of intangible assets
			td (33 190)
			td 5 791
			td –
			td –
			td 4
			td (38 985)
		tr
			td Tax losses available for offset
			td 52 898
			td (16 950)
			td 16 348
			td (117)
			td (3 701)
			td 57 318
		tr
			td Provisions and accruals
			td 18 798
			td 2 544
			td –
			td (8)
			td (779)
			td 17 041
		tr
			td Finance lease obligations
			td 9 142
			td 316
			td –
			td –
			td (694)
			td 9 520
		tr
			td Valuation of inventory
			td 8 090
			td 7 785
			td –
			td (370)
			td 152
			td 523
		tr
			td Valuation of accounts receivable
			td 5 271
			td 3 456
			td –
			td (152)
			td (208)
			td 2 175
		tr
			td Other
			td.bb1 4 162
			td.bb1 (3 934)
			td.bb1 (163)
			td.bb1 –
			td.bb1 (171)
			td.bb1 8 430
		tr.bold
			td.bb1
			td.bb2fff (234 250)
			td.bb2fff (17 478)
			td.bb2fff 16 185
			td.bb2fff (168)
			td.bb2fff 9 426
			td.bb2fff (242 215)
		tr
			td.bb1 Reflected in the statement of financial position as follows:
			td.bb1(colspan=6)
		tr
			td Deferred tax liability
			td (297 874)
			td (7 987)
			td –
			td –
			td 12 427
			td (302 314)
		tr
			td Deferred tax asset
			td 63 624
			td (9 491)
			td 16 185
			td (168)
			td (3 001)
			td 60 099
	p Deferred tax assets were recognised for tax losses carry-forward to the extent that the realisation of the related tax benefit through future taxable profits is probable.
	p As at December 31, 2014, the Group has not recognised deferred tax liability in respect of 907,714 (December 31, 2013: 1,372,526) temporary differences associated with investments in subsidiaries as the Group is able to control the timing of the reversal of those temporary differences and does not intend to reverse them in the foreseeable future.
