extends ../../layouts/english

block head
	- pageTitle = 'Inventories';

block recommend
	- pageId = '09070505';
	- recommend_lang = lang;

block content
	p Inventories are measured at the lower of cost and net realisable value. Net realisable value is the estimated selling price in the ordinary course of business less the estimated costs of completion and costs necessary to make the sale. The cost of inventories is determined on the weighted average basis.
	p The costs of inventories are comprised of all costs of purchase, costs of conversion and other costs incurred in bringing the inventories to their present condition and location. The value of work in progress and finished goods includes costs of raw materials, direct labor, direct production costs and indirect production overheads including depreciation. Financing costs are not included in stock valuation.
	p The Group periodically analyses inventories to determine whether they are damaged, obsolete or slow-moving or if their net realisable value has declined, and makes allowance for such inventories.
