extends ../../layouts/english

block head
	- pageTitle = 'Property, Plant and Equipment';

block recommend
	- pageId = '09070618';
	- recommend_lang = lang;

block content
	p Movement in property, plant and equipment for the year ended December 31, 2014 was as follows:

	table.table_09.table_09070618_1.lightbox
		tr.bold
			td
			td.bb1 Land and buildings
			td.bb1 Machinery and equipment
			td.bb1 Transport and motor vehicles
			td.bb1 Furniture and fixtures
			td.bb1 Leasehold improvements
			td.bb1 Construction in progress
			td.bb1 TOTAL
		tr
			td(colspan=8)
				h3 COST
		tr.bold
			td Balance at January 1, 2014
			td 1 442 677
			td 3 220 619
			td 67 389
			td 76 175
			td 25 262
			td 677 754
			td 5 509 876
		tr
			td Additions
			td –
			td –
			td –
			td –
			td –
			td 351 145
			td.bold 351 145
		tr
			td Assets put into operation
			td 112 035
			td 449 849
			td 18 253
			td 5 739
			td 4 856
			td (590 732)
			td –
		tr
			td Disposals
			td (4 358)
			td (67 969)
			td (1 533)
			td (1 341)
			td –
			td (5 214)
			td.bold (80 415)
		tr
			td Reclassifications
			td (440)
			td (127)
			td (1)
			td (826)
			td 803
			td 591
			td –
		tr
			td Currency translation adjustments
			td.bb1 (526 850)
			td.bb1 (1 092 648)
			td.bb1 (27 673)
			td.bb1 (23 236)
			td.bb1 (2 108)
			td.bb1 (239 201)
			td.bb1.bold (1 911 716)
		tr.bold
			td BALANCE AT DECEMBER 31, 2014
			td.bb1 1 023 064
			td.bb1 2 509 724
			td.bb1 56 435
			td.bb1 56 511
			td.bb1 28 813
			td.bb1 194 343
			td.bb1 3 868 890
		tr
			td(colspan=8)
				h3 ACCUMULATED DEPRECIATION AND IMPAIRMENT
		tr.bold
			td Balance at January 1, 2014
			td (287 005)
			td (1 290 127)
			td (33 684)
			td (48 138)
			td (5 567)
			td –
			td (1 664 521)
		tr
			td Depreciation charge
			td (37 454)
			td (215 393)
			td (4 895)
			td (8 904)
			td (1 318)
			td –
			td.bold (267 964)
		tr
			td Impairment
			td (1 135)
			td –
			td –
			td –
			td –
			td –
			td.bold (1 135)
		tr
			td Disposals
			td 1 136
			td 62 978
			td 1 309
			td 1 257
			td –
			td –
			td.bold 66 680
		tr
			td Reclassifications
			td 19
			td (488)
			td –
			td 495
			td (26)
			td –
			td –
		tr
			td Currency translation adjustments
			td.bb1 109 504
			td.bb1 469 492
			td.bb1 12 032
			td.bb1 17 058
			td.bb1 134
			td.bb1 –
			td.bb1.bold 608 220
		tr.bold
			td BALANCE AT DECEMBER 31, 2014
			td.bb1 (214 935)
			td.bb1 (973 538)
			td.bb1 (25 238)
			td.bb1 (38 232)
			td.bb1 (6 777)
			td.bb1 –
			td.bb1 (1 258 720)
		tr.bold
			td NET BOOK VALUE AT DECEMBER 31, 2014
			td.bb2fff 808 129
			td.bb2fff 1 536 186
			td.bb2fff 31 197
			td.bb2fff 18 279
			td.bb2fff 22 036
			td.bb2fff 194 343
			td.bb2fff 2 610 170
		tr.bold
			td NET BOOK VALUE AT JANUARY 1, 2014
			td.bb2fff 1 155 672
			td.bb2fff 1 930 492
			td.bb2fff 33 705
			td.bb2fff 28 037
			td.bb2fff 19 695
			td.bb2fff 677 754
			td.bb2fff 3 845 355

	p.mtb50 Movement in property, plant and equipment for the year ended December 31, 2013 was as follows:
	table.table_09.table_09070618_2.lightbox
		tr.bold
			td
			td.bb1 Land and buildings
			td.bb1 Machinery and equipment
			td.bb1 Transport and motor vehicles
			td.bb1 Furniture and fixtures
			td.bb1 Leasehold improvements
			td.bb1 Construction in progress
			td.bb1 TOTAL
		tr
			td(colspan=8)
				h3 COST
		tr.bold
			td Balance at January 1, 2013
			td 1 397 843
			td 3 066 462
			td 65 938
			td 69 257
			td 18 920
			td 697 932
			td 5 316 352
		tr
			td Additions
			td –
			td –
			td –
			td –
			td –
			td 516 214
			td.bold 516 214
		tr
			td Assets put into operation
			td 124 539
			td 343 396
			td 4 248
			td 10 890
			td 6 554
			td (489 627)
			td –
		tr
			td Disposals
			td (4 854)
			td (34 406)
			td (1 440)
			td (1 037)
			td –
			td (1 948)
			td.bold (43 685)
		tr
			td Increase due to acquisition of subsidiaries (Note 10)
			td 10 845
			td 10 680
			td 271
			td 882
			td –
			td 27
			td.bold 22 705
		tr
			td Reclassifications
			td (2 302)
			td 918
			td 1 384
			td –
			td –
			td –
			td –
		tr
			td Currency translation adjustments
			td.bb1 (83 394)
			td.bb1 (166 431)
			td.bb1 (3 012)
			td.bb1 (3 817)
			td.bb1 (212)
			td.bb1 (44 844)
			td.bb1.bold (301 710)
		tr.bold
			td BALANCE AT DECEMBER 31, 2013
			td.bb1 1 442 677
			td.bb1 3 220 619
			td.bb1 67 389
			td.bb1 76 175
			td.bb1 25 262
			td.bb1 677 754
			td.bb1 5 509 876
		tr
			td(colspan=8)
				h3 ACCUMULATED DEPRECIATION AND IMPAIRMENT
		tr.bold
			td Balance at January 1, 2013
			td (262 127)
			td (1 167 234)
			td (31 450)
			td (41 743)
			td (4 164)
			td –
			td (1 506 718)
		tr
			td Depreciation charge
			td (39 618)
			td (222 556)
			td (4 361)
			td (9 879)
			td (1 440)
			td –
			td.bold (277 854)
		tr
			td Impairment
			td (4 243)
			td –
			td –
			td –
			td –
			td –
			td.bold (4 243)
		tr
			td Disposals
			td 2 982
			td 28 505
			td 1 164
			td 928
			td –
			td –
			td.bold 33 579
		tr
			td Reclassifications
			td 133
			td 428
			td (561)
			td –
			td –
			td –
			td –
		tr
			td Currency translation adjustments
			td.bb1 15 868
			td.bb1 70 730
			td.bb1 1 524
			td.bb1 2 556
			td.bb1 37
			td.bb1 –
			td.bb1.bold 90 715
		tr.bold
			td BALANCE AT DECEMBER 31, 2013
			td.bb1 (287 005)
			td.bb1 (1 290 127)
			td.bb1 (33 684)
			td.bb1 (48 138)
			td.bb1 (5 567)
			td.bb1 –
			td.bb1 (1 664 521)
		tr.bold
			td NET BOOK VALUE AT DECEMBER 31, 2013
			td.bb2fff 1 155 672
			td.bb2fff 1 930 492
			td.bb2fff 33 705
			td.bb2fff 28 037
			td.bb2fff 19 695
			td.bb2fff 677 754
			td.bb2fff 3 845 355
		tr.bold
			td NET BOOK VALUE AT JANUARY 1, 2013
			td.bb2fff 1 135 716
			td.bb2fff 1 899 228
			td.bb2fff 34 488
			td.bb2fff 27 514
			td.bb2fff 14 756
			td.bb2fff 697 932
			td.bb2fff 3 809 634

	p.mtb50 As at December 31, 2014, bank borrowings were secured by properties and equipment with a carrying value of 129,274 (December 31, 2013: 117,945).
	p As at December 31, 2014, there were indicators of impairment of certain property in the Russia operating segment, therefore, the Group performed an impairment test in respect of these assets. As a result of the test, the Group determined that the carrying value of the property exceeds its recoverable amount. Resulting impairment loss of 1,135 was recognised in the income statement for the year ended December 31, 2014 (December 31, 2013: 4,243).

	h3 Capitalised Borrowing Costs
	p The Group has the combination of borrowings, that are specific to the acquisition and construction of a particular qualifying asset, and general borrowings. The amount of borrowing costs capitalised during the year ended December 31, 2014 was 25,535 (2013: 16,972). The rate of the specific borrowing used to determine the amount of capitalised borrowing costs in the year ended December 31, 2014 was 9.47% (2013: 5.19%); the capitalisation rate relating to general borrowings was 9.64% (2013: 6.52%).
