extends ../../layouts/english

block head
	- pageTitle = 'Convertible Bonds';

block recommend
	- pageId = '09070624';
	- recommend_lang = lang;

block content
	p On February 11, 2010, TMK Bonds S.A., the Group’s structured entity, completed the offering of 4,125 convertible bonds due 2015 convertible into Global Depository Receipts each representing four ordinary shares of OAO TMK. The bonds are listed on the London Stock Exchange. The bonds have nominal value of 100,000 US dollars each and were issued at 100% of their principal amount. The convertible bonds carry a coupon of 5.25% per annum, payable on a quarterly basis. As at December 31, 2014, the bonds were convertible into GDRs at conversion price of 22.137 US dollars per GDR (December 31, 2013: 22.137 US dollars per GDR).
	p The Group can early redeem all outstanding bonds, in whole but not in part, at any time on or after March 4, 2013 at their principal amount plus accrued interest, if the volume weighted average price of the GDRs traded on the London Stock Exchange during 30 consecutive dealing days exceeds 130 per cent of the conversion price (the “Issuer Call”). In addition, the Group has the option to redeem the bonds at the principal amount plus accrued interest if 15% or less of the bonds remain outstanding.
	p The Group determined that the convertible bonds represent a combined financial instrument containing two components: the bond liability (host component) and an embedded derivative representing conversion option in foreign currency combined with the Issuer Call (the “Embedded Conversion Option”).
	p The Embedded Conversion Option in foreign currency was classified as financial instrument at fair value through profit or loss. The Embedded Conversion Option was initially recognised at the fair value of 35,455. The Group used binomial options pricing model for initial and subsequent measurement of fair value of this embedded derivative. For the purposes of this model, the Group assessed that the credit spread comprised 2,422 bps and 410 bps as at December 31, 2014 and December 31, 2013, respectively. The change in the fair value of the embedded derivative during the reporting period resulted in a gain of 2,080 (2013: 8,410), which was recorded as gain on changes in fair value of derivative financial instruments in the income statement.
	p The fair value of the host component at the initial recognition date has been determined as a residual amount after deducting the fair value of the Embedded Conversion Option from the issue price of the convertible bonds adjusted for transaction costs. The host component is subsequently carried at the amortised cost using the effective interest method. As at December 31, 2014, the carrying value of the host component was 313,262 (December 31, 2013: 415,508).
	p Up to the date of authorisation of these consolidated financial statements for issuance, the Group fully redeemed the convertible bonds.
