extends ../../layouts/english

block head
	- pageTitle = 'Finance Lease Liability';

block recommend
	- pageId = '09070625';
	- recommend_lang = lang;

block content
	p The Group’s finance lease obligations primarily related to machinery, equipment and transport with certain leases having renewal and purchase options at the end of lease term.
	p The carrying value of the leased assets was as follows as at December 31:

	table.table_09.table_09070625_1
		tr.bold
			td
			td.bb1 2014
			td.bb1 2013
		tr
			td Machinery and equipment
			td 26 752
			td 40 362
		tr
			td Transport and motor vehicles
			td.bb1 7 791
			td.bb1 668
		tr.bold
			td
			td.bb2fff 34 543
			td.bb2fff 41 030

	p The leased assets were included in property, plant and equipment in the consolidated statement of financial position.
	p.mtb50 Future minimum lease payments were as follows as at December 31, 2014:

	table.table_09.table_09070625_2
		tr.bold
			td
			td.bb1 Minimum payments
			td.bb1 Present value of payments
		tr
			td 2015г.
			td 7 664
			td 5 545
		tr
			td 2016-2019
			td 22 176
			td 16 615
		tr
			td After 2019
			td.bb1 36 099
			td.bb1 31 026
		tr.bold
			td Total minimum lease payments
			td 65 939
			td 53 186
		tr
			td Less amounts representing finance charges
			td.bb1 (12 753)
			td.bb1 –
		tr.bold
			td Present value of minimum lease payments
			td.bb2fff 53 186
			td.bb2fff 53 186

	p.mtb50 Future minimum lease payments were as follows as at December 31, 2013:
	table.table_09.table_09070625_3
		tr.bold
			td
			td.bb1 Minimum payments
			td.bb1 Present value of payments
		tr
			td 2014
			td 5 968
			td 3 796
		tr
			td 2015-2018
			td 21 377
			td 14 377
		tr
			td After 2018
			td.bb1 39 281
			td.bb1 33 592
		tr.bold
			td Total minimum lease payments
			td 66 626
			td 51 765
		tr
			td Less amounts representing finance charges
			td.bb1 (14 861)
			td.bb1 –
		tr.bold
			td Present value of minimum lease payments
			td.bb2fff 51 765
			td.bb2fff 51 765
