extends ../../layouts/english

block head
	- pageTitle = ' Subsequent events';

block recommend
	- pageId = '09070633';
	- recommend_lang = lang;

block content
	h3 Acquisition of ChermetServis-Snabzhenie
	p On February 9, 2015, the Group acquired 100% ownership interest in ChermetServis-Snabzhenie specialising on scrap supply to steel plants, which includes not only collection, processing and distribution of ferrous scrap, but also comprehensive procurement services.

	h3 Convertible Bonds
	p The Group fully redeemed its convertible bonds due 2015.
