extends ../../layouts/english

block head
	- pageTitle = 'Equity';

block recommend
	- pageId = '09070631';
	- recommend_lang = lang;

block content
	h3  Share Capital

	table.table_09.table_09070631_1
		tr.bold
			td
			td.bb1 2014
			td.bb1 2013
		tr.bold
			td Number of shares
			td
			td
		tr
			td Authorised <br> Ordinary shares of 10 Russian roubles each
			td 991 907 260
			td 937 586 094
		tr
			td Issued and fully paid<br> Ordinary shares of 10 Russian roubles each
			td 991 907 260
			td 937 586 094
	p On June 27, 2014, the Board of Directors authorised an increase of share capital. In December 2014, the Group received 5.5 billion Russian roubles (101,536 at the historical exchange rates) as consideration from shareholders for the issuance of 54,321,166 shares.

	h3 Treasury Shares
	table.table_09.table_09070631_2
		tr.bold
			td
			td.bb1 2014
			td.bb1 2013
		tr
			td Number of shares
			td 72 559 628
			td 72 559 628
		tr
			td Cost
			td 319 149
			td 319 149

	h3 Reserve Capital
	p According to Russian Law, the Company must create a reserve capital in the amount of 5% of the share capital per the Russian statutory accounts by annual appropriations that should be at least 5% of the annual net profit per the statutory financial statements. The reserve capital can be used only for covering losses and for the redemption of the Company’s bonds and purchase of its own shares if there are no other sources of financing.

	h3 Dividends Declared by the Parent Entity to its Shareholders
	p On June 19, 2014, the annual shareholders’ meeting approved final dividends in respect of 2013 in the amount of 731,317 thousand Russian roubles (21,001 at the exchange rate at the date of approval) or 0.78 Russian roubles per share (0.02 US dollars per share), from which 56,597 thousand Russian roubles (1,625 at the exchange rate at the date of approval) related to the treasury shares in possession of the Group.
	p On December 25, 2014, the extraordinary shareholders’ meeting approved interim dividends in respect of six months 2014 in the amount of 393,786 thousand Russian roubles (7,227 at the exchange rate at the date of approval) or approximately 0.397 Russian roubles per share from which 28,806 thousand Russian roubles (529 at the exchange rate at the date of approval) related to the treasury shares in possession of the Group.

	h3 Dividends Declared by Subsidiaries of the Group to the Non-controlling Interest Owners
	p During the years ended December 31, 2014 and 2013, the Group’s subsidiaries declared dividends to the non-controlling interest owners in the amounts of 1,367 and 1,554, respectively.

	h3  Acquisition of Non-controlling Interests in Subsidiaries
	p In the year ended December 31, 2014, the Company purchased additional 0.21% of OAO “Seversky Tube Works” shares for cash consideration of 193. The excess in the amount of 383 of the carrying values of net assets attributable to the acquired interests over the consideration paid was recorded in additional paid-in capital.

	h3 Recognition of the Change in Non-controlling Interests in the Subsidiary as an Equity Transaction
	p Non-controlling interest shareholder of OOO “TMK-INOX” has a right to sell its ownership interest to the Group under certain circumstances beyond the Group’s control starting 2018. The terms of the put option do not provide the Group with a present ownership interest in the shares subject to the put, thus the Group accounted for this put option as the following:
	ul
		li the Group derecognised the non-controlling interest’s share of loss in OOO “TMK-INOX” in the amount of 439 in the year ended December 31, 2014 as if it was acquired at this date (2013: 217);
		li the Group recorded change in the fair value of financial liability in respect of put option held by non-controlling interest shareholder of OOO “TMK-INOX” and accounted for the difference between the non-controlling interest in OOO “TMK-INOX” derecognised and the change in fair value of financial liability in the amount of 2,676 in additional paid-in capital (2013: 8,113 in retained earnings).

	h3 Hedges of Net Investment in Foreign Operations
	p As at December 31, 2014, a proportion of the Group’s US dollar-denominated borrowing in the amount of 1,197,710 (December 31, 2013: 1,197,710) was designated as hedges of net investments in the Group’s foreign subsidiaries.
	p The effectiveness of the hedging relationship was tested using the dollar offset method by comparing the cumulative gains or losses due to changes in US dollar / Russian rouble spot rates on the hedging instrument and on the hedged item. In the year ended December 31, 2014, the effective portion of net losses from spot rate changes in the amount of 602,032 at historical exchange rates, net of income tax of 120,406, at historical exchange rates was recognised in other comprehensive loss.

	h3  Movement on Cash Flow Hedges
	p The Group hedges its exposure to foreign currency risk using currency forwards and its exposure to variability in cash flows attributable to interest rate risk using interest rate swaps.
	p The details of movement on cash flow hedges during the years ended December 31, 2014 and 2013 are presented in the following table:

	table.table_09.table_09070631_3
		tr.bold
			td
			td(colspan=2).bb1 Currency forward contracts
			td(colspan=2).bb1 Interest rate swap contracts
			td(colspan=2).bb1 TOTAL
		tr.bold
			td
			td.bb1 2014
			td.bb1 2013
			td.bb1 2014
			td.bb1 2013
			td.bb1 2014
			td.bb1 2013
		tr
			td Gain/(loss) arising during the period
			td (26)
			td 103
			td (744)
			td (47)
			td (770)
			td 56
		tr
			td Recognition of realised results in the income statement
			td.bb1 26
			td.bb1 (49)
			td.bb1 2 502
			td.bb1 539
			td.bb1 2 528
			td.bb1 490
		tr.bold
			td Movement on cash flow hedges
			td –
			td 54
			td 1 758
			td 492
			td 1 758
			td 546
		tr
			td Income tax
			td.bb1 –
			td.bb1 (8)
			td.bb1 (406)
			td.bb1 (155)
			td.bb1 (406)
			td.bb1 (163)
		tr.bold
			td Movement on cash flow hedges, net of tax
			td.bb2fff –
			td.bb2fff 46
			td.bb2fff 1 352
			td.bb2fff 337
			td.bb2fff 1 352
			td.bb2fff 383
