extends ../../layouts/english

block head
	- pageTitle = 'Impairment of Non-Financial Assets (Other than Goodwill)';

block recommend
	- pageId = '09070508';
	- recommend_lang = lang;

block content
	p An assessment is made at each reporting date to determine whether there is an objective evidence that an asset or a group of assets may be impaired. When there is an indication that an asset may be impaired, the recoverable amount is assessed and, when impaired, the asset is written down to its recoverable amount, which is the higher of the fair value less costs to sell and the value in use.
	p Fair value less costs to sell is the amount obtainable from the sale of an asset in an orderly transaction between market participants, after deducting any direct incremental disposal costs. Value in use is the present value of estimated future cash flows expected to arise from continuing use of an asset and from its disposal at the end of its useful life.
	p In assessing value in use, estimated future cash flows are discounted to their present value using a pre-tax discount rate that reflects current market assessments of time value of money and risks specific to the asset. For an asset that does not generate cash inflows largely independent of those from other assets, recoverable amount is determined for the cash-generating unit to which the asset belongs.
	p Impairment loss is recognised for the difference between estimated recoverable amount and carrying value. Carrying amount of an asset is reduced to its estimated recoverable amount and the amount of loss is included in the income statement for the period.
	p Impairment loss is reversed if there is an indication that an impairment loss recognised in prior periods for an asset other than goodwill may no longer exist or may be decreased and if subsequent increase in recoverable amount can be related objectively to event occurring after the impairment loss was recognised. Impairment loss is only reversed to the extent that the asset’s carrying amount does not exceed the carrying amount that would have been determined, net of depreciation, if no impairment loss had been recognised.
	p Intangible assets not yet available for use are tested for impairment annually.
