extends ../../layouts/english

block head
	- pageTitle = 'Financial Risk Management Objectives and Policies';

block recommend
	- pageId = '09070632';
	- recommend_lang = lang;

block content
	p In the course of its business, the Group is exposed to a number of financial risks: market risk (including interest rate risk and foreign currency risk), liquidity risk and credit risk. The presented information shows susceptibility of the Group concerning each of these risks. The Board of Directors reviews and establishes policies for managing each of these risks which are summarised below.

	h3 Market Risk
	p The Group is exposed to risk from movements in interest rates and foreign currency exchange rates that affect its assets, liabilities and anticipated future transactions. The objective of market risk management is to manage and control market risk exposures, while optimising the return on the risk.

	h3 Interest Rate Risk
	p Interest rate risk is the risk that the fair value or future cash flows of a financial instrument will fluctuate because of changes in market interest rates. Group’s interest rate risk management policy is to minimise risk with the aim to achieve financial structure objectives defined and approved in the management’s plans. Borrowing requirements of the Group’s companies are pooled by the Group’s central finance department in order to manage net positions and the funding of portfolio developments consistently with management’s plans while maintaining a level of risk exposure within prescribed limits.
	p The Group borrows on both a fixed and variable rate basis. EURIBOR and LIBOR served as the basis for the calculation of interest rates on loans with variable rate. The Group enters into interest rate swaps, in which the Group agrees to exchange, at specified intervals, the difference between fixed and variable rate interest amounts calculated by reference to an agreed-upon notional principal amount. These swaps are designated to hedge underlying debt obligations. Variable rate loans accounted for 8% of the total loan portfolio at the end of 2014, after taking into account the effect of interest rate swaps (9% at the end of 2013).
	p The Group does not have any financial assets with variable interest rate.
	p The following table demonstrates the sensitivity to a reasonably possible change in interest rates on that portion of loans and borrowings affected, after the impact of hedge accounting. With all other variables held constant, the Group’s profit/(loss) before tax is affected through the impact on floating rate borrowings, as follows:

	table.table_09.table_09070632_1
		tr.bold
			td
			td.bb1 Basis points
			td.bb1 Effect on profit/(loss) before tax
		tr.bold
			td As at December 31, 2014
			td
			td
		tr
			td Increase in LIBOR
			td 2
			td (40)
		tr
			td Decrease in LIBOR
			td (2)
			td 40
		tr
			td Increase in EURIBOR
			td 7
			td (55)
		tr
			td Decrease in EURIBOR
			td.bb1 (7)
			td.bb1 55
		tr.bold
			td As at December 31, 2013
			td
			td
		tr
			td Increase in LIBOR
			td 3
			td (76)
		tr
			td Decrease in LIBOR
			td (3)
			td 76
		tr
			td Increase in EURIBOR
			td 13
			td (119)
		tr
			td Decrease in EURIBOR
			td (13)
			td 119

	h3.mtb50 Foreign Currency Risk
	p The Group’s exposure to currency risk relates to sales, purchases and borrowings that are denominated in a currency other than the respective functional currencies of the Group’s subsidiaries, and the Group’s net investments in foreign operations. The currencies in which these transactions and balances primarily denominated are US dollars and euro.
	p The Group’s exposure to currency risk determined as the net monetary position in respective currencies was as follows as at December 31:

	table.table_09.table_09070632_2
		tr.bold
			td
			td.bb1 2014
			td.bb1 2013
		tr
			td USD/RUR
			td (1 571 946)
			td (1 731 183)
		tr
			td EUR/RUR
			td (79 014)
			td (94 785)
		tr
			td USD/EUR
			td (5 584)
			td 23 877
		tr
			td USD/RON
			td (4 893)
			td (14 185)
		tr
			td EUR/RON
			td (50 723)
			td (84 008)
		tr
			td KZT/RUR
			td 10 350
			td 8 700
		tr
			td USD/CAD
			td (25 049)
			td (9 441)

	p The Group hedged its net investments in foreign operations against foreign currency risk using borrowings in US dollars made by Russian companies of the Group and its exposure to currency risk related to USD denominated sales of Romanian subsidiaries using USD/RON forward contracts. The Group doesn’t have other formal arrangements to manage currency risks of the Group’s operations and balances. However, the Group seeks to bring its financial liabilities in foreign currency in line with export net sales, thus mitigating currency risk.
	p The following table demonstrates the sensitivity to reasonably possible changes in the respective currencies, with all other variables held constant, of the Group’s profit/(loss) before tax and other comprehensive income/(loss). The movement in other comprehensive income/(loss) arises from gains or losses on the US dollar-denominated borrowings related to the effective portion of the hedge of net investments in foreign operations (Note 29 viii). In estimating reasonably possible changes for 2014 the Group assessed the volatility of foreign exchange rates during the year ended December 31, 2014 (2013: historical data for the three preceding years). The approach to the calculation of the volatility was changed in 2014 due to the increased volatility of Russian rouble against other currencies in the past few months.

	table.table_09.table_09070632_3
		tr.bold
			td
			td(colspan=6).bb1 As at December 31, 2014
		tr.bold
			td
			td(colspan=2).bb1 Volatility range
			td(colspan=2).bb1 Effect on profit/(loss) before tax
			td(colspan=2).bb1 Effect on other comprehensive income/(loss)
		tr.bold
			td
			td.bb1 Low
			td.bb1 High
			td.bb1 Low
			td.bb1 High
			td.bb1 Low
			td.bb1 High
		tr
			td USD/RUR
			td 27,97%
			td -27,97%
			td (122 908)
			td 122 908
			td (316 765)
			td 316 765
		tr
			td EUR/RUR
			td 28,70%
			td -28,70%
			td (22 677)
			td 22 677
			td –
			td –
		tr
			td USD/EUR
			td 6,15%
			td -6,15%
			td (343)
			td 343
			td –
			td –
		tr
			td USD/RON
			td 6,64%
			td -6,64%
			td (325)
			td 325
			td –
			td –
		tr
			td EUR/RON
			td 2,99%
			td -2,99%
			td (1 517)
			td 1 517
			td –
			td –
		tr
			td KZT/RUR
			td 32,52%
			td -32,52%
			td 3 366
			td (3 366)
			td –
			td –
		tr
			td USD/CAD
			td 6,37%
			td -6,37%
			td (1 596)
			td 1 596
			td –
			td –

	table.table_09.table_09070632_4
		tr.bold
			td
			td(colspan=6).bb1 As at December 31, 2013
		tr.bold
			td
			td(colspan=2).bb1 Volatility range
			td(colspan=2).bb1 Effect on profit/(loss) before tax
			td(colspan=2).bb1 Effect on other comprehensive income/(loss)
		tr.bold
			td
			td.bb1 Low
			td.bb1 High
			td.bb1 Low
			td.bb1 High
			td.bb1 Low
			td.bb1 High
		tr
			td USD/RUR
			td 10,18%
			td -10,18%
			td (64 392)
			td 64 392
			td (111 842)
			td 111 842
		tr
			td EUR/RUR
			td 7,84%
			td -7,84%
			td (7 431)
			td 7 431
			td –
			td –
		tr
			td USD/EUR
			td 9,24%
			td -9,24%
			td 2 206
			td (2 206)
			td –
			td –
		tr
			td USD/RON
			td 11,02%
			td -11,02%
			td (1 563)
			td 1 563
			td –
			td –
		tr
			td EUR/RON
			td 4,60%
			td -4,60%
			td (3 864)
			td 3 864
			td –
			td –
		tr
			td KZT/RUR
			td 9,96%
			td -9,96%
			td 867
			td (867)
			td –
			td –
		tr
			td USD/CAD
			td 7,42%
			td -7,42%
			td (701)
			td 701
			td –
			td –

	h3 Liquidity Risk
	p Liquidity risk arises when the Group encounters difficulties to meet commitments associated with liabilities and other payment obligations. The Group’s approach to managing liquidity is to ensure that it will always have sufficient liquidity to meet its liabilities when due, under both normal and stressed conditions, without incurring unacceptable losses or risking damage to the Group’s reputation.
	p The Group manages liquidity risk by targeting an optimal ratio between equity and total debt consistent with management plans and business objectives. This enables the Group to maintain an appropriate level of liquidity and financial capacity as to minimise borrowing expenses and to achieve an optimal profile of composition and duration of indebtedness. The Group has access to a wide range of funding at competitive rates through the capital markets and banks and coordinates relationships with banks centrally. At present, the Group believes it has access to sufficient funding and has also both committed and uncommitted borrowing facilities to meet currently foreseeable borrowing requirements.
	p Effective management of the liquidity risk has the objective of ensuring both availability of adequate funding to meet short-term requirements and due obligations, and a sufficient level of flexibility in order to fund the development plans of the Group’s business, maintaining an adequate finance structure in terms of debt composition and maturity. This implies the adoption of a strategy for pursuing an adequate structure of borrowing facilities (particularly availability of committed borrowings facilities) and the maintenance of cash reserves.
	p The table below summarises the maturity profile of the Group’s financial liabilities based on contractual undiscounted payments, including interest payments:

	table.table_09.table_09070632_5
		tr.bold
			td.bb1 As at December 31, 2014
			td.bb1 Less than 1 year
			td.bb1 1 to 2 years
			td.bb1 2 to 3 years
			td.bb1 3 to 4 years
			td.bb1 >4 years
			td.bb1 TOTAL
		tr
			td Trade and other payables
			td 629 789
			td –
			td –
			td –
			td –
			td.bold 629 789
		tr
			td Accounts payable to related parties
			td 43 484
			td –
			td –
			td –
			td –
			td.bold 43 484
		tr
			td Interest-bearing loans and borrowings:
			td
			td
			td
			td
			td
			td
		tr
			td Principal
			td 728 574
			td 626 217
			td 534 385
			td 514 716
			td 743 783
			td.bold 3 147 675
		tr
			td Interest
			td 201 592
			td 168 784
			td 116 442
			td 79 121
			td 59 044
			td.bold 624 983
		tr
			td Finance lease liability
			td 7 664
			td 10 434
			td 5 188
			td 4 809
			td 37 844
			td.bold 65 939
		tr
			td Dividends payable
			td 1 889
			td –
			td –
			td –
			td –
			td.bold 1 889
		tr
			td Liabilities under put options of noncontrolling interest shareholders in subsidiaries
			td 6 639
			td –
			td –
			td 15 326
			td –
			td.bold 21 965
		tr
			td Other non-current liabilities
			td.bb1 –
			td.bb1 3
			td.bb1 33
			td.bb1 –
			td.bb1 8 263
			td.bb1.bold 8 299
		tr.bold
			td
			td.bb2fff 1 619 631
			td.bb2fff 805 438
			td.bb2fff 656 048
			td.bb2fff 613 972
			td.bb2fff 848 934
			td.bb2fff 4 544 023

	table.table_09.table_09070632_6
		tr.bold
			td.bb1 As at December 31, 2013
			td.bb1 Less than 1 year
			td.bb1 1 to 2 years
			td.bb1 2 to 3 years
			td.bb1 3 to 4 years
			td.bb1 >4 years
			td.bb1 TOTAL
		tr
			td Trade and other payables
			td 835 416
			td –
			td –
			td –
			td –
			td.bold 835 416
		tr
			td Accounts payable to related parties
			td 101 151
			td –
			td –
			td –
			td –
			td.bold 101 151
		tr
			td Interest-bearing loans and borrowings:
			td
			td
			td
			td
			td
			td
		tr
			td Principal
			td 362 168
			td 902 118
			td 561 187
			td 493 876
			td 1 302 195
			td.bold 3 621 544
		tr
			td Interest
			td 220 498
			td 182 787
			td 146 618
			td 112 464
			td 137 340
			td.bold 799 707
		tr
			td Finance lease liability
			td 5 968
			td 5 739
			td 5 503
			td 5 365
			td 44 051
			td.bold 66 626
		tr
			td Dividends payable
			td 5 863
			td –
			td –
			td –
			td –
			td.bold 5 863
		tr
			td Liabilities under put options of noncontrolling interest shareholders in subsidiaries
			td 9 323
			td –
			td –
			td –
			td 31 697
			td.bold 41 020
		tr
			td Other non-current liabilities
			td.bb1 –
			td.bb1 41
			td.bb1 –
			td.bb1 –
			td.bb1 8 701
			td.bb1.bold 8 742
		tr.bold
			td
			td.bb1 1 540 387
			td.bb1 1 090 685
			td.bb1 713 308
			td.bb1 611 705
			td.bb1 1 523 984
			td.bb1 5 480 069

	h3 Credit Risk
	p Credit risk is the potential exposure of the Group to losses that would be recognised if counterparties failed to perform or failed to pay amounts due. Financial instruments that potentially expose the Group to concentrations of credit risk consist primarily of trade and other receivables, cash and cash equivalents.
	p The credit risk arising from the Group’s normal commercial operations is controlled by each operating unit within Group-approved procedures for evaluating the reliability and solvency of each counterparty, including receivable collection. The monitoring activity of credit risk exposure is performed at the Group level according to set guidelines and measurement techniques to qualify and monitor counterparty risk.
	p The Group sells goods to some of the biggest Russian and international companies on credit terms. It is the Group’s policy that all customers applying for the credit terms are subject to credit verification procedures.
	p As at December 31, 2014, accounts receivable from the three biggest debtors of the Group amounted to 207,044 (December 31, 2013: 317,162). Management determines concentration by reference to receivables from particular customers as percentage of total accounts receivable.
	p The ageing analysis of trade and other receivables and other financial assets is presented in the table below:

	table.table_09.table_09070632_7
		tr.bold
			td
			td(colspan=2).bb1 2014
			td(colspan=2).bb1 2013
		tr.bold
			td
			td.bb1 Gross amount
			td.bb1 Impairment
			td.bb1 Gross amount
			td.bb1 Impairment
		tr
			td Current trade and other receivables – not past due
			td 646 515
			td (18 345)
			td 781 817
			td (4 459)
		tr
			td Current trade and other receivables – past due less than 30 days
			td 61 489
			td (1 188)
			td 85 771
			td (546)
		tr
			td between 30 and 90 days
			td 17 608
			td (282)
			td 85 486
			td (702)
		tr
			td over 90 days
			td 38 197
			td (20 385)
			td 73 861
			td (30 433)
		tr
			td Accounts receivable from related parties – not past due
			td 4 749
			td (18)
			td 4 608
			td (32)
		tr
			td Non-current trade and other receivables – not past due
			td 5 215
			td (38)
			td 27 072
			td (18 819)
		tr
			td Other – not past due
			td.bb1 4 253
			td.bb1 –
			td.bb1 5 712
			td.bb1 –
		tr.bold
			td
			td.bb2fff 778 026
			td.bb2fff (40 256)
			td.bb2fff 1 064 327
			td.bb2fff (54 991)

	p.mtb50 Movement in allowance for doubtful debts was as follows:

	table.table_09.table_09070632_8
		tr.bold
			td
			td.bb1 2014
			td.bb1 2013
		tr.bold
			td Balance at the beginning of the year
			td 54 991
			td 42 759
		tr
			td Utilised during the year
			td (6 284)
			td (800)
		tr
			td Additional increase in allowance
			td 13 997
			td 16 032
		tr
			td Currency translation adjustment
			td.bb1 (22 448)
			td.bb1 (3 000)
		tr.bold
			td Balance at the end of the year
			td.bb2fff 40 256
			td.bb2fff 54 991

	h3.mtb50 Capital Management
	p The primary objective of the Group’s capital management is to ensure that it maintains a strong credit rating and healthy capital ratios in order to support its business and maximise the return to shareholders. The Board of directors reviews the Group’s performance and establishes key performance indicators. In addition, the Group is subject to externally imposed capital requirements (debt covenants) which are used for capital monitoring. Through 2014, the Group was in compliance with such externally imposed capital requirements. The Group met its objectives for managing capital.
	p Capital includes equity attributable to the equity holders of the parent entity. The Group manages its capital structure and adjusts it by issue of new shares, dividend payments to shareholders, purchase of treasury shares. The Group monitors the compliance of the amount of legal reserve with the statutory requirements and makes appropriations of profits to legal reserve. In addition, the Group monitors distributable profits on a regular basis and determines the amounts and timing of dividend payments.

	h3 Fair Value of Financial Instruments Carried at Fair Value
	p The Group uses the following hierarchy for determining and disclosing the fair value of financial instruments by valuation technique:
	ul
		li Level 1:  Quoted (unadjusted) prices in active markets for identical assets or liabilities;
		li Level 2:  Other techniques for which all inputs which have a significant effect on the recorded fair value are observable, either directly or indirectly;
		li Level 3:  Techniques which use inputs which have a significant effect on the recorded fair value that are not based on observable market data.

	p.mtb50 The Group held the following financial instruments recorded at fair value:
	table.table_09.table_09070632_9
		tr.bold
			td
			td.bb1 2014
			td.bb1 2013
		tr
			td Embedded Conversion Option
			td –
			td (2 080)
		tr.bold
			td Total current derivative financial instruments
			td.bb2fff –
			td.bb2fff (2 080)
		tr
			td Interest rate swaps
			td.bb1 (2 076)
			td.bb1 (3 501)
		tr.bold
			td Total non-current derivative financial instruments
			td.bb2fff (2 076)
			td.bb2fff (3 501)

	p Financial instruments at fair value were measured by the Group using valuation techniques based on observable market data (Level 2 fair value measurement hierarchy).
	p The Group’s derivative financial instruments comprised of interest rate swaps and currency forwards. The use of derivatives was governed by the Group’s policies consistent with the overall risk management strategy of the Group. The derivatives were designated as hedging instruments in cash flow hedges. The valuation techniques applied to derivatives included forward pricing and swap models, using present value calculations. The models incorporated various inputs including the credit quality of counterparties, foreign exchange forward rates and interest rate curves.
	p During the reporting period, there were no transfers between Level 1 and Level 2 fair value measurement hierarchy, and no transfers into and out of Level 3 fair value measurement hierarchy.

	h3 Fair Value of Financial Instruments not Carried at Fair Value
	p For financial assets and financial liabilities that are liquid or having a short-term maturity (cash and cash equivalents, short-term accounts receivable, short-term loans) the carrying amounts approximate their fair value.
	p The following table shows financial instruments which carrying values differ from fair values:

	table.table_09.table_09070632_10
		tr.bold
			td
			td(colspan=2).bb1 2014
			td(colspan=2).bb1 2013
		tr.bold
			td
			td.bb1 Par value
			td.bb1 Fair value
			td.bb1 Par value
			td.bb1 Fair value
		tr.bold
			td Financial liabilities
			td
			td
			td
			td
		tr
			td Fixed rate long-term bank loans
			td 1 161 283
			td 1 089 008
			td 1 489 452
			td 1 489 888
		tr
			td Variable rate long-term bank loans
			td 408 379
			td 405 099
			td 497 756
			td 480 429
		tr
			td 5.25 per cent convertible bonds
			td 311 000
			td 289 043
			td 412 500
			td 415 993
		tr
			td 6.75 per cent loan participation notes due 2020
			td 500 000
			td 291 665
			td 500 000
			td 506 755
		tr
			td 7.75 per cent loan participation notes due 2018
			td 500 000
			td 320 000
			td 500 000
			td 523 315

	p For quoted debt instruments (bonds and loan participation notes) the fair values were determined based on quoted market prices. The fair values of unquoted debt instruments were estimated by discounting future cash flows using rates currently available for debt on similar terms, credit risk and remaining maturities.
