extends ../../layouts/english

block head
	- pageTitle = 'Employee Benefits Liability';

block recommend
	- pageId = '09070626';
	- recommend_lang = lang;

block content
	p The Group operates post-employment and other long-term employee benefit schemes in accordance with the collective bargaining agreements, local regulations and practices. These plans cover a large portion of the Group’s employees and include benefits in the form of lump-sum post-employment payments, pensions, financial support to pensioners, jubilee payments to employees and pensioners, etc. These benefits generally depend on years of service, level of compensation and amount of benefit under the collective bargaining agreement. The Group pays the benefits when they fall due for payment. All employee benefit schemes are unfunded.
	p The following table summarises changes in the present value of the defined benefit obligation by country:

	table.table_09.table_09070626_1
		tr.bold
			td
			td(colspan=2).bb1 Russia
			td(colspan=2).bb1 USA
			td(colspan=2).bb1 Others
			td(colspan=2).bb1 TOTAL
		tr.bold
			td
			td.bb1 2014
			td.bb1 2013
			td.bb1 2014
			td.bb1 2013
			td.bb1 2014
			td.bb1 2013
			td.bb1 2014
			td.bb1 2013
		tr.bold
			td At January 1
			td 46 245
			td 53 861
			td 2 430
			td 2 557
			td 2 607
			td 1 896
			td 51 282
			td 58 314
		tr
			td Current service cost
			td 1 432
			td 2 261
			td 401
			td 574
			td 736
			td 415
			td 2 569
			td 3 250
		tr
			td Interest expense
			td 2 811
			td 3 698
			td 82
			td 98
			td 39
			td 58
			td 2 932
			td 3 854
		tr
			td Past service cost
			td (4 154)
			td (2 793)
			td –
			td –
			td 43
			td –
			td (4 111)
			td (2 793)
		tr
			td Curtailment gain
			td.bb1 –
			td.bb1 –
			td.bb1 (88)
			td.bb1 (585)
			td.bb1 –
			td.bb1 –
			td.bb1 (88)
			td.bb1 (585)
		tr.bold
			td Net benefit expense recognised in profit or loss
			td.bb1 89
			td.bb1 3 166
			td.bb1 395
			td.bb1 87
			td.bb1 818
			td.bb1 473
			td.bb1 1 302
			td.bb1 3 726
		tr
			td (Gains)/losses arising from changes in demographic assumptions
			td (1 009)
			td 1 794
			td 3
			td (3)
			td (373)
			td –
			td (1 379)
			td 1 791
		tr
			td (Gains)/losses arising from changes in financial assumptions
			td (6 734)
			td (4 428)
			td 235
			td (191)
			td (83)
			td 209
			td (6 582)
			td (4 410)
		tr
			td Experience (gains)/losses
			td.bb1 1 458
			td.bb1 (698)
			td.bb1 6
			td.bb1 9
			td.bb1 13
			td.bb1 40
			td.bb1 1 477
			td.bb1 (649)
		tr.bold
			td.bb1 Actuarial (gains)/losses recognised in other comprehensive (income)/loss
			td.bb1 (6 285)
			td.bb1 (3 332)
			td.bb1 244
			td.bb1 (185)
			td.bb1 (443)
			td.bb1 249
			td.bb1 (6 484)
			td.bb1 (3 268)
		tr
			td Benefits paid
			td (3 051)
			td (3 675)
			td (1 076)
			td (29)
			td (131)
			td (119)
			td (4 258)
			td (3 823)
		tr
			td Exchange differences
			td (18 178)
			td (3 775)
			td –
			td –
			td (254)
			td 17
			td (18 432)
			td (3 758)
		tr
			td Other
			td.bb1 –
			td.bb1 –
			td.bb1 –
			td.bb1 –
			td.bb1 –
			td.bb1 91
			td.bb1 –
			td.bb1 91
		tr.bold
			td At December 31
			td.bb1 18 820
			td.bb1 46 245
			td.bb1 1 993
			td.bb1 2 430
			td.bb1 2 597
			td.bb1 2 607
			td.bb1 23 410
			td.bb1 51 282
		tr.bold
			td Short-term
			td 1 949
			td 4 935
			td 277
			td 1 093
			td 140
			td 187
			td 2 366
			td 6 215
		tr.bold
			td.bb2fff Long-term
			td.bb2fff 16 871
			td.bb2fff 41 310
			td.bb2fff 1 716
			td.bb2fff 1 337
			td.bb2fff 2 457
			td.bb2fff 2 420
			td.bb2fff 21 044
			td.bb2fff 45 067

	p Net benefit expense was recognised as cost of sales, general and administrative expenses and selling and distribution expenses in the income statement for the years ended December 31, 2014 and 2013. Actuarial gains/(losses) for post-employment benefits were recognised in other comprehensive income/(loss).
	p The principal actuarial assumptions used in determining the Group’s defined benefit obligations are shown below:

	table.table_09.table_09070626_2
		tr.bold
			td
			td(colspan=2).bb1 Russia
			td(colspan=2).bb1 USA
			td(colspan=2).bb1 Others
		tr.bold
			td
			td.bb1 2014
			td.bb1 2013
			td.bb1 2014
			td.bb1 2013
			td.bb1 2014
			td.bb1 2013
		tr
			td Discount rate
			td 13,00%
			td 8,00%
			td 4,10%
			td 4,95%
			td 3,10%
			td 3,7%-3,8%
		tr
			td Inflation
			td 7,50%
			td 5,00%
			td –
			td –
			td 2,60%
			td 3,50%
		tr
			td Average long-term rate of compensation increase
			td 9,10%
			td 6,60%
			td 4,00%
			td 4,00%
			td 2,60%
			td 1,4%-2,1%
		tr
			td Turnover
			td Age-related curve depending on experience data for a year
			td Age-related curve depending on experience data for a year
			td Standard Crocker Sarason Termination Table T-11
			td Standard Crocker Sarason Termination Table T-11
			td 1,88%-5,44%
			td 1,0%

	p.mtb50 A quantitative sensitivity analysis for significant assumptions as at December 31, 2014 is provided below:

	table.table_09.table_09070626_3
		tr.bold
			td
			td(colspan=2).bb1
			td(colspan=2).bb1 Russia
			td(colspan=2).bb1 USA
			td(colspan=2).bb1 Others
		tr.bold
			td
			td(colspan=2).bb1 Volatility range
			td(colspan=2).bb1 Effect on obligation increase/(decrease)
			td(colspan=2).bb1 Effect on obligation increase/(decrease)
			td(colspan=2).bb1 Effect on obligation increase/(decrease)
		tr.bold
			td.bb1
			td.bb1 Low
			td.bb1 High
			td.bb1 Low
			td.bb1 High
			td.bb1 Low
			td.bb1 High
			td.bb1 Low
			td.bb1 High
		tr
			td Discount rate
			td -1%
			td 1%
			td 1 600
			td (1 422)
			td 131
			td (113)
			td 128
			td (110)
		tr
			td Inflation
			td -1%
			td 1%
			td (1 422)
			td 1 600
			td –
			td –
			td (113)
			td 129
		tr
			td Average long-term rate of compensation increase
			td -1%
			td 1%
			td (356)
			td 444
			td (74)
			td 77
			td (113)
			td 129
		tr
			td Turnover
			td -3%–-1%
			td 1%-3%
			td 1 813
			td (1 600)
			td 44
			td (40)
			td 247
			td (120)
