extends ../../layouts/english

block head
	- pageTitle = 'Segment Information';

block recommend
	- pageId = '09070601';
	- recommend_lang = lang;

block content
	p Operating segments reflect the Group’s management structure and the way financial information is regularly reviewed. For management purposes, the Group is organised into business divisions based on geographical location, and has three reportable segments:
	ul
		li Russia segment represents the results of operations and financial position of plants located in Russian Federation and the Sultanate of Oman, a finishing facility in Kazakhstan, Oilfield service companies and traders located in Russia, Kazakhstan, the United Arab Emirates and Switzerland.
		li Americas segment represents the results of operations and financial position of plants and traders located in the United States of America and Canada.
		li Europe segment represents the results of operations and financial position of plants located in Romania and traders located in Italy and Germany.
	p Management monitors the operating results of operating segments separately for the purpose of making decisions about resource allocation and performance assessment. Segment performance is evaluated based on Adjusted EBITDA. Adjusted EBITDA is determined as profit/(loss) for the period excluding finance costs and finance income, income tax (benefit)/expense, depreciation and amortisation, foreign exchange (gain)/loss, impairment/(reversal of impairment) of non-current assets, movements in allowances and provisions (except for provisions for bonuses), (gain)/loss on disposal of property, plant and equipment, (gain)/loss on changes in fair value of financial instruments, share of (profit)/loss of associates and other non-cash items. Group financing (including finance costs and finance income) is managed on a group basis and is not allocated to operating segments.
	p The following tables present revenue and profit information regarding the Group’s reportable segments for the years ended December 31, 2014 and 2013, respectively.

	table.table_09.table_09070601_1
		tr.bold
			td Year ended December 31, 2014
			td.bb1 Russia
			td.bb1 Americas
			td.bb1 Europe
			td.bb1 TOTAL
		tr
			td Revenue
			td 3 973 155
			td 1 766 253
			td 269 538
			td.bold 6 008 946
		tr
			td Cost of sales
			td.bb1 (3 082 160)
			td.bb1 (1 543 162)
			td.bb1 (214 148)
			td.bb1.bold (4 839 470)
		tr.bold
			td GROSS PROFIT
			td 890 995
			td 223 091
			td 55 390
			td 1 169 476
		tr
			td Selling, general and administrative expenses
			td (475 941)
			td (144 616)
			td (37 497)
			td.bold (658 054)
		tr
			td Other operating expenses, net
			td.bb1 (32 349)
			td.bb1 (336)
			td.bb1 (2 669)
			td.bb1.bold (35 354)
		tr.bold
			td OPERATING PROFIT
			td 382 705
			td 78 139
			td 15 224
			td 476 068
		tr
			td.bold ADD BACK:
			td
			td
			td
			td
		tr
			td Depreciation and amortisation
			td 205 871
			td 83 282
			td 14 502
			td.bold 303 655
		tr
			td Loss on disposal of property, plant and equipment
			td 3 505
			td 520
			td 370
			td 4 395
		tr
			td Allowance for net realisable value of inventory
			td 7 985
			td 914
			td (117)
			td.bold 8 782
		tr
			td Allowance for doubtful debts
			td 9 727
			td (2 122)
			td 338
			td 7 943
		tr
			td Movement in other provisions
			td.bb1 3 928
			td.bb1 (2 203)
			td.bb1 1 522
			td.bb1.bold 3 247
		tr.bold
			td
			td.bb1 231 016
			td.bb1 80 391
			td.bb1 16 615
			td.bb1 328 022
		tr.bold
			td ADJUSTED EBITDA
			td.bb2fff 613 721
			td.bb2fff 158 530
			td.bb2fff 31 839
			td.bb2fff 804 090

	table.table_09.table_09070601_2.mtb50
		tr.bold
			td Year ended December 31, 2014
			td.bb1 Russia
			td.bb1 Americas
			td.bb1 Europe
			td.bb1 TOTAL
		tr.bold
			td RECONCILIATION TO LOSS BEFORE TAX:
			td
			td
			td
			td
		tr.bold
			td Adjusted EBITDA
			td 613 721
			td 158 530
			td 31 839
			td 804 090
		tr
			td Reversal of adjustments from operating profit to EBITDA
			td.bb1 (231 016)
			td.bb1 (80 391)
			td.bb1 (16 615)
			td.bb1.bold (328 022)
		tr.bold
			td OPERATING PROFIT
			td 382 705
			td 78 139
			td 15 224
			td 476 068
		tr
			td Impairment of goodwill
			td (973)
			td (150 396)
			td –
			td.bold (151 369)
		tr
			td Impairment of property, plant and equipment
			td (1 135)
			td –
			td –
			td.bold (1 135)
		tr
			td Foreign exchange gain/(loss), net
			td.bb1 (299 909)
			td.bb1 (1 639)
			td.bb1 302
			td.bb1.bold (301 246)
		tr.bold
			td OPERATING PROFIT/(LOSS) AFTER IMPAIRMENT AND FOREIGN EXCHANGE GAIN/(LOSS)
			td 80 688
			td (73 896)
			td 15 526
			td 22 318
		tr
			td Finance costs
			td
			td
			td
			td.bold (232 685)
		tr
			td Finance income
			td
			td
			td
			td.bold 6 641
		tr
			td Gain on changes in fair value of derivative financial instrument
			td
			td
			td
			td.bold 2 080
		tr
			td Share of profit of assoсiates
			td
			td
			td
			td.bb1.bold 273
		tr.bold
			td LOSS BEFORE TAX
			td
			td
			td
			td.bb2fff (201 373)
	table.table_09.table_09070601_3.mtb50
		tr.bold
			td Year ended December 31, 2013
			td.bb1 Russia
			td.bb1 Americas
			td.bb1 Europe
			td.bb1 TOTAL
		tr
			td Revenue
			td 4 483 004
			td 1 664 735
			td 284 164
			td.bold 6 431 903
		tr
			td Cost of sales
			td.bb1 (3 390 965)
			td.bb1 (1 453 201)
			td.bb1 (230 145)
			td.bb1.bold (5 074 311)
		tr.bold
			td GROSS PROFIT
			td 1 092 039
			td 211 534
			td 54 019
			td 1 357 592
		tr
			td Selling, general and administrative expenses
			td (533 050)
			td (150 980)
			td (37 677)
			td.bold (721 707)
		tr
			td Other operating expenses, net
			td.bb1 (28 896)
			td.bb1 (3 996)
			td.bb1 (1 430)
			td.bb1.bold (34 322)
		tr.bold
			td OPERATING PROFIT
			td 530 093
			td 56 558
			td 14 912
			td 601 563
		tr.bold
			td ADD BACK:
			td
			td
			td
			td
		tr
			td Depreciation and amortisation
			td 226 933
			td 86 021
			td 12 935
			td.bold 325 889
		tr
			td Loss on disposal of property, plant and equipment
			td 2 614
			td 2 049
			td 1 198
			td.bold 5 861
		tr
			td Allowance for net realisable value of inventory
			td 1 599
			td (703)
			td 350
			td.bold 1 246
		tr
			td Allowance for doubtful debts
			td 12 061
			td 2 460
			td 1 107
			td.bold 15 628
		tr
			td Movement in other provisions
			td.bb1 2 910
			td.bb1 (1 621)
			td.bb1 446
			td.bb1.bold 1 735
		tr.bold
			td
			td.bb1 246 117
			td.bb1 88 206
			td.bb1 16 036
			td.bb1 350 359
		tr.bold
			td ADJUSTED EBITDA
			td.bb2fff 776 210
			td.bb2fff 144 764
			td.bb2fff 30 948
			td.bb2fff 951 922


	table.table_09.table_09070601_4.mtb50
		tr.bold
			td Year ended December 31, 2013
			td.bb1 Russia
			td.bb1 Americas
			td.bb1 Europe
			td.bb1 TOTAL
		tr.bold
			td RECONCILIATION TO PROFIT BEFORE TAX:<br> Adjusted EBITDA
			td 776 210
			td 144 764
			td 30 948
			td 951 922
		tr
			td Reversal of adjustments from operating profit to EBITDA
			td.bb1 (246 117)
			td.bb1 (88 206)
			td.bb1 (16 036)
			td.bb1.bold (350 359)
		tr.bold
			td OPERATING PROFIT
			td 530 093
			td 56 558
			td 14 912
			td 601 563
		tr
			td Impairment of goodwill
			td (1 080)
			td –
			td –
			td.bold (1 080)
		tr
			td Impairment of property, plant and equipment
			td (4 243)
			td –
			td –
			td.bold (4 243)
		tr
			td Foreign exchange loss, net
			td.bb1 (46 437)
			td.bb1 (1 340)
			td.bb1 (1 412)
			td.bb1.bold (49 189)
		tr.bold
			td OPERATING PROFIT AFTER IMPAIRMENT AND FOREIGN EXCHANGE LOSS
			td 478 333
			td 55 218
			td 13 500
			td 547 051
		tr
			td Finance costs
			td
			td
			td
			td.bold (252 247)
		tr
			td Finance income
			td
			td
			td
			td.bold 7 164
		tr
			td Gain on changes in fair value of derivative financial instruments
			td
			td
			td
			td.bold 8 377
		tr
			td Share of profit of assoсiates
			td
			td
			td
			td.bold 176
		tr
			td Gain on disposal of subsidiary
			td
			td
			td
			td.bb1.bold 1 862
		tr.bold
			td PROFIT BEFORE TAX
			td
			td
			td
			td.bb2fff 312 383

	p.mtb50 The following tables present additional information of the Group’s reportable segments as at December 31, 2014 and 2013:
	table.table_09.table_09070601_5
		tr.bold
			td Year ended December 31, 2014
			td.bb1 Russia
			td.bb1 Americas
			td.bb1 Europe
			td.bb1 TOTAL
		tr
			td Segment assets
			td 3 541 125
			td 1 698 579
			td 409 684
			td.bold 5 649 388
		tr
			td Property, plant and equipment expenditure
			td 292 934
			td 41 055
			td 17 156
			td.bold 351 145

	table.table_09.table_09070601_6
		tr.bold
			td Year ended December 31, 2013
			td.bb1 Russia
			td.bb1 Americas
			td.bb1 Europe
			td.bb1 TOTAL
		tr
			td Segment assets
			td 5 047 725
			td 1 927 441
			td 443 502
			td.bold 7 418 668
		tr
			td Property, plant and equipment expenditure
			td 450 419
			td 44 100
			td 21 695
			td.bold 516 214

	p.mtb50 The following table presents the revenues from external customers for each group of products and services for the years ended December 31, 2014 and 2013, respectively:
	table.table_09.table_09070601_7
		tr.bold
			td Sales to external customers
			td.bb1  Seamless pipes
			td.bb1 Welded pipes
			td.bb1 Other operations
			td.bb1 TOTAL
		tr
			td Year ended December 31, 2014
			td 3 748 470
			td 1 998 483
			td 261 993
			td.bold 6 008 946
		tr
			td Year ended December 31, 2013
			td 3 959 619
			td 2 200 755
			td 271 529
			td.bold 6 431 903

	p.mtb50 The following tables present the geographic information. The revenue information is disclosed based on the location of the customer. Non-current assets are disclosed based on the location of the Group’s assets and include property, plant and equipment, intangible assets and goodwill.

	table.table_09.table_09070601_8
		tr.bold
			td Year ended December 31, 2014
			td.bb1 Russia
			td.bb1 Americas
			td.bb1 Europe
			td.bb1 Cent.Asia & Caspian Region
			td.bb1 Middle East & Gulf Region
			td.bb1 Asia & Far East
			td.bb1 Africa
			td.bb1 TOTAL
		tr
			td Revenue
			td 3 287 927
			td 2 042 866
			td 416 335
			td 151 092
			td 90 300
			td 15 201
			td 5 225
			td.bold 6 008 946
		tr
			td Non-current assets
			td 1 797 497
			td 1 086 132
			td 266 412
			td 13 270
			td 123 962
			td –
			td –
			td.bold 3 287 273
	table.table_09.table_09070601_9
		tr.bold
			td Year ended December 31, 2013
			td.bb1 Russia
			td.bb1 Americas
			td.bb1 Europe
			td.bb1 Cent.Asia & Caspian Region
			td.bb1 Middle East & Gulf Region
			td.bb1 Asia & Far East
			td.bb1 Africa
			td.bb1 TOTAL
		tr
			td Revenue
			td 3 637 665
			td 1 862 366
			td 426 237
			td 210 311
			td 79 734
			td 198 976
			td 16 614
			td.bold 6 431 903
		tr
			td Non-current assets
			td 3 020 406
			td 1 279 278
			td 291 340
			td 23 214
			td 127 440
			td –
			td 9
			td.bold 4 741 687
