extends ../../layouts/english

block head
	- pageTitle = 'Trade and Other Payables';

block recommend
	- pageId = '09070621';
	- recommend_lang = lang;

block content
	p Trade and other payables consisted of the following:
	table.table_09.table_09070621_1
		tr.bold
			td
			td.bb1 2014
			td.bb1 2013
		tr
			td Trade payables
			td 530 501
			td 708 350
		tr
			td Accounts payable for property, plant and equipment
			td 52 429
			td 64 763
		tr
			td Liabilities for VAT
			td 39 523
			td 32 880
		tr
			td Payroll liabilities
			td 21 095
			td 31 685
		tr
			td Liabilities for property tax
			td 12 980
			td 16 898
		tr
			td Accrued and withheld taxes on payroll
			td 11 361
			td 16 123
		tr
			td Sales rebate payable
			td 9 440
			td 8 601
		tr
			td Liabilities under put options of non-controlling interest shareholders in subsidiaries
			td 6 639
			td 9 323
		tr
			td Notes issued to third parties
			td 3 133
			td 5 353
		tr
			td Liabilities for other taxes
			td 1 309
			td 1 840
		tr
			td Other payables
			td.bb1 34 286
			td.bb1 48 349
		tr.bold
			td
			td.bb2fff 722 696
			td.bb2fff 944 165
