extends ../../layouts/english

block head
	- pageTitle = 'Provisions and Accruals';

block recommend
	- pageId = '09070622';
	- recommend_lang = lang;

block content
	p Provisions and accruals consisted of the following:


	table.table_09.table_09070622_1
		tr.bold
			td
			td.bb1 2014
			td.bb1 2013
		tr
			td
				h3 Current
			td
			td
		tr
			td Provision for bonuses
			td 17 190
			td 16 816
		tr
			td Accrual for long-service bonuses
			td 9 396
			td 15 286
		tr
			td Accrual for unused annual leaves, current portion
			td 3 060
			td 4 213
		tr
			td Current portion of employee benefits liability
			td 2 366
			td 6 215
		tr
			td Environmental provision, current portion
			td 1 351
			td 1 510
		tr
			td Other provisions
			td.bb1 8 034
			td.bb1 7 144
		tr.bold
			td
			td.bb2fff 41 397
			td.bb2fff 51 184
		tr
			td
				h3 Non-current
			td
			td
		tr
			td Accrual for unused annual leaves
			td 14 062
			td 22 515
		tr
			td Environmental provision
			td 4 133
			td 3 887
		tr
			td Provision for bonuses
			td 770
			td 2 532
		tr
			td Other provisions
			td.bb1 3 951
			td.bb1 4 393
		tr.bold
			td
			td.bb2fff 22 916
			td.bb2fff 33 327
