extends ../../layouts/english

block head
	- pageTitle = 'Intangible Assets (Other than Goodwill)';

block recommend
	- pageId = '09070507';
	- recommend_lang = lang;

block content
	p Intangible assets (other than goodwill) are measured on initial recognition at cost. The cost of intangible assets acquired in a business combination is fair value as at the date of acquisition. Following initial recognition, intangible assets are carried at cost less any accumulated amortisation and any accumulated impairment losses.
	p The useful lives of intangible assets are assessed as either finite or indefinite.
	p Intangible assets with finite lives are amortised over the useful economic life and assessed for impairment whenever there is an indication that intangible asset may be impaired. Amortisation period and amortisation method for an intangible asset with a finite life are reviewed at least at each year end. Changes in expected useful life or expected pattern of consumption of future economic benefits embodied in the asset are treated as changes in accounting estimates. Amortisation expense of intangible assets is recognised in the income statement in the expense category consistent with the function of an intangible asset.
	p Intangible assets with indefinite useful lives are not amortised, they are tested for impairment annually either individually or at the cash-generating unit level.

	h3 Research and Development
	p Costs incurred on development (relating to design and testing of new or improved products) are recognised as intangible assets only when the Group can demonstrate technical feasibility of completing intangible asset so that it will be available for use or sale, its intention to complete and its ability to use or sell the asset, how the asset will generate future economic benefits, availability of resources to complete and ability to measure reliably the expenditure during the development. Other development expenditures are recognised as an expense as incurred. Development costs previously recognised as an expense are not recognised as an asset in a subsequent period. Development costs that have been capitalised are amortised from commencement of commercial production of the product on a straight-line basis over the period of its expected benefit. The carrying value of development costs is reviewed for impairment annually when the asset is not yet in use or more frequently when an indication of impairment arises during the reporting year.
