extends ../../layouts/english

block head
	- pageTitle = 'Contingencies and Commitments';

block recommend
	- pageId = '09070630';
	- recommend_lang = lang;

block content
	h3 Operating Environment of the Group
	p Significant part of the Group’s principal assets are located in the Russian Federation and USA, therefore its significant operating risks are related to the activities of the Group in these countries.
	p Russia continues economic reforms and development of its legal, tax and regulatory frameworks as required by a market economy. The future stability of the Russian economy is largely dependent upon these reforms and developments and the effectiveness of economic, financial and monetary measures undertaken by the government.
	p In 2014, the Russian economy was negatively impacted by a significant drop in crude oil prices and a significant devaluation of the Russian Rouble, as well as sanctions imposed on Russia by several countries. In December 2014, the Rouble interest rates have increased significantly after the Central Bank of Russia raised its key rate. The combination of the above resulted in reduced access to capital, a higher cost of capital, increased inflation and uncertainty regarding economic growth, which could negatively affect the Group’s future financial position, results of operations and business prospects.
	p Although the US economy is growing, the drop in oil prices may result in the decline in oil exploration, drilling and production activities. As a result, the demand for the oil pipes in the US market may decrease accordingly. Significant decline in demand could have a negative impact on the Group’s future financial position, results of operations and business prospects.
	p Management believes it is taking appropriate measures to support the sustainability of the Group’s business in the current circumstances.

	h3 Taxation
	p Tax, currency and customs legislation is subject to varying interpretations and changes, which can occur frequently. Management’s interpretation of such legislation as applied to the transactions and activity of the Group may be challenged by the relevant regional and federal authorities. Management believes that it has paid or accrued all taxes that are applicable. Where uncertainty exists, the Group has accrued tax liabilities based on management’s best estimate of the probable outflow of resources embodying economic benefits, which will be required to settle these liabilities.
	p Up to the date of authorisation of these consolidated financial statements for issuance, the court proceedings and pre-trial disputes had not been finalised for the claims in the amount of 3,760 at the exchange rate as at December 31, 2014. Management believes that the Group’s position is justified and it is not probable that the ultimate outcome of these matters will result in material losses for the Group. Consequently, the amounts ofthe claims being contested by the Group were not accrued in the consolidated financial statements for the year ended December 31, 2014.

	h3 Contractual Commitments and Guarantees
	p The Group had contractual commitments for the acquisition of property, plant and equipment from third parties in the amounts of 135,904 and 199,567 as at December 31, 2014 and 2013, respectively (contractual commitments were expressed net of VAT).
	p Under contractual commitments disclosed above, the Group opened unsecured letters of credit in the amount of 22,500 (December 31, 2013: 28,777).

	h3 Insurance Policies
	p The Group maintains insurance against losses that may arise in case of property damage, accidents, transportation of goods. The Group also maintains corporate product liability and directors and officers liability insurance policies. Nevertheless, any recoveries under maintained insurance coverage that may be obtained in the future may not offset the lost revenues or increased costs resulting from a disruption of operations.

	h3 Legal Claims
	p During the period, the Group was involved in a number of court proceedings (both as a plaintiff and a defendant) arising in the ordinary course of business. Management believes there are no current legal proceedings or other claims outstanding, which could have a material effect on the result of operations or financial position of the Group.

	h3 Guarantees of Debts of Others
	p The Group guaranteed debts of others outstanding as at December 31, 2014 in the amount of 494 (December 31, 2013: 2,805).
