extends ../../layouts/english

block head
	- pageTitle = 'Other Operating Income';

block recommend
	- pageId = '09070608';
	- recommend_lang = lang;

block content
	p Other operating income for the year ended December 31 was as follows:
	table.table_09.table_09070608_1
		tr.bold
			td
			td.bb1 2014 г.
			td.bb1 2013 г.
		tr
			td Gain from penalties and fines
			td 2 477
			td 2 618
		tr
			td Gain on disposal of property, plant and equipment
			td 122
			td –
		tr
			td Gain on sales of current assets
			td 34
			td 67
		tr
			td Other
			td.bb1 4 971
			td.bb1 15 094
		tr.bold
			td
			td.bb2fff 7 604
			td.bb2fff 17 779
