extends ../../layouts/english

block head
	- pageTitle = 'Selling and Distribution Expenses';

block recommend
	- pageId = '09070603';
	- recommend_lang = lang;

block content
	p Selling and distribution expenses for the year ended December 31 were as follows:
	table.table_09.table_09070603_1
		tr.bold
			td
			td.bb1 2014 г.
			td.bb1 2013 г.
		tr
			td Freight
			td 176 789
			td 191 782
		tr
			td Staff costs including social security
			td 60 614
			td 6 4025
		tr
			td Depreciation and amortisation
			td 35 177
			td 43 319
		tr
			td Professional fees and services
			td 25 229
			td 23 399
		tr
			td Consumables
			td 20 758
			td 21 274
		tr
			td Bad debt expense
			td 14 660
			td 17 326
		tr
			td Rent
			td 6 272
			td 7 103
		tr
			td Travel
			td 3 703
			td 4 549
		tr
			td Utilities and maintenance
			td 2 837
			td 2 141
		tr
			td Insurance
			td 1 255
			td 1 395
		tr
			td Communications
			td 1 221
			td 1 331
		tr
			td Other
			td.bb1 1 434
			td.bb1 1 561
		tr.bold
			td
			td.bb2fff 349 949
			td.bb2fff 379 205
