extends ../../layouts/english

block head
	- pageTitle = 'Interest-Bearing Loans and Borrowings';

block recommend
	- pageId = '09070623';
	- recommend_lang = lang;

block content
	p Interest-bearing loans and borrowings consisted of the following:

	table.table_09.table_09070623_1
		tr.bold
			td
			td.bb1 2014
			td.bb1 2013
		tr
			td
				h3 Current
			td
			td
		tr
			td Bank loans
			td 265 439
			td 69 647
		tr
			td Interest payable
			td 30 841
			td 32 735
		tr
			td Current portion of non-current borrowings
			td 152 135
			td 292 522
		tr
			td Current portion of bearer coupon debt securities
			td 311 000
			td –
		tr
			td Unamortised debt issue costs
			td.bb1 (610)
			td.bb1 (963)
		tr.bold
			td Total short-term loans and borrowings
			td.bb2fff 758 805
			td.bb2fff 393 941
		tr
			td
				h3 Non-current
			td
			td
		tr
			td Bank loans
			td 1 571 236
			td 2 139 397
		tr
			td Bearer coupon debt securities
			td 1 311 000
			td 1 412 500
		tr
			td Unamortised debt issue costs
			td (8 201)
			td (11 298)
		tr
			td Less: current portion of non-current borrowings
			td (152 135)
			td (292 522)
		tr
			td Less: current portion of bearer coupon debt securities
			td.bb1 (311 000)
			td.bb1 –
		tr
			td Total long-term loans and borrowings
			td.bb2fff 2 410 900
			td.bb2fff 3 248 077

	p.mtb50 The Group’s borrowings were denominated in the following currencies:
	table.table_09.table_09070623_2
		tr.bold
			td
			td.bb1 Interest rates
			td.bb1 2014 г.
			td.bb1 Interest rates
			td.bb1 2013 г.
		tr
			td.bb1 Russian rouble
			td.bb1 Fixed 7,99%-13%
			td.bb1 958 177
			td.bb1 Fixed 7,35%-9,6%
			td.bb1 1 183 323
		tr
			td(rowspan=6) Доллар США
			td Fixed 5,25%
			td 313 262
			td Fixed 5,25%
			td 415 508
		tr
			td Fixed 6,75%
			td 505 235
			td Fixed 6,75%
			td 504 693
		tr
			td Fixed 7,75%
			td 514 521
			td Fixed 7,75%
			td 513 951
		tr
			td Fixed 4,99%-5,8%
			td 406 272
			td Fixed 4,99%-5,8%
			td 407 578
		tr
			td Variable:
			td 386 679
			td Variable:
			td 484 711
		tr
			td Libor (1m) + 2,25%-2,75%
			td
			td Libor (1m) + 2,25%-3%
			td
		tr
			td.bb1
			td.bb1 Libor (3m) + 2,75%-4,5%
			td.bb1
			td.bb1 Libor (3m-12m) + 1,4%-4,5%
			td.bb1
		tr
			td(rowspan=4) Euro
			td Fixed 5,19%
			td 11 540
			td Fixed 5,19%
			td 38 157
		tr
			td Variable:
			td 74 019
			td Variable:
			td 93 989
		tr
			td Euribor (1m) + 1,15%-3,5%
			td
			td Euribor (1m) + 1,9%-4%
			td
		tr
			td Euribor (3m) + 1,7%-3%
			td
			td Euribor (3m) + 1,7%-3%
			td
		tr
			td.bb1
			td.bb1
			td.bb1
			td.bb1 Euribor (6m) + 0,9%
			td.bb1
		tr
			td.bb1 Romanian lei
			td.bb1
			td.bb1 −
			td.bb1 Robor (6m) + 3%
			td.bb1 108
		tr.bold
			td
			td
			td.bb2fff 3 169 705
			td
			td.bb2fff 3 642 018

	h3 Unutilised Borrowing Facilities
	p As at December 31, 2014, the Group had unutilised borrowing facilities in the amount of 879,656 (December 31, 2013: 1,619,478).
