extends ../../layouts/english

block head
	- pageTitle = 'Revenue Recognition';

block recommend
	- pageId = '09070516';
	- recommend_lang = lang;

block content
	p Revenue is recognised to the extent that it is probable that economic benefits will flow to the Group and the amount of revenue can be measured reliably. Revenues from sales of inventory are recognised when significant risks and rewards of ownership of goods have passed to the buyer. Revenues arising from rendering of services are recognised in the same period when the services are provided.
	p Revenues are measured at the fair value of the consideration received or receivable. When the fair value of consideration received cannot be measured reliably, revenue is measured at the fair value of goods or services provided.
