extends ../../layouts/english

block head
	- pageTitle = 'Changes in Accounting Policies';

block recommend
	- pageId = '090704';
	- recommend_lang = lang;

block content
	h3 Application of New and Amended IFRS and IFRIC
	p The Group has adopted the following new and amended IFRS and IFRIC in the consolidated financial statements for the annual period beginning on January 1, 2014:
	ul
		li IFRS 10Consolidated Financial Statements(amendments) –Investment Entities;
		li IFRS 12Disclosure of Interests in Other Entities(amendments) – Investment Entities;
		li IAS 27Separate Financial Statements(amendments) – Investment Entities;
		li IAS 32Financial Instruments: Presentation(amendments) –Offsetting Financial Assets and Financial Liabilities;
		li IAS 36 Impairment of Assets (amendments) – Recoverable Amount Disclosures for NonFinancial Assets;
		li IAS 39 Financial Instruments: Recognition and Measurement (amendments) – Novation of Derivatives and Continuation of Hedge Accounting;
		li IFRIC 21Levies.

	p The principal effect of these changes in policies is discussed below:

	h4 IFRS 10 Consolidated Financial Statements, IFRS 12 Disclosure of Interests in Other Entities, IAS 27 Separate Financial Statements (amendments) – Investment Entities
	p These amendments provide an exception to the consolidation requirement for entities that meet the definition of an investment entity under IFRS 10. The exception to consolidation requires investment entities to account for subsidiaries at fair value through profit or loss. The adoption of these amendments had no impact on the Group’s financial position or performance.

	h4 IAS 32 Financial Instruments: Presentation (amendments) – Offsetting Financial Assets and Financial Liabilities
	p This amendment clarifies financial assets and financial liabilities offsetting rules. The adoption of this amendment had no impact the Group’s financial position or performance.

	h4 IAS 36 Impairment of Assets (amendments) – Recoverable Amount Disclosures for Non-Financial Assets
	p This amendment addresses the disclosure of information about the recoverable amount of impaired assets if that amount is based on fair value less costs of disposal. The adoption of this amendment had no impact on the Group’s financial position or performance.

	h4 IAS 39 Financial Instruments: Recognition and Measurement (amendments) – Novation of Derivatives and Continuation of Hedge Accounting
	p This amendment provides relief from discontinuing hedge accounting when novation of a hedging instrument to a central counter party meets specified criteria. The adoption of this amendment had no impact on the Group’s financial position or performance.

	h4 IFRIC 21 Levies
	p IFRIC 21 clarifies that an entity recognises a liability for a levy when the activity that triggers payment, as identified by the relevant legislation, occurs. For a levy that is triggered upon reaching a minimum threshold, the interpretation clarifies that no liability should be anticipated before the specified minimum threshold is reached. The adoption of this new interpretation had no impact on the Group’s financial position or performance.

	h3 New Accounting Pronouncements
	p The following new or amended (revised) IFRS have been issued but are not yet effective and not applied by the Group. The listing of standards is those that the Group reasonably expects to have an impact on disclosures, financial position and performance when applied at a future date. The Group intends to adopt these standards when they become effective.

	h4 IFRS 9 Financial Instruments (effective for financial years beginning on or after January 1, 2018)
	p IFRS 9 will replace IAS 39Financial Instruments: Recognition and Measurement. The standard introduces new requirements for classification and measurement of financial assets and financial liabilities, impairment and hedge accounting. The Group is currently assessing the impact which this standard will have on the financial position and performance.

	h4 IFRS 10 Consolidated Financial Statements, IAS 28 Investment in Associates and Joint Ventures (amendments) – Sale or Contribution of Assets (effective for financial years beginning on or after January 1, 2016)
	p This amendment addresses an inconsistency between the requirements in IFRS 10 and those in IAS 28 in dealing with the sale or contribution of assets between an investor and its associate or joint venture. The main consequence of the amendment is that a full gain or loss is recognised when a transaction involves a business. A partial gain or loss is recognised when a transaction involves assets that do not constitute a business, even if these assets are in a subsidiary. The amendment is not expected to have significant impact on the Group’s financial position and performance.

	h4 IFRS 11 Joint Arrangements (amendments) – Accounting for Acquisitions of Interests in Joint Operations (effective for financial years beginning on or after January 1, 2016)
	p This amendment provides new guidance on how to account for the acquisition of an interest in a joint operation that constitutes a business. This amendment specify the appropriate accounting treatment for such acquisitions. The amendment is not expected to have significant impact on the Group’s financial position and performance.

	h4 IFRS 15 Revenue from Contracts with Customers (effective for financial years beginning on or after January 1, 2017)
	p IFRS 15 replaces all current revenue recognition requirements under IFRS and applies to all revenue arising from contracts with customers and sales of some non-financial assets. The standard outlines the principles an entity must apply to measure and recognise revenue. Under this standard revenue is recognised at an amount that reflects the consideration to which an entity expects to be entitled in exchange for transferring goods or services to the customer. The Group is currently assessing the impact which this standard will have on the financial position and performance.


	h4 IAS 16 Property, Plant and Equipment, IAS 38 Intangible Assets (amendments) – Clarification of Acceptable Methods of Depreciation and Amortisation (effective for financial years beginning on or after January 1, 2016)
	p The amendments clarify that revenue reflects a pattern of economic benefits that are generated from operating a business rather than economic benefits are consumed through use of asset. As a result, a revenue-based method cannot be used to depreciate property, plant and equipment and only be used in very limited circumstances to amortise intangible assets. The amendments are not expected to have significant impact on the Group’s financial position or performance.

	h4 IAS 19 Employee Benefits (amendments) – Defined Benefit Plans: Employee Contributions (effective for financial years beginning on or after July 1, 2014)
	p This amendment clarifies the requirements that relate to how contributions from employees or third parties that are linked to service should be attributed to periods of service. The amendment is not expected to have significant impact on the Group’s financial position or performance.

	h4 Improvements to IFRSs 2010-2012 cycle, 2011-2013 cycle (effective for financial years beginning on or after July 1, 2014) and 2012-2014 cycle (effective for financial years beginning on or after July 1, 2016)
	p In December 2013 and September 2014, the IASB issued “Annual Improvements to IFRSs”. The documents set out amendments to International Financial Reporting Standards primarily with a view of removing inconsistencies and clarifying wording. Amendments are generally intended to clarify requirements rather than result in substantive changes to current practice. These improvements will not have significant impact on the financial position or performance of the Group.



