extends ../../layouts/english

block head
	- pageTitle = 'Cash and Cash Equivalents';

block recommend
	- pageId = '09070503';
	- recommend_lang = lang;

block content
	p Cash is comprised of cash in hand and cash at banks.
	p Cash equivalents are comprised of short-term, liquid investments (with original maturity date less than 90 days) that are readily convertible to known amounts of cash and which are subject to insignificant risk of changes in value. Cash equivalents are carried at fair value.
