extends ../../layouts/english

block head
	- pageTitle = 'Glossary';

block recommend
	- pageId = 'glossary';
	- recommend_lang = lang;

block content
	table
		tr
			td Casing pipe
			td Steel pipe used to reinforce the walls of a well
		tr
			td Drill pipe
			td Threaded seamless steel butted pipe used for well drilling
		tr
			td EAF
			td Electric arc furnace
		tr
			td EBITDA
			td Earnings before Interest, Taxes, Depreciation and Amortization
		tr
			td FQM
			td Fine Quality Mill
		tr
			td IFRS
			td International Financial Reporting Standards
		tr
			td ISO 13679:2002
			td Oil and gas industry. Standardised procedures to test casing pipe and tubing connections
		tr
			td ISO 14001:2004
			td Environmental Management System. Requirements and guidelines
		tr
			td ktpa
			td Thousand tonnes per annum
		tr
			td LDP
			td Large diameter pipe
		tr
			td Line pipe
			td Pipe used in the construction and workover of upstream, transmission and process pipelines
		tr
			td mcm
			td Million cubic metres
		tr
			td OCTG
			td Oil country tubular goods
		tr
			td PQF
			td Premium Quality Finishing
		tr
			td RAS
			td Russian Accounting Standards
		tr
			td SAGD
			td technology Steam Assisted Gravity Drainage
		tr
			td Seamless pipe
			td Pipe manufactured through the insertion of a solid billet in a press or a piercing mill (with subsequent hot or cold working)
		tr
			td TAGMET
			td Taganrog Metallurgical Works OJSC
		tr
			td Tubing
			td Plain-end steel pipe or steel pipe with externally upset ends for oil and gas well operation
		tr
			td VIT
			td Vacuum insulated tubing
		tr
			td Welded pipe
			td Pipe made from metal coil, plate, strip or sheet, rolled and welded, and manufactured on a tube welding mill
